html {
    min-width: 1000px;
    }

body {
    background: url(images/body-bg.png) repeat-x #fff;
    color:#313030;
    font:.9em/165% arial, helvetica, sans-serif;
    padding-top: 26px;
    }

#container {
    width: 982px;
    margin: 0 auto;
    }



a, a:visited {
    color:#990000;
    text-decoration: none;
    }

a:hover {
    color:#3399CC;
    }


h1, h2, h3, #sidebar-left a, #header {
    font-weight: bold;
    }

h3 {
  font-size: 1.4em;
  }

/* LAYOUT ELEMENTS */

.column {
  position: static;
  padding: 0;
  }


#sidebar-left, #header-left {
    width: auto;
    }

#content-wrapper, #header-wrapper, #header-left, #header-right {
    padding: 0;
    margin: 0;
    }


div.form-item {
  border: none;
  }


/* HEADER ELEMENTS */

#header {
    height: 113px;
    }

#header-right {
  float: right;
  width: 542px;
  }

#header h1 {
  width: 329px;
  height: 77px;
  background: url(images/project-logo.png) no-repeat;
  text-indent: -999em;
  margin-left: 4px
  }

#header h1 a, #header h1 a:visited {
  display:block;
  width: 329px;
  height: 77px;
  }

#header h2 {
    font-size: 1.5em;
    line-height:1.3em;
    }

#header h1 a, #header h1 a:visited {
    color:#282828;
    }

ul#top-front li {
  float: left;
  font-weight: normal;
  margin-left: 20px;
  line-height:42px;
  margin-top: 21px;
  }

li#get-form {
  background:url(images/get-your-site-button.png) no-repeat;
  width: 169px;
  height: 42px;
  text-indent: -999em;
  }

li#get-form a {
  display: block;
  width: 169px;
  height: 42px;
  }


/* Content Area */

#content-row-1 {
  background: url(images/front-row1-bg.png) no-repeat;
  width: 982px;
  height: 417px;
  padding-top: 1px;
  position: relative;
  }

#content-row-1 .content {
  width: 388px;
  height: 305px;
  margin: 27px auto 0 auto;
  background:url(images/front-slideshow-1.png) no-repeat transparent;
  padding-left: 427px;
  padding-top: 65px;
  }

#tutorial-link {
  width: 147px;
  height: 90px;
  background: url(images/triangle-video-tutorial.png) no-repeat transparent;
  position: absolute;
  top: 1px;
  right: 1px;
  text-indent: -999em;
  }

#content-row-1 h2 {
  font-size: 36px;
  margin-bottom: 0;
  color: #4a4949;
  line-height: 120%;
  }

#content-row-1 h3 {
  font-size: 30px;
  color: #ababab;
  line-height: 120%;
  }

#content-row-2 {
  background:#e1e1e1;
  height: 349px;
  }

#content-row-2 .featureblock {
  float: left;
  width:196px;
  height: 295px;
  margin:1px 0 0 1px;
  background-color: #fff;
  padding: 26px 24px;
  }

#content-row-2 .featureblock h3, #content-row-2 .featureblock p {
  font-size: 14px;
  line-height: 1.3em;
  margin-bottom: 1em;
  }

#feature-academic-content {
  background:url(images/front-row2-create-anything.jpg)
  }

#feature-biblio {
  background:url(images/front-row2-biblio.jpg)
  }

#feature-look-feel {
  background:url(images/front-row2-lookfeel.jpg)
  }

#feature-collaborate {
  background:url(images/front-row2-collaborate.jpg)
  }


#content-row-3, #block-views-iqss_project_sites-block_1 {
  background: url(images/front-row3-bg.png) repeat-x #fefefe;
  min-height: 300px;
  position:relative;
  }

#content-row-3 h3 , #block-views-iqss_project_sites-block_1 h3 {
  background: url(images/triangle-new-left.png) no-repeat transparent;
  width: 51px;
  height: 46px;
  text-indent: -999em;
  float:left;
  margin: 0;
  }

#search-person, #block-views-iqss_project_sites-block_1 .views-exposed-form {
  width: 340px;
  height: 40px;
  background: url(images/search-person.png) no-repeat transparent;
  float:right;
  margin: 15px;
  margin: 0;
  }


#block-views-iqss_project_sites-block_1 .views-exposed-form .views-exposed-widget, #block-views-iqss_project_sites-block_1 .views-exposed-form .views-exposed-widget .edit-title-wrapper,#block-views-iqss_project_sites-block_1 .views-exposed-form .form-item, #block-views-iqss_project_sites-block_1 .views-exposed-form .form-submit, #block-views-iqss_project_sites-block_1 .views-exposed-form .clear-block {
  margin: 0;
  padding: 0;
  }

#block-views-iqss_project_sites-block_1 .views-exposed-form .form-text {
  float:left;
  margin: 12px 0 0 5px;
  width:263px;
  border: none;
  height: 16px;
  }

#block-views-iqss_project_sites-block_1 .views-exposed-form .form-submit {
  float:right;
  background: transparent;
  border: none;
  width: 68px;
  margin-top: 5px;
  height: 30px;
  text-indent: -9999em;
  }

#search-person, #block-views-iqss_project_sites-block_1 .views-exposed-form label {
  display:none;
  }

#new-sites, #block-views-iqss_project_sites-block_1 {
  clear: both;
  }

.new-site-block, #block-views-iqss_project_sites-block_1 .views-row {
  float: left;
  width: 134px;
  margin-left: 24px;
  }

.new-site-block img, #block-views-iqss_project_sites-block_1 img {
  border: 1px solid #535252;
  width: 100px;
  height: 100px;
  }

.new-site-block h5 {
  font-weight: normal;
  line-height: 1.3em;
  }

#block-views-iqss_project_sites-block_1 ul, #block-views-iqss_project_sites-block_1 .more-link {
  clear: both;
  }

#block-views-iqss_project_sites-block_1 .views-admin-links {
  position: absolute;
  top: -30px;
  right: 0;
  }



/* Different Tables for admin use */

table {
  font-size: .8em;
  }

table th {
  font-size: .8em;
  text-transform: uppercase;
  background-color: #eee;
  border: 1px solid #ddd;
  padding: 5px;
  }

tr.even, tr.odd {
  border-bottom: 1px solid #ccc;
  padding: .1em .6em;
  }

tr.even {
  background-color: #eee;
  }

td, td.description {
  border: 1px solid #ddd;
  padding: 5px;
  color: #222;
  font-size: .9em;
  }