body {
    background: url(images/body-bg.png) repeat-x #fff;
    color:#313030;
    font:.9em/165% arial, helvetica, sans-serif;
    padding-top: 26px;
    }


#container {
    width: 982px;
    margin: 0 auto;
    }


body.section-user {
  background: #444;
  }

.section-user #container {
    background: #fff;
    overflow: auto;
    width: 446px;
    padding: 30px 30px 40px 30px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    }

.section-user input.form-submit {
  float:right;
  }

.section-user h2.title {
  display:none;
  }

.section-user div.tabs {
  margin: 0 -30px 5px -30px;
  }

.section-user div.tabs ul.primary {
  padding-left: 36px;
  }

.section-user div.tabs ul.primary li a {
  font-weight: normal;
  font-size: .8em;
  }

a, a:visited {
    color:#990000;
    text-decoration: none;
    }

a:hover {
    color:#3399CC;
    }


h1, h2, h3, #sidebar-left a, #header {
    font-weight: bold;
    }

h3 {
  font-size: 1.4em;
  }

/* LAYOUT ELEMENTS */

.column {
   }

div.form-item {
  border: none;
  }



/* HEADER ELEMENTS */

#header {
    height: 113px;
    }

#header-wrapper {
  padding:0;
  }

#header-left {
  margin-left: 0;
  right: 0;
  }

#header-right {
  float: right;
  width: 542px;
  margin-right: 0;
  }

#header h1 {
  width: 329px;
  height: 77px;
  background: url(images/project-logo.png) no-repeat;
  text-indent: -999em;
  margin-left: 4px
  }

#header h1 a, #header h1 a:visited {
  display:block;
  width: 329px;
  height: 77px;
  }

#header h2 {
    font-size: 1.5em;
    line-height:1.3em;
    }

#header h1 a, #header h1 a:visited {
    color:#282828;
    }

ul#top-front {
  float:right;
  }

ul#top-front li {
  float: left;
  font-weight: normal;
  margin-left: 20px;
  line-height:42px;
  margin-top: 21px;
  }

ul#top-front li a, ul#top-front li a:visited {
  color: #000;
  }

ul#top-front li a:hover {
  text-decoration: underline;
  }

li#get-form {
  background:url(images/get-your-site-button.png) no-repeat;
  width: 169px;
  height: 42px;
  text-indent: -999em;
  }

li#get-form a {
  display: block;
  width: 169px;
  height: 42px;
  }


/* Content Area */

#content-row-1 {
  background: url(images/front-row1-bg.png) no-repeat;
  width: 982px;
  height: 418px;
  padding-top: 1px;
  position: relative;
  }

#content-row-1 .content {
  width: 409px;
  height: 321px;
  margin: 19px auto 0 auto;
  background:url(images/front-slideshow-1.png) no-repeat transparent;
  padding-left: 491px;
  padding-top: 78px;
  }

#tutorial-link {
  width: 147px;
  height: 90px;
  background: url(images/triangle-video-tutorial.png) no-repeat transparent;
  background: url(images/version-2.png) no-repeat transparent;
  position: absolute;
  top: 1px;
  right: 1px;
  text-indent: -999em;
  }

#content-row-1 h2 {
  font-size: 36px;
  margin-bottom: 0;
  color: #4a4949;
  line-height: 120%;
  }

#content-row-1 h3 {
  font-size: 30px;
  color: #ababab;
  line-height: 120%;
  }

#content-row-2 {
  background:#e1e1e1;
  height: 349px;
  }

#content-row-2 .featureblock {
  float: left;
  width:196px;
  height: 295px;
  margin:1px 0 0 1px;
  background-color: #fff;
  padding: 26px 24px;
  }

#content-row-2 .featureblock h3, #content-row-2 .featureblock p {
  font-size: 14px;
  line-height: 1.3em;
  margin-bottom: 1em;
  }

#feature-academic-content {
  background:url(images/front-row2-create-anything.jpg)
  }

#feature-biblio {
  background:url(images/front-row2-biblio.jpg)
  }

#feature-look-feel {
  background:url(images/front-row2-lookfeel.jpg)
  }

#feature-collaborate {
  background:url(images/front-row2-collaborate.jpg)
  }


#block-views-iqss_project_sites-block_2, #footer {
  background: url(images/front-row3-bg.png) repeat-x #fefefe;
  min-height: 500px;
  position:relative;
  border: 1px solid #e1e1e1;
  border-top: none;
  border-bottom: none;
  line-height: 110%;
  }


#block-views-iqss_project_sites-block_2 h3 {
  background: url(images/triangle-new-left.png) no-repeat transparent;
  width: 51px;
  height: 46px;
  text-indent: -999em;
  float:left;
  margin: 0 0 0 -1px;
  }

#block-views-iqss_project_sites-block_2 .views-exposed-form {
  width: 345px;
  height: 40px;
  background: url(images/search-person.png) no-repeat 100% 0 transparent;
  float:right;
  margin: 5px 18px 10px 0;
  position:relative;
  }


#block-views-iqss_project_sites-block_2 .views-exposed-form .views-exposed-widget, #block-views-iqss_project_sites-block_2 .views-exposed-form .views-exposed-widget .edit-title-wrapper,#block-views-iqss_project_sites-block_2 .views-exposed-form .form-item, #block-views-iqss_project_sites-block_2 .views-exposed-form .form-submit, #block-views-iqss_project_sites-block_2 .views-exposed-form .clear-block {
  margin: 0;
  padding: 0;
  }


#block-views-iqss_project_sites-block_2 .views-exposed-form .form-text {
  float:left;
  margin: 12px 0 0 10px;
  width:263px;
  border: none;
  height: 16px;
  }

#block-views-iqss_project_sites-block_2 .views-exposed-form input.form-submit {
  float:right;
  background: transparent;
  border: none;
  width: 68px;
  margin-top: 5px;
  margin-right: 0;
  height: 30px;
  text-indent: -9999em;
  line-height: 110%;
  padding: 0 !important;
  }

#views-exposed-form-iqss-project-sites-block-1 .form-actions {
  margin: 0;
  }

#views-exposed-form-iqss-project-sites-block-1 span.views-throbbing {
  position:absolute;
  left: -45px;
  top: 17px;
  width: 21px;
  height: 5px;
  }


#views-exposed-form-iqss-project-sites-block-1 span.form-button-wrapper {
  background: transparent;
  position: static;
  display: inline;
  padding: 0;
  margin: 0;
  }

#search-person, #block-views-iqss_project_sites-block_2 .views-exposed-form label {
  display:none;
  }

#block-views-iqss_project_sites-block_2 {
  clear: both;

  }

#block-views-iqss_project_sites-block_2 .views-row {
  float: left;
  width: 134px;
  margin-left: 24px;
  clear: none;
  font-size: 13px;
  }

#block-views-iqss_project_sites-block_2 img, .view-iqss-project-sites img {
  border: 1px solid #535252;
  width: 100px;
  height: 100px;
  }

.views-field-description p {
  font-weight: normal;
  line-height: 1.1em;
  margin-bottom: 0;
  font-size: 11px;
  }

.views-field-title a {
  color: #313030;
  font-weight: bold;
  }

#block-views-iqss_project_sites-block_2 ul, #block-views-iqss_project_sites-block_2 .more-link {
  clear: both;
  }

#block-views-iqss_project_sites-block_2 .views-admin-links {
  position: absolute;
  top: -30px;
  right: 0;
  }


#block-views-iqss_project_sites-block_2 .more-link {
  text-indent: -999em;
  float: right;
  margin-right: 18px;
  text-align: left;
  }

#block-views-iqss_project_sites-block_2 .more-link a {
  display:block;
  width: 67px;
  height: 32px;
  background: url(images/more.png) no-repeat transparent;
  cursor: pointer;
  }


#footer {
  background: #fefefe;
  min-height: 100px;
  }

#footer a, #footer a:visited {
  color: #1A708F;
  text-decoration: underline;
  }

/* Different Tables for admin use */

table {
  font-size: .8em;
  }

table th {
  font-size: .8em;
  text-transform: uppercase;
  background-color: #eee;
  border: 1px solid #ddd;
  padding: 5px;
  }

tr.even, tr.odd {
  border-bottom: 1px solid #ccc;
  padding: .1em .6em;
  }

tr.even {
  background-color: #eee;
  }

td, td.description {
  border: 1px solid #ddd;
  padding: 5px;
  color: #222;
  font-size: .9em;
  }

.view-iqss-project-sites td {
  width: 20%;
  padding: 17px;
  font-size: 1.1em;
  }


/* CONTENT PROFILES */

.field-field-user-profile-photo {
  float: right;
  }

p.single, ul.single, ul.single li {
  display:inline;
  }

p.single {
  margin-right: 8px;
  }