#content-row-1 {
  padding-top: 20px;
  height: 399px;
  }

body.page-site-register h2.title {
  margin-top:-55px;
  }


ul#top-front li,
#content-row-2 .featureblock,
#block-views-iqss_project_sites-block_2 h3,
#block-views-iqss_project_sites-block_2 .views-exposed-form,
#block-views-iqss_project_sites-block_2 .views-exposed-form .form-text,
#block-views-iqss_project_sites-block_2 .views-row,
#block-views-iqss_project_sites-block_2 .more-link {
  display:inline;
  }

#header h1,
#tutorial-link,
#block-views-iqss_project_sites-block_2 h3,
#block-views-iqss_project_sites-block_2 .more-link a {
  behavior: expression((this.runtimeStyle.behavior="none")&&(this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none",
  this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')",
  this.src = "/sites/all/themes/scholar_base/images/transparent.gif"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''),
  this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='crop')",
  this.runtimeStyle.backgroundImage = "none")),this.pngSet=true)
  );
  }


#block-views-iqss_project_sites-block_2 ul {
  _width: 100%;
  }

#block-views-iqss_project_sites-block_2 {
  _height: 603px;
  }
