.vsite-admin ul.links li a,
.vsite-admin .vsite-admin ul.links li a:visited,
.vsite-admin ul.links li .flag-wrapper {
  color: #005C9C;
  background: transparent;
  display:block;
  font: normal 12px/normal arial, sans-serif;
  }

.vsite-admin ul.links li .flag-wrapper a {
  display:inline;
  }

.vsite-admin ul.links li a:hover, .vsite-admin ul.links li .flag-wrapper:hover {
  background-color:#EEF3FB;
  }

.active-marker {
  position: absolute;
  top: -11px;
  left: -11px;
  right:-11px;
  bottom: -11px;
  border: 1px dashed #228822;
  z-index:0;
  }