body {
    background: #4e4e4e;
    color:#000;
    font: 13px/1.6em 'HelveticaNeue-Light', 'helvetica neue', helvetica, arial, sans-serif;
    }

/* TYPOGRAPHY*/

#content-wrapper a {
  text-decoration:underline;
  }

h2, h3, h4 {
  margin-bottom: 0;
  margin-top: 1em;
  font-weight:bold;
  color: #de1709;
  }

h2.title {
  margin-top: 0;
  margin-bottom: 1em;
  }

h2.title, h3.title {
  color:#de1709;
  font-size: 16px;
  line-height: normal;
  }

h3.title {
  font-size: 14px;
  }

.links li {
  font-size: .8em;
  }


p.copy {
  margin-top: 0;
  }


/* LAYOUT ELEMENTS */


#container {
  background: url(images/bg.png) repeat-y 0 0 transparent;
  width: 1096px;
  margin:auto;
  padding-top:0;
  }

#content-wrapper,
.sidebar-first #content-wrapper,
.sidebar-second #content-wrapper,
.no-sidebars #content-wrapper {
  padding:0;
  }

#sidebar-first,
#header-left {
  width: 152px;
  right: 232px;
  padding-left: 43px;
  padding-right: 17px;
  }

#header-right {
  width: 164px;
  padding-left: 38px;
  }

#header-wrapper {
  padding-left: 212px;
  padding-right: 265px;
  margin-top:12px;
  height: 99px;
  background:#d9e3e5;
  }


#header,
#footer,
#content-wrapper {
  width: 1000px;
  padding-right: 48px;
  padding-left: 48px;
  }

#footer {
    text-align: center;
    background:url(images/footer.png) no-repeat 50% 0 #186274;
    padding-top: 0;
    clear:both;
    height: 163px;
    }

#header {
  background: url(images/header.png) no-repeat 50% 0;
  padding-top:1px;
  }

#navbar, #content-main {
  width:auto;
  }


.column {
  position:static;
  padding: 0;
  }

#content-main {
  padding-right:31px;
  width:auto;
  padding-left: 0;
  padding-top: 30px;
  }

.no-sidebars #content-main {
  padding-right: 85px;
  }

.sidebar-second #content-main {
  width: 678px;
  }

.sidebar-first #content-main {
  width: 704px;
  }

.two-sidebars #content-main {
  width: 457px;
  }

body.header-main #header-wrapper,
body.header-main-right #header-wrapper {
  padding-left: 37px;
  }

body.two-sidebars #content-wrapper,
body.sidebar-second #content-wrapper,
body.sidebar-first #content-wrapper,
body.no-sidebars #content-wrapper {
  padding-left: 85px;
  }


/* SIDEBAR ELEMENTS */

#sidebar-second {
  width:254px;
  padding:0;
  margin:0;
  padding:0;
  background: #d9e3e5;
  }

#sidebar-first {
  width: 221px;
  padding: 0;
  right: 173px;
  margin: 0;
  padding:0;
  background:#e0ece8;
  }

#sidebar-second a,
#sidebar-second a:visited,
#sidebar-first a,
#sidebar-first a:visited {
  color: #000;
  text-decoration: underline;
  }

#content-wrapper {
  overflow: hidden;
}

#content-wrapper .column {
  padding-bottom: 20010px;
  margin-bottom: -20000px;
}

#sidebar-first .block,
#sidebar-second .block,
#sidebar-first h3.title,
#sidebar-second h3.title {
  padding: 14px 25px 11px 14px;
  }

#sidebar-first .block,
#sidebar-second .block {
  padding-top: 0;
  }

#sidebar-first h3.title,
#sidebar-second h3.title {
  padding-top: 21px;
  padding-bottom: 24px;
  background: #d1dcd8;
  margin: 0 -25px 0 -14px;
  }

#sidebar-second .block
#sidebar-second h3.title {
  padding-left: 32px;
  padding-right: 41px;
  }


#sidebar-second .content
#sidebar-second h3.title {
  background: #c8d1d3;
  }

/* HEADER ELEMENTS */

#header .column {
  padding: 19px 0 0 0;
  }

#header-right {
  width: 219px;
  padding-right: 35px;
  padding-left: 0;
  }

.header-main #header-wrapper,
.header-main-right #header-wrapper {
  padding-right:254px;
  }

#header h1,
#header h2,
#header p {
    font-size: 25px;
    line-height: normal;
    font-weight:normal;
    color:#000;
    margin: 0;
    }

#header h2 {
  font-size: 18px;
  line-height: normal;
  font-style:normal;
  }

#header p {
  font-size: 13px;
  line-height: normal;
  }

#header h1 a,
#header h1 a:visited {
    color:#000;
    }

#header h1 a:hover {
    color:#282828;
    text-decoration: none;
    }

#navbar {
  width: auto;
  height: 43px;
  padding-left: 25px;
  padding-right: 25px;
  background: #d4d866;
  }

#navbar li {
    float:left;
    padding:0;
    }

#navbar li.last {
  margin-right: 0;
  }

#navbar li a {
  color: #000;
  font-weight:bold;
  font-size: 14px;
  letter-spacing:1px;
  line-height: 43px;
  height: 43px;
  display:block;
  padding-right: 12px;
  padding-left: 12px;
  }

#block-scholar-1,
#block-scholar_project-1 {
  float:left;
  }

#block-vsite_menus-1 {
  width: 251px;
  float:right;
  }

#block-vsite_menus-1 ul li {
  list-style: none;
  border-left: 1px solid #000;
  padding-left: 11px;
  float: left;
  display:inline;
  width: 113px;
  line-height: 1.3em;
  }

#block-vsite_menus-1 li a ,
#block-vsite_menus-1 li a:visited{
  color: #000;
  font-size: 12px;
  }

#block-vsite_menus-1 li a:hover {
  text-decoration:underline;
  }

#navbar li a, #navbar li a:visited {
  color: #000;
  }

#navbar li a:hover,
#navbar li a.active,
#navbar li.active-trail a {
  background: #e5ea5a;
  color: #000;
  text-decoration: none;
  }

#logo img {
  height: 84px;
  }

#scholar-shield img {
  height: 52px;
  }

/*Footer */

#footer-inner {
  padding: 34px 37px;
  background:#c7d0d2;
  height:33px;
  }

/* Nodes */

.submitted {
  color: #a1b1b1;
  border-bottom: 1px solid #a1b1b1;
  display:block;
  }


/* SEARCH */

#header .search-form .container-inline {
  background-image: url(images/search.png);
  height: 28px;
  width:218px;
  padding-right: 0;
  margin-top:15px;
  }

#header .search-form .container-inline .form-item,
#header .search-form .form-submit {
  float:right;
  }

#header .search-form .container-inline .form-item .form-text {
  border: none;
  height: 21px;
  }

#header #edit-keys-wrapper {
  width: 190px;
  }

#header .search-form input.form-submit {
  margin: 0;
  width:27px;
  height: 28px;
  }