/* Emerald version*/

body {
  background:#497457;
  }

#wrapper {
  background-image: url(images/body-bg-emerald.png);
  }

body.navbar-off #wrapper {
  background-image: url(images/body-bg-alt-emerald.png);
  }

a, a:visited {
  color: #496f55;
  }