.vsite-admin {
  clear:both;
  position:relative;
  }

.slider {
  display:none;
  }

.slider, .toggle span {
  background: #fff;
  border: 1px solid #444;
  color: #000;
  font: 12px/120% arial, sans-serif;
  }

.toggle {
  display:inline;
  }

.toggle span {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  margin: 0;
  padding: 1px 28px 1px 6px;
  cursor: pointer;
  background: url(images/show-menu.png) 93% 5px no-repeat #eef3fb;
  border-color: #dde2eb;
  color: #444;
  }

.expanded span {
  background-position: 93% -9px;
  }

.slider {
  position: absolute;
  width: 150px;
  left: 0;
  top: 20px;
  z-index: 2;
  }

.slider ul.links li {
  display:block;
  }


.cite_distribute .slider {
  position: static;
  width: 200px;
  margin-right: 10px;
  float: right;
  }

.vsite-admin ul.links li a, .vsite-admin .vsite-admin ul.links li a:visited, .vsite-admin ul.links li .flag-wrapper {
  color: #005C9C;
  background: transparent;
  display:block;
  font: normal 12px/normal arial, sans-serif;
  }

.vsite-admin ul.links li .flag-wrapper a {
  display:inline;
  }

.vsite-admin ul.links li a:hover, .vsite-admin ul.links li .flag-wrapper:hover {
  background-color:#EEF3FB;
  }

.vsite-admin li.cite_distribute {
  position: relative;
  }

.vsite-admin li.cite_distribute .distribute-form-wrapper {
  padding: 0;
  border:none;
  float:right;
  width: 200px
  margin-top: -50px
  }

.vsite-admin li.cite_distribute .distribute-form-wrapper fieldset {
  border: none;
  background: transparent;
  width: 100%;
  }

.vsite-admin li.cite_distribute .distribute-form-wrapper fieldset legend {
  color: #888;
  }

.vsite-admin li.cite_distribute .repository-item {
  margin-bottom: 3px;
  }

.vsite-admin li.cite_distribute .repository-item .form-item {
  display:inline;
  }

#edit-cite-distribute-submit {
  float:right;
  margin-bottom: 0;
  background: transparent;
  }


/* WELCOME MESSAGE SPECIFIC */

#message_welcome_message .slider {
  position: static;
  width: auto;
  background: #EEF3FB;
  border-color: #ccc;
  padding: 1em;
  }

#message_welcome_message .vsite-admin {
  margin-top: 1em;
  text-align:right;
  position: relative;
  }

#message_welcome_message .vsite-admin .slider {
  position: absolute;
  top: 18px;
  right: -6px;
  left: auto;
  border-top: none;
  padding: 0;
  width: 150px;
  }

#message_welcome_message .vsite-admin .slider ul.links li {
  display:inline;
  float: left;
  }

#message_welcome_message .vsite-admin .slider ul.links li a {
  font-weight: bold;
  }

#message_welcome_message .vsite-admin .slider ul.links li.first {
  padding-right: 5px;
  border-right: 1px solid #ccc;
  margin-right: 5px;
  }