.scholar-admin .slider {
  display:none;
  }

.scholar-admin .slider, .scholar-admin .toggle span {
  background:#eef3fb;
  border: 1px solid #dde2eb;
  color: #444;
  padding: 10px;
  font: 12px/120% arial, sans-serif;
  }

.scholar-admin .toggle {
  display:inline;
  }

.scholar-admin .toggle span {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  margin: 0;
  padding: 1px 6px;
  cursor: pointer;
  }

.scholar-admin .slider {
  margin-top: 6px;
  }

.scholar-admin ul.links li a, .scholar-admin .scholar-admin ul.links li a:visited {
  color: #005C9C;
  background: transparent;
  padding: 2px 4px;
  }


/* WELCOME MESSAGE SPECIFIC */

#message_welcome_message .scholar-admin {
  margin-top: 1em;
  text-align:right;
  position: relative;
  }

#message_welcome_message div#welcome_wrapper.slider {
  display:none;
  }

#message_welcome_message .scholar-admin .slider {
  position: absolute;
  top: 18px;
  right: -5px;
  background: transparent;
  border: none;
  padding: 0;
  }

#message_welcome_message .scholar-admin .slider ul.links li a {
  font-weight: bold;
  }

#message_welcome_message .scholar-admin .slider ul.links li.first {
  padding-right: 5px;
  border-right: 1px solid #222;
  margin-right: 5px;
  }



.scholar-admin ul.links li a:hover {
  background: transparent;
  text-decoration: underline;
  }

.scholar-admin li.cite_distribute {
  position: relative;
  }

.scholar-admin li.cite_distribute .distribute-form-wrapper {
  position: absolute;
  top: 12px;
  left: 0;
  background:#eef3fb;
  border: 1px solid #dde2eb;
  padding: 10px;
  width: 400px;
  }

.scholar-admin li.cite_distribute .distribute-form-wrapper fieldset {
  border: none;
  background: transparent;
  width: 100%;
  }

.scholar-admin li.cite_distribute .distribute-form-wrapper fieldset legend {
  color: #888;
  }

.scholar-admin li.cite_distribute .repository-item {
  display: inline;
  margin-right: 15px;
  }

.scholar-admin li.cite_distribute .repository-item .form-item {
  display:inline;
  }

#edit-cite-distribute-submit {
  margin-left: 85px;
  margin-bottom: 0;
  }