.toggle {
  display:inline;
  font-weight: bold;
  cursor: pointer;
  }

.slider {
  display:none;
  }

.slider {
  color: #000;
  position: static;
  width: auto;
  background: #EEF3FB;
  border: 1px solid #c0c5cc;
  padding: 1em;
  }

.toggle {
  background: url(images/show-menu.png) 100% 0 no-repeat transparent;
  padding-right: 2.5em;
  }

.toggle.expanded {
  background-color:#eef3fb;
  background-position: 100% -17px;
  }


.slider ul.links li {
  display:block;
  }



/* WELCOME MESSAGE SPECIFIC */

#message_welcome_message {
  margin-bottom: 1em;
  }


#message_welcome_message .toggle {
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  margin: 0;
  padding: 0.01em 2em 0.2em 0.7em;
  cursor: pointer;
  border: 1px solid #c0c5cc;
  color: #444;
  background-color:#eef3fb;
  }

#message_welcome_message .expanded {
  background-position: 100% -1.05em;
  }

/* "Hide this message" */
#message_welcome_message .vsite-admin {
  margin-top: 1em;
  text-align:right;
  position: relative;
  }

#message_welcome_message .slider {
  font-weight: bold;
  }


#message_welcome_message .vsite-admin .slider {
  position: absolute;
  top: 18px;
  right: -6px;
  left: auto;
  border-top: none;
  padding: 0;
  width: 150px;
  }

#message_welcome_message .vsite-admin .slider ul.links li {
  display:inline;
  float: left;
  }

#message_welcome_message .vsite-admin .slider ul.links li a {
  font-weight: bold;
  }

#message_welcome_message .vsite-admin .slider ul.links li.first {
  padding-right: 5px;
  border-right: 1px solid #ccc;
  margin-right: 5px;
  }

#message_welcome_message h3, #message_welcome_message p {
  margin: 1em 0;
  }

#resource-list li {
  padding-left: 20px;
  list-style: disc inside;
  }
