#menu_sort_table {
  width: auto;
  }

#menu_sort_table th, #menu_sort_table td{
  text-align: center;
  }
  
#menu_sort_table td:first-child, #menu_sort_table th:first-child {
  text-align: left;
  font-weight: bold;
  font-size: 1.1em;
  }
  
#menu_sort_table th:first-child {
  padding-left: 24px;
  }