body {
  background-image: url('images/fabric-strip-floral-pattern.png');
  background-color: #FBF4E5;
  }

#header .wrap {
  background-color: #300d0f;
  margin-left: 180px;
  padding-left: 13px;
  }

#navbar {
  height: 41px;
  background: url('images/navbar-cutout-floral-pattern.png') no-repeat 0 0 transparent;
  padding:0;
  }

#navbar .wrap {
  background: url('images/menu-strip-floral-pattern.png') repeat-x 0 0 transparent;
  padding:0;
  margin-left: 193px;
  height:41px;
  }

a, a:visited {
  color:#8B0D09;
  }

#navbar li a, #navbar li a:visited {
  color: #fff;
  }

#navbar li a:hover, #navbar li a.active, #navbar .active-trail a {
  background: #8a0f0b;
  }