
/*FORM */

body.page-site-register #content-main,
body.page-site-register #content-wrapper,
body.page-site-register .form-item,
body.page-site-register #name-field,
body.page-site-register #mail-field,
body.page-site-register #edit-password-wrapper {
  margin: 0;
  padding:0;
  }

body.page-site-register #content-main,
body.page-site-register #content-wrapper
 {
  float: none;
  clear: none;
  }

body.page-site-register #user_register,
body.page-site-register #domain-field,
body.page-site-register #edit-password-wrapper {
  clear: both;
  padding: 25px 0;
  position: relative;
  }

#scholarregister-signup-form #name-field,
#scholarregister-signup-form #mail-field {
  padding-bottom: 25px;
  }

#scholarregister-signup-form #name-field,
#scholarregister-signup-form #mail-field,
#edit-password-pass1-wrapper,
#edit-password-pass2-wrapper,
#edit-password-pass1-wrapper,
#edit-password-pass2-wrapper {
  width: 329px;
  float:left;
  margin: 0;
  position: relative;
  }

#scholarregister-signup-form #mail-field,
#edit-password-pass2-wrapper {
  float: right;
  }

body.page-site-register #name-item {
 padding-top: 10px;
 }

body.page-site-register #name-item label{
  float: left;
  padding-top: 3px;
  padding-right: 7px;
  }

body.page-site-register #mail-item{
  padding-top: 10px;
  }

body.page-site-register #mail-item label{
  float: left;
  padding-top: 3px;
  padding-right: 7px;
  }

.form-actions {
  text-align: right;
  }

body.page-site-register {
  margin-top: 13px;
  }

body.page-site-register #success-message p {
  margin-top: 13px;
  margin-bottom: 0;
  font-size: 16px;
  color:#7e7e7e;
  }

#name-field input, #mail-field input,
#edit-password-wrapper input {
  width: 315px;
  margin: 0;
  }

body.page-site-register div.password-description {
  max-width: none;
  }

body.page-site-register div.error, body.page-site-register div.warning {
  clear: both;
  }

body.page-site-register div.warning li {
  list-style: disc inside;
  }

body.page-site-register #edit-submit {
  float:right;
  }