.page-site #container {
  width: 600px;
  }

.page-site #container h2.title,
.page-site #container #edit-submit {
  margin:15px 0 25px 0;
  }

.page-site #container #edit-submit {
  float:right;
  }

#scholarregister-signup-form #name-field,
#scholarregister-signup-form #mail-field {
  padding-bottom: 5px;
  }

#scholarregister-signup-form .form-item {
  margin:10px 0;
  }

#scholarregister-signup-form label {
  font-size:0.8em;
  }

#scholarregister-signup-form input.form-text, #scholarregister-signup-form textarea.form-textarea, #scholarregister-signup-form div.description {
  width: 94%;
  }

#scholarregister-signup-form #name-field,
#scholarregister-signup-form #mail-field,
#edit-password-pass1-wrapper,
#edit-password-pass2-wrapper,
#edit-password-pass1-wrapper,
#edit-password-pass2-wrapper {
  display:inline-block;
  vertical-align: top;
  width: 49.5%;
  margin: 0;
  }

#scholarregister-signup-form,
#edit-password-wrapper,
#domain-field,
.page-site #container #domain-suffix {
  border-top: 1px solid #ddd;
  padding-top: 8px;
  }

#edit-send-mail-wrapper {
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
  }

#domain-field .field-prefix,
#domain-field input.form-text {
  float:left;
  margin-right: 3px;
  }

#domain-field input.form-text {
  width: 200px !important;
  }

#domain-field .description {
  clear:left;
  margin: 3px 0;
  }

#success-message {
  clear:both;
  font-weight:bold;
  }
