/*LAYOUT */

body.page-site-register {
  margin-top: 45px;
  line-height: 115%;
  }

body.page-site-register #wrapper {
  width: 740px;
  margin: 0 auto;
  background: transparent;
  }

body.page-site-register #container {
  padding: 17px 32px 0 32px;
  width: 676px;
  }

body.page-site-register #content-main {
  padding: 0 !important;
  }

body.page-site-register #footer {
  padding:19px 0;
  }

/*HEADER */

body.page-site-register #header {
  height: auto;
  float:left;
  }

body.page-site-register #header-wrapper {
  padding: 0;
  }


body.page-site-register #header-left {
  margin: 0;
  position: static;
  }

body.page-site-register h2.title {
  float:right;
  color:#9f9e9e;
  font-weight: normal;
  font-size: 30px;
  margin-top: -47px;
  margin-right: 27px;
  }

#block-openscholar_front-top_links, .footer-login {
  display:none;
  }

#block-openscholar_front-top_links a {
  display:none;
  }

/*FORM */

body.page-site-register #content-main,
body.page-site-register #content-wrapper,
body.page-site-register .form-item,
body.page-site-register #name-field,
body.page-site-register #mail-field,
body.page-site-register #edit-password-wrapper {
  margin: 0;
  padding:0;
  }

body.page-site-register #content-main,
body.page-site-register #content-wrapper
 {
  float: none;
  clear: none;
  }

body.page-site-register #user_register,
body.page-site-register #domain-field,
body.page-site-register #edit-password-wrapper {
  clear: both;
  padding: 25px 0;
  position: relative;
  }

#scholarregister-signup-form #name-field,
#scholarregister-signup-form #mail-field {
  padding-bottom: 25px;
  }

#scholarregister-signup-form #name-field,
#scholarregister-signup-form #mail-field,
#edit-password-pass1-wrapper,
#edit-password-pass2-wrapper,
#edit-password-pass1-wrapper,
#edit-password-pass2-wrapper {
  width: 329px;
  float:left;
  margin: 0;
  position: relative;
  }

#scholarregister-signup-form #mail-field,
#edit-password-pass2-wrapper {
  float: right;
  }

body.page-site-register #name-item {
 padding-top: 10px;
 }

body.page-site-register #name-item label{
  float: left;
  padding-top: 3px;
  padding-right: 7px;
  }

body.page-site-register #mail-item{
  padding-top: 10px;
  }

body.page-site-register #mail-item label{
  float: left;
  padding-top: 3px;
  padding-right: 7px;
  }

.form-actions {
  text-align: right;
  }

body.page-site-register {
  margin-top: 13px;
  }

body.page-site-register #success-message p {
  margin-top: 13px;
  margin-bottom: 0;
  font-size: 16px;
  color:#7e7e7e;
  }

#name-field input, #mail-field input,
#edit-password-wrapper input {
  width: 315px;
  margin: 0;
  }

body.page-site-register div.password-description {
  max-width: none;
  }

body.page-site-register div.error, body.page-site-register div.warning {
  clear: both;
  }

body.page-site-register div.warning li {
  list-style: disc inside;
  }

body.page-site-register #edit-submit {
  float:right;
  }