#header-wrapper {
  background: #f0c78c;
  }

#navbar {
  background: #dab03f;
  }

#sidebar-first {
  background:#f0dc8e;
  }

#sidebar-second {
  background:#f0c78c;
  }

#sidebar-first h3 {
  background: #f0ec81;
  }

#sidebar-second h3 {
  background: #ffd495;
  }

#footer-inner {
  background: #d8b37e;
  }