body {
  background-image: url(images/fabric-strip-mesh.png);
  background-color: #ffffff;
  }

#wrapper {
  background-image: url(images/menu-strip-mesh.png);
  }

#container {
  background-image: url(images/header-mesh.png);
  }

#header, #header h1, #header h2, #header h3, #header a, #header a:visited, #header h1 a, #header h1 a:visited, #navbar li a, #navbar li a:visited {
  color: #393933;
  }

#navbar li a:hover, #navbar li a.active, #navbar .active-trail a {
  background: #e6e8cf;
  color: #000;
  }

#header-right {
  padding-right: 10px;
  }

#header-wrapper {
  padding-right: 110px;
  }