body {
  background-image: url(images/fabric-strip-modern-white.png);
  background-color: #464441;
  }

#wrapper {
  background-image: url(images/menu-strip-modern-white.png);
  }

#container {
  background-image: url(images/header-modern-white.png);
  }

#navbar li a, #navbar li a:visited {
  color: #fff;
  }

#navbar li a:hover, #navbar li a.active, #navbar .active-trail a {
  background: #e5e5e5;
  color: #464441;
  }