html.js div.ctools-dropdown div.ctools-dropdown-container {
  display: none;
  text-align: left;
  position: absolute;
  right: 0;
  top: 0;
  z-index:1001;
  white-space: nowrap;
  }

html.js div.ctools-dropdown div.ctools-dropdown-container ul li a,
.vsite-admin a.ctools-dropdown-link {
  display: block;
  }

html.js div.ctools-dropdown div.ctools-dropdown-container ul {
  list-style-type: none;
  }

.ctools-dropdown div.ctools-dropdown-container ul li,
#content .ctools-dropdown-container-wrapper ul.links li {
  padding: 0;
  display: block;
  margin: 0;
  background-image: none;
  text-transform:capitalize;
  }

.context-links {
  float: right;
  }

.ctools-dropdown-no-js .ctools-dropdown-link,
.ctools-dropdown-no-js span.text {
  display: none;
  }

.ctools-dropdown-no-js .ctools-dropdown div.ctools-dropdown-container ul li,
#content .ctools-dropdown-no-js .ctools-dropdown-container-wrapper ul.links li {
  display:inline;
  float: left;
  border: none;
  padding: 0 !important;
  margin-right: .5em;
  clear: none;
  width: auto;
  }

.ctools-dropdown-container-wrapper {
  position: relative;
  }

html.js div.ctools-dropdown div.ctools-dropdown-container {
  min-width: 153px;
  background: #fff;
  border: 1px solid #b2b2b2;
  border-bottom-color: #898989;
  margin: 0 1px 0 0;
  padding: 5px 0;
  color: #494949;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius: 5px;
  -moz-box-shadow:  #888 0 4px 10px;
  -webkit-box-shadow:  #888 0 4px 10px;
  box-shadow: 0 4px 10px #888;
  opacity: .93;
  }

.context-links,
.section-cp div.ctools-dropdown {
  margin: 0;
  float:right;
  background: url(../images/plus.png) no-repeat 6px 6px #eaf7e7 !important;
  padding: 1px 10px 2px 22px !important;
  }

.context-links:hover,
.section-cp div.ctools-dropdown:hover {
  background-color: #daf3d5 !important;
  }


.context-links li {
  list-style:none;
  margin:0;
  list-style: none;
  padding: 0;
  display:block;
  width: 100%;
  }

.context-links a {
  font-style: normal !important;
  font-size: 11px !important;
  padding: 0 !important;
  }

.context-links .ctools-dropdown-container-wrapper a,
.ctools-dropdown-container-wrapper ul.links li a,
.context-links .ctools-dropdown-container-wrapper .flag-wrapper {
  background: #fff !important;
  padding: 3px 0 3px 13px !important;
  color: #000 !important;
  }

.ctools-dropdown-container-wrapper ul.links li.flag-featuredposts {
  position: relative;
  }

.ctools-dropdown-container-wrapper .flag-wrapper span.flag-throbber {
  position: absolute;
  right: 0;
  top: 0;
  }

.ctools-dropdown-no-js .ctools-dropdown-container-wrapper ul.links li a,
.ctools-dropdown-no-js .context-links .ctools-dropdown-container-wrapper .flag-wrapper {
  padding:0 1px !important;
  color: #228822 !important;
  }

.context-links .ctools-dropdown-container-wrapper a:hover,
.ctools-dropdown-container-wrapper ul.links li a:hover {
  background-color: #356df6 !important;
  color: #fff !important;
  text-transform: none;
  font-weight: bold;
  text-decoration: none;
  }

.context-links .ctools-dropdown-container-wrapper .flag-wrapper a {
  display:inline;
  }

.ctools-dropdown-no-js .ctools-dropdown-container-wrapper ul.links li a:hover {
  font-weight: normal;
  }

.vsite-admin a.ctools-dropdown-link {
  background: url(../images/admin-link.png) 0 3px no-repeat transparent;
  padding: 0 0 0 20px !important;
  font-size: 11px;
  }

a.ctools-dropdown-link:hover {
  background-position: 0 -16px;
  }

.empty-content .item-list ul.context-links li {
  float: left;
  }

.page-node-add-event .date-clear-block {
  display:inline-block;
  margin-right: 20px;
  width: 45%;
  padding: 4px 4px 4px 8px;
  background:#e2f468;
  }