/* FORMS CSS */


input.form-text,
textarea.form-textarea,
div.description {
  width: 100%;
  max-width: 771px;
  }

#body-field-wrapper {
  margin-right: 2px;
  }


div.fieldset, fieldset, .container-inline-date {
  background:#F3F3F3;
  clear: both;
  border: 1px solid #d9d9d9;
  margin: 0 0 1.5em 0;
  }

label {
  display:block;
  margin-bottom: .3em;
  }

input.form-text {
	padding: 2px 3px;
	margin: -1px;
	border-width: 2px;
	-moz-border-top-colors: #f9f9f9 #707070;
	-moz-border-left-colors: #f9f9f9 #ABABAB;
	-moz-border-right-colors: #f9f9f9 #ABABAB;
	-moz-border-bottom-colors: #f9f9f9 #CECECE;
	}

div.form-item {
  margin-bottom:1.5em;
  }

div.form-item, div.admin-panel .body {
  display:block;
  }

legend, legend a, div.form-item label, fieldset h2.fieldset-title {
  color: #666;
  font-weight: bold;
  }

fieldset h2.fieldset-title, div.form-item label {
  font-size:.9em;
  line-height: 1em;
  }

div.description, div.form-item div.description {
  color:#666;
  font-size:11px;
  line-height:15px;
  margin:5px 0;
  }

.wysiwyg-field-edit-comment {
  color: #666;
  }

div.teaser-checkbox div.form-item,
.container-inline-date div.form-item {
  border: none !important;
  padding:5px 0;
  }

.admin {
  padding-top: 1.5em;
  clear: both;
  }

select option {
  padding: 2px 5px;
  }

.views-exposed-form .views-exposed-widget {
  padding: 0 2em 0 0;
  }


/* Search box */

.search-form {
  padding-bottom: 5px;
  }

#content .search-form {
  margin-top: 2em;
  }

.search-form div.form-item {
  border: none;
  margin: 0;
  }

.search-form label{
  display:none;
  }
  
.search-form .spelling-suggestions label {
  display: block;
  }

.search-form .container-inline {
  background: url(../images/searchglass.gif) no-repeat 100% 0;
  height: 18px;
  line-height:normal;
  max-width: 278px;
  padding-right:22px;
  border-left: 1px solid #b7c2ce;
  padding-left: 1px;
  }

.search-form .container-inline .form-item {
  width: 100%;
  }

.search-form .container-inline .form-item,
.search-form .form-submit {
  float:left;
  position: relative;
  padding: 0;
  }

.search-form .container-inline .form-item .form-text {
  height: 14px;
  padding: 3px 4px 0 0 !important;
  border: none;
  background: transparent;
  width:100%;
  }

#header-right #vsite-widgets-search-form #edit-search {
  width: 43px;
  }

.search-form input.form-submit {
  background: transparent;
  font-size: 10px;
  width: 18px;
  height: 18px;
  border: none;
  padding: 0 !important;
  text-indent: -999em;
  margin-right: -100%;
  }

#search-form fieldset.search-advanced {
  clear: left;

  }


/* VSITE CONTACT FORM */

#vsite-support-contact-mail-owner .form-item {
  border: none;
  padding: 0;
  }

#vsite-support-contact-mail-owner .form-item label {
  display:inline;
  }


/* UPLOADS */
#edit-upload-wrapper {
  line-height: 30px;
  }

#attach-wrapper .file a {
  padding: 2px 6px;
  background: #b5e675;
  color: #000;
  }

#attach-wrapper .file a.remove {
  background: #db7272;
  }