body {
  background: #FFF;
  }

 /* Firebug bug */

body.admin-menu {
  position:static !important;
  }

#tinymce {
  background: #fff !important;
  min-width: 0 !important;
  margin: 5px !important;
  }

.admin-menu div#admin-toolbar.vertical {
  top:20px;
  }

.flL {
  float:left;
  margin: 0 1.5em .5em 0;
  }

.flR {
  float: right;
  margin: 0 0 .5em 1.5em;
  }

/* IMAGES */

img {
  border:none;
  }

.img-flL {
  float: left;
  margin: 0 1em .9em 0;
  }

.img-flR {
  float: right;
  margin: 0 0 .9em 1em;
  }

.img-center {
  margin: 1.5em auto;
  text-align: center;
  }

#scholar-shield {
  width: 75px;
  margin: 0 auto;
  text-align: center;
  }

#scholar-shield img,
#logo img {
  /* themers can change the size of the shields and logo without uploading new images */
  max-width: 100%;
   }

/* TOP OPENSCHOLAR ADMIN BAR */

#top {
  height: 42px;
  background:url('../images/top-bottom-bg.png') repeat-x #000 0 -9px;
  position:relative;
  }

body.cp-toolbar-mini #top {
  position: absolute;
  height: 20px;
  right: 0;
  top: 0;
  padding: 0;
  line-height: normal;
  background: transparent;
  z-index: 10;
  }

/* Remove when .mini class is added to #top, rather than body */

body.admin-menu #top {
  top: 22px;
  }


body.cp-toolbar-mini #top ul.links {
  background: url('../images/toolbar-mini-tab.png') no-repeat 0 0;
  height: 22px;
  z-index:100;
  }


/* LAYOUT */

/* The following is the scheme for flexible one, two, or three column layouts */


#header-top, #navbar, #content-main, #header-main {
  width: 100%;
  }

body.no-sidebars #content-main,
body.header-main #header-main {
  padding: 0;
  padding-left: 2em;
  padding-right: 2em;
  width: auto;
  float:none;
  }

#header-wrapper,
#navbar,
#content-wrapper,
#footer {
  clear: both;
  }

.column {
  float: left;
  position: relative;
  padding: 10px;
  }

#header .column {
  padding-top: 0;
  padding-bottom: 0;
  }

#header-left,
#header-right,
#sidebar-first,
#sidebar-second {
  width: 200px;
  }

#content-wrapper,
#header-wrapper {
  padding-left: 220px; /* left width incl. padding */
  padding-right: 240px; /*right width incl. padding plus center padding */
  }

#header-left,
#sidebar-first {
  right: 240px; /* left width incl. padding plus center padding */
  margin-left: -100%;
  }

#header-right,
#sidebar-second {
  margin-right: -100%;
  }

body.sidebar-second #content-wrapper {
   padding-left: 0;
   }

body.sidebar-first #content-wrapper,
body.header-left-main #header-wrapper {
  padding-right: 40px; /* Only the padding of center div */
  }

body.no-sidebars #content-wrapper {
  padding: 0;
  }

body.header-main #header-main {
  padding: 10px 0;
  }

body.header-main-right #header-wrapper {
  padding-left: 0;
  }

body.header-left-main #header-wrapper {
  padding-right: 0;
  }

body.header-left-right #header-wrapper,
body.header-main #header-wrapper,
body.header-right #header-wrapper,
body.header-left #header-wrapper{
  padding: 0;
  }

body.header-left-right #header-left,
body.header-left-right #header-right,
body.header-left #header-left,
body.header-right #header-right {
  width: 45%;
  right: auto;
  }

body.header-left-right #header-left,
body.header-left-right #header-right {
  margin:0;
  }

body.header-left-right #header-right {
  float:right;
  }

#sidebar-first .block, #sidebar-second .block {
  margin-bottom: 1.5em;
  clear:both;
  }

/* FOOTER */

#footer {
  padding-top: 50px;
  }

#footer .block,
#footer-message {
  display:inline;
  }

/* NODE */

.node, .biblio-entry {
  padding-top: .5em;
  padding-bottom: 0.938em;
  margin-bottom: 1.875em;
  padding-left:0.188em;
  padding-right:0.188em;
  clear:both;
  position: relative;
  }

.node-unpublished {
  background-color:#feffcd;
  padding: 4px;
  }

div.unpublished {
  font-weight: bold;
  color: #adaf01;
  }

.node-type-link {
  margin-bottom: 0;
  }

div.terms {
  clear: left !important;
  }

.teaser-extra {
  margin-left: 1em;
  }

.node-teaser {
  position: relative;
  }

.os-links {
  height: 18px;
  float:right;
  width: 14px;
  padding: 0 0 5px 5px;
  z-index:1;
  }

.os-links ul.links {
  display:none;
  }

.node:hover .os-links ul.links {
  display:block;
  }

.node-inner {
  padding: 3px;
  }

.node-teaser.os-links-trail {
  border:1px solid #356df6;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  }

.node-teaser.os-links-trail .node-inner {
  padding: 2px;
  }

/* VIEWS */

.views-row {
  margin-bottom: 1em;
  clear:both;
  }


/* MESSAGES */

div.messages {
  background:#BBDDFF;
  border:1px solid #AACCEE;
  color:#003366;
  margin:0 0 10px;
  padding:9px;
  clear:both;
  }

div.status {
  background:#CCFF88;
  border:1px solid #BBEE77;
  color:#336600;
  margin:0 0 10px;
  padding:9px;
  }

div.warning {
  background: #FFEE66;
  border:1px solid #EEDD55;
  color:#884400;
  margin:0 0 10px;
  padding:9px;
  }

div.error {
  background:#EE6633;
  border:1px solid #DD5522;
  color:#FFFFFF;
  margin:0 0 10px;
  padding:9px;
  }

/* CLEAR FIX */

/* As some Drupal themers use clear-block, we add both classes */

.clearfix:after,
.clear-block:after {
  content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
  }

.clearfix,.clear-block {
	display: inline-block;
  }

html[xmlns] .clearfix, html[xmlns] .clear-block {
	display: block;
  }