table {
  border-collapse: collapse;
  text-align:left;
  width: 100%;
  }

th, td {
  padding: .6em;
  vertical-align: top;
  color:#4a4a4a;
  }

td:first-child {
  text-align: left;
  }

th {
  font-weight: bold;
  font-size: 1.1em;
  border-bottom: 3px solid #d9d9d9;
  }

tbody, tbody th {
  border: none;
  }

th.checkbox, td.checkbox {
  text-align: center;
  }

tr.even, tr.odd {
  background-color: #fff;
  border-bottom: 1px solid #d9d9d9;
  }

tr.odd {
  background-color: #f3f3f3;
  }

td {
  color: #666;
  }

th, th a {
  color: #425e69;
  }

td.active {
  background: #eaebe9;
  }

tr.selected td, tr.selected td a {
  background: #a7afaf;
  color: #fff;
  }

#content table {
  clear: both;
  }

/* MODULES LIST */

table.package .version {
  direction: ltr;
  }

table.package .description {
  width: 100%;
  }

