body {
  font: .85em/1.5em 'helvetica neue', helvetica, arial, sans-serif;
  }

h1 {
  font-size: 1.8em;
  line-height:1.083em;
  }

h2 {
  font-size: 1.3em;
  line-height:1.083em;
  }

h2.title {
  margin-bottom: 1.5em;
  }

h2.with-tabs {
  margin-bottom: .3em;
  }

.section-admin h2.title {
  background: url(../images/admin-logo.png) no-repeat 0 50% transparent;
  padding-left: 125px;
  min-height: 52px;
  margin: 1em 0;
  }

h3 {
  font-size: 1.1em;
  }

h4 {
  font-size: 1em;
  }

p, div.messages, #content-main .views-row, .node .content ul, .node .content ol, .taxonomy-term-description {
  margin: 0 0 1.53em 0;
  }

#header h1, #header h2, #header p {
  margin: 0 0 .1em 0;
  }

a, a:visited {
  text-decoration: none;
  color: #005C9C;
  }

p.copy {
  color: #76797C;
  font-size: 11px;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  line-height: 29px;
  margin: 4px auto 0 auto;
  clear:both;
  text-align:center;
  min-height: .5em;
  }

p.copy a, p.copy a:visited {
  font-style: normal;
  text-decoration: none;
  color: #76797C;
  }

p.copy a:hover {
  border-bottom: 1px solid #000;
  color: #000;
  }

p.copy a.footer-login {
  background: #e9f1c6 !important;
  color: #000 !important;
  border: 1px solid #565b5d !important;
  padding: 0 9px 1px 9px !important;
  -moz-border-radius:20px;
  -webkit-border-radius:20px;
  margin-left: 4px;
  margin-top: 2px;
  float: left;
  line-height: 18px;
  }

p.copy a.footer-login:hover {
  background: #fff !important;
  }


.marker,
ul.admin li a,
ul.admin li a:visited,
.addcategory a,
a.ctools-dropdown-link,
a.context-button {
  color: #97c797 !important;
  }

ul.admin li:hover a,
ul.vsite-taxonomy-terms li:hover a,
.addcategory:hover a,
a.ctools-dropdown-link:hover,
a.context-button:hover {
  color: #228822 !important;
  background-color: transparent !important;
  }

.form-required {
  color: #d70404 !important;
  }

p.copy #powered-link {
  float: right;
  }

p.copy a.poweredby  {
  background: url(../images/poweredby.png) no-repeat 0 0 transparent;
  text-indent:-999em;
  display:block;
  width:145px;
  height:26px;
  text-decoration: none !important;
  border: none !important;
  }

p.copy a.poweredby:hover {
  text-decoration:none !important;
  border: none !important;
  }

.submitted {
  font-size: .9em;
  }

.nomarg {
  margin: 0;
  }

.diminished {
  color: #bbb !important;
  }

.diminished:before {
  content: '[';
  }

.diminished:after {
  content: ']';
  }

/*LISTS*/

ul {
  padding-left:0;
  }

ul li {
  list-style:none;
  }

ol {
  margin-left:18px;
  padding-left:0;
  }

#content .node .content ul {
  padding-left: 2em;
  }

#content .node .content ul li {
  list-style: disc outside;
  padding:0 0 0 3px;
  }

#content .node .terms ul, #content .node .content ul.links, #content .biblio-entry ul.links {
  padding-left: 0;
  margin-top:0;
  }

.terms ul li, .terms ul li a {
  padding: 0;
  }

#content .node ul li ul {
  margin-top: 1.5em;
  }

#content .node .os-links ul li ul {
  margin:0;
  }

#content .node ul li li {
  list-style: circle outside;
  padding:0 0 0 3px;
  }

#navbar li, #header-top li, .views-admin-links li, ul.inline li {
  display:inline;
  }

.block ul {
  padding-left: 0;
  }

li.leaf, li.collapsed, ul.menu li.leaf, ul.menu li.collapsed {
  padding: 0;
  list-style: none;
  }


ul.hierarchic {
  padding: 0;
  margin: 0;
  }


ul.hierarchic li {
  list-style: none;
  padding: 0;
  margin-bottom: 1em;
  font-weight: bold;
  }

ul.hierarchic li li {
  margin-bottom: 0;
  font-weight: normal;
  }


ul.hierarchic li a {
  display:block;
  border-bottom: 1px dotted #ccc;
  padding-top: .3em;
  padding-bottom: .1em;
  }

ul.hierarchic ul a{
  padding:0 0 0 .5em;
  }

ul.hierarchic ul ul a{
  padding:0 0 0 1.5em;
  }

ul.hierarchic ul ul ul a{
  padding:0 0 0 2em;
  }

ul.hierarchic ul ul ul ul a{
  padding:0 0 0 2.5em;
  }

ul.pager {
  padding-top: 1em;
  border-top: 1px solid #ccc;
  text-align: center;
  }

ul.pager li {
  margin: 0;
  padding: .3em;
  display:inline;
  }

ul.pager li.pager-current {
  background: #5ba4d9;
  color: #fff;
  }

dd.meta {
  color:#767676;
  margin-bottom: 0;
  }


/* OTHER */

legend {
  margin-bottom: .5em;
  }

/* TOP OPENSCHOLAR MENUS */

#top a, #top a:visited, #top ul.links li a, #top ul.links li a:visited {
  font-family: 'helvetica neue', helvetica, arial, sans-serif !important;
  }


body.cp-toolbar-mini #top ul.links li {
  margin:0;
  background: url(../images/toolbar-mini-tab.png) no-repeat 0 0 transparent;
  height: 22px;
  line-height: 19px;
  padding: 0 6px;
  float:left;
  }

body.cp-toolbar-mini #top ul.links li.first {
  background: transparent;
  }

body.cp-toolbar-mini #top ul.links li a, body.cp-toolbar-mini #top ul.links li a:visited {
  color:#6e6e6e;
  font-size: 11px;
  padding-left: 12px;
  padding-top: 2px;
  }

body.cp-toolbar-mini #top ul.links li.first a {
  padding-left: 22px;
  background: url(../images/wrench-mini.png) no-repeat 0 0 transparent;
  margin-left: 5px;
  }

body.cp-toolbar-mini #top ul.links li.last a {
  padding-right: 6px;
  border-left: none;
  }

body.cp-toolbar-mini #top ul.links li a:hover {
  text-decoration: none;
  text-shadow:none;
  color: #000;
  }


/* DELETE, EDIT BUTTONS */

ul.admin {
  background: #fff;
  line-height: 12px !important;
  font-size: 10px !important;
  font-family: 'helvetica neue', helvetica, arial, sans-serif !important;
  margin: 0 !important;
  padding: 0 1px 0 0 !important;
  }

ul.admin li {
  margin: 0 !important;
  }

ul.admin li a, ul.admin li a:visited {
  padding: 2px !important;
  }

ul.admin li a:hover {
  text-decoration: underline;
  }

a.delete {
  background: url(../images/delete.png) no-repeat;
  height: 11px;
  width: 10px;
  display: block;
  text-indent: -999em;
  }

.close-this {
  width: 15px;
  height: 15px;
  background: url(../images/close-icon.png) no-repeat transparent;
  text-indent: -999em;
  }

.empty-content {
  clear: both;
  }

.empty-content p {
  float: left;
  }

.show-content-type {
  text-transform: lowercase;
  font-weight: bold;
  }

/* BUTTONS */

input.form-submit, input.form-button, button {
  background: #e8e8e8;
  color: #000;
  border: 1px solid #c4c4c4;
  padding: 4px 12px !important;
  -moz-border-radius:20px;
  -webkit-border-radius:20px;
  margin: 5px 5px 15px 0;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  font-size: 12px;
  }

input.form-submit:active, button:active {
  background:#fffcca;
  }

.advanced-help-link {
 background: url(../images/help.png) no-repeat;
 width: 15px;
 height: 15px;
 margin-right: 4px;
 display:block;
 text-indent: -999em;
 }

.advanced-help-link:hover {
  background-position: 0 -15px;
  }
