[submodule "profiles/openscholar"]
	path = profiles/openscholar
	url = git.drupal.org:project/openscholar.git
[submodule "sites/all/modules/openscholar_vsite/confirm_popup"]
	path = sites/all/modules/openscholar_vsite/confirm_popup
	url = git@github.com:openscholar/confirm_popup.git
