#footer {
background: transparent;
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#A0EDEDED,endColorstr=#A0EDEDED)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#A0EDEDED,endColorstr=#A0EDEDED);   /* IE6 & 7 */
      zoom: 1;
}