html,body {
  height: 100%;
  min-width:900px;
  }

body {
  background: url('images/body-a.png') repeat-y 50% 0 #fff;
  font-family:"helvetica neue",helvetica, Arial,sans-serif;
  }

body.sidebar-second,
body.two-sidebars{
  background-image: url('images/body-sidebar-right.png');
  }

#header {
  background: url('images/header.png') no-repeat 42% 0 transparent;
  height: 139px;
  }

#footer {
  background: rgba(237,237,237,0.63);
  }

/* MAIN LAYOUT COMPONENTS */

.wrap {
  width: 900px;
  margin: 0 auto;
  }

#content-main {
  background: #fff;
  padding: 11px 30px;
  }

#content-area .hg-container {
  padding-left:200px;
  padding-right:260px;
  }

#header .hg-container {
  padding-left:200px;
  padding-right:220px;
  }

#footer {
  position: fixed;
  top: auto;
  right: 0;
  bottom:0;
  left: 0;
  height: 50px;
  padding: 5px;
  }

/*TYPOGRAPHY*/

#content a, #content a:visited {
  color:#2089ac;
  }

#content a:hover {
  color: #000;
  text-decoration: underline;
  }

#header h1 {
  width: 172px;
  height: 56px;
  text-indent: -999em;
  margin: 7px 0 0 200px;
  }

#header h1 a, #header h1 a:visited {
  width: 172px;
  height: 56px;
  display:block;
  }

#header h2,
#header p {
  display:none;
  }

h2.title {
  margin-bottom: 1em;
  font-size: 1.2em;
  }

h3 {
  font-size: 1em;
  }

#header p {
  margin: 0 10px 0 0;
  font-size: 11px;
  }

#logo {
  height: 140px;
  }

p.copy {
  color: #222;
  margin-top: 20px;
  }

.sidebar-second p.copy {
  margin-right: 179px;
  }

p.copy a, p.copy a:visited {
  color: #222;
  text-decoration:underline;
  }

#footer a:hover {
  color: blue;
  border: none;
  }

#footer .footer-login, #footer .footer-login:visited{
  color: #444;
  border-color: #444;
  }


/*HEADER */
#logo {
  margin-top: 30px;
  }

#scholar-shield {
  margin: 26px 0 0 0;
  text-align: center;
  }

#scholar-shield img {
  height: 68px;
  }

/* SIDEBARS */

#sidebar-first, #sidebar-second, #header-left, #header-right {
  padding: 11px 0;
  }


#header-left, #sidebar-first {
  margin-left:-100%;
  right:260px;
  }

#sidebar-second .block, #sidebar-first .block {
  padding: 0 0 16px 0;
  }


#block-vsite_menus-0 ul.menu li a {
  display:block;
  height: 36px;
  font-size: 16px;
  line-height: 36px;
  color: #03263f;
  padding-left: 16px;
  font-weight:bold;
  }

#sidebar-first #block-vsite_menus-0 {
  padding-left:0;
  padding-right: 0;
  }


#block-vsite_menus-0 ul.menu li a:hover {
  background: #93b9c7;
  text-decoration: none;
  }

#block-vsite_menus-0 ul.menu li.active-trail {
  background:#cedbe0;
  }

#block-vsite_menus-0 ul.menu li a.active, #block-vsite_menus-0 ul.menu li.active-trail a, #block-vsite_menus-0 ul.menu li a.active:hover, #block-vsite_menus-0 ul.menu li.active-trail a:hover {
  background: url(images/menu-selected.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-color: transparent;
  color: #FFF;
  margin-right: -10px;
  }

/* SIDEBAR RIGHT*/

#sidebar-second {
  padding-top: 30px;
  }


#sidebar-second a, #sidebar-second a:visited, #sidebar-second h3, #sidebar-second p {
  padding-left: 16px;
  }

#sidebar-second h3 {
  color: #699bae;
  }

#sidebar-second li {
  list-style: none;
  margin-left: 0;
  }
