h2.with-tabs {
  float: left;
  }

div.tabs {
  float:right;
  height: auto;
  margin-top:0;
  }

ul.secondary li {
  border: none;
  }

div.tabs ul {
  margin: 0 0 5px 0;
  padding: 0 0 0 10px;
  border-width: 0;
  list-style: none;
  white-space: nowrap;
  line-height: normal;
  background:#fff;
  height: 43px;
  }

div.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	font-size: 14px;
  }

div.tabs li a {
	display: block;
	margin: 0;
	padding: 13px 17px 7px 20px;
	border-width: 0;
	font-weight: bold;
	text-decoration: none;
	color: #918f8f;
	background: #fff;
	border-left: 1px dashed #cecece;
  }

div.tabs li:nth-child(1) a {
  border-left: none;
  }

div.tabs li a:hover {
	background-color: transparent;
  }

div.tabs li.active a,
div.tabs li.active a:hover {
	border-right-style: solid;
	border-bottom: none;
	color: #000;
  }