#container {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);
  zoom: 1;
  }

body.header-left-main-right #header-left {
  left: 424px;
  }

body.header-left-main #header-left {
	left: 68px;
	}