body.page-home #container, body.page-home  #content-wrapper-bottom {
  background: #44514F;
  padding: 0;
  }

body.page-home #content-wrapper {
  width: 844px;
  height: 558px;
  background:url(images/shepsle-front.jpg) no-repeat;
  }

body.page-home #header {
  background: #44514F;
  padding-bottom: 0;
  }
