body {
  background: #425051;
  }

body.front #page {
  width: 844px;
  }

body.front #content-area {
  width: 844px;
  height: 558px;
  background:url('images/shepsle-front.jpg') no-repeat;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  }

body.front #content-area .wrap {
  display:none;
  }