body.page-home #container {
  background: #44514F;
  padding: 0;
  }

body.page-home #content-wrapper {
  width: 844px;
  height: 558px;
  background:url(images/shepsle-front.jpg) no-repeat;
  }

body.page-home #header {
  background: #44514F;
  padding-bottom: 0;
  }

body.page-home #footer {
  background: #44514F;
  padding-top: 0;
  }