/* pinserver.css */



form#scholarregister-signup-form .form-item .status, #scholarregister-signup-form .form-item span.error
{
  position: relative;
  clear:both;
}

form#scholarregister-signup-form .form-item .status, #scholarregister-signup-form .form-item div.password-description{
  position: relative;
}


body.page-site-register #user_register, body.page-site-register div#domain-field
{
  padding-top: 1px;
}