html {
    min-width: 910px;
    }

body {
    color:#222;
    font-family: georgia,serif;
    background: #4d4747;
    }

/* By adding a fixed width on the .wrap divs we can create a fixed width page view */
.wrap {
    width: 910px;
    margin: 0 auto;
    }

/* Style the typography for the site */

a, a:visited {
    color:#8A281B;
    }

a:hover {
    color:#8A281B;
    text-decoration: underline;
    }


h1,h2,h3 {
  font-weight: normal;
  font-size: 1.4em;
  }

#content-area h1,
#content-area h2,
#content-area h3,
#sidebar-second a {
  color:#889095;
  }

h3 {
  font-size: 1em;
  }

h2, h3, h4 {
  margin-bottom: 1em;
  margin-top: 1em;
  }

h2.title {
  margin-bottom: 1em;
  }

h1 a, h2 a, h3 a, #sidebar-second a {
    font-style: normal;
    }

/* Style the layout elements */

#header,
#footer {
  background: #21537e;
  }

#navbar {
  background: #3a96cb;
  }

#content-area {
  background:#847b7b;
  padding: 20px 0;
  }

#content-area .wrap {
  background: #fff;
  }

#footer {
  font-size: .9em;
  height: 100px;
  }

/* Specific header styling */

#header {
  padding: 10px 0;
  }

#header,
#header a,
#header a:visited {
  color: #EFEFEF;
  text-decoration: none;
  }

#header a:hover,
#header a.active {
  color:#F9E433;
  }

#header h1 {
  font-size: 24px;
  line-height: 1.1em;
  }

#header h2 {
  font-size: 18px;
  line-height: 1.3em;
  }

#navbar a,
#navbar a:visited {
  color: #fff;
  }

#navbar li {
  margin-right: 1.5em;
  text-transform: uppercase;
  font-size: 1.1em;
  }