
div.ctools-dropdown div.ctools-dropdown-container,
div.ctools-dropdown div.ctools-dropdown-container {
  right: -13px;
}

#biblio-node div.ctools-dropdown div.ctools-dropdown-container {
  right: auto;
  left: 0;
 }
 
 .content {
 	position: relative;
  z-index: 1;
}

/* the "Admin/Actions" link */
.os-links .vsite-admin a.ctools-dropdown-link {
  position: absolute;
  font-size: 11px;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  text-align: left;
  text-indent: -999em;
}

.page-node .node .os-links .vsite-admin a.ctools-dropdown-link,
.page-biocv .node .os-links .vsite-admin a.ctools-dropdown-link   {
  position: static;
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
  font-style: normal;
  color:#b0c6fb;
}
  
.node .os-links .vsite-admin a.ctools-dropdown-link:hover {
  text-decoration: underline;
  }
  
.node,
.block,
.view {
	position: relative;
}

.node:hover .vsite-admin a.ctools-dropdown-link,
.block:hover .vsite-admin a.ctools-dropdown-link,
.view:hover > .os-links .vsite-admin a.ctools-dropdown-link {
  background-position: 0 -123px;
  }

.os-links {
  height: 18px;
  position: absolute;
  right: 0;
  top: 0px;
  width: 14px;
  padding: 0 0 5px 5px;
  z-index: 1;
}
  
.node-teaser .os-links {
  top: auto; 
}

.page-node .os-links,
.page-biocv .os-links {
  width: auto;
}

.node-teaser .os-links .vsite-admin,
.block .os-links .vsite-admin,
.view > .os-links .vsite-admin {
  display:none;
}

.node:hover .os-links .vsite-admin,
.block:hover .os-links .vsite-admin,
.view:hover > .os-links .vsite-admin {
  display:block;
}

.node-teaser.os-links-trail {
  border: 1px dashed black;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.node-teaser.os-links-trail .node-inner {
  padding: 2px;
}

.os-links-outline {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: 1px dashed black;
  display: none;
  z-index: 0;
}

*:hover > .os-links-outline {
	display: block;
}

  
  /* Styling for Contextual */
/*
.vsite-admin {
  position: absolute;
  right: 2px;
  top: -16px;
  display: none;
  width: 100%;
  text-align: right;
}

.node,
.block,
.view,
.comment {
  z-index: 2;
}

.node:hover .vsite-admin,
.node:hover .vsite-contextual-border,
.block:hover .vsite-admin,
.block:hover .vsite-contextual-border,
.view:hover > .vsite-admin,
.view:hover > .vsite-contextual-border,
.comment:hover .vsite-admin,
.comment:hover .vsite-contextual-border {
  display: block;
}

.node .vsite-admin a.ctools-dropdown-link,
.view > .vsite-admin a.ctools-dropdown-link,
.block .vsite-admin a.ctools-dropdown-link,
.comment .vsite-admin a.ctools-dropdown-link {
  background: url('../images/scholarbase-sprite.png') 0 -124px no-repeat transparent;
  padding: 0 !important;
  height: 16px; 
  display: inline-block;
  width: 16px;
  text-indent: -999em;
}
*/