/* Sage*/

body {
  background:#8b957c;
  }

#wrapper {
  background-image: url(images/body-bg-sage.png);
  }

body.navbar-off #wrapper {
  background-image: url(images/body-bg-alt-sage.png);
  }

a, a:visited {
  color: #627840;
  }