body {
  background-image: url(images/fabric-strip-devil-eye.png);
  background-color: #6c5652;
  }

#wrapper {
  background-image: url(images/menu-strip-devil-eye.png);
  }

#container {
  background-image: url(images/header-devil-eye.png);
  }

a, a:visited {
  color:#833426;
  }

#navbar li a, #navbar li a:visited {
  color: #fae09c;
  }

#navbar li a:hover, #navbar li a.active, #navbar .active-trail a {
  background: #e2e594;
  color: #233130;
  }