body {
    background: #efefef;
    color:#313030;
    font:.9em/165% arial, helvetica, sans-serif;
    }

#wrapper {
  margin-top: 42px;
  }

#container,
.front #content-top,
.front #content-bottom {
  width: 900px;
  margin: 0 auto;
  }

.front #container {
  width: 962px;
  }

.not-front #content-main,
.front #content-top,
.front #content-bottom {
 padding: 30px 30px 40px 30px;
 background: #fff;
 border: 1px solid #ccc;
 -moz-border-radius: 6px;
 -webkit-border-radius: 6px;
 }

a, a:visited {
    color:#990000;
    text-decoration: none;
    }

a:hover {
    color:#3399CC;
    }

#header h1 {
  font-weight:normal;
  font-size: 26px;
  line-height: 44px;
  margin-left: 30px;
  float:left;
  }

#header h1 a, #header h1 a:visited {
  color: #313030;
  }

h2, h3, #sidebar-left a, #header {
  font-weight: bold;
  }

h3 {
  font-size: 1.4em;
  }


div.form-item {
  border: none;
  }



/*HEADER */

#header {
  min-height: 70px;
  }


#block-openscholar_front-top_links .content {
  float:right;
  }

#block-openscholar_front-top_links a {
  background:url(images/get-your-site-button.png) no-repeat;
  text-align: center;
  line-height: 38px;
  display: block;
  width: 169px;
  height: 42px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  text-shadow: #333 0px 1px 1px;
  text-shadow: rgba(51,51,51, .4) 0px 1px 1px;
  }


ul#top-front li#get-form a:hover {
  color: #f0ff00;
  }


#block-openscholar_front-site_mission h2.title {
  float:right;
  color:#9f9e9e;
  font-weight: normal;
  font-size: 30px;
  margin-top: 8px;
  margin-right: 27px;
  }

/* Footer */

#footer {
  padding: 10px 30px 30px 30px;
  }

p.copy {
  margin-top: 0;
  }


/* Different Tables for admin use */

table {
  font-size: .8em;
  }

table th {
  font-size: .8em;
  text-transform: uppercase;
  background-color: #eee;
  border: 1px solid #ddd;
  padding: 5px;
  }

tr.even, tr.odd {
  border-bottom: 1px solid #ccc;
  padding: .1em .6em;
  }

tr.even {
  background-color: #eee;
  }

td, td.description {
  border: 1px solid #ddd;
  padding: 5px;
  color: #222;
  font-size: .9em;
  }

.section-websites .view-openscholar-sites td {
  width: 25%;
  }

/* FRONT PAGE LAYOUT */

.front #content-top {
  min-height: 359px;
  position: relative;
  margin-bottom: 10px;
  }


.front #content-top #block-openscholar_front-video_info {
  float:left;
  width: 638px;
  }

.front #content-top #block-openscholar_front-site_mission {
  float:right;
  font-size: 23px;
  margin-bottom: 0;
  color: #4a4949;
  line-height: 1.4em;
  width: 240px;
  margin-top:59px;
  }


/* CONTENT PROFILES */

.field-field-user-profile-photo {
  float: right;
  }

p.single, ul.single, ul.single li {
  display:inline;
  }

p.single {
  margin-right: 8px;
  }

/* FRONT PAGE vSITE PROFILES */


#block-views-openscholar_sites-block_2 ul, #block-views-openscholar_sites-block_2 .more-link {
  width: 100%;
  height: 253px;
  }
#block-views-openscholar_sites-block_2, #footer {
  position:relative;
  }

#block-views-openscholar_sites-block_2 h3 {
  background: transparent;
  text-indent: -999em;
  display:none;
  margin: 0;
  }


#block-views-openscholar_sites-block_2 {
  clear: both;
  }

#block-views-openscholar_sites-block_2 .views-row {
  float: left;
  width: 134px;
  margin-left: 19px;
  clear: none;
  font-size: 13px;
  }

#block-views-openscholar_sites-block_2 .views-row-1 {
  margin-left:0;
  }

#block-views-openscholar_sites-block_2 img, .view-iqss-project-sites img {
  border: 1px solid #535252;
  width: 100px;
  height: 100px;
  }

.views-field-description p {
  font-weight: normal;
  line-height: 1.1em;
  margin-bottom: 0;
  font-size: 11px;
  }

.views-field-title a {
  color: #313030;
  font-weight: bold;
  }

#block-views-openscholar_sites-block_2 ul, #block-views-openscholar_sites-block_2 .more-link {
  clear: both;
  }

#block-views-openscholar_sites-block_2 .views-admin-links {
  position: absolute;
  top: -30px;
  right: 0;
  }


#block-views-openscholar_sites-block_2 .views-admin-links ul{
  background: transparent;
  height: auto;
  }

#block-views-openscholar_sites-block_2 .more-link {
  text-align: right;
  background-position: 0 100%;
  padding-bottom: 0;
  height: auto;
  }

#block-views-openscholar_sites-block_2 .more-link a {
  background: url(images/arrow-black.png) no-repeat 100% 50% #fff;
  padding-right: 15px;
  color: #000;
  text-transform: capitalize;
  font-weight: bold;
  margin-right: 28px;
  }
