body {
  background:#293e4b;
  font: 13px/1.5em helvetica, arial, sans-serif;
  padding-bottom:30px;
  }

#wrapper {
  margin-top: 0;
  }

#container, #content-wrapper, #content-wrapper-inner, #content, #panel-wrapper, .panel {
  background-color: transparent !important;
  }

#container {
  width: 1000px;
  margin: 0 auto;
  overflow:hidden;
  }

.panel {
  background: url(images/top-corners.png) 0 0 no-repeat transparent;
  padding-top: 20px;
  }

#front-panel-2 {
  background-position: -1000px 0;
  }

#content-bottom {
  background: url(images/bottom-corners.png) 0 100% no-repeat transparent;
  clear: both;
  padding-bottom: 19px;
  border-top: 1px solid #ccc;
  }

/* HEADER ELEMENTS */



#header {
    height: 110px;
    }

#header h1 {
  width: 231px;
  height: 76px;
  background: url(images/logo.png) no-repeat;
  text-indent: -999em;
  float:left;
  margin-top:14px;
  margin-left: 9px;
  }

#header h1 a, #header h1 a:visited {
  display:block;
  width: 231px;
  height: 76px;
  }


#header h1 a, #header h1 a:visited {
    color:#282828;
    }

h2 {
  margin: 0 0 .5em 0;
  }

#big-button a {
  background:url(images/get-your-site-button.png) no-repeat;
  text-align: center;
  line-height: 32px;
  display: block;
  width: 177px;
  height: 42px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  text-shadow: #666 0px 1px 1px;
  text-shadow: rgba(51,51,51, .2) 0px 1px 1px;
  margin-top:26px;
  }

ul#top-front li#get-form a:hover {
  color: #f0ff00;
  }


/*HEADER */


body.front h2.title {
  float:right;
  color:#9f9e9e;
  font-weight: normal;
  font-size: 30px;
  margin-top: 8px;
  margin-right: 27px;
  }


/* FRONT PAGE */

ul#top-front {
  float:right;
  }

ul#top-front li {
  float: left;
  font-weight: normal;
  margin-left: 20px;
  line-height:42px;
  margin-top: 21px;
  }

ul#top-front li a, ul#top-front li a:visited {
  color: #FFF;
  }

ul#top-front li a:hover {
  text-decoration: underline;
  }


.front #content-top .content {
  height: 321px;
  margin: 0 auto;
  padding-top: 25px;
  }

#block-openscholar_front-video_info {
  margin-left:30px;
  }

#content .featureblock h3, #content .featureblock p {
  font-size: 14px;
  line-height: 1.3em;
  margin-bottom: 1em;
  }


#panel-wrapper {
  width: 2000px;
  position: relative;
  }

.panel {
  float: left;
  width: 1000px;
  }

.row {
  background: #fff;
  }

.row:after, #block-views-openscholar_sites-block_2:after {
  content: '.';
  height: .1px;
  display:block;
  clear: both;
  visibility:hidden;
  }

#publications,
#activity,
#about-abstract {
  width: 235px;
  padding:30px;
  float: left;
  }

#publications {
  width: 382px;
  }

#publications h2, #activity h2 {
  color: #959595;
  font-size: 28px;
  }

#activity {
  padding-left: 0;
  }

#activity h2 {
  font-size: 19px;
  }

#activity h2,
.view-vsite-activity {
  padding-left: 30px;
  }

.view-vsite-activity  {
  border-left: 1px solid #dbdbdb;
  }

#about-abstract {
  width:257px;
  padding: 8px 18px 0 18px;
  background: #e2e7eb;
  }

#about-abstract h2 {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.2em;
  color:#a35353;
  }

#about-abstract p {
  font-size: 14px;
  line-height: 23px;
  }

#about-abstract .illustration {
  float: right;
  margin: .5em 0 1em 1em;
  width:67px;
  height:67px;
  background: url(images/widget.png) no-repeat 0 0 transparent;
  }

#about-abstract .illust-widget {
  margin-right: 1em;
  }

#about-abstract .illust-wrench {
  width:70px;
  height: 79px;
  background-image: url(images/wrench.png);
  }

#about-abstract .illust-theme {
  width:105px;
  height: 96px;
  background-image: url(images/theme.png);
  }

p#learn-more-toggle {
  margin:1em 0 0 0;
  }

p#learn-more-toggle a {
  background: #132632;
  margin: 0 -18px;
  display:block;
  padding: 18px;
  color: #fff;
  font-weight: bold;
  }

#activity-toggle {
  margin: 0 0 .5em 49px;
  }

#activity-toggle a, #activity-toggle a:visited {
  background: url(images/black-arrow-left.png) no-repeat 0 50%;
  padding-left: 13px;
  color: #000;
  }

#activity-toggle a:hover {
  text-decoration:underline;
  }

#video-link {
  float:left;
  width: 638px;
  margin-right: 15px;
  margin-left: 44px;
  }

#more-info {
  float:left;
  width:268px;
  font-size:18px;
  line-height: 1.2em;
  margin-top: .6em;
  }

.row-video {
  padding-bottom: 1.5em;
  }

.row-features {
  padding: 15px 0 30px 0;
  background:#4c4d4e;
  }

.row-features h2 {
  margin-left: 30px;
  color: #fff;
  text-shadow: #666 0px 1px 1px;
  text-shadow: rgba(51,51,51, .2) 0px 1px 1px;
  }

.featureblock {
  float: left;
  width:196px;
  height: 295px;
  margin: 0 2px;
  background-color: #fff;
  padding: 26px 24px;
  border: 1px solid #BCBCBC;
  }

#feature-academic-content {
  background:url(images/front-row2-create-anything.jpg);
  }

#content #feature-biblio {
  background:url(images/front-row2-biblio.jpg);
  border-left: none;
  }

#content #feature-look-feel {
  background:url(images/front-row2-lookfeel.jpg);
  border-left: none;
  }

#content #feature-collaborate {
  background:url(images/front-row2-collaborate.jpg);
  border-left: none;
  }

.row-openscholar {
  padding: 23px 40px;
  }

.row-openscholar p {
  float:left;
  width: 286px;
  font-size: 15px;
  line-height: 23px;
  background: url(images/help-button.jpg) no-repeat 307px 50%;
  padding-right: 169px;
  min-height: 76px;
  padding-top: 15px;
  }

.row-openscholar p.os-link {
  width:216px;
  background: url(images/floating-glasses.png) no-repeat 336px 50%;
  border-left: 2px solid #4c4d4e;
  padding-left: 69px;
  padding-right: 169px;
  padding-top: 0;
  }

.front #footer {
  padding-top: 20px;
  }

p.copy a.poweredby {
  background-position: 0 -29px;
  }

/* Tables */


.view-iqss-project-sites td {
  width: 20%;
  padding: 17px;
  font-size: 1.1em;
  }

/* FRONT PAGE vSITE PROFILES */


#block-views-openscholar_sites-block_2 ul {
  width: 100%;
  height:200px
  }


#block-views-openscholar_sites-block_2, #footer {
  position:relative;
  }


#block-views-openscholar_sites-block_2 h3 {
  background: url(images/featured.png) 0 0 no-repeat transparent;
  text-indent: -999em;
  width:70px;
  height: 64px;
  margin: 0;
  margin-top: -1px;
  float:left;
  }

#block-views-openscholar_sites-block_2 .views-exposed-form {
  width: 287px;
  height: 32px;
  background: url(images/search.png) no-repeat 100% 0 transparent;
  float:right;
  margin: 13px 33px 22px 0;
  }

#block-views-openscholar_sites-block_2 .views-exposed-widget {
  width: auto;
  }

#block-views-openscholar_sites-block_2 .views-exposed-form .views-exposed-widget {
  float:none;
  }

#block-views-openscholar_sites-block_2 .views-exposed-form .views-exposed-widget, #block-views-openscholar_sites-block_2 .views-exposed-form .views-exposed-widget .edit-title-wrapper,#block-views-openscholar_sites-block_2 .views-exposed-form .form-item, #block-views-openscholar_sites-block_2 .views-exposed-form .form-submit, #block-views-openscholar_sites-block_2 .views-exposed-form .clear-block {
  margin: 0;
  padding: 0;
  border: none;
  }


#block-views-openscholar_sites-block_2 .views-exposed-form .form-text {
  float:right;
  width:242px;
  height: 22px;
  margin:3px 9px 0 0;
  border: none;
  }

#block-views-openscholar_sites-block_2 .views-exposed-form input.form-submit {
  float:left;
  background: transparent;
  border: none;
  width: 20px;
  margin-top: 2px;
  margin-right: 0;
  margin-left:10px;
  height: 23px;
  text-indent: -9999em;
  padding: 0 !important;
  -moz-border-radius:0;
  -webkit-border-radius:0;
  border-radius:0;
  }

#views-exposed-form-iqss-project-sites-block-1 .form-actions {
  margin: 0;
  }

#views-exposed-form-iqss-project-sites-block-1 span.views-throbbing {
  position:absolute;
  left: -45px;
  top: 17px;
  width: 21px;
  height: 5px;
  }


#views-exposed-form-iqss-project-sites-block-1 span.form-button-wrapper {
  background: transparent;
  position: static;
  display: inline;
  padding: 0;
  margin: 0;
  }

#search-person, #block-views-openscholar_sites-block_2 .views-exposed-form label {
  display:none;
  }

#block-views-openscholar_sites-block_2 {
  clear: both;
  background:#fff;
  }

#block-views-openscholar_sites-block_2 .views-row {
  float: left;
  width: 134px;
  margin-left: 30px;
  clear: none;
  font-size: 13px;
  }

#block-views-openscholar_sites-block_2 img, .view-iqss-project-sites img {
  border: 1px solid #535252;
  width: 100px;
  height: 100px;
  }

.views-field-description p {
  font-weight: normal;
  line-height: 1.1em;
  margin-bottom: 0;
  font-size: 11px;
  }

.views-field-title a {
  color: #313030;
  font-weight: bold;
  }

#block-views-openscholar_sites-block_2 ul, #block-views-openscholar_sites-block_2 .more-link {
  clear: both;
  }

#block-views-openscholar_sites-block_2 .views-admin-links {
  position: absolute;
  top: -30px;
  right: 0;
  }


#block-views-openscholar_sites-block_2 .views-admin-links ul{
  background: transparent;
  height: auto;
  }

#block-views-openscholar_sites-block_2 .more-link a {
  background: url(images/black-arrow-right.png) no-repeat 100% 50% #fff;
  padding-right: 11px;
  color: #000;
  text-transform: capitalize;
  font-weight: bold;
  margin-right: 30px;
  }
