body {
  background: url(images/background03.jpg);
  font:14px/17px arial, helvetica, sans-serif;
  color: #050505;
  }

/*TYPOGRAPHY*/

a, a:visited {
  color: #006e97;
  }

a:hover {
  color: #000;
  }

#header h1 a, #header h1 a:visited, #header h2, #header p, #header p a, #header p a:visited {
  color: #fff;
  font-weight: normal;
  letter-spacing: -1px;
  }


#header h1 {
  font-size: 23px;
  margin: 0 0 5px 0;
  }

#header h2 {
  font-size: 19px;
  margin: 0 0 2px 0;
  }

#header p {
  font-size: 15px;
  margin:0;
  }

#header #block-vsite_menus-0 {
  margin-top: 10px;
  }

#sidebar-left h3, #sidebar-right h3, #sidebar-right div.litecal .litecal-title h3.litecal-title, #sidebar-left div.litecal .litecal-title h3.litecal-title {
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  }

.block-vsite_menus li a, .block-vsite_menus li a:visited {
  color: #ec8501;
  font-weight: bold;
  }

#header-main .block-vsite_menus li a:hover {
  color: #fff;
  }

/* LAYOUT */

#wrapper {
  margin-top: 7px;
  }

#container {
  width: 954px;
  background: rgba(0,0,0,.40);
  margin: 0 auto;
  padding: 21px 23px;
  }

#header, #footer {
  padding-bottom:90px;
  background: url(images/header-footer.png) no-repeat 540px 100% transparent;
  }

#footer {
  background-position: 100% 0;
  }

.one-sidebar #header, .one-sidebar #footer {
  background-position: 748px 100%;
  }

.no-sidebars #header, .no-sidebars #footer {
  background: transparent;
  }

#content-wrapper {
  background: url(images/main-wrapper.png) 0 0 repeat-y #fff;
  overflow:auto;
  padding: 30px 0;
  }

#content-wrapper .column {
  position: static;
  }

.one-sidebar #content-wrapper {
  background-position: -953px 0;
  }

.no-sidebars #content-wrapper {
  background: #fff;
  }

#content-main, .one-sidebar #content-main, .no-sidebars #content-main{
  padding: 0 33px;
  }

.one-sidebar #content-main {
  width:681px;
  }

.two-sidebars #content-main {
  width: 473px;
  background:
  }

#logo img {
  height: 55px;
  border: 1px solid #5e5c58;
  }

#sidebar-left, #sidebar-right {
  right: auto;
  margin-left: 0;
  margin-right: 0;
  width: 167px;
  padding: 0 20px;
  }

#header-left, #header-right {
  width:68px;
  padding-left: 0;
  padding-right: 0;
  }

#header-left {
  right: 88px;
  padding:0;
  }

#header-right {
  margin-right: -88px;
  }

#header-wrapper {
  padding-left: 68px;
  padding-right: 88px;
  }

.navbar-on #header-wrapper {
  float: left;
  width: 376px;
  }

#navbar {
  width: 413px;
  float: right;
  clear: none;
  }

#navbar ul {
  text-align: right;
  }

#navbar li {
  display: inline;
  margin-right: 16px;
  display:inline;
  font-size: .9em;
  line-height: 1.5em;
  }

#navbar li.last {
  margin-right: 0;
  }

#navbar li a, #navbar li a:visited {
  color: #fff;
  text-transform:uppercase;
  }

#navbar li a.active, #navbar li.active-trail a {
  color: #EDEF1D;
  }



/* HTML ITEMS */



#footer {
  padding-top: 30px;
  height: auto;
  }

p.copy, p.copy a, p.copy a:visited {
    color:#f8f8f8;
    }

p.copy a {
  text-decoration: underline;
  }

p.copy a.poweredby {
  background-position: 0 -24px;
  }
