#footer, #extradiv {
  background:#03263f;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=76)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=76);
  zoom: 1;
  }

#sidebar-first {
  background: #d2dab8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=76)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=76);
  zoom: 1;
  }

.node-teaser {
  background-color: #d2dab8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  zoom: 1;
  }