#header,
#sidebar-first,
#sidebar-second {
  display:inline;
  }

#sidebar-first {
  left: 372px !important;
  }

#sidebar-first li,
#sidebar-first li a {
  width: 164px;
  }

#footer {
  _position: absolute;
  display:block;
  }

#footer {
   _width:expression(document.body.clientWidth-0); »
  }