#header, #sidebar-left, #sidebar-right {
  display:inline;
  }

#sidebar-left {
  left: 372px !important;
  }

#sidebar-left li, #sidebar-left li a {
  width: 164px;
  }

#footer {
  _position: absolute;
  display:block;
  }

#footer {
   _width:expression(document.body.clientWidth-0); »
  }