#header,
#sidebar-second,
#footer {
  background:#03263f;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=76)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=76);
  zoom: 1;
  }

#sidebar-first {
  background: #d2dab8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=76)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=76);
  zoom: 1;
  }

#block-vsite_menus-0 ul.menu li a:hover {
  background: #dde5c1;
  }

#block-vsite_menus-0 ul.menu li.active-trail {
  background-color: #03263f;
  }

#extradiv {
  background-color: #03263f;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  zoom: 1;
    }

.node-teaser {
  background-color: #d2dab8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  zoom: 1;
  }