.scholar-scholar-admin-inline .panel, .scholar-scholar-admin-inline .toggle h4 {
  background:#eef3fb;
  border: 1px solid #dde2eb;
  font: 12px/120% arial, sans-serif;
  color: #444;
  padding: 10px;
  }

.scholar-scholar-admin-inline .toggle h4 {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  margin: 0;
  font-weight: bold;
  }

.scholar-scholar-admin-inline .slider {
  padding: 2px;
  text-align: right;
  position:relative;
  margin: 0;
  padding: 0;
  }

.scholar-scholar-admin-inline .opened h4 {
  border-bottom: none;
  -moz-border-radius-bottom-left: 0 !important;
  -moz-border-radius-bottom-right: 0 !important;
  -webkit-border-bottom-left-radius: 0 !important;
  -webkit-border-bottom-right-radius: 0 !important;
  }

.scholar-scholar-admin-inline .scholar-admin-links a, .scholar-scholar-admin-inline .scholar-admin-links a:visited {
  color: #005C9C;
  background: transparent;
  padding: 2px 4px;
  }

.scholar-scholar-admin-inline .scholar-admin-links a:hover {
  background: transparent;
  text-decoration: underline;
  }

.panel {
  display:none;
  }