.scholar-admin .slider {
  display:none;
  }

.scholar-admin .slider, .scholar-admin .toggle span {
  background:#eef3fb;
  border: 1px solid #dde2eb;
  font: 12px/120% arial, sans-serif;
  color: #444;
  padding: 10px;
  }

.scholar-admin .toggle span {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  margin: 0;
  font-weight: bold;
  }

.scholar-admin .slider {
  padding: 2px;
  text-align: right;
  position:relative;
  margin: 0;
  padding: 0;
  }

.scholar-admin .opened span {
  border-bottom: none;
  -moz-border-radius-bottom-left: 0 !important;
  -moz-border-radius-bottom-right: 0 !important;
  -webkit-border-bottom-left-radius: 0 !important;
  -webkit-border-bottom-right-radius: 0 !important;
  }

.scholar-admin ul.links li a, .scholar-admin .scholar-admin ul.links li a:visited {
  color: #005C9C;
  background: transparent;
  padding: 2px 4px;
  }

.scholar-admin ul.links li a:hover {
  background: transparent;
  text-decoration: underline;
  }

