/* Brown*/

body {
  background:#705d25;
  }

#wrapper {
  background-image: url(images/body-bg-brown.png);
  }

body.navbar-off #wrapper {
  background-image: url(images/body-bg-alt-brown.png);
  }

a, a:visited {
  color: #705d25;
  }