@font-face {
	font-family: 'ArmWrestlerBold';
	src: url('fonts/ArmWrestler.eot');
	src: local('fonts/ArmWrestler'), local('fonts/ArmWrestler-Bold'), url('fonts/ArmWrestler.woff') format('woff'), url('fonts/ArmWrestler.ttf') format('truetype'), url('fonts/ArmWrestler.svg#ArmWrestler-Bold') format('svg');
}

body {
    background: url(images/fabric-strip.jpg) repeat-y 50% 0 #39240c;
    color:#282828;
    font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
    }


/* Safari begins background image at an odd place */
@media screen and (-webkit-min-device-pixel-ratio:0){
  body {background-position: 50% 20px }
  }

body.cp-toolbar-full {
  background-position: 50% 42px;
  }

#wrapper {
    width: 100%;
    background: url(images/menu-strip.png) repeat-x 0 100px transparent;
    }

body.front #wrapper {
    background: transparent;
    }

#container {
    width: 676px;
    background: url(images/header.jpg) no-repeat 50% 0 transparent;
    margin: 0 auto;
    padding-left: 193px;
    padding-right: 54px;
    }



body.front #container {
    width: 100%;
    margin-left: 0;
    }

a, a:visited {
    color:#B8690B;
    text-decoration: none;
    }

a:hover {
    color:#000;
    }


h1, .title {
  font: 25px/1em 'ArmWrestlerBold', sans-serif;
  text-transform:uppercase;
  letter-spacing: -1px;
  font-weight:normal;
  }

h1 a, h1 a:visited {
  color: #FBF3E6;
  }

h2, h3, #sidebar-second a, #navbar, #header {
    font-weight: normal;
    }

h3 a, #sidebar-second a {
    font-style: bold;
    }

h2, h3, h4 {
  margin-bottom: 0;
  margin-top: 1em;
  }

h2.title, h3.title {
  margin-bottom: 1em;
  color: #444;
  font-size: 1.2em;
  letter-spacing:0;
  }

h3.title {
  font-size: 1em;

  }

/* LAYOUT ELEMENTS */

#sidebar-first {
   width: 168px;
   right: 208px;
    }

#header-left, #header-right {
  width: 100px;
  right: 120px;
  padding: 0;
  }

#header-right {
  right: auto;
  width:70px;
  margin-right: -90px;
  }

#content-wrapper {
  padding-left: 188px;
  padding-right: 241px;
  padding-top: 30px;
  }

#header-wrapper {
  padding-right: 90px;
  padding-left: 100px;
  }

#sidebar-second {
    border-left: 1px solid #ccc;
    margin-right: -241px;
    }

#footer {
    text-align: center;
    width: auto;
    }


/* HEADER ELEMENTS */


#header {
    height: 141px;
    }

#header .column {
  padding-top: 10px;
  }

#header-wrapper, #content-wrapper, #navbar, #footer {
 }

#header-wrapper {
  height: 114px;
  }

#header, #header h1, #header h2, #header h3, #header a, #header a:visited {
    color:#fff;
    }

#header a, #header a:visited {
    text-decoration: none;
    border-bottom: 1px solid #c16e04;
    }

#header h1 a, #header h1 a:visited, #header #logo a, #header #logo a:visited {
    text-decoration: none;
    border: none;
    }

#header h2 {
    font-size: 1.1em;
    line-height: 1em;
    }

#header p {
    margin-bottom: 0;
    }

#logo img {
  width: 80px;
  }

#navbar {
    height: 32px;
    }


#navbar li {
    font-size: 1.1em;
    line-height: normal;
    float:left;
    }

#navbar li a, #navbar li a:visited {
    color: #523507;
    border: none;
    display: block;
    padding: 3px 7px 7px 7px;
    font-weight: bold;
    }

#navbar li a:hover, #navbar li a.active, #navbar .active-trail a {
    color:#fff;
    background: #b8690c;
    }