@import url('http://fonts.googleapis.com/css?family=Arvo:regular,bold');

body {
    background: url('images/fabric-strip.jpg') repeat-y 0 0 #fcf5e5;
    color:#282828;
    min-width: 960px;
    }

/* Safari begins background image at an odd place */
@media screen and (-webkit-min-device-pixel-ratio:0){
  body {background-position: 50% 20px }
  }

body.cp-toolbar-full {
  background-position: 50% 42px;
  }

.wrap {
    padding: 0 10px 0 0;
    min-width: 943px;
    margin-left: 193px;
    }

a, a:visited {
    color:#B8690B;
    text-decoration: none;
    }

a:hover {
    color:#000;
    }

h1,
.title,
#navbar li {
  font: 25px/normal 'Arvo', sans-serif;
  text-transform:uppercase;
  font-weight:normal;
  }

h1 a,
h1 a:visited {
  color: #FBF3E6;
  }

h2,
h3,
#sidebar-second a,
#navbar,
#header {
    font-weight: normal;
    }

h3 a,
#sidebar-second a {
    font-style: bold;
    }

h2,
h3,
h4 {
  margin-bottom: 0;
  margin-top: 1em;
  }

h2.title,
h3.title {
  margin-bottom: 1em;
  color: #444;
  font-size: 1.2em;
  letter-spacing:0;
  }

h3.title {
  font-size: 1em;
  }

/* LAYOUT ELEMENTS */

#sidebar-first {
   width: 168px;
   right: 208px;
    }

#header-left,
#header-right {
  width: 100px;
  right: 120px;
  padding: 0;
  }

#header-right {
  right: auto;
  width:70px;
  margin-right: -90px;
  }

#content-area .hg-container {
  padding-left: 188px;
  padding-right: 241px;
  padding-top: 15px;
  }

#header .hg-container {
  padding-right: 90px;
  padding-left: 100px;
  }

#sidebar-second {
    border-left: 1px solid #ccc;
    margin-right: -241px;
    }

#footer {
    text-align: center;
    width: auto;
    }

/* HEADER ELEMENTS */

#header .wrap {
  background: #3C240C;
  margin-left:181px;
  padding-left: 12px;
  }

#header .column {
  padding-top: 10px;
  }

#header,
#header h1,
#header h2,
#header h3,
#header a,
#header a:visited {
  color:#fff;
  text-transform: uppercase;
  line-height: normal;
  }

#header p a,
#header p a:visited {
  text-decoration: none;
  font-size: 12px;
  }

#header h2 {
  font-size: 14px;
  }

#navbar {
  height: 41px;
  background: url(images/navbar-cutout.png) no-repeat 0 0 transparent;
  padding:0;
  }

#navbar .wrap {
  background: url(images/menu-strip.png) repeat-x 0 0 transparent;
  padding:0;
  margin-left: 193px;
  height:41px;
  }

#navbar li {
    font-size: 1.1em;
    line-height: normal;
    float:left;
    margin-top:13px;
    }

#navbar li a,
#navbar li a:visited {
    color: #523507;
    border: none;
    display: block;
    padding: 3px 7px 7px 7px;
    font-weight: bold;
    }

#navbar li a:hover,
#navbar li a.active,
#navbar .active-trail a {
    color:#fff;
    background: #b8690c;
    text-decoration: none;
    }
