body {
  background:url(images/projects-bg.png) fixed repeat-x 0 100% #a13804;
  }

#header h1 {
  width: 233px;
  height: 76px;
  margin-left: 0px;
  background: url(images/projects-at-harvard-logo.png) 0 0 no-repeat;
  }

.row-video {
  padding-top:2em;
  padding-bottom: 0;
  }

#word-out {
  background:url(images/front-row2-wordout.jpg);
  }

#feature-events {
  background:url(images/front-row2-events.png);
  }

#block-views-iqss_project_sites-block_1 h3 {
  background: url(images/triangle-new-left.png) no-repeat transparent;
  width: 51px;
  height: 46px;
  text-indent: -999em;
  float:left;
  margin: 0 0 0 -1px;
  }

#more-info p {
  margin-bottom: 1em;
  font-size: 16px;
  }

p.copy {
  color: #fff;
  }

.panel {
  width: 980px;
  margin-top: 0;
  }

#block-views-openscholar_sites-block_2 ul {
  padding-top: 30px;
  }

#block-views-openscholar_sites-block_2 .views-row { {
  width: 250px;
  height: 40px;
  margin-bottom: .5em;
  }

#block-views-openscholar_sites-block_2 .views-row .views-field-field-vsite-logo-fid {
  display:none;
  }
