#content-row-1 {
  padding-top: 20px;
  height: 399px;
  }

body.page-site-register h2.title {
  margin-top:-55px;
  }


ul#top-front li,
#content-row-2 .featureblock,
#block-views-iqss_project_sites-block_1 h3,
#block-views-iqss_project_sites-block_1 .views-exposed-form,
#block-views-iqss_project_sites-block_1 .views-exposed-form .form-text,
#block-views-iqss_project_sites-block_1 .views-row,
#block-views-iqss_project_sites-block_1 .more-link {
  display:inline;
  }