#header h1 {
  width: 233px;
  height: 76px;
  margin-left: 0px;
  background: url(images/projects-at-harvard-logo.png) 0 0 no-repeat;
  }

.row-video {
  padding-top:2em;
  padding-bottom: 0;
  }

#word-out {
  background:url(images/front-row2-wordout.jpg);
  }

#feature-events {
  background:url(images/front-row2-events.png);
  }

#block-views-iqss_project_sites-block_1 {
  background: url(images/front-row3-bg.png) repeat-x #fefefe;
  min-height: 500px;
  position:relative;
  border: 1px solid #e1e1e1;
  border-top: none;
  border-bottom: none;
  line-height: 110%;
  }


#block-views-iqss_project_sites-block_1 h3 {
  background: url(images/triangle-new-left.png) no-repeat transparent;
  width: 51px;
  height: 46px;
  text-indent: -999em;
  float:left;
  margin: 0 0 0 -1px;
  }

