#header-wrapper {
  background: #f0c78c;
  }

#navbar {
  background: #dab03f;
  }

#sidebar-left {
  background:#f0dc8e;
  }

#sidebar-right {
  background:#f0c78c;
  }

#sidebar-left h3 {
  background: #f0ec81;
  }

#sidebar-right h3 {
  background: #ffd495;
  }

#footer-inner {
  background: #d8b37e;
  }