/* $Id: views_gallery.css,v 1.5 2009/08/18 14:45:17 karens Exp $ */


.view-scholar-image-gallery p {
  margin-bottom: 0;
  }

ul.links li.image_field_gallery  {
  float: right;
  }

ul.links li.image_field_gallery a, ul.links li.image_field_gallery a:visited {
  padding: 2px 5px 2px 28px;
  font-weight: bold;
  background: url(images/camera.png) no-repeat 2px 50% transparent;
  }


div.views-field-field-gallery-image-fid img {
  border: 1px solid #ccc;
  padding: 2px;
  background: #fff;
  }

div.views-field-field-gallery-image-fid img:hover {
 background: #ffff66;
  }


/* Force the table grid to equal column
  widths no matter what is in them.*/
div.view-gallery table.views-view-grid {
  table-layout:fixed;
}

.inline-first {
  display:inline;
  }

.view-scholar-image-gallery {
  font-size: .8em;
  line-height: 1.3em;
  overflow: auto;
  }
