body {
  background: #565152;
  color: #ccc;
  font: .625em/normal Verdana,Arial,Helvetica,sans-serif;
  }

.wrap {
  background:#333;
  width:980px;
  margin: 0 auto;
  }

#header .wrap,
#footer .wrap {
  padding: 20px 30px;
  width: 920px;
  }

#header .wrap {
  padding-bottom: 0;
  }

#header h1 {
  width: 146px;
  height: 65px;
  text-indent: -999em;
  background: url('../images/logo.png') no-repeat transparent;
  }

#header h1 a,
#header h1 a:visited {
  width: 146px;
  height: 65px;
  display:block;
  }

#page {
  margin-top: 30px;
  }


#block-openscholar_front-top_links .content {
  float:right;
  }

#block-openscholar_front-top_links a {
  background:url('../images/get-your-site-button.png') no-repeat;
  text-align: center;
  line-height: 38px;
  display: block;
  width: 169px;
  height: 42px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  text-shadow: #333 0px 1px 1px;
  text-shadow: rgba(51,51,51, .4) 0px 1px 1px;
  }





/* FRONT PAGE LAYOUT */

.front #content-top {
  min-height: 359px;
  position: relative;
  margin-bottom: 10px;
  }

.front #content-top #block-openscholar_front-video_info {
  float:left;
  width: 638px;
  }

.front #content-top #block-openscholar_front-site_mission {
  float:right;
  font-size: 23px;
  margin-bottom: 0;
  color: #fff;
  line-height: 1.4em;
  width: 255px;
  margin-top:59px;
  margin-right: 3px;
  }

.front #content-main {
  padding-left:30px;
  padding-right: 30px;
  padding-bottom: 20px;
  }

.front #content-bottom {
  background:#67999A;
  margin-top: 20px;
  }



/* FRONT PAGE vSITE PROFILES */



.front #content-bottom:after {
  content: ',';
  font-size: .1em;
  visibility: hidden;
  clear: both;
  display: inline-block;
  }

html[xmlns] #content-bottom:after {
  display:block;
  }

#block-views-openscholar_sites-block_2 ul {
  padding-top: 12px;
  margin: 0 0 0 85px;
  }

#block-views-openscholar_sites-block_2, #footer {
  position:relative;
  }

#block-views-openscholar_sites-block_2 h3 {
  background: url('../images/featured.png') 0 0 no-repeat transparent;
  text-indent: -999em;
  width:70px;
  height: 64px;
  margin: 0;
  margin: 0;
  float:left;
  }

#block-views-openscholar_sites-block_2 {
  clear: both;
  position:relative;
  }

#block-views-openscholar_sites-block_2 .views-row {
  float: left;
  clear: none;
  width: 270px;
  margin: 2px 8px;
  overflow: hidden;
  }

#block-views-openscholar_sites-block_2 .views-row,
.view-openscholar-sites td {
  height: 100px;
  font-size: 12px;
  }

#block-views-openscholar_sites-block_2 img,
.view-openscholar-sites img,
.view-openscholar-sites img {
  border: 1px solid #8b8b8b;
  float: left;
  margin:0 10px 5px 0;
  }

.views-field-description p {
  font-weight: normal;
  line-height: 1.1em;
  margin: 0 auto;
  font-size: 11px;
  }

.view-openscholar-sites .views-field-title a {
  font-weight: normal;
  color: #fff;
  }

#block-views-openscholar_sites-block_2 .more-link {
  clear: both;
  }

#block-views-openscholar_sites-block_2 .views-admin-links {
  position:absolute;
  right:0;
  top: 0;
  width: 103px;
  }

#block-views-openscholar_sites-block_2 .views-admin-links ul {
  background: transparent;
  height: auto;
  padding: 0;
  margin:0;
  }

#block-views-openscholar_sites-block_2 .more-link a {
  background: url('../images/arrow-black.png') no-repeat 100% 50% #fff;
  padding-right: 11px;
  color: #000;
  text-transform: capitalize;
  font-weight: bold;
  margin-right: 30px;
  }

#block-views-openscholar_sites-block_2 .more-link a:after {
  content: none;
  }

a.imagecache-openscholar_front_logo {
  width: 80px;
  height: 80px;
  border: 1px solid #535252;
  display:block;
  }

#block-views-openscholar_sites-block_2 img,
.view-iqss-project-sites img {
  border: 1px solid #535252;
  }

/* Different Tables for admin use */

table {
  font-size: .8em;
  }

table th {
  font-size: .8em;
  text-transform: uppercase;
  background-color: #eee;
  border: 1px solid #ddd;
  padding: 5px;
  }

tr.even, tr.odd {
  border-bottom: 1px solid #ccc;
  padding: .1em .6em;
  }

tr.even {
  background-color: #eee;
  }

td, td.description {
  border: 1px solid #ddd;
  padding: 5px;
  color: #222;
  font-size: .9em;
  }

.section-websites .view-openscholar-sites td {
  width: 25%;
  }