a.submit-link {
  height: 26px;
  background: url(images/buttons-sprite.png) no-repeat 100% -112px;
  padding-right: 16px;
  display:inline-block;
  font-size: 13px !important;
  line-height: normal !important;
  font-weight: normal !important;
  margin-left: 2px;
  }

a.submit-link span.button-inner {
  background: url(images/buttons-sprite.png) no-repeat 0 0;
  display: block;
  height: 26px;
  }

a.submit-link span.label {
  background: url(images/buttons-sprite.png) repeat-x 0 -56px;
  color: #000;
  text-decoration: none;
  text-shadow:0 1px 0 rgba(206, 214, 221, 0.75);
  display:block;
  margin-left: 16px;
  padding: 5px 0 7px;
  text-align: center;
  height: 14px;
  }


a.edit-reset {
  background-position: 100% -140px;
  }

a.edit-reset span.button-inner {
  background-position: 0 -28px;
  }

a.edit-reset span.label {
  background-position: 0 -84px;
  }
