body {
  margin:0;
  background: #fff;
  }

/* TYPOGRAPHY */

h2 {
  font-weight: normal;
  letter-spacing: 0;
  }

h4 {
  margin-bottom: 0;
  }

/*LAYOUT ITEMS */


.wrap {
  width: 1006px;
  margin: 0 auto;
  }

#header .wrap {
  margin-top: 16px;
  height: 88px;
  }

body.no-sidebars #center {
  background: transparent;
  min-height: 0;
  padding: 0;
  }

div.ui-tabs-panel {
  width: 100%;
  }

div.links {
  display:none;
  }

#footer {
  background: #fff;
  line-height: 30px;
  text-align: left;
  }

.colL, .colR {
  width: 50%;
  float:left;
  }

.colR {
  float:right;
  }

 #main_top #title_tabs {
  margin-top: 2px !important;
  width: auto;
  }


/* HEADER ITEMS */

#header .column {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  }

 #header h1 {
  width: 272px;
  height: 66px;
  text-indent: -999em;
  background: url('images/logo.png') no-repeat transparent;
  }

#header h1 a,
#header h1 a:visited {
  width: 272px;
  height: 66px;
  display:block;
  }

#navbar {
  background: #C2D45B;
  height: 56px;
  padding: 0;
  }

#navbar ul {
  height: 56px;
  }

#navbar li {
 margin: 0;
 padding: 0;
 float:left;
 line-height: 55px;
 }

#navbar li a {
  display:block;
  padding: 0 1em;
  border-right: 1px solid #8e9a47;
  color: #0A0A0A;
  background-color:#C2D45B;
  }

#navbar li.last a {
  border: none;
  }

#navbar li a:hover {
  background-color: #e3f386;
  color:#0A0A0A !important;
  text-decoration: none;
  }

#navbar li a.active {
  background-color:#B7C857;
  }

/* REMOVE ONCE RICHARD FIXES STUFF */

#block-scholar-1 h2, #block-scholar-1 p {
  display:none;
  }
