#vsite-taxonomy-wrapper {
  clear: both;
  padding-bottom: 1em;
  margin-top: 2em;
  }

#vsite-taxonomy-wrapper .row {
  clear: both;
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
  border-bottom: 1px solid #ccc;
  width: 400px;
  }


#vsite-taxonomy-wrapper h3 {
  font-size: 1.2em;
  margin-bottom: .5em;
  }

.vsite-taxonomy-terms {
  padding-bottom: 2em;
  }

.item-list .vsite-taxonomy-terms li,
.block-vsite_taxonomy ul li {
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: .3em;
  }

.block-vsite_taxonomy ul li {
  padding-left: 0;
  }

.term-head {
  padding: .2em;
  }

.item-list .vsite-taxonomy-terms ul .term-head,
.block-vsite_taxonomy li ul .term-head {
  padding-left: 1em;
  }

.item-list .vsite-taxonomy-terms li ul ul .term-head,
.block-vsite_taxonomy li ul ul .term-head {
  padding-left: 2em;
  }

.vsite-taxonomy-terms li a {
  color: #000;
  }

#vsite-taxonomy-wrapper ul.admin, .term-head ul.admin {
  float: right;
  padding-right: 40px;
  padding: 0;
  margin: 0;
  background: transparent;
  }

#vsite-taxonomy-wrapper ul.admin li, .term-head ul.admin li {
  float:left;
  margin-bottom: 0;
  padding-left: 3px;
  padding-right: 0;
  }

.add {
  clear:both;
 }

.term-head:hover {
  background-color: #fff3b2;
  }

#vsite-taxonomy-wrapper .description {
  margin: 0;
  padding: 0;
  }

.addcategory {
  clear: both;
  text-align:right;
  }


#block-vsite_taxonomy-vsite_taxonomy0 {
  border: none;
  padding-top: 0;
  margin-top: 0;
  }