#vsite-taxonomy-wrapper fieldset {
  clear: both;
  padding-bottom: 1em;
  margin-top: 2em;
  width:550px;
  }

#block-vsite_taxonomy-vsite_taxonomy0 {
  border: none;
  padding-top: 0;
  margin-top: 0;
  }

#vsite-taxonomy-wrapper legend {
  font-size: 1.1em;
  float: left;
  width: 250px;
  text-align: right;
  }

#vsite-taxonomy-wrapper .item-list {
  float: right;
  width:280px;
  padding-bottom: 2em;
  margin-top: -1.7em;
  }

#vsite-taxonomy-wrapper .item-list ul li {
  list-style: none;
  position: relative;
  margin-bottom: 6px;
  margin-left: 0;
  padding-left: 1.5em;
  }

#vsite-taxonomy-wrapper .item-list ul li a {
  color: #5a5959;
  }

#vsite-taxonomy-wrapper ul.admin {
  position: relative;
  float: right;
  top: 0;
  }

#vsite-taxonomy-wrapper ul.admin li {
  float:left;
  margin-bottom: 0;
  padding-left: 3px;
  }

#vsite-taxonomy-wrapper .item-list ul li ul {
  left: -27px;
  }

.addcategory {
  clear: both;
  }