html {
    min-width: 910px;
    }

body {
  background: url(images/body-bg.png) repeat-y center top #fff;
  color:#282828;
  }

body.navbar-on {
  background: #fff;
  }

body.navbar-off {
  background: url(images/body-bg.png) repeat-y center top #fff;
  }

#container {
    width: 910px;
    margin: 38px auto 0 auto;
    }

body.navbar-on #container {
  margin-top: 24px;
  }

a, a:visited {
    color:#306696;
    font-style: italic;
    }

a:hover {
    color:#13a3eb;
    }


h1, h2, h3, #sidebar-left a, #header {
    font-family: georgia, serif;
    font-weight: normal;
    }

h1 a, h2 a, h3 a, #sidebar-left a {
    font-style: normal;
    }


h2, h3, h4 {
  margin-bottom: 0;
  margin-top: 1em;
  }

h2.title {
  margin-bottom: 1em;
  }

/* LAYOUT ELEMENTS */


body.navbar-on #wrapper {
  background: url(images/body-bg-horiz.png) repeat-x 0 160px #fff;
  }

#sidebar-left, #header-left {
    width: 180px;
    padding: 0;
    right: 200px;
    }


body.sidebar-left #content-wrapper, body.header-left-main #header-wrapper {
  padding-right: 20px;
  }

#content-wrapper, #header-wrapper {
    padding-left: 180px;
    }

#sidebar-right {
    border-left: 1px solid #D8D6D6;
    }

#footer {
    text-align: center;
    }

body.sidebar-left #footer, body.two-sidebars #footer {
  margin-left: 209px;
  text-align: left;
  }


/* HEADER ELEMENTS */

#navbar {
  padding-top: 14px;
  }

body.navbar-on #header {
  height: 210px;
  }

#header h1 {
    font-size: 2em;
    line-height:1em;
     font-style: normal;
    }

#header h2 {
    font-size: 1.5em;
    line-height:1.3em;
    }

#header h1 a, #header h1 a:visited {
    color:#282828;
    font-style: normal;
    }

#header p {
  border-top: 1px solid #D8D6D6;
  }

body.navbar #header p {
  border: none;
  }

#header-right {
  width: 70px
  }

#header-wrapper {
  padding-right: 130px;
  height: 140px;
  }


/*Navbar & sidebar shared */

#navbar a, #navbar a:visited, #sidebar-left a, #sidebar-left a:visited {
  font-style: normal;
  display:block;
  color: #5088BA;
  font-weight:bold;
  text-decoration:none;
  }


#navbar a:hover, #sidebar-left a:hover, #navbar a.active, #sidebar-left a.active, #navbar li.active-trail, #sidebar-left li.active-trail {
  background:#F9FAFA;
  }


/*Navbar Specific */

#navbar li {
  font-size: 1em;
  line-height: 34px;
  font-weight: bold;
  float:left;
  border-right: 1px solid #D8D6D6;
  }

#navbar li.first {
  border-left: 1px solid #D8D6D6;
  }

#navbar a, #navbar a:visited {
  padding: 0 9px;
  height: 34px;
  }

body.sidebar-left #content-wrapper, body.two-sidebars #content-wrapper {
  clear: none;
  }

body.navbar #sidebar-left {
  clear: right;
  }








/* side bar specific */

#sidebar-left li {
  list-style: none;
  margin: 0 1px;
  }

#sidebar-left a, #sidebar-left a:visited {
    line-height:17px;
    padding:14px 9px;
    }

#sidebar-left li a {
    border-bottom:1px solid #D8D6D6;
    }


#sidebar-left h2, #sidebar-left h3, #sidebar-left p {
    margin-left: 9px;
    margin-right: 9px;
    }


/* MAIN CONTENT AREA */

body.sidebar-left #content, body.header-left-main #header-main .content {
    margin-left: 20px;
    }

body.sidebar-right #content, body.header-main-right #header-main .content {
    margin-right: 20px;
    }

body.two-sidebars #content, body.header-left-main-right #header-main .content {
    margin-left: 20px;
    margin-right: 20px;
    }

/* Nodes */

.submitted {
  color: #444;
  border-bottom: 1px solid #D8D6D6;
  display:block;
  }