body {
    background: #ccc;
    color:#666;
    font:.9em/165% Helvetica, Arial,Verdana,sans-serif;
    }

#container {
    width: 980px;
    margin: 0 auto;
    }

a, a:visited {
    color:#adad84;
    text-decoration: none;
    padding: 2px;
    }

a:hover, a.active, .active-trail a {
    color:#fff;
    background:#adad84;
    }

#logo a:hover {
  background: transparent;
  }


h1, h2, h3, #sidebar-right a, #navbar, #header {
    font-weight: bold;
    }


h1 a, h2 a, h3 a, #sidebar-right a {
    font-style: normal;
    }

h2, h3, h4 {
  margin-bottom: 0;
  margin-top: 1em;
  }


h2, h2.title {
  color:#51787C;
  margin-bottom: 0;
  }

h2.title {
  margin-bottom: .4em;
  }

/* LAYOUT */

#sidebar-left, #header-left, #sidebar-right, #header-right {
  width: 180px;
  }

#sidebar-left {
  right: 190px;
  padding-left: 0;
  }

#header-left {
  right: 210px;
  padding-left: 0;
  }

#sidebar-right, #header-right {
  padding-right: 0;
  }

body.sidebar-left #content-wrapper, body.header-left-main #header-wrapper {
  padding-right: 0;
  }

#content-wrapper, #header-wrapper {
  padding-left: 190px;
  padding-right: 190px;
  }

#header-wrapper {
  padding-right: 210px;
  }

#content-wrapper {
  padding-top: 20px;
  }

/* HEADER ELEMENTS */


#header {
    padding-top: 16px;
    text-transform: lowercase;
    }

#header h1 {
    font-size: 3em;
    line-height: 1em;
    }

#header h1, #header h3, #header a, #header a:visited, #header h1 a, #header h1 a:visited, #header {
    color:#fff;
    }

#header h1 a, #header h1 a:visited {
    text-decoration: none;
    padding: 0;
    }

#header h2 {
    font-size: 1.3em;
    line-height: 1em;
    margin-top: .2em;
    }

#header a, #header a:visited {
    text-decoration: none;
    }

#navbar li {
    margin-right: 1.5em;
    text-transform: uppercase;
    font-size: 1.1em;
    }

#navbar li a, #navbar li a:visited {
    color: #fff;
    }

#navbar li a:hover {
    color: #F9E433;
    }

#navbar li a.active:hover {
  color: #fff;
  }


/* MAIN CONTENT AREA */

#content-main {
    padding: 0;
    padding-top: 1px;
    }

/* SIDEBARS */

#sidebar-left, #sidebar-right {
    font-size: 1.1em;
    }

#sidebar-left, #sidebar-left ul.menu {
    text-align: right;
    }

#sidebar-left a, #sidebar-left a:visited, #sidebar-right a, #sidebar-right a:visited {
    color: #fff;
    padding: 2px 4px;
    display:block;
    font-weight: bold;
    }

#sidebar-left a:hover, #sidebar-right a:hover, #sidebar-left a.active, #sidebar-right a.active {
    color: #fff;
    background:#adad84;
    }

#sidebar-left .views-admin-links ul li a, #sidebar-right .views-admin-links ul li a{
  display:inline;
  }

/* FOOTER */

body.sidebar-left #footer, body.two-sidebars #footer {
  margin-left: 200px;
  text-align: left;
  }


/* Nodes */

#content-main .node, body.section-node-edit #content, body.section-node-add #content, #comments {
    padding: 10px;
    background: #fff;
    margin-bottom: 10px;
    }

#comments {
  background: #EFEFEF;
  }

h2#comments-title, .comment {
  border: none;
  padding-bottom: 0;
  }

h2#comments-title {
  margin: 0;
  font-size: 1.2em;
  }

.submitted {
  color: #a1b1b1;
  display:block;
  }