ul.theme-picker {
  width: 11250px;
  }

li.item-theme-picker  {
  background: url(images/theme-picker-bg.png) no-repeat top center transparent;
  padding: 23px 0;
  float: left;
  width: 600px;
  text-align: center;
  }
  
ul.theme-picker li img {
  border: 1px solid #959191;
  margin-top: 2px;
  }
  
ul.theme-picker li.checked img {
  border: 3px solid red;
  margin-top: 0;
  }
  
#next, #prev {
  width: 3em;
  height: 5em;
  top: 0;
  right: 15em;
  position: absolute;
  background: transparent url(images/next.png);
  }
  
#prev {
  right: auto;
  left: 15em;
  background-image: url(images/prev.png);
  }
  
.theme-picker h3 {
  margin-top: 2px;
  font-size: .9em;
  }
  
ul.theme-picker li.checked h3 {
  margin-top: 0;
  }