#scholarcp-toolbar-toolbar li a {
  padding-left: 26px;
  background-repeat: no-repeat;
  background-color: transparent;
  }

a#admin-link-scholarcp-content {
  background-image: url(images/topmenu-content.png);
  }