body {
    background: url(images/body-bg.png) repeat-x #9ac0c9;
     }

/* LAYOUT ELEMENTS */

#header-wrapper, #header-left {
  padding: 0;
  margin:0;
  right: 0;
  }

/* HEADER ELEMENTS */

#header {
    height: 89px;
    }


#header h1, body.page-site-register #header h1 {
  width: 421px;
  height: 64px;
  background: url(images/project-logo.png) 0 -64px no-repeat;
  margin-left: 0px
  }

.front #header h1 {
  background-position: 0 0;
  }

#header h1 a, #header h1 a:visited {
  width: 421px;
  height: 64px;
  }

body.page-site-register h2.title {
  margin-top: 49px;
  }

ul#top-front li a, ul#top-front li a:visited {
  color: #fff;
  }

ul#top-front li a:hover {
  text-decoration: underline;
  }

li#get-form {
  background:url(images/get-your-site-button.png) no-repeat transparent;
  position:relative;
  }

li#get-form span {
  width:92px;
  height:18px;
  background: url(images/coming-soon.png) no-repeat transparent;
  display:block;
  position: absolute;
  top: 38px;
  left: 40px;
  }


/* Content Area */

.front #wrapper {
  background: url(images/wrapper.png) no-repeat 50% 81px transparent;
  }

.front #content-wrapper {
  background: #fff;
  border: 1px solid #000;
  overflow: hidden;
  }

.front #content-wrapper {
  padding:0 !important;
  }

.front #content-wrapper {
  background: transparent;
  }

#content-row-1 {
  /*background: url(images/front-row1-bg.png) no-repeat;*/
  width: 982px;
  height: 418px;
  padding-top: 1px;
  position: relative;
  }


#content-row-2 {
  background:transparent
  }

#content-row-2 .featureblock {
  border-right: 1px solid #ccc;
  width: 195px;
  }

#content-row-2 #feature-academic-content {
  background:url(images/front-row2-create-anything.jpg)
  }

#content-row-2 #feature-biblio {
  background:url(images/front-row2-biblio.jpg)
  }

#content-row-2 #feature-look-feel {
  background:url(images/front-row2-lookfeel.jpg)
  }

#content-row-2 #feature-wordout {
  background:url(images/front-row2-wordout.jpg)
  }

#content-row-2 #feature-collaborate, #content-row-2 #feature-events {
  background:url(images/front-row2-collaborate.jpg);
  border: none;
  }

#content-row-2 #feature-events {
  background:url(images/front-row2-events.png);
  }

#block-views-iqss_project_sites-block_1 {
  background: url(images/front-row3-bg.png) repeat-x #fefefe;
  min-height: 500px;
  position:relative;
  border: 1px solid #e1e1e1;
  border-top: none;
  border-bottom: none;
  line-height: 110%;
  }


#block-views-iqss_project_sites-block_1 h3 {
  background: url(images/triangle-new-left.png) no-repeat transparent;
  width: 51px;
  height: 46px;
  text-indent: -999em;
  float:left;
  margin: 0 0 0 -1px;
  }

#block-views-iqss_project_sites-block_1 .views-exposed-form {
  width: 345px;
  height: 40px;
  background: url(images/search-person.png) no-repeat 100% 0 transparent;
  float:right;
  margin: 5px 18px 10px 0;
  position:relative;
  }


#block-views-iqss_project_sites-block_1 .views-exposed-form .views-exposed-widget, #block-views-iqss_project_sites-block_1 .views-exposed-form .views-exposed-widget .edit-title-wrapper,#block-views-iqss_project_sites-block_1 .views-exposed-form .form-item, #block-views-iqss_project_sites-block_1 .views-exposed-form .form-submit, #block-views-iqss_project_sites-block_1 .views-exposed-form .clear-block {
  margin: 0;
  padding: 0;
  }


#block-views-iqss_project_sites-block_1 .views-exposed-form .form-text {
  float:left;
  margin: 12px 0 0 10px;
  width:263px;
  border: none;
  height: 16px;
  }

#block-views-iqss_project_sites-block_1 .views-exposed-form input.form-submit {
  float:right;
  background: transparent;
  border: none;
  width: 68px;
  margin-top: 5px;
  margin-right: 0;
  height: 30px;
  text-indent: -9999em;
  line-height: 110%;
  padding: 0 !important;
  }

#views-exposed-form-iqss-project-sites-block-1 .form-actions {
  margin: 0;
  }

#views-exposed-form-iqss-project-sites-block-1 span.views-throbbing {
  position:absolute;
  left: -45px;
  top: 17px;
  width: 21px;
  height: 5px;
  }


#views-exposed-form-iqss-project-sites-block-1 span.form-button-wrapper {
  background: transparent;
  position: static;
  display: inline;
  padding: 0;
  margin: 0;
  }

#search-person, #block-views-iqss_project_sites-block_1 .views-exposed-form label {
  display:none;
  }

#block-views-iqss_project_sites-block_1 {
  clear: both;
  }

#block-views-iqss_project_sites-block_1 .views-row {
  float: left;
  width: 134px;
  margin-left: 24px;
  }

#block-views-iqss_project_sites-block_1 img, .view-iqss-project-sites img {
  border: 1px solid #535252;
  width: 100px;
  height: 100px;
  }

#block-views-iqss_project_sites-block_1 ul, #block-views-iqss_project_sites-block_1 .more-link {
  clear: both;
  }

#block-views-iqss_project_sites-block_1 .views-admin-links {
  position: absolute;
  top: -30px;
  right: 0;
  }


#block-views-iqss_project_sites-block_1 .more-link {
  text-indent: -999em;
  float: right;
  margin-right: 18px;
  text-align: left;
  }

#block-views-iqss_project_sites-block_1 .more-link a {
  display:block;
  width: 67px;
  height: 32px;
  background: url(images/more.png) no-repeat transparent;
  cursor: pointer;
  }


#footer {
  padding-top: 10px;
  }

p.copy, p.copy a, p.copy a:visited {
  color: #fff;
  }

p.copy a, p.copy a:visited {
  text-decoration: underline;
  }