#scholarlayout-container .scholarlayout-widgets-list {
  left: 92px;
}

#scholarlayout-container #scholarlayout-right {
  left: 593px;
}

#scholarlayout-container #scholarlayout-main {
  left: 42px;
}

#scholarlayout-container #scholarlayout-left {
  left: 297px;
}

#scholarlayout-container #scholarlayout-header-main {
  left: 297px;
}

#scholarlayout-container #scholarlayout-header-right{
  left: 543px;
}