#scholarlayout-container #scholarlayout-right {
  left: 644px;
}

#scholarlayout-container #scholarlayout-content-main {
  left: 0;
}

#scholarlayout-container #scholarlayout-left {
  left: 435px;
}

#scholarlayout-container #scholarlayout-header-left,
#scholarlayout-container #scholarlayout-header-right {
  height: 162px;
  }

#scholarlayout-container #scholarlayout-header-main {
  height: 74px;
}

#scholarlayout-container #scholarlayout-navbar {
  left: 208px;
  width:428px;
  top: 81px;
  height: 80px;
  }
