body.header-left-main-right #header-left {
  left: 190px;
  }

body.header-left-main #header-left {
  left: -20px !important;
	}

#block-vsite_menus-0 ul.menu li a {
  height: 1%;
  }

body.two-sidebars #sidebar-first, body.sidebar-first #sidebar-first, body.two-sidebars #sidebar-second, body.sidebar-second #sidebar-second {
  right: 0;
  left: 0;
  }

#content-wrapper, #sidebar-first h3, #sidebar-second h3 {
  _zoom:1;
  }