html {
    min-width: 910px;
    }

body {
    background: url(images/body-bg.png) repeat-y center top #fff;
    color:#282828;
    font:.9em/165% arial, helvetica, sans-serif; 
    }
   

#container {
    width: 910px;
    margin: 0 auto;
    }
    
a, a:visited {
    color:#5088BA;
    font-style: italic;
    }

a:hover {
    color:#3399CC;
    }


h1, h2, h3, #sidebar-left a, #header {
    font-family: georgia, serif;
    font-weight: normal;
    }


h1 a, h2 a, h3 a, #sidebar-left a {
    font-style: normal;
    }

/* LAYOUT ELEMENTS */

#sidebar-left, #header-left {
    width: 178px;
    right: 199px;
    padding: 0 1px;
    }

#content-wrapper, #header-wrapper {
    padding-left: 179px;
    }
    
#sidebar-right {
    border-left: 1px solid #8c969a;
    }


#footer {
    width: 722px;
    text-align: center;
    margin-left: 179px;
    }




/* HEADER ELEMENTS */

#header {
    height: 170px;
    }

#header h1 {
    font-size: 3em;
    line-height:1em;
    }

#header h2 {
    font-size: 1.5em;
    line-height:1.3em;
    }
    
#header h1 a, #header h1 a:visited {
    color:#282828;
    }
    

 
/* SIDEBAR LEFT */

#sidebar-left a, #sidebar-left a:visited {
    color:#5088BA;
    display:block;
    font-size:14px;
    font-weight:bold;
    line-height:17px;
    padding:14px 9px;
    text-decoration:none;
    }
    
#sidebar-left li a {
    border-bottom:1px solid #D8D6D6;
    }
    
#sidebar-left li a:hover {
    background:#F9FAFA none repeat scroll 0 0;
    }
    
#sidebar-left h2, #sidebar-left h3, #sidebar-left p {
    margin-left: 9px;
    margin-right: 9px;
    }
    
    
/* MAIN CONTENT AREA */

body.sidebar-left #content, body.header-left-main #header-main .content {
    margin-left: 20px;
    }

body.sidebar-right #content, body.header-main-right #header-main .content {
    margin-right: 20px;
    }    
    
body.two-sidebars #content, body.header-left-main-right #header-main .content {
    margin-left: 20px;
    margin-right: 20px;
    }    
    
