.distribute-form-wrapper fieldset, .biblio-entry ul.links li .distribute-form-wrapper li {
  background: transparent;
  padding:0;
  border: none;
  margin: 0;
  }

.distribute-form-wrapper .form-submit {
  float: right;
  }