body {
  background-image: url('images/fabric-strip-devil-eye.png');
  background-color: #FBF4E5;
  }

#header .wrap {
  background-color: #6c5652;
  }

#navbar {
  height: 41px;
  background: url('images/navbar-cutout-devil-eye.png') no-repeat 0 0 transparent;
  padding:0;
  }

#navbar .wrap {
  background: url('images/menu-strip-devil-eye.png') repeat-x 0 0 transparent;
  padding:0;
  margin-left: 193px;
  height:41px;
  }

a, a:visited {
  color:#833426;
  }

#navbar li a, #navbar li a:visited {
  color: #fae09c;
  }

#navbar li a:hover, #navbar li a.active, #navbar .active-trail a {
  background: #e2e594;
  color: #233130;
  }