#sidebar-first {
	left: -215px;
	}


#navbar {
  background: #fff;
border-bottom: 5px solid #d5d3d4;
  padding: 0px;
  }

#navbar li a  {
  line-height: 36px;
  text-transform:uppercase;
  color: #544f4f;
  font-weight:normal;
  font-size: 12px;
background: url('images/mainNavOff.png') repeat-x;
}


#sidebar-first #block-vsite_menus-0 li a {
  line-height: 25px;
  text-transform:uppercase;
  color: #544f4f;
  font-weight:normal;
  font-size: 12px;
vertical-align: top; 
position: relative; 
top: 1px;
}

#navbar li a:hover,
#navbar li.active-trail a {
  background: url('images/mainNavHover.png') repeat-x;
  color: #FFF;
  text-decoration: none;
}


#navbar li a.active,
#navbar li.active-trail a {
  background: #b6d3e2;
  color: #000;
  text-decoration: none;
}
