#block-iqss_gking-areas_of_research {
  width:100%;
  position: relative;
  padding:0;
  border:1px solid #000;
  background: #333;
  color: #fff;
  height:328px;
  clear:both;
  z-index:1;
  line-height: normal;
  background: url(images/aoi-bg.png) 0 0 no-repeat #505050;
  margin-bottom: 9px;
  }

#block-iqss_gking-areas_of_research h3.title {
  margin: 0;
  padding: 13px 16px 16px 16px;
  font: 600 17px/24px arial, helvetica, sans-serif;
  letter-spacing:0;
  text-indent:-1px;
  color:#ff8202;
  background: transparent;
  font-weight: normal;
  }

#block-iqss_gking-areas_of_research h4 {
  color: #fff;
  margin-bottom:34px;
  margin-top: 0;
  font-weight: bold;
  margin: 0 0 39px;
  background: transparent;
  font-size:16px;
  line-height:25px;
  font-weight:normal;
  }

#block-iqss_gking-areas_of_research .col {
  width: 279px;
  margin-top: -39px;
  }

#block-iqss_gking-areas_of_research #methods {
    text-align: right;
    float: left;
    }

#block-iqss_gking-areas_of_research #applications {
    float: right;
    }

#block-iqss_gking-areas_of_research dd {
    position:absolute;
    display:none;
    width:163px;
    min-height: 184px;
    padding: 14px;
    border: 1px solid #db7002;
    left:279px;
    top: 67px;
    background: #505050;
    text-align: left;
    line-height:1.35em;
    }

#block-iqss_gking-areas_of_research dt {
    position:relative;
    line-height: normal;
    margin-bottom:10px;
    }

#block-iqss_gking-areas_of_research #methods dt span,
#block-iqss_gking-areas_of_research #methods h4 {
  margin-right: 31px;
  }

#block-iqss_gking-areas_of_research #applications dt,
#block-iqss_gking-areas_of_research #applications h4 {
  padding-left:59px;
  left: 0;
  }

#block-iqss_gking-areas_of_research #applications dt span {
  display:block;
  }

#block-iqss_gking-areas_of_research dt.active {
  background: url('images/line.png') no-repeat -345px 50% #505050;
  }

#block-iqss_gking-areas_of_research #methods dt.active {
  background-position: 252px 50%;
  }

#block-iqss_gking-areas_of_research dt.active span {
  background: #505050;
  }

#block-iqss_gking-areas_of_research dt span a,
#block-iqss_gking-areas_of_research dt span a:visited {
  color: #fff;
  }

#block-iqss_gking-areas_of_research dt span a:hover {
  text-decoration: none;
  }

#block-iqss_gking-areas_of_research dt.active span a {
  color:#e87702;
  }