
#block-iqss_gking-areas_of_research #methods h4 {
  position: relative;
  left: 145px;
  top:-15px;
  margin-bottom: 5px;
  background: url(images/connector.png) no-repeat 100% 50% transparent;
  padding-right: 133px;
  width: 62px;
  }

#block-iqss_gking-areas_of_research {
  background:#fff;
  position: relative;
  height: 275px;
  background: url(images/research-block.png) no-repeat 0 0 #fff;
  }

#block-iqss_gking-areas_of_research .col {
  width: 308px;
  clear: left;
  float: left;
  }

#block-iqss_gking-areas_of_research dt {
 list-style: none;
 padding: 0;
 margin: 0;
 font-weight:bold;
 padding: 2px 3px;
 cursor:pointer;
 float: left;
 clear:left;
  }

#block-iqss_gking-areas_of_research h3,
#block-iqss_gking-areas_of_research #methods {
  margin-left: 254px;
  }

#block-iqss_gking-areas_of_research #methods {
  margin-top: -16px;
  }

#block-iqss_gking-areas_of_research #applications {
  float:right;
  clear:none;
  margin-top: -30px;
  margin-right: 0;
  width: 383px;
  }

#block-iqss_gking-areas_of_research dd {
  background: #fbfee8;
  border: 1px solid #fbfee8;
  }

#block-iqss_gking-areas_of_research .col dt {
  position: relative;
  z-index: 3;
  }

#block-iqss_gking-areas_of_research div.bg {
  padding: 1px 2px 1px 14px;
  left: -12px;
  background:rgba(254,254,230,.88);
  position: absolute;
  top: 0;
  height: 20px;
  width: 338px;
  display:none;
  z-index:-2;
  }

#block-iqss_gking-areas_of_research #applications div.bg {
  left: -360px;
  width: 725px;
  }

#block-iqss_gking-areas_of_research dt.active div.bg {
  display:block;
  }

#block-iqss_gking-areas_of_research #blurb-contain {
  width: 221px;
  height: 276px;
  position: absolute;
  left: 20px;
  top:10px;
  }

#block-iqss_gking-areas_of_research dd {
  position:absolute;
  font-weight:normal;
  width: 205px;
  padding: 20px 12px;
  margin:0;
  left:11px;
  top:10px;
  display:none;
  z-index:0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  min-height:203px;
  }

#block-iqss_gking-areas_of_research .more {
  display:none;
 font-weight: bold;
 text-decoration: none;
 font-size: 12px;
 color: #0fbbb5;
 padding-right: 10px;
 background: url(images/arrow-aqua.png) 100% 5px no-repeat transparent;
  }

#block-iqss_gking-areas_of_research .more:hover {
  color: #007F79;
  text-decoration: underline;
  }