.front #block-iqss_gking-areas_of_research {
  width:100%;
  position: relative;
  padding:0;
  color: #fff;
  height:328px;
  clear:both;
  z-index:1;
  line-height: normal;
  background: url(images/leadsto-arrow.png) 50% 54px no-repeat #3b4e4e;
  margin-bottom: 9px;
  border: none;
  }

.front #block-iqss_gking-areas_of_research h3.title {
  margin: 0;
  font-size: 1.56em;
  line-height: 33px;
  color:#fff;
  background: url(images/aor-h3.png) 0 0 repeat-x #3b4e4e;
  padding-top: 0;
  padding-bottom: 0;
  font-weight: normal;
  border: none;
  height: 50px;
  letter-spacing:0;
  }

.front #block-iqss_gking-areas_of_research h4 {
  color: #68efde;
  margin-bottom:34px;
  margin-top: 0;
  font-weight: bold;
  margin: 0 0 17px;
  background: transparent;
  font-size:17px;
  line-height:25px;
  font-weight:normal;
  }

.front #block-iqss_gking-areas_of_research .col {
  margin-top: 0;
  }

.front #block-iqss_gking-areas_of_research #methods {
    text-align: right;
    float: left;
    width:262px;
    }

.front #block-iqss_gking-areas_of_research #applications {
    float: right;
    width: 298px;
    }

.front #block-iqss_gking-areas_of_research dd {
    position:absolute;
    display:none;
    width:224px;
    min-height: 184px;
    padding: 5px 14px;
    border-left: 2px solid #db7002;
    left:262px;
    top: 91px;
    background: #3b4e4e;
    text-align: left;
    line-height:1.35em;
    font-size:13px;
    }

.front #block-iqss_gking-areas_of_research #applications dd {
  border-left:none;
  border-right: 2px solid #db7002;
  }

.front #block-iqss_gking-areas_of_research dd:nth-child(2) {
  display:block;
  }

.front #block-iqss_gking-areas_of_research dt {
    position:relative;
    line-height: normal;
    margin-bottom:10px;
    font-size: 13px;
    font-weight: normal;
    }

.front #block-iqss_gking-areas_of_research #methods dt span,
.front #block-iqss_gking-areas_of_research #methods h4 {
  margin-right: 31px;
  }

.front #block-iqss_gking-areas_of_research #applications dt,
.front #block-iqss_gking-areas_of_research #applications h4 {
  padding-left:59px;
  left: 0;
  }

.front #block-iqss_gking-areas_of_research #applications dt span {
  display:block;
  padding-left:0.5em;
  text-indent:-0.5em;
  }

.front #block-iqss_gking-areas_of_research dt.active {
  background: url('images/line.png') no-repeat 0 50% #3b4e4e;
  }

.front #block-iqss_gking-areas_of_research #methods dt.active {
  background-position: 236px 50%;
  }

.front #block-iqss_gking-areas_of_research dt.active span {
  background: #3b4e4e;
  }

.front #block-iqss_gking-areas_of_research dt span a,
.front #block-iqss_gking-areas_of_research dt span a:visited {
  color: #fff;
  }

.front #block-iqss_gking-areas_of_research dt span a:hover {
  text-decoration: none;
  }

.front #block-iqss_gking-areas_of_research dt.active span a {
  color:#e87702;
  }

/* Taxonomy Node Ordering */

.logged-in.section-category h2.title {
  clear: both;
  }

.term-admin-links, h2.title .term-admin-links {
  float: right;
  height: 1.4em;
  line-height: 24px;
  font-weight: bold;
  padding-bottom: 1em;
  font-size: 12px;
  letter-spacing: 0;
  }

table#ordernodes {
  width:90%;
  }
