#block-iqss_gking-areas_of_research {
  width:100%;
  position: relative;
  padding:0;
  border:1px solid #000;
  background: #333;
  color: #fff;
  height:367px;
  clear:both;
  z-index:1;
  line-height: normal;
  background: url(images/squiggly-arrow.png) 209px 71px no-repeat #555;
  margin-bottom: 9px;
  }

#block-iqss_gking-areas_of_research h3.title {
  margin: 0 0 25px 0;
  padding: 13px 16px 16px 16px;
  font: 600 17px/24px arial, helvetica, sans-serif;
  letter-spacing:-0.05em;
  text-indent:-1px;
  color:#ff8202;
  background: #222;
  }

#block-iqss_gking-areas_of_research h4 {
  color: #fff;
  margin-bottom:34px;
  margin-top: 0;
  font-weight: bold;
  margin: 0 0 39x;
  background: transparent;
  font-size:16px;
  line-height:25px;
  }

#block-iqss_gking-areas_of_research .col {
  width: 236px;
  }

#block-iqss_gking-areas_of_research #methods {
    text-align: right;
    float: left;
    }

#block-iqss_gking-areas_of_research #applications {
    float: right;
    }

#block-iqss_gking-areas_of_research dd {
    position:absolute;
    display:none;
    width:208px;
    min-height: 184px;
    padding: 14px 24px;
    border: 1px solid #db7002;
    left:230px;
    top: 136px;
    background: #555;
    text-align: left;
    line-height:1.35em;
    }

#block-iqss_gking-areas_of_research dt {
    position:relative;
    font-weight: bold;
    line-height: normal;
    margin-bottom:10px;
    }

#block-iqss_gking-areas_of_research #methods dt span,
#block-iqss_gking-areas_of_research #methods h4 {
  margin-right: 31px;
  }

#block-iqss_gking-areas_of_research #applications dt,
#block-iqss_gking-areas_of_research #applications h4 {
  padding-left:34px;
  left: 0;
  }

#block-iqss_gking-areas_of_research #applications dt span {
  display:block;
  }

#block-iqss_gking-areas_of_research dt.active {
  background: url('images/line.png') no-repeat -372px 50% #555;
  }

#block-iqss_gking-areas_of_research #methods dt.active {
  background-position: 211px 50%;
  }

#block-iqss_gking-areas_of_research dt.active span {
  background: #555;
  }

#block-iqss_gking-areas_of_research dt span a, #block-iqss_gking-areas_of_research dt span a:visited {
  color: #fff;
  }

#block-iqss_gking-areas_of_research dt span a:hover {
  text-decoration: none;
  }

#block-iqss_gking-areas_of_research dt.active a {
  color:#e87702;
  }