html {
    overflow-y: hidden;
    }

body {
   height: 100%;
   overflow: auto;
   }

#header, #sidebar-left, #sidebar-right, #footer {
  background:transparent;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#c203263f,endColorstr=#c203263f);
  zoom: 1;
  }

#sidebar-left {
  left: 202px !important;
  background:transparent;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#c2d2dab8,endColorstr=#c2d2dab8);
  zoom: 1;
  }

#extradiv {
  background:transparent;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7fd2dab8,endColorstr=#7fd2dab8);
  zoom: 1;
  }


#header-left {
  left: auto !important;
  }

#block-vsite_menus-0 ul.menu li a:hover {
  background: #ECEFE0;
  }

#footer {
  _position: absolute;
  }

#header, #sidebar-left, #sidebar-right, #content-main {
  _height:expression(document.body.clientHeight-0); »
  }

#footer {
   _width:expression(document.body.clientWidth-0); »
  }

body.two-sidebars #content-main {
  _width:expression(document.body.clientWidth-596); »
/* 366+170+30+30=260 */
  }


body.sidebar-left #content-main {
  _width:expression(document.body.clientWidth-426); »
/* 366+30+30=260 */
  }
