html, body {
  height: 100%;
  }

body {
  background: #fff;
  font-family:"helvetica neue",helvetica, Arial,sans-serif;
  }

#content a, #content a:visited {
  color:#2089ac;
  }

#content a:hover {
  color: #000;
  text-decoration: underline;
  }


#header h1 {
  position: relative;
  top: 0;
  left: 0;
  font-size: 20px;
  width: 999em;
  margin: 17px 10px 0 0;
  }

#header a {
  color: #9acbed;
  }

#header a:hover {
  text-decoration: underline;
  }

#header, #header h1 a, #header h1 a:visited {
  color:#fff;
  }

#header h1 a:hover, #sidebar-right h2, #sidebar-right h3 {
  color: #dde3c9;
  text-decoration: none;
  }

#header h2 {
  font-size: 12px;
  margin: 0 10px 3px 0;
  }

#header p {
  margin: 0 10px 0 0;
  font-size: 11px;
  }

#logo {
  height: 140px;
  }

#wrapper {
  position: relative;
  min-height: 100%;
  }

body.admin-menu #wrapper {
  margin-top: 22px;
  }

body.navbar-on #wrapper {
  margin-top: 41px;
  }

.column, #header-left, #header-right, #sidebar-left, #sidebar-right, #content-main, #header-main {
  float: none;
  padding: 0;
  margin: 0;
  width: auto;
  right: auto;
  left: auto;
  }

#header, #sidebar-left, #sidebar-right, #footer, #content-main, #extradiv {
  position: absolute;
  float: none;
  background-color: rgba(3, 38, 63, 0.76);
  top: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
  }

#container {
	overflow: hidden;
	}


#footer {
  position: fixed;
  }


#header {
  width: 180px;
  padding-left: 22px;
  }

#sidebar-left {
  width: 164px;
  background-color: rgba(210, 218, 184, 0.76);
  left: 202px;
  }

#sidebar-right {
  width: 150px;
  left: auto;
  right: 0;
  bottom:0;
  margin-right: 0;
  padding: 10px;
  }

body.navbar-off #sidebar-right {
  padding-top: 35px;
  }

#footer {
  position: fixed;
  top: auto;
  right: 0;
  height: 69px;
  }

#content-wrapper, #header-wrapper {
  padding-right :0;
  padding-left: 0;
  }

#content-main {
  padding: 30px;
  background: #FFF;
  }

body.two-sidebars #content-main {
  left:366px;
  right: 170px;
  }

body.sidebar-left #content-main {
  left:366px;
  right: 0;
  }

body.sidebar-right #content-main {
  left:202px;
  right: 170px;
  }


#footer, p.copy {
  color: #ddd;
  text-align: left;
  }

p.copy {
  margin: 24px 0 0 232px;
  }

body.sidebar-left p.copy, body.two-sidebars p.copy {
  margin-left: 396px;
  }

#footer a, #footer a:visited {
  color: #ddd;
  }

#footer a:hover {
  border-color: #ddd;
  }

#footer .footer-login, #footer .footer-login:visited{
  color: #444;
  border-color: #444;
  }


/*HEADER */
#logo {
  margin-top: 30px;
  }

#scholar-shield {
  margin: 12px 0 0 0;
  text-align: left;
  }

/* SIDEBAR LEFT */

#block-vsite_menus-0 ul.menu {
  padding-top: 30px;
  }

#block-vsite_menus-0 ul.menu li a {
  display:block;
  height: 36px;
  font-size: 16px;
  line-height: 36px;
  color: #03263f;
  padding-left: 16px;
  }

#block-vsite_menus-0 ul.menu li a:hover {
  background-color: rgba(210, 218, 184, 0.76);
  }

#block-vsite_menus-0 ul.menu li a.active, #block-vsite_menus-0 ul.menu li.active-trail a, #block-vsite_menus-0 ul.menu li a.active:hover, #block-vsite_menus-0 ul.menu li.active-trail a:hover {
  background: url(images/menu-selected.png) no-repeat 100% 0 #3f5a6d;
  color: #FFF;
  margin-right: -10px;
  }

/* SIDEBAR RIGHT*/
#sidebar-right {
  color: #c2bfa7;
  }

#sidebar-right a, #sidebar-right a:visited {
  color: #e9e9e9;
  }

#sidebar-right li {
  list-style: none;
  padding-left: 20px;
  background: url(images/bullet.png) no-repeat 0 50% transparent;
  margin-left: 0;
  }

#extradiv {
  height: 10px;
  background: rgba(210, 218, 184, 0.5);
  bottom: auto;
  right: 0;
  top: 0;
  }