html,body {
  height: 100%;
  }

body {
  font-family:"helvetica neue",helvetica, Arial,sans-serif;
  }

#content a, #content a:visited {
  color:#2089ac;
  }

#content a:hover {
  color: #000;
  text-decoration: underline;
  }

#header h1 {
  font-size: 20px;
  margin: 17px 10px 0 0;
  }

#header a {
  color: #9acbed;
  }

#header a:hover {
  text-decoration: underline;
  }

#header, #header h1 a, #header h1 a:visited {
  color:#fff;
  }

#header h1 a:hover, #sidebar-right h2, #sidebar-right h3 {
  color: #dde3c9;
  text-decoration: none;
  }

#header h2 {
  font-size: 12px;
  margin: 0 10px 3px 0;
  }

h2.title {
  margin-bottom: 1em;
  font-size: 1.2em;
  }

h3 {
  font-size: 1em;
  }

#header p {
  margin: 0 10px 0 0;
  font-size: 11px;
  }

#logo {
  height: 140px;
  }

#wrapper {
  min-height: 100%;
  overflow: hidden;
  }

body.admin-menu #wrapper {
  margin-top: 22px;
  }

#header-left, #header-right, #header-main {
  float: none;
  position: static !important;
  padding: 0;
  margin: 0 !important;
  width: auto;
  right: auto;
  left: auto;
  }

#header, #sidebar-right, #footer {
  background: rgba(3, 38, 63, 0.76);
  }


#footer {
  position: fixed;
  clear: both;
  }


#header {
  width: 180px;
  padding-left: 22px;
  float: left;
  }

#sidebar-left {
  width: 164px;
  background: rgba(210, 218, 184, 0.76);
  right: 224px;
  padding: 0;
  }

#sidebar-right {
  width: 150px;
  }

#footer {
  position: fixed;
  top: auto;
  right: 0;
  bottom:0;
  left: 0;
  height: 69px;
  padding: 0;
  }

#header-wrapper {
  padding: 0 !important;
  }

#content-wrapper  {
  margin-left: 202px;
  clear:none;
  padding-left:164px;
  padding-right: 230px;
  }

#content-main {
  padding: 30px;
  background: #FFF;
  }


#footer, p.copy {
  color: #ddd;
  text-align: left;
  }

p.copy {
  margin: 24px 0 0 232px;
  }

body.sidebar-left p.copy, body.two-sidebars p.copy {
  margin-left: 396px;
  }

#footer a, #footer a:visited {
  color: #ddd;
  }

#footer a:hover {
  border-color: #ddd;
  }

#footer .footer-login, #footer .footer-login:visited{
  color: #444;
  border-color: #444;
  }


/*HEADER */
#logo {
  margin-top: 30px;
  }

#scholar-shield {
  margin: 12px 0 0 0;
  text-align: left;
  }

/* SIDEBAR LEFT */

#sidebar-left .block {
  padding: 0 16px 16px 16px;
  }


#block-vsite_menus-0 {
  padding: 0 0 16px 0;
  }

#header #navbar {
  margin-left: -22px;
  width: auto;
  }

#block-vsite_menus-0 ul.menu {
  padding-top: 30px;
  }

#block-vsite_menus-0 ul.menu li a {
  display:block;
  height: 36px;
  font-size: 16px;
  line-height: 36px;
  color: #03263f;
  padding-left: 16px;
  }

#sidebar-left #block-vsite_menus-0 ul.menu li a {
  margin-left: -16px;
  margin-right: -16px;
  }

#header #block-vsite_menus-0 ul.menu li {
  display:block;
  }


#header #block-vsite_menus-0 ul.menu li a {
  color: #F1F4EA;
  padding-left: 22px;
  }

#block-vsite_menus-0 ul.menu li a:hover {
  background: rgba(210, 218, 184, 0.76);
  text-decoration: none;
  }

#block-vsite_menus-0 ul.menu li.active-trail {
  background:rgba(3, 38, 63, 0.67);
  }

#block-vsite_menus-0 ul.menu li a.active, #block-vsite_menus-0 ul.menu li.active-trail a, #block-vsite_menus-0 ul.menu li a.active:hover, #block-vsite_menus-0 ul.menu li.active-trail a:hover {
  background: url(images/menu-selected.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-color: transparent;
  color: #FFF;
  margin-right: -10px;
  }

/* SIDEBAR RIGHT*/
#sidebar-right {
  color: #c2bfa7;
  padding-top: 30px;
  }

#sidebar-right a, #sidebar-right a:visited {
  color: #e9e9e9;
  }

#sidebar-right li {
  list-style: none;
  padding-left: 20px;
  background: url(images/bullet.png) no-repeat 0 50% transparent;
  margin-left: 0;
  }

#header, #sidebar-left, #sidebar-right {
  padding-bottom: 1001em;
	margin-bottom: -1000em;
	}

.node-teaser {
  background: rgba(210, 218, 184, 0.3);
  margin: 0 -1000em 30px -194px;
  padding: 30px 1000em 30px 194px;
  }

.no-sidebars .node-teaser, .sidebar-right .node-teaser {
  margin-left: -30px;
  padding-left: 30px;
  }

#extradiv {
  position: absolute;
  height: 15px;
  background: rgba(3, 38, 63, 0.5);
  bottom: auto;
  right: 0;
  top: 0;
  left: 0;
  }