#header, #sidebar-right {
  background:#3f5a6d;
  }

#footer {
  background:transparent;
  filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr=#c203263f,endColorstr=#c203263f);
  zoom: 1;
  }

#sidebar-left {
  background:#dde3c9;
  }

#block-vsite_menus-0 ul.menu li.active-trail {
  background:#476172;
  }

#extradiv {
  background:transparent;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#0d03263f,endColorstr=#0d03263f);
  zoom: 1;
  }

.node-teaser {
  background:transparent;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#08d2dab8,endColorstr=#08d2dab8);
  zoom: 1;
  }

#block-vsite_menus-0 ul.menu li a:hover {
  background: #ECEFE0;
  }