
html {
    min-width: 1000px;
    }

body {
    background: url(images/body-bg.jpg) repeat-y center top #fff;
    color:#282828;
    font:.9em/155% arial, helvetica, sans-serif;
    }

body.cp-toolbar-full {
  background-position: 50% 42px;
  }

#container {
  width: 1000px;
  min-height: 1536px;
  margin: 0 auto;
  background: url(images/top.jpg) no-repeat transparent;
  padding-top: 1px;
  }

body.sidebar-left #container {
  background-image: url(images/top-leftsidebar.jpg);
  }

body.sidebar-right #container {
  background-image: url(images/top-rightsidebar.jpg);
  }

body.two-sidebars #container {
  background-image: url(images/top-bothsidebar.jpg);
  }

a, a:visited {
    color:#cc3300;
    text-decoration: none;
    font-weight: bold;
    }

a:hover {
    text-decoration: underline;
    }


#header, #sidebar-right #sidebar-left {
    font-weight: bold;
    }

h2, h3, h4 {
  margin-bottom: 0;
  margin-top: 1em;
  }

h2.title {
  margin-top: 0;
  margin-bottom: 1em;
  }

#block-vsite_menus-0, h3.title {
  font-size: 1.2em;
  }

.links li {
  font-size: .8em;
  }

/* LAYOUT ELEMENTS */

#sidebar-left, #sidebar-right {
  font-size: 10px;
  line-height: 1.5em;
  font-variant: small-caps;
  }

#sidebar-left {
  padding-top: 30px;
  width: 95px;
  right: 135px;
  text-align: right;
  }

#sidebar-left ul.menu {
  text-align: right;
  }

#sidebar-right {
  width: 100px;
  padding-right:35px;
  }

#content-wrapper, body.sidebar-left #content-wrapper,  body.sidebar-right #content-wrapper {
    padding-left: 135px !important;
    padding-right: 165px !important;
    }

#footer {
    text-align: center;
    font-size: .9em;
    }




/* HEADER ELEMENTS */


#header {
  margin: 113px 198px 0 175px;
  padding-bottom: 15px;
  overflow:hidden;
  }

#navbar {
  width: auto;
  margin: 10px;
  }

#header-left {
  width: 129px;
  padding: 0;
  right: 149px;
  }

#header-right {
  width: 144px;
  padding:0;
  }

#header-wrapper {
  padding-left: 129px;
  padding-right: 164px;
  }

#header h1, #header h2, #header p {
    font-size: 16px;
    line-height: 18px;
    }

#header h1 a, #header h1 a:visited {
    color:#282828;
    }

#header h1 a:hover {
    color:#282828;
    text-decoration: none;
    }

#navbar {
  }

#navbar #block-vsite_menus-0 li {
    float:left;
    margin-right: 1.3em;
    }

#logo img {
  height: 100px;
  }

#scholar-shield img {
  height: 52px;
  }

/* MAIN CONTENT AREA */

#content {
    padding: 0 50px;
    }


/* Nodes */

.submitted {
  color: #a1b1b1;
  border-bottom: 1px solid #a1b1b1;
  display:block;
  }