@import url('http://fonts.googleapis.com/css?family=Arvo');

body {
	font: small/normal Verdana, Arial,Helvetica,sans-serif;
	color:#4F5047;
	}

/* TYPOGRAPHY*/

a, a:visited {
	color:#446677;
	text-decoration: none;
	}

a:hover {
	text-decoration: underline;
	color: #222;
	}

h2, h3, h4 {
	margin-bottom: 0;
	margin-top: 1em;
	font-weight:normal;
	font-family:'Arvo', arial, serif;
	}

#content-main .node-type-link h3 {
  margin: 0;
  padding: 0;
  }

body.page-home h2.title {
	margin-top: 0;
	margin-bottom: 1em;
	color:#BB0000;
	display:none;
	}

.links li {
	font-size: .8em;
	}

ol {
  padding-left: 1em;
  padding-right: 2em;
  }

ol li {
  margin-bottom: 1em;
  }

li.leaf {
  list-style-image: none;
  padding: 0;
  }

strong {
  font-size: .9em;
  }

#sidebar-second {
	color: #555;
	}

#sidebar-second h3.title,
#sidebar-first h3.title,
#sidebar-first #block-vsite_menus-0 li a,
#header-right li {
	font-family:'Arvo', arial, serif;
	}

#sidebar-second h3.title,
#sidebar-first h3.title,
#sidebar-first #block-vsite_menus-0 li a {
	font-weight:bold;
	padding-bottom:8px;
	font-size:1.3em;
	}

#sidebar-second li a, #sidebar-first li a {
	color:#446677;
	font-size:.9em;
	font-weight:normal;
	text-decoration:underline;
	}

#sidebar-second li a, #sidebar-first li a:visited{
	font-color:#da2b00!important;
	}

p.copy {
	margin-top: 0;
	}

/* LAYOUT ELEMENTS */

#page {
  background: url('images/wrapper-bg.png') repeat-y 50% 0 #fff;
	}

#page-wrapper {
  background: url('images/wrapper-inner-bg.png') no-repeat 50% 100% transparent;
	padding-bottom: 77px;
	}

.wrap {
	width: 980px;
	margin:0 auto;
	}

#header-left,
#header-right,
#sidebar-first,
#sidebar-second {
	width:230px;
	padding:0;
	}

#content-main,
#header-main {
  padding: 10px 30px;
  }

#content-main,
#sidebar-first {
  padding-top: 15px;
  }

#header-left,
#sidebar-first {
  width: 216px;
  right: 256px;
  }

#content-area .hg-container,
#header .hg-container {
	padding-left: 216px;
	padding-right: 290px;
  }

#sidebar-first .block,
#sidebar-second .block {
  margin-bottom:0!important;
  }

#sidebar-second {
	color:#555;
  left: 21px;
  }

#footer .wrap {
	padding:30px 30px 0 30px;
	width: 920px;
	}

/* SIDEBAR ELEMENTS */

.sidebar {
	font-size: 1em;
	line-height: 1.2em;
	}

.sidebar a,
.sidebar a:visited {
	color: #DC6700;
	}

.sidebar a:hover,
#sidebar-second li a:hover {
	color:#222;
	}

/* HEADER ELEMENTS */

#header .hg-container {
	background: url("images/bg_header.png") repeat-x 0 -48px;
	height:84px;
	}

#block-scholar-1 {
	display:table-cell;
	vertical-align:middle;
	}

#header h1,
#header h2,
#header p {
	color:#3A6F8F;
	font-size:23px;
	font-weight:normal;
	line-height:28px;
	margin:0;
	}

#header h2,
#header p {
  display:none;
  }

#header h1 a, #header h1 a:visited {
	color:#446677;
	font-family:arial;
	font-size:1.2em;
	letter-spacing:-1.3px;
  }

#header h1 a:hover {
	color:#3A6F8F;
	text-decoration: none;
	}

#navbar {
	height:31px;
	padding:0;
  }

#navbar .wrap {
	background:#DC6700;
	height:31px;
  }

#header-right {
	background:#DCE7EF;
	height: 84px;
	}

#navbar li {
	float:left;
	}

#navbar li.first {
  margin-left: 30px
  }

#navbar li a,
#navbar li a:visited {
	color:#FFFFFF;
	display:block;
	font-size:11px;
	line-height:25px;
	padding:3px 22px;
	font-weight: bold;
  letter-spacing: 0.075em;
  margin: 0;
  padding: 2px 13px 4px 8px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  background: #DC6700;
	}

#navbar li a:hover{
	background: #A8540B;
	text-decoration:none;
	color:#fff;
  }

#navbar li a.active,
#navbar li.active-trail a {
  background: #7a3d09;
  color: #fff;
  }

#sidebar-first #block-vsite_menus-0 li a,
#sidebar-first #block-vsite_menus-0 li a:visited {
	color: #7e9f06;
	border: none;
	display:block;
	padding-bottom: 2px;
	padding-top: 2px;
	}

#sidebar-first #block-vsite_menus-0 li a:hover {
	text-decoration:none;
	background: #485616;
	color:#fff;
	}

#header h1 {
  height: 58px;
  width:599px;
  background: url(images/scholars_web_jwelogo.gif) no-repeat;
  text-indent: -999em;
  }

#header h1 a,
#header h1 a:visited {
  display:block;
  height: 58px;
  width: 599px;
  }


/* MAIN CONTENT AREA */

/* Nodes */

img {
  max-width: 100%;
  }

.submitted {
	color: #a1b1b1;
	border-bottom: 1px solid #a1b1b1;
	display:block;
	}

.hmpgblurbs td {
	border-bottom:1px dotted #CCCCCC;
	padding:10px 30px;
	vertical-align:top;
	}

#content-main {
	padding-bottom:50px;
	padding-left: 20px;
	padding-right: 20px;
	}

#header-right ul.menu {
	font-size:12px;
  }

#header-right ul.menu a:hover{
  background-color:#9FB4C4;
	text-decoration:none;
	color:#fff;
	}
	
#sidebar-first {
	left: auto;
}

#sidebar-first .block, #sidebar-second .block{
	border:bottom:1px solid red;
	}

#sidebar-first .block, #sidebar-second .block {
	border-bottom:1px solid #DB6600;
	padding-bottom:5px;
	clear:both!important;
	padding:8px;
	}

#content-main h3 {
	border-top:1px solid #DB6600;
	padding-bottom:10px;
	padding-top:15px;
	color:#DB6600;
	}

#content-main h2{
	color:#DB6600;
	font-size:20px;
	padding-bottom:10px;
	}

#content-main a:link, #content-main a:visited{
	text-decoration:underline !important;
	}

.views-field-field-gallery-image-fid img:hover {
	background-color: #cedfe7 !important;
	}

.views-field-field-gallery-image-fid img {
	background-color:#FFFFFF;
	border:1px solid #ADADAD !important;
	padding:4px;
	}

.view-scholar-image-gallery{
	display:inline !important;
	}

#content .node .view-scholar-image-gallery ul li,
.node-type-gallery #content .node .content ul li,
.block .view-scholar-image-gallery li.views-row {
	clear:none;
	float:left;
	list-style:none outside none;
	margin:0 5px 5px 0;
	padding:0;
	}

#block-views-scholar_image_gallery-block_1{
	border-bottom:none !important;
	}

#header-right ul {
  margin-top:7px;
  }

#header-right li a,
#header-right li a:visited {
	padding: 3px 15px;
	font-size: 13px;
	line-height: normal;
	font-weight: normal;
	display:block;
	}

.views-row {
  margin-bottom:0.8em;
	}

blockquote{
	border-left:1px solid #ccc;
	padding-left:.9em;
	margin-left:.9em;
	}

p, .messages, #content-main .views-row, ul, ol, .taxonomy-term-description {
	margin: 0;
	}

#content-main ol li {
	list-style-position:inside;
	padding-left:15px;
	}

#content-main p, #content-main blockquote, #content-main ol, #content-main ul{
	margin-bottom:15px;
	}

#content-main hr {
	background-color:#CCCCCC!important;
	color:#CCCCCC!important;
	margin-bottom:20px;
	border:none !important;
	}

#content-area .hg-container-inner{
	padding-bottom:50px;
	}

body.page-home #content-main h3.title{
	display:none !important;}


body.header-left-right #header-right {
  width:210px !important;
	}

#content-main h3.title {
	border-top:none;
  }

body.sidebar-second #content-area .hg-container {
	padding-left:25px!important;
	}

.node-teaser.node-type-person {
  border-bottom: 1px dashed #ddd;
  padding-bottom: 1.5em;
  }

#content-main .node-teaser.node-type-person h3.title,
#content-main .node-teaser.node-type-person h4,
#content-main .node-teaser.node-type-person .content {
  margin: 0 0 0 82px !important;
  padding: 0;
  }

.node-teaser.node-type-person .content {
  margin-bottom: 5px;
  }

.node-teaser.node-type-person .content ul.inline li {
  padding-right: 8px;
  margin-right: 5px;
  border-right: 1px solid #ccc;
  }

.node-teaser.node-type-person .content ul.inline li:last-child {
  border:none;
  margin: 0;
  padding-right:0;
  }

.node-type-person .flL {
  margin: 0 15px 5px 0;
  }

.flL img {
  border: 1px solid #ccc;
  padding: 5px;
  background: #fff;
  }

.page-home #content-area .hg-container-inner {
  position:relative;
  }

.front #front-rotate {
  width: 750px;
  height: 274px;
  position: absolute;
  top:0;
  left:-216px;
  border-bottom: 1px solid #DB6600;
  }

.front #content h3:first-child {
  border-top: none;
  margin-top: 0;
  }

.front #sidebar-first,
.front #content {
  margin-top: 274px;
  padding-top: 0;
  }
  
.front #content-main .title {
	display: none;
}