body {

    color:#4F5047;

    }



/* TYPOGRAPHY*/

a, a:visited {
    color:#446677;
    text-decoration: none;
    }

a:hover {
    text-decoration: underline;
    }

h2, h3, h4 {
  margin-bottom: 0;
  margin-top: 1em;
  font-weight:normal;
  font-family:Georgia, "Times New Roman", Times, serif;
  font-style:italic;

  }

body.page-home h2.title {
  margin-top: 0;
  margin-bottom: 1em;
  color:#BB0000;
  display:none;
  }

.links li {
  font-size: .8em;
  }

#sidebar-second {
  color: #555;

  }



#sidebar-second h3.title, #sidebar-first h3.title, #sidebar-first #block-vsite_menus-0 li a {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	font-weight:bold;
padding-bottom:8px;
font-size:1.3em;
  }

#sidebar-second li a, #sidebar-first li a {
color:#446677;
font-size:.9em;
font-weight:normal;
text-decoration:underline;
}

#sidebar-second li a, #sidebar-first li a:visited{
	font-color:#da2b00!important;
	}

p.copy {
  margin-top: 0;
  }


/* LAYOUT ELEMENTS */

#container {
	width: 1012px;
	padding-top: 0px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	background-attachment: scroll;
	background-color: #666;
	background-image: url(images/container_bg.png);
	background-repeat: repeat-y;
	background-position: 0 0;
  }


#sidebar-first, #sidebar-second {
  font-size: .8em;
  line-height: 1.1em;

  }


 #content-wrapper {
	padding-left: 245px;
	padding-right: 250px;

  }

body.page-home  #content-wrapper {
	padding-left: 245px;
	padding-right: 250px !important;
}

#sidebar-first .block, #sidebar-second .block {

margin-bottom:0!important;}





#content-wrapper {
	overflow: hidden;


  }

 #content-main, body.header-main #header-main {
margin-top:0px;
padding:0;
}
#sidebar-second {
color:#555555;


  }
#footer {
	background-color:#ffffff!important;
	padding-top:30px!important;
   }





#content-wrapper {
background-position: 0;
background-image: url(images/bg_bottom.png);
	background-repeat: no-repeat;
	background-position: 16px bottom;
}







p.copy a.poweredby {
  background-position: 0 -29px;
  }

/* SIDEBAR ELEMENTS */

#sidebar-second, #sidebar-first {
  font-size: 1em;
  line-height: 1.2em;
  }

  #sidebar-second a:hover, #sidebar-first a:hover {
	  color:#DC6700;}

#sidebar-second a, #sidebar-second a:visited, #sidebar-first a, #sidebar-first a:visited {
  color: #DC6700;
  }

/* HEADER ELEMENTS */


#header-left {
  width: 129px;
  right: 164px;
  }

#header-wrapper {
background-image:url("images/bg_header.png");
background-position:center bottom !important;
background-repeat:no-repeat;
height:118px !important;
margin-bottom:-21px !important;
padding-bottom:10px;
padding-left:160px !important;
padding-top:10px !important;
}

body.header-main #header-wrapper, body.header-main-right #header-wrapper {
padding-left:128px !important;
padding-right:298px;
}

body.header-main #header-main, body.header-main-right #header-main {
  padding-left: 22px;
  }


#block-scholar-1 {
  display:table-cell;
  vertical-align:middle;
  }

#header h1, #header h2, #header p {
color:#3A6F8F;
font-family:arial,helvetica,sans-serif;
font-size:23px;
font-weight:normal;
line-height:28px;
margin:0;
}

#header h2 {
  font-size: 16px;
  line-height: 18px;
  font-style:normal;
  }

#header p {
  font-size: 11px;
  line-height: 18px;
  margin-bottom: 5px;
  }

#header h1 a, #header h1 a:visited {
    color:#446677;
font-family:arial;
font-size:1.2em;
letter-spacing:-1.3px;

    }

#header h1 a:hover {
    color:#3A6F8F;
    text-decoration: none;
    }

#navbar {
background:url("images/navbar.png") repeat-x scroll 0 0 transparent;
height:31px;
margin-left:15px;
padding:0;
width:982px;

}


div#header-right{
margin-bottom:-23px!important;
}

#navbar li {
    float:left;
    padding-right: 1px;

    }

#navbar #block-vsite_menus-0 li a, #navbar #block-vsite_menus-0 li a:visited {
color:#FFFFFF;
display:block;
font-family:arial,sans-serif;
font-size:14px;
  font-weight:bold;
line-height:25px;
padding:3px 17px 3px 22px;
}



#navbar #block-vsite_menus-0 li a:active, #navbar #block-vsite_menus-0 li a:hover, #navbar #block-vsite_menus-0 li a.active, #navbar #block-vsite_menus-0 li.active-trail a {
  background: url(images/navbar.png) 0 -31px repeat-x transparent;
  text-decoration:none;
  color:#666;

  }

#sidebar-first #block-vsite_menus-0 li a, #sidebar-first #block-vsite_menus-0 li a:visited {
  color: #7e9f06;
  border: none;
  display:block;
  padding-bottom: 2px;
  padding-top: 2px;
  }

#sidebar-first #block-vsite_menus-0 li a:hover {
  text-decoration:none;
  background: #485616;
  color:#fff;
  }

#logo img {
height:58px;

margin-top:10px;
}

#scholar-shield img {
  height: 59px;
  display:none;
  }



/* MAIN CONTENT AREA */



/* Nodes */

.submitted {
  color: #a1b1b1;
  border-bottom: 1px solid #a1b1b1;
  display:block;
  }




.hmpgblurbs td {
border-bottom:1px dotted #CCCCCC;
padding:10px 30px;
vertical-align:top;
}

#content-main {
padding-left:8px;
padding-top:0 !important;
padding-bottom:50px !important;
}

div#header-right ul.menu {
font-size:12px;


}

div#header-right ul.menu a:hover{background-color:#DC6700;
text-decoration:none;
color:#fff;}


div#sidebar-first .block, div#sidebar-second .block{
	border:bottom:1px solid red;
}

#sidebar-first .block, #sidebar-second .block {
border-bottom:1px solid #DB6600;
padding-bottom:5px;
width:200px;
clear:both!important;
padding-left:8px;
}

#content-main h3 {
border-top:1px solid #DB6600;
padding-bottom:10px;
padding-top:15px;
color:#DB6600;
}

#content-main h2{
	color:#DB6600;
	font-size:20px;
	padding-bottom:10px;}

#content-main ul li {
list-style-position:inside;
list-style-type:circle;
padding-left:15px;
}


#content-main a:link, #content-main a:visited{
	text-decoration:underline!important;}
#header-left, #header-right, #sidebar-first, #sidebar-second {
width:192px;
}

div.views-field-field-gallery-image-fid img:hover {
 background-color: #cedfe7!important;
  }

  div.views-field-field-gallery-image-fid img {
background-color:#FFFFFF;
border:1px solid #ADADAD!important;
padding:4px;
}


div.view-scholar-image-gallery{
	display:inline!important;
}


div#content-main #content{
	padding-right:25px!important;
	}

	#content .node .view-scholar-image-gallery ul li, .node-type-gallery #content .node .content ul li, .block .view-scholar-image-gallery li.views-row {
clear:none;
float:left;
list-style:none outside none;
margin:0 5px 5px 0;
padding:0;
}
div#block-views-scholar_image_gallery-block_1{
	border-bottom:none!important;}


div#header-right a{
padding:3px!important;
  font-weight:bold;}

div#header-right {

margin-left:-10px !important;

}

.views-row {

margin-bottom:0.6em!important;
}

blockquote{
border-left:1px solid #ccc;
padding-left:.9em;
margin-left:.9em;}

p, div.messages, #content-main .views-row, ul, ol, .taxonomy-term-description {
margin: 0;
}
#content-main ol li {
list-style-position:inside;
padding-left:15px;
}

#content-main p, #content-main blockquote, #content-main ol, #content-main ul{
margin-bottom:15px;}


#content-main hr {
background-color:#CCCCCC!important;
color:#CCCCCC!important;
margin-bottom:20px;
border:none!important;
}

div#content-wrapper-inner{
padding-bottom:50px;
}

body.page-home #content-main h3.title{
display:none!important;}

div#logo{
margin-left:-130px;}

body.header-left-right #header-right {

width:210px!important;
}

#content-main h3.title {
border-top:none;

}

body.sidebar-second #content-wrapper {
padding-left:25px!important;
}
