html {
  min-width: 960px;
  }

body {
    background: url(images/body-bg-no-sidebar.jpg) 50% 135px repeat-y #6d2a01;
    color:#666;
    font:.9em/165% "Times New Roman", Times, Georgia, serif;
    }

body.sidebar-left {
    background-image: url(images/body-bg-left-sidebar.jpg);
    }

body.sidebar-right {
    background-image: url(images/body-bg-right-sidebar.jpg);
    }

body.two-sidebars {
    background-image: url(images/body-bg-both-sidebar.jpg);
    }

#extradiv {
    text-indent: -999em;
    position: fixed;
    background:url(images/bottom.png) center bottom no-repeat;
    bottom: 0;
    height:228px;
    width: 100%;
    z-index:50;
    }


#container {
    width: 960px;
    margin: 0 auto;
    padding-bottom: 200px;
    }

a, a:visited {
    color:#af4917;
    text-decoration: underline;
    }

a:hover {
    color:#672301;
    }


h1, h2, h3, #sidebar-right a, #sidebar-left a {
    font-weight: normal;
    color:#870202;
    text-decoration: none;
    }

#block-menu-primary-links {
    text-transform: uppercase;
    }

#sidebar-left {
  text-align:right;
  }

#sidebar-left ul.menu {
  text-transform: uppercase;
  text-align:right;
  }

/* LAYOUT */

.column {
    padding: 10px 35px !important;
    }

#sidebar-left, #header-left {
    width: 133px;
    right: 249px;
    padding-right: 10px !important;
    }

#sidebar-right, #header-right {
    width: 154px;
    padding-left: 10px !important;
    }

#header-wrapper, #content-wrapper {
    width: auto;
    margin: 0 auto;
    padding-left: 184px;
    padding-right: 278px;
    }

body.header-main #sidebar-left, body.header-main-right #sidebar-left {
    position:relative;
    top: -143px;
    }

body.navbar #content-main {
  margin-top: 30px;
  }


/* HEADER ELEMENTS */

#header-wrapper {
  padding-right: 378px !important;
  }

#header {
    padding-top: 41px;
    height: 173px;
    background:url(images/header-no-sidebar.jpg) no-repeat top center #6d2a01;
    }

#header-main {
    background: url(images/crest.png) no-repeat transparent 21px 0;
    min-height: 112px;
    padding-left: 135px !important;
    }

#header-left {
  right: 349px;
  }

#header-right {
    text-align: center;
    }

body.header-main #header-main {
    width:384px;
    margin-top: 43px;
    }

body.sidebar-left #header {
    background-image:url(images/header-left-sidebar.jpg);
    }

body.sidebar-right #header {
    background-image:url(images/header-right-sidebar.jpg);
    }

body.two-sidebars #header {
    background-image:url(images/header-both-sidebar.jpg);
    }


body.header-main-right #header-wrapper, body.header-main #header-wrapper {
  margin-left:184px;
  }

#header h1 {
    font-size: 2.5em;
    line-height: 1em;
    }

#header h1, #header h2, #header h3, #header a, #header a:visited, #header h1 a, #header h1 a:visited, #header {
    color:#414040;
    }

#header h1 a, #header h1 a:visited {
    text-decoration: none;
    padding: 0;
    }

#header h2 {
    font-size: 1.2em;
    line-height: 1em;
    }

#header a, #header a:visited {
    text-decoration: none;
    }

#navbar {
  width: 900px;
  margin-left: 5px;
  padding-left: 33px;
  }

#navbar li {
  font-weight: bold;
  margin-right: 15px;
  font-style: italic;
  font-family: georgia, serif;
  }

body.sidebar-right #navbar {
  width: 685px;
  }

body.sidebar-left #navbar, body.two-sidebars #navbar {
  padding-left: 206px;
  width: 714px;
  }

body.two-sidebars #navbar {
  width: 523px;
  }

#logo img {
  width: 133px;
  }