body {
  background: #fff;
  font:12px/156% arial, sans-serif;
  color: #444;
  }

p, h2, h3, h4, li, .block {
  margin-bottom: 1.5em;
  }s

h1, h2, h3, h4 {
  font-family:georgia, serif;
  color:#625851;
  font-size: 18px;
  font-weight: bold;
  }

h3 {
  font-size: 14px;
  }

h4 {
  font-size: 12px;
  }

a, a:visited {
  color:#660000;
  }

#page {
  width: 1000px;
  margin:0 auto;
  }

#header {
  height: 230px;
  background: #660000;
  }

#header h1 {
  width: 581px;
  height: 83px;
  text-indent: -999em;
  background: url(images/logo.png) no-repeat #660000;
  margin: 77px auto 0 auto;
  }

#header h1 a, #header h1 a:visited {
  display:block;
  width: 581px;
  height: 83px;
  }

#sidebar-first {
  padding-bottom: 220px;
  background: url(images/sidebar-first.jpg) 0 100% no-repeat #e4e2e0;
  border-top: 3px solid #fff;
  padding-top: 0;
  }

#block-vsite_menus-0 li {
  height: 31px;
  line-height:31px;
  font-size: 14px;
  background: url(images/menu-bullet.png) 33px 50% no-repeat;
  border-bottom: 3px solid #fff;
  padding-left: 66px;
  margin: 0 -10px;
  }

#block-vsite_menus-0 li a {
  font-weight: bold;
  }

#content-main #content {
  padding: 29px 34px;
  }