/* Khaki version */

body {
  background-image: url(images/body-bg-khaki.png);
  }

body.navbar-off {
  background-image: url(images/body-bg-khaki.png);
  }

body.navbar-on #wrapper {
  background-image: url(images/body-bg-horiz-khaki.png);
  }

a, a:visited {
  color: #b0a67e;
  }

a:hover {
  color: #000;
  text-decoration: underline;
  }

/*Navbar & sidebar shared */

#navbar a, #navbar a:visited, #sidebar-first a, #sidebar-first a:visited {
  color: #282828;
  }

#navbar a:hover, #sidebar-first a:hover, #navbar a.active, #sidebar-first a.active, #navbar li.active-trail, #sidebar-first li.active-trail {
  background:#b0a67e;
  }


/*Navbar Specific */

#sidebar-first li a, #navbar li, #navbar li.first {
  border-color: #b0a67e;
  }