/* $Id: tabs.css,v 1.2 2008/09/08 02:35:29 johnalbin Exp $ */

/*
 * Tabs CSS
 *
 * Adds styles for the primary and secondary tabs.
 *
 * Compare this with default CSS found in the system module's stylesheet (a copy
 * of which is in drupal6-reference.css, line 510.)
 *
 */

  div.tabs {
    }

  div.tabs ul {
    margin: 0 0 5px 0;
    padding: 0 0 0 10px;
    border-width: 0;
    list-style: none;
    white-space: nowrap;
    line-height: normal;
    background:#dde7ad;
    border-bottom: 1px solid #c4cd98
    height: 43px;
  }

  div.tabs li {
    float: left;
    margin: 0;
    padding: 0;
    font-size: 14px;
  }

  div.tabs li a {
    display: block;
    margin: 0;
    padding: 13px 20px;
    border-width: 0;
    font-weight: bold;
    text-decoration: none;
    color: #918f8f;
    background-color: transparent;
  }


 div.tabs li a:hover {
    border-width: 0;
    background-color: transparent;

  }


  div.tabs li.active a,
  div.tabs li.active a:hover {
    border-width: 0;
    color: #000;
    background-color: transparent;
  }

/* Use this if you want to have a second column for tabs instead of a horizontal bar
div.tabs {
  width: 166px;
  position:absolute;
  background:#f2f3f3;
  border-right: 1px solid #bfc6c6;
  border-bottom: none;
  top: 0;
  left: 0;
  bottom: 0px;
  right: auto;
  }

div.tabs li {
  padding: 0;
  margin: 0;
  display: block;
  width: 166px;
  }

div.tabs li a {
  border-bottom:1px solid #BFC6C6;
  color:#626161;
  display:block;
  font-size:14px;
  padding:13px 23px;
  font-weight: normal;
  }

div.tabs li.active a {
  background:url(images/cp-sidemenu-active.png) repeat-x 0 100% #B8C0C0;
  color: #000;
  text-shadow: 0 1px 0 rgba(206, 214, 221, 0.75)
  }

.view-vsite-activity {
  margin-left: 196px;
  margin-top: 30px;
  }
*/
