body.page-site-register {
  margin-top: 45px;
  line-height: 115%;
  }

body.page-site-register #wrapper, body.page-site-register #extradiv {
  width: 740px;
  margin: 0 auto;
  }

body.page-site-register #container {
  padding: 32px 32px 0 32px;
  width: 676px;
  }

body.page-site-register #extradiv {
  height: 32px;
  }

body.page-site-register #wrapper {
  background: url(images/register-top.png) no-repeat transparent;
  }

body.page-site-register #content-wrapper-bottom {
  clear:both;
  }

body.page-site-register #extradiv {
  background: url(images/register-bottom.png) no-repeat transparent;
  }

body.page-site-register #header {
  height: auto;
  float:left;
  }

body.page-site-register #header-wrapper {
  padding: 0;
  }

body.page-site-register #header-main, body.page-site-register #header-right {
  display:none;
  }

body.page-site-register #header-left {
  margin: 0;
  position: static;
  }

body.page-site-register #header h1 {
  background-image: url(images/register-logo.png);
  width: 257px;
  height:64px;
  }

body.page-site-register .form-item {
  margin: 0;
  }

body.page-site-register #content-main, body.page-site-register #content-wrapper {
  padding: 0;
  float: none;
  clear: none;
  }

body.page-site-register h2.title {
  float:right;
  color:#9f9e9e;
  font-weight: normal;
  font-size: 30px;
  margin-top: 17px;
  margin-right: 10px;
  }

body.page-site-register #user_register, body.page-site-register #domain-field {
  clear:both;
  padding-top: 50px;
  padding-bottom: 1px;
  }

#edit-password-wrapper {
  position: relative;
  }

#scholarregister-signup-form #name-field, #scholarregister-signup-form #mail-field, #edit-password-pass1-wrapper, #edit-password-pass2-wrapper, #edit-password-pass1-wrapper, #edit-password-pass2-wrapper {
  width: 329px;
  float:left;
  margin: 0;
  position: relative;
  }

#scholarregister-signup-form #mail-field {
  float: right;
  }

.form-actions {
  text-align: right;
  }

body.page-site-register {
  margin-top: 13px;
  }

body.page-site-register #success-message p {
  margin-top: 13px;
  margin-bottom: 0;
  font-size: 16px;
  color:#7e7e7e;
  }

#name-field input, #mail-field input {
  width: 315px;
  }

body.page-site-register div.password-description {
  max-width: none;
  }

body.page-site-register div.error, body.page-site-register div.warning {
  clear: both;
  }

body.page-site-register div.warning li {
  list-style: disc inside;
  }

body.page-site-register #edit-submit {
  float:right;
  }