html, body, #footer, #content-wrapper, body.section-home #content-main #content {
  min-width:1017px;
  }


@font-face {
	font-family: 'DeliciousSmallCapsRegular';
	src: url('fonts/delicious-smallcaps-webfont.eot');
	src: local('☺'), url('fonts/delicious-smallcaps-webfont.woff') format('woff'), url('fonts/delicious-smallcaps-webfont.ttf') format('truetype'), url('fonts/delicious-smallcaps-webfont.svg#webfontfGTCqIWF') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DeliciousRoman';
	src: url('fonts/delicious-roman-webfont.eot');
	src: local('☺'), url('fonts/delicious-roman-webfont.woff') format('woff'), url('fonts/delicious-roman-webfont.ttf') format('truetype'), url('fonts/delicious-roman-webfont.svg#webfontHsOzJLoO') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DeliciousItalic';
	src: url('fonts/delicious-italic-webfont.eot');
	src: local('☺'), url('fonts/delicious-italic-webfont.woff') format('woff'), url('fonts/delicious-italic-webfont.ttf') format('truetype'), url('fonts/delicious-italic-webfont.svg#webfontILnrs6k4') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DeliciousHeavyRegular';
	src: url('fonts/delicious-heavy-webfont.eot');
	src: local('☺'), url('fonts/delicious-heavy-webfont.woff') format('woff'), url('fonts/delicious-heavy-webfont.ttf') format('truetype'), url('fonts/delicious-heavy-webfont.svg#webfontuDowCwft') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DeliciousBoldItalic';
	src: url('fonts/delicious-bolditalic-webfont.eot');
	src: local('☺'), url('fonts/delicious-bolditalic-webfont.woff') format('woff'), url('fonts/delicious-bolditalic-webfont.ttf') format('truetype'), url('fonts/delicious-bolditalic-webfont.svg#webfontMzyPhQ9d') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DeliciousBold';
	src: url('fonts/delicious-bold-webfont.eot');
	src: local('☺'), url('fonts/delicious-bold-webfont.woff') format('woff'), url('fonts/delicious-bold-webfont.ttf') format('truetype'), url('fonts/delicious-bold-webfont.svg#webfonty8B1yvzc') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
  font-family:"helvetica neue",helvetica, Arial,sans-serif;
  background: #e6e6e6;
  color: #000;
  max-width: 1200px;
  }

/*TYPOGRAPHY*/

a {
  color: #3792a6;
  text-decoration: underline;
  }

a:visited {
  color: #1e5663;
  }

a:hover,  {
  color: #6eafbe;
  }

h2, h3 {
  font-size: 1.3em;
  }

h2 {
  margin-bottom: 1em;
  }

h3 {
  margin:1.5em 0;
  }


p.copy {
  width: auto;
  line-height: 40px;
  text-align: left;
  }

/* WRAPPER ELEMENTS */

#wrapper, #content-wrapper, #footer {
  max-width: 1200px;
  }

#container, .section-home #content-wrapper-inner {
  background:url("images/top-shadow.png") no-repeat scroll 100% 58px transparent;
  }

.section-home #content-wrapper-inner {
  background-position: 100% 0;
  min-height: 59px;
  }

/* HEADER */

#header {
  height: 117px;
  background: #000;
  margin-right: 31px;
  }

#header-left {
  width:260px;
  right:300px;
  }

#header-right {
  width:330px;
  margin-right: -370px;
  }

#header-wrapper {
  background:url(images/header-bg.png) no-repeat 0 0 #e6e6e6;
  padding-left:280px;
  padding-right:370px;
  height: 58px;
  }

#header ul.menu {
  text-align: right;
  }

#header ul.menu li {
  text-align: right;
  display:inline-block;
  }

#header ul.menu li a, #header ul.menu li a:visited {
  font-size: 13px;
  padding: 0 14px;
  display:block;
  text-decoration: none;
  }

#header-wrapper ul.menu li {
  text-transform: uppercase;
  line-height: 60px;
  font-size: 13px;
  margin:0 -2px;
  height: 58px;
  font-weight: bold;
  }

#header-wrapper ul.menu li a, #header-wrapper ul.menu li a:visited {
  color: #000;
  }

#header-wrapper ul.menu li.first a {
  background:url(images/download.png) no-repeat 0 12px transparent;
  padding-left: 44px;
  }

#header-wrapper ul.menu li a:hover {
  color: #000;
  }

#header ul.menu li a.active {
  color: #df0800 !important;
  }

#header h1 {
  width:307px;
  height: 34px;
  text-indent: -999em;
  background: url(images/logo.png) no-repeat 0 0 transparent;
  margin: 15px 0 0 5px;
  }

#header h1 a, #header h1 a:visited {
  display:block;
  width:307px;
  height: 34px;
  }

#header h2, #header p {
  display:none;
  }

#navbar {
  height: 59px;
  line-height:59px;
  }

#navbar #block-vsite_menus-0 {
  padding-right: 30px;
  }

#navbar, #navbar ul.menu li a, #navbar ul.menu li a:visited {
  color:#fff;
  font-size: 17px;
  }

/* SEARCH BOX */

#header #search-form, #header .search-form {
  padding: 0;
  margin: 0;
  }

#header #block-vsite_widgets-1 {
  margin-top: 17px;
  }

#header #search-form .container-inline {
  height: 24px;
  max-width: none;
  width: auto;
  background: transparent;
  padding:0;
  }

#header #search-form #edit-keys-wrapper {
  width:245px;
  }

#header #search-form #edit-keys {
  width: 233px;
  background: #abaaaa;
  height: 24px;
  font-size: 15px;
  padding: 1px 4px 0;
  border: none;
  }

#header #search-form input#edit-submit, #header #search-form input.form-submit  {
  width:64px;
  -moz-border-radius:0;
  -webkit-border-radius:0;
  background:#df0800;
  color: #fff;
  text-transform:uppercase;
  margin:0;
  text-indent: 0;
  height: 25px;
  font-size: 12px;
  line-height: 25px;
  }


/* MAIN CONTENT */


#content-wrapper, #content-wrapper .column {
  position:absolute;
  padding:0;
  margin:0;
  }

#content-wrapper {
  background: url(images/mid-shadow.png) repeat-y 100% 0 #efeeee;
  left: 0;
  right: 0;
  top: 117px;
  bottom: 42px;
  margin:0;
  }

#content-wrapper-inner {
  }

.no-bg {
  background-image: none !important;
  }

.admin-menu #content-wrapper  {
  top: 137px;
  }


#content-wrapper .column {
  padding: 0;
  margin: 0;
  top:0;
  bottom: 0;
  float: none;
  overflow:auto;
  }

#content-wrapper #content-main {
  left: 201px;
  right:352px;
  width: auto;
  background: #fff;
  }

body.sidebar-right #content-wrapper #content-main,
body.no-sidebars #content-wrapper #content-main {
  left: 0;
  }

body.sidebar-left #content-wrapper #content-main,
body.no-sidebars #content-wrapper #content-main {
  right: 31px;
  }


#content-main #content {
  padding:22px;
  }

body.no-sidebars #content-main #content {
  padding: 22px;
  }

#content-wrapper #sidebar-left {
  padding: 0;
  right:auto;
  margin:0;
  left: 0;
  background:#F2F3F3;
  border-right: 1px solid #BFC6C6;
  }

#content-wrapper #sidebar-right {
  width: 320px;
  padding: 0;
  margin:0;
  right: 31px;
  left:auto;
  background:#F2F3F3;
  border-left: 1px solid #BFC6C6;
  }


#sidebar-left .block, #sidebar-right .block {
  padding: 22px;
  margin: 0;
  }

#content-main #content h2.title {
  position:fixed;
  top: 77px;
  left: 22px;
  color: #fff;
  font-size: 26px;
  font-weight: normal;
  }

.admin-menu #content-main #content h2.title {
  top: 95px;
  }

/* FOOTER */

#footer {
  height: 42px;
  position: fixed;
  background: url(images/bot-shadow.png) repeat-y 100% 0 #000;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  text-align: left;
  width: 100%;
  }

#footer-inner {
  padding:10px 53px 0 22px;
  }

p.copy {
  line-height: 24px;
  margin: 0;
  color: #fff;
  background: #000;
  font-weight: bold;
  font-size: 11px;
  }

p.copy a.poweredby {
  background-position: 0 -30px;
  }

/* FRONT PAGE*/

body.section-home #content-main #content {
  background: url(images/front-content.png) repeat-x 0 0;
  padding: 0;
  position: relative;
  }

body.section-home #content-wrapper #content-main {
  background: #000;
  max-width: 1200px;
  overflow-x:hidden;
  }

body.section-home #header {
  height: 58px;
  }

body.section-home #content-wrapper {
  top: 59px;
  }

body.admin-menu.section-home #content-wrapper {
  top: 79px;
  }

#tutorial-link {
  width: 143px;
  height: 91px;
  background: url(images/version-2.png) no-repeat 0 0 transparent;
  position: absolute;
  top: 0px;
  right: 0px;
  text-indent: -999em;
  }

#content-row-1 h2 {
  float:left;
  margin-bottom: 0;
  color: #fff;
  line-height: 1.4em;
  width: 293px;
  margin-top:23px;
  margin-left:22px;
  font: 29px/normal 'DeliciousRoman', sans-serif;
  }

#content-row-1 #video-link {
  float:left;
  width: 660px;
  height: 373px;
  background: url(images/video-link.png) no-repeat;
  padding: 11px 0 0 22px;
  margin-left: 6px;
  }

#content-row-2 {
  height: 348px;
  padding-top: 1px;
  padding-bottom: 36px;
  clear:both;
  background: url(images/stack-o-sites.jpg) 0 100% no-repeat;
  }

#content-row-2 .featureblock {
  float: left;
  width:196px;
  height: 295px;
  margin: 0;
  background-color: #fff;
  padding: 26px 24px;
  border: 1px solid #BCBCBC;
  }

#content-row-2 .featureblock h3, #content-row-2 .featureblock p {
  font-size: 14px;
  line-height: 1.3em;
  margin-bottom: 1em;
  margin-top: 0;
  }

#feature-academic-content {
  background:url(images/front-row2-create-anything.jpg);
  }

#content-row-2 #feature-biblio {
  background:url(images/front-row2-biblio.jpg);
  border-left: none;
  }

#content-row-2 #feature-look-feel {
  background:url(images/front-row2-lookfeel.jpg);
  border-left: none;
  }

#content-row-2 #feature-collaborate {
  background:url(images/front-row2-collaborate.jpg);
  border-left: none;
  }

#content-row-2, #content-row-3 {
  text-align: left;
  color: #000;
  width: 1082px;
  font: 15px/18px 'DeliciousRoman', sans-serif;

  }

#content-row-3 {
  text-align: right;
  width:968px;
  }

#content-row-2 h3 {
  font: 23px/23px 'DeliciousBold', sans-serif;
  margin: 22px 0 0 22px;
  }

#content-row-2 p {
  margin:0 0 0 22px;
  }

#content-row-3 h3 {
  color: #fff;
  margin: 0 .2em 0 0;
  font-size: 48px;
  line-height:normal;
  }

#content-row-3 li {
  display:inline;
  font: 30px/normal 'DeliciousRoman', sans-serif;
  color: #fff;
  }

#content-row-3 li a, #content-row-3 li a:visited {
  color: #abd407;
  text-decoration: none;
  }