@font-face {
	font-family: 'DeliciousSmallCapsRegular';
	src: url('fonts/delicious-smallcaps-webfont.eot');
	src: local('☺'), url('fonts/delicious-smallcaps-webfont.woff') format('woff'), url('fonts/delicious-smallcaps-webfont.ttf') format('truetype'), url('fonts/delicious-smallcaps-webfont.svg#webfontfGTCqIWF') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DeliciousRoman';
	src: url('fonts/delicious-roman-webfont.eot');
	src: local('☺'), url('fonts/delicious-roman-webfont.woff') format('woff'), url('fonts/delicious-roman-webfont.ttf') format('truetype'), url('fonts/delicious-roman-webfont.svg#webfontHsOzJLoO') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DeliciousItalic';
	src: url('fonts/delicious-italic-webfont.eot');
	src: local('☺'), url('fonts/delicious-italic-webfont.woff') format('woff'), url('fonts/delicious-italic-webfont.ttf') format('truetype'), url('fonts/delicious-italic-webfont.svg#webfontILnrs6k4') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DeliciousHeavyRegular';
	src: url('fonts/delicious-heavy-webfont.eot');
	src: local('☺'), url('fonts/delicious-heavy-webfont.woff') format('woff'), url('fonts/delicious-heavy-webfont.ttf') format('truetype'), url('fonts/delicious-heavy-webfont.svg#webfontuDowCwft') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DeliciousBoldItalic';
	src: url('fonts/delicious-bolditalic-webfont.eot');
	src: local('☺'), url('fonts/delicious-bolditalic-webfont.woff') format('woff'), url('fonts/delicious-bolditalic-webfont.ttf') format('truetype'), url('fonts/delicious-bolditalic-webfont.svg#webfontMzyPhQ9d') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DeliciousBold';
	src: url('fonts/delicious-bold-webfont.eot');
	src: local('☺'), url('fonts/delicious-bold-webfont.woff') format('woff'), url('fonts/delicious-bold-webfont.ttf') format('truetype'), url('fonts/delicious-bold-webfont.svg#webfonty8B1yvzc') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
  font: 12px/18px "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
  background: #373737;
  color: #333;
  }

body.page-home {
  background:url(images/body-front.png) repeat-y 50% 0 #373737;
  }

#wrapper {
  background: #fff;
  }

.page-home #wrapper {
  background:url(images/wrapper-front.png) repeat-x 0 0 transparent;
  }

#wrapper-inner {
  background: url(images/wrapper-inner.png) repeat-x 0 100% transparent;
  }

.page-home #wrapper-inner {
  background:transparent;
  }

/*TYPOGRAPHY*/

a {
  color: #3792a6;
  text-decoration: underline;
  }

a:visited {
  color: #1e5663;
  }

a:hover,  {
  color: #6eafbe;
  }

h2, h3 {
  font-size: 1.3em;
  }

h2 {
  margin-bottom: 1em;
  }

h3 {
  margin:1.5em 0;
  }


p.copy {
  width: auto;
  line-height: 40px;
  }

ul.grid {
  padding: 0;
  margin: 0;
  }

ul.grid li {
  float:left;
  width:253px;
  margin-right: 40px;
  list-style: none;
  }

/* WRAPPER ELEMENTS */


#container {
  width:1000px;
  margin: 0 auto;
  position: relative;
  background:#ededed;
  }

.page-home #container {
  padding: 0 35px;
  background:url('images/container-front.jpg') no-repeat scroll 0 58px transparent;
  }

body.page-home #content-main {
  padding: 0;
  }

#content-main #content, #sidebar-right .block .content {
  background: #fff;
  padding: 30px;
  }

body.page-home #content-wrapper #content, body.page-home #content-wrapper .column {
  background: transparent;
  padding: 0;
  }

/* HEADER */

#header {
  height: 117px;
  background: #fff;
  }

#header-left {
  width:260px;
  right:300px;
  }

#header-right {
  width:330px;
  margin-right: -370px;
  }

#header-wrapper {
  padding-left:280px;
  padding-right:370px;
  height: 58px;
  }

#header ul.menu {
  text-align: right;
  }

#header ul.menu li {
  text-align: right;
  display:inline-block;
  }

#header ul.menu li a, #header ul.menu li a:visited {
  font-size: 13px;
  padding: 0 14px;
  display:block;
  text-decoration: none;
  }

#header-wrapper ul.menu li {
  text-transform: uppercase;
  line-height: 60px;
  font-size: 13px;
  margin:0 -2px;
  height: 58px;
  font-weight: bold;
  }

#header-wrapper ul.menu li a, #header-wrapper ul.menu li a:visited {
  color: #000;
  }

#header-wrapper ul.menu li.first a {
  background:url(images/download.png) no-repeat 0 12px transparent;
  padding-left: 44px;
  }

#header-wrapper ul.menu li a:hover {
  color: #000;
  }

#header ul.menu li a.active {
  color: #df0800 !important;
  }

#header h1 {
  width:279px;
  height: 31px;
  text-indent: -999em;
  background: url(images/logo.png) no-repeat 0 0 transparent;
  margin: 15px 0 0 5px;
  }

#header h1 a, #header h1 a:visited {
  display:block;
  width:279px;
  height: 31px;
  }

#header h2, #header p {
  display:none;
  }

#navbar {
  height: 59px;
  line-height:59px;
  background:#622323;
  }

#navbar #block-vsite_menus-0 {
  padding-right: 30px;
  }

#navbar, #navbar ul.menu li a, #navbar ul.menu li a:visited {
  color:#fff;
  font-size: 17px;
  }

/* SEARCH BOX */

#header #search-form, #header .search-form {
  padding: 0;
  margin: 0;
  }

#header #block-vsite_widgets-1 {
  margin-top: 17px;
  }

#header #search-form .container-inline {
  height: 24px;
  max-width: none;
  width: auto;
  background: transparent;
  padding:0;
  }

#header #search-form #edit-keys-wrapper {
  width:245px;
  }

#header #search-form #edit-keys {
  width: 233px;
  background: #abaaaa;
  height: 24px;
  font-size: 15px;
  padding: 1px 4px 0;
  border: none;
  }

#header #search-form input#edit-submit, #header #search-form input.form-submit  {
  width:64px;
  -moz-border-radius:0;
  -webkit-border-radius:0;
  background:#df0800;
  color: #fff;
  text-transform:uppercase;
  margin:0;
  text-indent: 0;
  height: 25px;
  font-size: 12px;
  line-height: 25px;
  }


/* MAIN CONTENT */

#content-wrapper .column {
  padding: 22px;
  }

#content-wrapper #sidebar-right {
  padding-left: 0;
  }

#content-wrapper #sidebar-left {
  padding-right: 0;
  }

#content-wrapper {
  padding-right: 266px;
  }

#content-wrapper #sidebar-left {
  background:#F2F3F3;
  border-right: 1px solid #BFC6C6;
  }

#content-main #content h2.title {
  position:absolute;
  top: -40px;
  left: 22px;
  color: #fff;
  font-size: 22px;
  font-weight: normal;
  }


/* FOOTER */

#footer {
  height: 44px;
  background: url(images/footer.png) 0 0 repeat-x #373737;
  margin: 0 auto;
  padding: 28px 0 0 0;
  width: 1000px;
  }

body.page-home #footer {
  background:#000;
  }

#footer-inner {
  padding: 0 22px;
  }

p.copy {
  line-height: 24px;
  margin: 0;
  color: #fff;
  font-weight: bold;
  font-size: 11px;
  }

p.copy a.poweredby {
  background-position: 0 -29px;
  }

/* FRONT PAGE*/

body.section-home #header {
  height: 58px;
  }

body.section-home #content-wrapper {
  font-family:'DeliciousRoman', sans-serif;
  line-height: normal;
  }

#content-row-1 {
  padding-top: 1px;
  height:650px;
  }

#content-row-1 .content {
  float:left;
  margin-bottom: 0;
  color: #fff;
  width: 288px;
  margin-top:23px;
  margin-left:22px;
  }

#content-row-1 h2 {
  line-height: 1.2em;
  font-size: 29px;
  margin-top:0;
  margin-bottom: .5em;
  }

#content-row-1 h2 {
  margin-top: 0;
  margin-bottom: .5em;
  }

#content-row-1 p {
  margin-bottom: 0;
  }

#content-row-1 #video-link {
  float:right;
  width: 660px;
  height: 373px;
  background: url(images/video-link.png) no-repeat;
  padding: 11px 0 0 22px;
  }

#content-row-2 {
  text-align: center;
  color:#fff;
  height: 306px;
  }

#content-row-2 h3 {
  color: #fff;
  margin: 0 .2em 0 0;
  font-size: 48px;
  }

#content-row-2 li {
  display:inline;
  font-size: 30px;
  }

#content-row-2 li a, #content-row-2 li a:visited {
  color: #abd407;
  text-decoration: none;
  }

#content-row-2 li a:hover {
  color:#d3f204;
  }