body {
  background:#484848;
  font: 12px/17px arial, helvetica, sans-serif;
  padding-bottom:30px;
  }

/*
#extradiv {
  top: 620px;
  width: 100%;
  height: 1px;
  background: red;
  position: absolute;
  }
*/

#wrapper {
  margin-top: 0;
  }

#container {
  width: 980px;
  margin: 0 auto;
  }

#content-wrapper {
  width:980px;
  background: #fff;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: 0 .5em 2.5em rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 .5em 2.5em rgba(0,0,0,0.6);
  box-shadow: 0 .5em 2.5em rgba(0,0,0,0.6);
  }

.front #content-wrapper {
  overflow:hidden;
  }

.front #content {
  height: 515px;
  }

body.header- #content-wrapper {
  margin-top: 30px;
  }

#content-wrapper .column {
  padding-top: 30px;
  }

#content-bottom {
  clear: both;
  padding-bottom: 19px;
  border-top: 1px solid #ccc;
  width: 980px;
  }

body.no-sidebars #content-main {
  padding:30px;
  }

body.front #content-main,
body.page-site-register #content-main {
  padding:0;
  }

/* HEADER ELEMENTS */

#header {
    height: 110px;
    }

#header h1 {
  width: 231px;
  height: 76px;
  background: url(images/logo.png) no-repeat;
  text-indent: -999em;
  float:left;
  margin-top:14px;
  margin-left: 9px;
  }

#header h1 a, #header h1 a:visited {
  display:block;
  width: 231px;
  height: 76px;
  }

#header h1 a, #header h1 a:visited {
  display:block;
  width: 231px;
  height: 76px;
  }

#header h1 a, #header h1 a:visited {
    color:#282828;
    }

#header-right {
  width: 218px;
  }

#header-wrapper {
  padding-right: 258px;
  }

h2 {
  margin: 0 0 .5em 0;
  }

/* SEARCH FORM */

block-search h3 {
  display:none;
  }

.block-search .content {
  background:url("images/search.png") no-repeat scroll 100% 0 transparent;
  float:right;
  height:32px;
  margin:37px 0 0;
  width:218px;
  }

.block-search .form-item, .block-search .form-submit, .block-search .clear-block {
  border:medium none;
  margin:0;
  padding:0;
  }

.block-search label {
  display:none;
  }

.block-search .form-text {
  border:medium none;
  float:right;
  height:25px;
  margin:3px 9px 0 0;
  width:184px;
  }

.block-search input.form-submit {
  -moz-border-radius:0 0 0 0;
  background:none repeat scroll 0 0 transparent;
  border:medium none;
  float:left;
  height:30px;
  margin-left:10px;
  margin-right:0;
  margin-top:2px;
  padding:0 !important;
  text-indent:-9999em;
  width:12px;
  }

p.big-button {
  text-align: center;
  font-size: .9em !important;
  line-height: normal !important;
  margin-top: .5em;
  margin-bottom: 1em;
  color: #777;
  }

p.big-button a {
  background:url(images/get-your-site-button.png) no-repeat transparent;
  line-height: 48px !important;
  font-size: 19px;
  display: block;
  width: 226px;
  height: 49px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  margin: 0 auto;
  /*
  text-shadow: #666 0px 1px 1px;
  text-shadow: rgba(51,51,51, .2) 0px 1px 1px;
  */
  }

span.big-button a {
  color: #ff7f01;
  /*
  background: #ff7f01;
  padding: 1px 10px 2px 10px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 2px;
  /*text-shadow: #666 0px 1px 1px;
  text-shadow: rgba(51,51,51, .2) 0px 1px 1px;
  */
  }

ul#top-front li#get-form a:hover {
  color: #f0ff00;
  }

body.front h2.title {
  float:right;
  color:#9f9e9e;
  font-weight: normal;
  font-size: 30px;
  margin-top: 8px;
  margin-right: 27px;
  }


/* FRONT PAGE */

ul#top-front {
  float:right;
  margin-top: 12px;
  }

ul#top-front li {
  float: left;
  font-weight: normal;
  margin-left: 20px;
  line-height:42px;
  margin-top: 21px;
  }

ul#top-front li a, ul#top-front li a:visited {
  color: #FFF;
  }

ul#top-front li a:hover {
  text-decoration: underline;
  }


.front #content-top .content {
  height: 321px;
  margin: 0 auto;
  padding-top: 25px;
  }

#block-openscholar_front-video_info {
  margin-left:30px;
  }

#content .featureblock h3, #content .featureblock p {
  font-size: 14px;
  line-height: 1.3em;
  margin-bottom: 1em;
  }


#panel-wrapper {
  width: 1960px;
  position: relative;
  }

.panel {
  float: left;
  width: 980px;
  }

/*.
row {
  background: #fff;
  }
*/

#content-wrapper:after,
.row:after {
  content: '.';
  height: .1px;
  display:block;
  clear: both;
  visibility:hidden;
  }

#publications,
#activity,
#about-abstract {
  width:337px;
  padding:19px 22px 30px 22px;
  float: left;
  }

#activity {
  width: 179px;
  -moz-border-radius: 6px 0 0 0;
  -webkit-border-radius: 6px 0 0 0;
  border-radius: 6px 0 0 0;
  border-right:1px solid #efeded;
  }

#publications {
  padding-bottom: 30px;
  background: #fff;
  }

#publications h2, #activity h2 {
  color: #b71313;
  font-size: 18px;
  }

#publications .views-row {
  margin-bottom: 0;
  }

#publications .views-row .node {
  margin-bottom: .5em;
  }

#publications a.biblio-abstract-link  {
  display:none !important;
  }

#about-abstract {
  width:375px;
  padding: 12px 0 0 0;
  -moz-border-radius: 0 6px 0 0;
  -webkit-border-radius: 0 6px 0 0;
  }

#about-abstract ul.preview-points, #about-abstract ul.preview-points li {
  margin: 0;
  padding: 0;
  }

#about-abstract ul.preview-points li {
  padding: 16px 12px;
  background:#fbfae4;
  clear:both;
  }

#about-abstract ul.preview-points li.second {
  background: #e9f6d3;
  }


#about-abstract ul.preview-points li.third {
  background: #ecf8fa;
  }

#about-abstract h2, #about-abstract h3, #about-abstract p {
  margin-right: 10px;
  margin-bottom: 0;
  line-height: 1.4em;
  }

#about-abstract h2 {
  font-size: 19px;
  font-weight: bold;
  line-height: 1.3em;
  color:#a35353;
  color: #555;
  margin-bottom: 14px;
  }

#about-abstract .illustration {
  float: right;
  margin: 0 0 0 1em;
  width:67px;
  height:67px;
  background: url(images/widget.png) no-repeat 0 0 transparent;
  }

#about-abstract .illust-widget {
  margin-right: 1em;
  }

#about-abstract .illust-wrench {
  width:70px;
  height: 79px;
  background-image: url(images/wrench.png);
  }

#about-abstract .illust-theme {
  width:108px;
  height: 77px;
  background-image: url(images/theme.png);
  }

#about-abstract ul.preview-points #learn-more-toggle {
  padding: 0;
  }

#about-abstract ul.preview-points #learn-more-toggle a {
  display:block;
  color: #000;
  background-color: #f7f4d6;
  padding: 15px 12px 24px 24px;
  }

#about-abstract ul.preview-points #learn-more-toggle a:hover {
  background-color: #fef8ba;
  }

#about-abstract ul.preview-points #learn-more-toggle a span {
  background: url(images/learn-more-scholars.png) no-repeat 0 0;
  width: 328px;
  height: 25px;
  text-indent:-999em;
  display:block;
  margin-top:3px;
  }

#activity-toggle {
  margin: 1em 0 1.5em 49px;
  }

#activity-toggle a, #activity-toggle a:visited {
  background: url(images/black-arrow-left.png) no-repeat 0 50%;
  padding-left: 13px;
  }

#activity-toggle a:hover {
  text-decoration:underline;
  }

#activity .views-field-created {
  color:#418f9e;
  }

#video-link {
  float:left;
  width: 638px;
  margin-right: 15px;
  margin-left: 44px;
  }

#more-info {
  float:left;
  width:268px;
  font-size:18px;
  line-height: 1.2em;
  margin-top: .6em;
  }

.row {
  clear: both;
  }

.row-video {
  padding-bottom: 1.5em;
  }

.row-features {
  padding: 15px 0 30px 0;
  background:#4c4d4e;
  }

.row-features h2 {
  margin-left: 30px;
  color: #fff;
  text-shadow: #666 0px 1px 1px;
  text-shadow: rgba(51,51,51, .2) 0px 1px 1px;
  }

.row-openscholar {
  padding: 33px 23px;
  }

.row-openscholar p.docs,
.row-openscholar p.os-link {
  float: left;
  width: 212px;
  font-size: 15px;
  line-height: 23px;
  background: url(images/help-button.jpg) no-repeat 225px 50%;
  padding-top: 15px;
  padding-right:113px;
  margin-right: 19px;
  border-right: 1px solid #ccc;
  }

.row-openscholar p.os-link {
  background: url(images/floating-glasses.png) no-repeat 225px 50%;
  margin-bottom: 0;
  width: 230px;
  }

.row-openscholar .big-button {
  float: left;
  }

#footer {
  padding-top: 10px;
  }

p.copy a.poweredby {
  background-position: 0 -29px;
  }

p.copy {
  color: #ccc;
  }

/* Tables */


.view-iqss-project-sites td {
  width: 20%;
  padding: 17px;
  font-size: 1.1em;
  }

/* FRONT PAGE vSITE PROFILES */


#block-views-openscholar_sites-block_2 ul {
  padding-top: 50px;
  }


#block-views-openscholar_sites-block_2, #footer {
  position:relative;
  }


#block-views-openscholar_sites-block_2 h3 {
  background: url(images/featured.png) 0 0 no-repeat transparent;
  text-indent: -999em;
  width:70px;
  height: 64px;
  margin: 0;
  margin-top: -1px;
  float:left;
  }
  }

#block-views-openscholar_sites-block_2 {
  clear: both;
  background:#fff;
  }

#block-views-openscholar_sites-block_2 .views-row {
  float: left;
  width: 127px;
  margin-right:25px;
  clear: none;
  font-size: 12px;
  }

#block-views-openscholar_sites-block_2 .views-row-6 {
  margin-right: 0;
  }

#block-views-openscholar_sites-block_2 img, .view-iqss-project-sites img {
  border: 1px solid #535252;
  }

.views-field-description p {
  font-weight: normal;
  line-height: 1.1em;
  margin-bottom: 0;
  font-size: 11px;
  }

.views-field-title a {
  color: #313030;
  font-weight: bold;
  }

#block-views-openscholar_sites-block_2 .more-link {
  clear: both;
  }

#block-views-openscholar_sites-block_2 .views-admin-links {
  float:right;
  }


#block-views-openscholar_sites-block_2 .views-admin-links ul {
  background: transparent;
  height: auto;
  }

#block-views-openscholar_sites-block_2 .more-link a {
  background: url(images/black-arrow-right.png) no-repeat 100% 50% #fff;
  padding-right: 11px;
  color: #000;
  text-transform: capitalize;
  font-weight: bold;
  margin-right: 30px;
  }
