#wrapper {
  padding-top: 26px;
  margin-top: 0;
  background: url(images/wrapper-bg.png) repeat-x #efefef;
  }


.section-user #wrapper, .section-users #wrapper {
  background: #444;
  }

#container {
  width: 995px;
  padding: 0;
  }

.front #container {
    width: 995px;
    background:transparent;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    border: none;
    padding: 0;
    }

body.not-front #content-main {
  padding: 30px;
  width: auto;
  }

/* HEADER ELEMENTS */

#header {
    height: 105px;
    }

#header h1 {
  width: 223px;
  height: 76px;
  background: url(images/scholars-at-harvard-logo-on-white.png) no-repeat;
  text-indent: -999em;
  float:left;
  margin-top: 19px;
  }

.front #header h1 {
  background-image: url(images/scholars-at-harvard-logo.png);
  margin-top: 0;
  }

#header h1 a, #header h1 a:visited {
  display:block;
  width: 223px;
  height: 76px;
  }

#header h2 {
    font-size: 1.5em;
    line-height:1.3em;
    }

#header h1 a, #header h1 a:visited {
    color:#282828;
    }

/* FRONT PAGE */

ul#top-front {
  float:right;
  }

ul#top-front li {
  float: left;
  font-weight: normal;
  margin-left: 20px;
  line-height:42px;
  margin-top: 21px;
  }

ul#top-front li a, ul#top-front li a:visited {
  color: #FFF;
  }

ul#top-front li a:hover {
  text-decoration: underline;
  }

#block-openscholar_front-top_links a {
  margin-top: 22px;
  }

.front #content-top, .front #content {
  width: 981px;
  padding: 0 7px;
  }

.front #content-top {
  background: url(images/contain.png) no-repeat;
  height: 416px;
  position: relative;
  border: none;
  margin-bottom: 0;
  }

.front #content-top .content {
  height: 321px;
  margin: 0 auto;
  padding-top: 25px;
  }

#tutorial-link {
  width: 147px;
  height: 90px;
  background: url(images/triangle-video-tutorial.png) no-repeat transparent;
  background: url(images/version-2.png) no-repeat transparent;
  position: absolute;
  top: 0px;
  right: 8px;
  text-indent: -999em;
  }

#block-openscholar_front-video_info {
  margin-left:30px;
  }

.front #content-top #block-openscholar_front-site_mission {
  margin-right: 30px;
  font-weight: bold;
  width: 250px;

  }

.front #block-openscholar_front-site_mission span {
  color: #ababab;
  display:block;
  }

.front #content {
  background: url(images/contain.png) no-repeat 0 100%;
  height: 348px;
  padding-bottom: 26px;
  }

.front #content .featureblock {
  float: left;
  width:196px;
  height: 295px;
  margin: 0;
  background-color: #fff;
  padding: 26px 24px;
  border: 1px solid #BCBCBC;
  }

#content .featureblock h3, #content .featureblock p {
  font-size: 14px;
  line-height: 1.3em;
  margin-bottom: 1em;
  }

#feature-academic-content {
  background:url(images/front-row2-create-anything.jpg);
  }

#content #feature-biblio {
  background:url(images/front-row2-biblio.jpg);
  border-left: none;
  }

#content #feature-look-feel {
  background:url(images/front-row2-lookfeel.jpg);
  border-left: none;
  }

#content #feature-collaborate {
  background:url(images/front-row2-collaborate.jpg);
  border-left: none;
  }

.front #content-bottom {
  border:none;
  padding: 0;
  width: 100%;
  background: url(images/featured-top.png) no-repeat 0 0 transparent;
  }

.front #block-views-openscholar_sites-block_2 ul {
  background: url(images/featured-main.png) no-repeat 0 100% transparent;
  min-height: 10px;
  }

.front #block-views-openscholar_sites-block_2 .more-link {
  float:right;
  margin-top: -52px;
  }

.front #footer {
  padding-top: 0;
  }

/* Tables */


.view-iqss-project-sites td {
  width: 20%;
  padding: 17px;
  font-size: 1.1em;
  }