#header h1 {
  width: 231px;
  height: 76px;
  background: url(images/logo.png) no-repeat;
  text-indent: -999em;
  float:left;
  margin-top:14px;
  margin-left: 9px;
  }

#header h1 a, #header h1 a:visited {
  display:block;
  width: 231px;
  height: 76px;
  }

p#learn-more-toggle a span {
  background: url(images/learn-more-scholars.png) no-repeat 0 0;
  width: 222px;
  height: 20px;
  text-indent:-999em;
  display:block;
  }
