body {
  color:#5a5959;
  font-size: .8em;
  }

body, #top, #footer {
  overflow: hidden;
  }


body#tinymce {
	background: #fff;
	font-size: 1em;
	margin: 10px;
	overflow: auto;
	}

#container {
	margin: 0;
	width: 100%;
	}

#main-content, #top, #footer, #cp-sidemenu, #cp-content, #sidebar-right {
	padding: 0;
	margin: 0;
	left: 0;
	right: 0;
	top: 40px;
	bottom: 42px;
	position: absolute;
	float:none;
	width: 100%;
	overflow: hidden;
	}

#main-content, #main, #cp-content {
	background: #fff;
	float: none;
	}

#top, #footer {
	top: 0;
	bottom: auto;
	height: 42px;
	background:url(images/top-bottom-bg.png) repeat-x #000 0 -9px;
	}

#footer {
	bottom: 0;
	top: auto;
	width: auto;
	}

#cp-sidemenu, #cp-content, #sidebar-right {
	top: 0;
	bottom: 0;
	}

#cp-sidemenu {
  width: 200px;
  right: auto;
  background:#f2f3f3;
  border-right: 1px solid #bfc6c6;
  }


#cp-content {
  left: 201px;
  width: auto;
  }

body.sidebar-right #cp-content, body.two-sidebars #cp-content {
  right: 201px;
  }

body.no-sidebars #cp-content, body.sidebar-right #cp-content {
  left:0;
  }

#sidebar-right {
  width: 175px;
  padding: 35px 10px 0 15px;
  background: #f2f3f3;
  border-left: 1px solid #b8c0c0;
  margin: 0;
  right:0;
  left:auto;
  }

.frame {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  }

.innerframe {
  position: absolute;
  width: 100%;
  overflow: auto;
  top: 0;
  bottom: 0;
  }

#cp-content .innerframe form {
  margin: 30px;
  }

.help {
  margin-left: 5px;
  }

.views-admin-links {
  float: right;
  }

/* For use with admin_menu module only */

body.admin-menu #top {
  top: 22px;
  }

body.admin-menu #main-content {
  top: 62px;
  }

/* First Column */

#cp-sidemenu li {
  padding: 0;
  }

#cp-sidemenu li a, #cp-sidemenu li a:visited {
  color: #626161;
  font-weight: bold;
  padding: 13px 23px;
  border-bottom: 1px solid #bfc6c6;
  display:block;
  font-size: 14px;
  }


#cp-sidemenu li.active a,
#cp-sidemenu li.active-trail a {
  background: url(images/cp-sidemenu-active.png) 0 100% repeat-x #b8c0c0;
  color: #000;
  text-decoration: none;
  text-shadow:0 1px 0 rgba(206, 214, 221, 0.75);
  }


/* Main Content */

.pad {
  margin: 30px 0 0 30px;
  }

/* Exposed View Form */

#cp-content .innerframe form#views-exposed-form-vsite-content-default {
  margin: 0;
  padding: 20px 20px 10px 20px;
  background:#EAEBE9;
  font-size: .8em;
  }

.view-display-id-default {
  padding: 30px;
  }


/* FOOTER Get rid of all this once the footer content is in a module */

#footer h3 {
  float: left;
  width: 463px;
  height: 15px;
  text-indent: -999em;
  background: url(images/footer-logo.png) no-repeat transparent;
  margin-left: 33px;
  margin-top: 14px;
  }

#footer ul {
  float: right;
  color: #ddd;
  font-size: 12px;
  margin-top: 13px;
  margin-right: 10px;
  }

#footer a, #foot a:visited {
  color: #ddd;
  text-decoration: underline;
  }

#footer li {
  display:inline;
  margin-left: 8px;
  border-right: 1px solid #ddd;
  padding-right: 8px;
  text-align: right;
  }

#footer li.last {
  border: none;
  }



/* Typography */

.submitted {
  color: #657a7a;
  }

p {
  margin-bottom: 1em;
  }







/* SPECIFIC PAGE VIEWS */

/* Activity Area */

.view-vsite-activity .views-field-message, .view-vsite-activity .views-field-title {
  font-weight: bold;
  }

.view-vsite-activity .views-field-title a {
  text-decoration: underline;
  }

.view-vsite-activity .views-field-created span:after {
  content: '.';
  }

.view-vsite-activity .views-field-message span:after {
  content: ':';
  }