/* Forms */


.section-cp .fieldset-wrapper, .section-cp div.spaces-block-customizer, .section-cp div.description  {
	padding: 4px;
	margin-bottom: 1.5em;
	margin-left: 190px;
	margin-top: -28px;
	}


.section-cp .fieldset-wrapper .fieldset-wrapper {
	margin: 0;
	}

.section-cp div.form-item {
	margin: auto;
	border: none;
	padding: 0;
	margin: 0;
  }

.views-exposed-form .views-exposed-widget {
  padding: 0 2em 0 0;
  }

#views-bulk-operations-submit {
  padding: 0;
  }

select option {
  padding: 2px 5px;
  }

.form-radios {
  margin: 0 0 1em 0;
  }

.section-cp .form-radios input {
  margin: 3px 3px 3px 0;
  }

.section-cp fieldset table tr {
  border: none;
  }

.section-cp label, .section-cp .div.form-item label, .section-cp .description, div.spaces-block-customizer {
	display:block;
	font-weight: bold;
	color:#333;
	font-size: 1.1em;
	text-transform:none;
	}

.section-cp div.description {
	color:#777;
  margin-bottom: 3em;
	font-weight: normal;
	line-height: 127%;
	font-size: .9em;
	}

.section-cp .fieldset-wrapper div.description, .section-cp table div.description, .section-cp .form-item div.description {
  margin-left: 0;
  padding: 0;
  margin-top: 3px;
  margin-bottom: 3px;
  }

.section-cp fieldset legend, h3#modal-title {
	font-weight: bold;
	color:#425e69;
	font-size: 1.2em;
	float: left;
	}

h3#modal-title {
  float: none;
  margin-bottom: 1.5em;
  }

.section-cp div.fieldset, .section-cp fieldset, .section-cp .container-inline-date {
  background: transparent;
  clear: both;
  }

.section-cp fieldset {
  border: none;
  border-bottom: 1px solid #ccc;
  }

.section-cp label.option {
	color: #666;
	}

.section-cp input.form-text {
	padding: 4px 3px 2px 3px;
	margin: -3px;
	border-width: 2px;
	-moz-border-top-colors: #f9f9f9 #707070;
	-moz-border-left-colors: #f9f9f9 #ABABAB;
	-moz-border-right-colors: #f9f9f9 #ABABAB;
	-moz-border-bottom-colors: #f9f9f9 #CECECE;
	}

.ctools-use-modal-processed .buttons	{
  text-align: right;
  margin-top: 30px;
  }

a.close-this {
  display:block;
  float:right;
  }