/* Forms */


.section-cp .fieldset-wrapper {
	padding: 4px;
	margin-bottom: 1.5em;
	margin-left: 190px;
	margin-top: -1.5em;
	}


.section-cp .fieldset-wrapper .fieldset-wrapper {
	margin: 0;
	}

.section-cp div.form-item {
	margin: auto;
	border: none;
	padding: 0;
	margin: 0;
  }

.section-cp label, .section-cp .div.form-item label, .section-cp .description {
	display:block;
	font-weight: bold;
	color:#333;
	font-size: 1.1em;
	text-transform:none;
	}

.section-cp div.description {
	color:#7c8e8e;
	margin-top: 3px;
	font-weight: normal;
	line-height: 127%;
	}

.section-cp legend {
	font-weight: bold;
	color:#425e69;
	font-size: 1.2em;
	}

.section-cp div.fieldset, .section-cp fieldset, .section-cp .container-inline-date {
  background: transparent;
  border: none;
  }

.section-cp label.option {
	color: #666;
	}

.section-cp input.form-text {
	padding: 4px 3px 2px 3px;
	margin: -3px;
	border-width: 2px;
	-moz-border-top-colors: #f9f9f9 #707070;
	-moz-border-left-colors: #f9f9f9 #ABABAB;
	-moz-border-right-colors: #f9f9f9 #ABABAB;
	-moz-border-bottom-colors: #f9f9f9 #CECECE;
	}