/* $Id: tabs.css,v 1.2 2008/09/08 02:35:29 johnalbin Exp $ */

/*
 * Tabs CSS
 *
 * Adds styles for the primary and secondary tabs.
 *
 * Compare this with default CSS found in the system module's stylesheet (a copy
 * of which is in drupal6-reference.css, line 510.)
 *
 */

  div.tabs {
    margin: 0 0 5px 0;
    background:#dde7ad;
    border-bottom: 1px solid #c4cd98
    }

  ul.primary {
    margin: 0;
    padding: 0 0 0 10px;
    border-width: 0;
    list-style: none;
    white-space: nowrap;
    line-height: normal;

  }

  ul.primary li {
    float: left;
    margin: 0;
    padding: 0;
    font-size: 14px;
  }

  ul.primary li a {
    display: block;
    margin: 0;
    padding: 13px 20px;
    border-width: 0;
    font-weight: bold;
    text-decoration: none;
    color: #918f8f;
    background-color: transparent;
  }


  ul.primary li a:hover {
    border-width: 0;
    background-color: transparent;

  }


  ul.primary li.active a,
  ul.primary li.active a:hover {
    border-width: 0;
    color: #000;
    background-color: transparent;
  }

.page-cp-news-activity #cp-content div.tabs, .page-cp-news-activity-me #cp-content div.tabs,
.page-cp-news-activity-all #cp-content div.tabs {
  width: 166px;
  position:absolute;
  background:#f2f3f3;
  border-right: 1px solid #bfc6c6;
  border-bottom: none;
  top: 0;
  left: 0;
  bottom: 0px;
  right: auto;
  }

.page-cp-news-activity #cp-content div.tabs ul, .page-cp-news-activity-me #cp-content div.tabs ul,
.page-cp-news-activity #cp-content div.tabs li, .page-cp-news-activity-me #cp-content div.tabs li,
.page-cp-news-activity-all #cp-content div.tabs ul,
.page-cp-news-activity-all #cp-content div.tabs li {
  padding: 0;
  margin: 0;
  display: block;
  width: 166px;
  }

.page-cp-news-activity #cp-content div.tabs li a, .page-cp-news-activity-me #cp-content div.tabs li a,
.page-cp-news-activity-all #cp-content div.tabs li a {
  border-bottom:1px solid #BFC6C6;
  color:#626161;
  display:block;
  font-size:14px;
  padding:13px 23px;
  }

.page-cp-news-activity #cp-content div.tabs li.active a, .page-cp-news-activity-me #cp-content div.tabs li.active a,
.page-cp-news-activity-all #cp-content div.tabs li.active a {
  background:url(cp-sidemenu-active.png) repeat-x 0 100% #B8C0C0;
  color: #000;
  }

.view-vsite-activity {
  margin-left: 196px;
  margin-top: 30px;
  }

