@charset "utf-8";
	
/* $Id: style.css,v 1.2 2008/12/23 15:36:05 falimadh Exp $ */
/* IQSS Base Theme.
----------------------------------------------------------------
[Table of contents]

 1.Global
 2.Layout
 3.Header
 4.Navigation
 5.Nodes
 6.Comments
 7.Sidebars
 8.Blocks
 9.Footer
10.CSS Support
11.Administration

----------------------------------------------------------------*/

/**
 * 1.GLOBAL
 */
 
* {
	margin: 0;
	padding: 0;
	list-style: none;
	}

html { /* this stops the FF and Safari scrollbar jump issue */ 
	min-height: 100%; 
	margin-bottom: 1px; 
	}
 
body {
	background: #d9dfdf;
	color: #212a2a;
	font: 82%/1.5em "Lucida Grande","Lucida Sans Unicode","MS Sans Serif", Geneva, Arial, Helvetica, sans-serif;
	margin-bottom: 35px;
	}

body#tinymce {
	margin: 5px;
	background: #fff;
	}
	
body.admin-menu {
	margin-top: 22px !important;
	}

h1, h2, h3, h4, h5 {
	font-weight: bold;
	}

#header h1 {
	width: 68px;
	height: 84px;
	text-indent: -999em;
	background: url(images/logo.png) no-repeat;
	float: left;
	}

#header h1 a, #header h1 a:visited {
	width: 68px;
	height: 84px;
	display: block;
	}

h2 {
	font: 18px/normal arial, helvetica, sans-serif;
	margin-bottom: 1.5em;
	color: #212a2a;
	font-weight: bold;
	}

.nomarg {
	margin: 0;
	}
	
div.sidebar h2 {
	margin-bottom: .3em;
	}

h3, h4, h5 {
	font: 14px/normal "Lucida Grande", Geneva, "MS Sans Serif", Arial,sans-serif;
	margin-top: 1.5em;
	margin-bottom: .5em;
	font-weight: bold;
	color:#212a2a;
	}
	
.content h3 {
	margin-top: 3.5em;
	}
	
h4, h5 {
	font-size: 100%;
	}

.teaser h3, h3.title {
	margin: 0;	
	}

#center div.item-list li.views-row-2 h3, #center div.item-list li.views-row-3 h3, #center div.item-list li.views-row-4 h3, #center div.item-list li.views-row-5 h3 {
	font-size: 12px;
	margin-bottom: 1em;
	}



a, a:visited, a:active, li a.active {
	color: #508F88;
	text-decoration: none;
	}

a:focus {
	outline: 1px dotted;
	}

a:hover, li a.active:hover {
	color: #000;
	outline: none;
	}
	
.node a:hover, li a.active:hover {
	background: #F4F2E4;
	text-decoration: none;
	color: #000;
	border-bottom: 1px solid #5F5F5F;
	}
	
.sidebar .node a:hover, .sidebar li a.active:hover {
	border:none;
	}
	
.node .field-type-image a:hover, .node .field-field-profile-image a:hover {
	border: none;
	background: transparent;
	}
	
h3 a, h3 a:visited {
	color: #3E7874;
	}
	


p, div.node div.content li {
	margin-bottom: 1.5em;
	}
	
div.teaser p {
	line-height:1.416em;
	margin-bottom: 1em;
	}

blockquote {
	margin: 1.25em;
	padding: 1.25em 1.25em 0 1.25em;
	}

em {
	padding: 0 3px 0 0;
	}

hr {
	background: #7f7f7f;
	border: none;
	height: 1px;
	}

img, a img {
	border: none;
	outline: none;
	}
	
.block ul {
	padding: 0;
	}
	











	
/* lists */

ol {
	margin: .5em 0 1em;
	padding: 15px;
	background: #efefef;
	}

ol li {
	margin: .15em 0 .15em .5em;
	padding: 0 0 .2em;
	}

ol ul li {
	margin-left: .5em;
	padding: 0 0 .2em 1.5em;
	}

ul {
	margin: .5em 0 1em;
	}


.item-list ul ul {
	margin-left: 0;
	}

ul li, ul li.leaf, .item-list ul li {
	list-style-image: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	}

div.node div.content ol li, #col2 ol li {
	list-style:decimal inside;
	margin-left: 2em;
	}	
	

div.node div.content ul li, #col2 ul li, ul.bullet li {
	list-style:disc outside;
	margin-left: 2em;
	margin-bottom: 1em;
	}
	
div.node div.content ol li ul li, #col2 ol li ul li {
	list-style: circle inside;
	}

div.node div.content ul.links li, #col2 ul.links li	{
	margin-left: 0;
	list-style: none;
	}

ul li.expanded {
	}

ul li.collapsed {
	}

ul li.leaf a, ul li.expanded a, ul li.collapsed a {
	/*display: block;*/
	}

ul.inline li {
	background: none;
	padding: 0 1em 0 0;
	}

ul ol li {
	background: none;
	list-style-type: decimal;
	margin-left: 2em;
	padding: 0 0 .2em;
	}

ul ul li {
	margin-left: 2em;
	}


div.full-node div.content li {
	list-style: inside disc;
	}













/* menu */
ul.menu {
	}

ul.menu li {
	background-position: .3em .6em;
	list-style-image: none;
	list-style-type: none;
	padding: 0;
	}

ul.menu li a {
	padding: .1em 0 .1em 1.5em;
	}

ul.menu li ul li {
	background-position: 1.5em .6em;
	}

ul.menu li ul li a {
	padding-left: 2.7em;
	}

ul.menu li ul li ul li {
	background-position: 2.7em .6em;
	}

ul.menu li ul li ul li a {
	padding-left: 3.9em;
	}

ul.menu li ul li ul li ul li {
	background-position: 3.9em .6em;
	}

ul.menu li ul li ul li ul li a {
	padding-left: 5.1em;
	}

ul.menu li.expanded {
	padding-bottom: 0;
	}

ul.menu li.expanded ul {
margin-top: .1em;
	}

/* menu zebra coloring */
ul.menu li {
	padding: 0;
	margin: 6px 0;
	}

ul.menu li a {
	padding: .2em 0;
	}

ul.menu li.odd {
	background-color: transparent;
	}

ul.menu li.even {
	background-color: transparent;
	}

#sidebar-right ul.menu li.even, #sidebar-right ul.menu li.odd {
	background-color: transparent;
	}

ul.menu li.expanded {
	border: none;
	padding-bottom: 0;
	}

ul.menu li.expanded ul {
	margin-top: .2em;
	}





















/**
 * 2.LAYOUT
 */
 
#wrapper {
	background: #f7f6f6;
	}

#container {
	margin: 0 auto;
	width: 1008px;
	padding: 0;
	}

#verytop, #header, #main, #main_wrap, #footer {
	width: 100%;
	margin: 0 auto;
	clear: both;
	}

#main_wrap {
	}
	
#main {
	padding-bottom: 60px;
	}
	
body.node-type-book #main {
	padding-bottom: 0;
	}

/* 1 column */
#center {
	position: relative;
	}

/* 3 columns */
body.two-sidebars #center {
	float: left;
	padding: 0;
	width: 698px;
	}

/* 2 columns - sidebar-left */
body.sidebar-left #center {
	float: right;
	width: 726px;
	}

/* 2 columns - sidebar-right */
body.sidebar-right #center {
	float: left;
	width: 726px;
	}















/**
 * 3.HEADER
 */
#header {
	width: 100%;
	position: relative;
	}

#header #name {
	display:block;
	}

#header #slogan {
	display: block;
	font-size: .75em;
	}
	
#verytop {

	}


#search-theme-form {
	float: right;
	}

#block-user-0, #block-logintoboggan-0 {
	float:left;
	margin: 11px 0 0 0;
	}

#search-theme-form .form-button, #search-theme-form .form-submit {
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

/**
 * 4.NAVIGATION
 */

ul.links li {
	background: none;
	margin: 0 10px 0 0;
	padding: 0;
	}

#nav {
	}

#nav ul.primary-links {
	border-right: 1px solid #aaa7af;
	}
	
#nav ul.primary-links li {
	float: left;
	border-left: 1px solid #aaa7af;
	margin-bottom: 18px;
	}

#nav ul.primary-links li.menu-680 {
	padding-left: 10px;
	}

#nav ul.primary-links li.last {
	border-right: 1px solid #AAA7AF;
	float:right;
	margin-right: 0;
	}

#nav ul.primary-links li a, #nav ul.primary-links li a:visited {
	padding: 10px 19px 13px 20px;
	display:block;
	color: #42473b;
	}

#nav a:hover, #nav a:active, .sidebar a:hover {
	border: none;
	background: none;
	}

ul.secondary-links {
	float:right;
	font: 14px/16px arial, helvetica, sans-serif;
	font-weight: bold;
	margin-top: 11px;
	}

ul.secondary-links li {
	}

ul.secondary-links li a, ul.secondary-links li a:visited {
	margin: 0 10px 0 0;
	padding: 2px 0;
	color: #79909e;
	}

/*negative margin keeps from pushing node h2 titles down*/
.breadcrumb {
	color: #ccc;
	font-size: 1em;
	}

.breadcrumb a, .breadcrumb a:visited {
	color: #666;
	padding: 3px 7px;
	margin-right: 3px;
	}

.breadcrumb a:hover {
	color: #999;
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

/**
 * 5.NODES
 */

div.teaser {
	font-size: 12px;
	line-height: 15px;
	}
	
div.node {
	margin-bottom: 1.5em;
	}

div.node div.field-type-image {
	float: left;
	margin: 0 15px 5px 0;
	background: #fff;
	line-height: 8px;
	}

div.node div.field-type-image div.field-type-image {
	margin: 0;
	}
	
div.node div.field-type-image img a {
	padding: 0;
	line-height: 8px;
	}
	
div.field-type-image div.slideshow-title a {
	background: url(images/photos.png) 0 2px no-repeat transparent;
	height: 15px;
	line-height: 15px;
	padding-left: 22px;
	margin-left: 6px;
	display: block;
	font-size: 11px;
	}
	
.node-unpublished {
	background: url(images/unpublished.png) #fff4f4;
	}

div.field-type-image div.slideshow-title a:hover {
	border: none;
	background-color: transparent;
	}


.field-field-news-link .field-item {
	margin: 5px 0;
	}
	
.field-field-news-link .field-item a {
	padding-left: 14px;
	padding-bottom: 3px;
	}
	
span.submitted {
	color: #898989;
	display: block;
	font-size: .8333em;
	margin: 0;
	}


div.field-type-nodereference {
	margin-bottom: 1.5em;
	}

.meta {
	margin: 0;
	padding: 0;
	}
	
ul.primary {
	padding: 0;
	}

div.teaser .meta {
	margin-top: 0;
	}

.meta div.links {
	float: right;
	height: 17px;
	line-height: 17px;
	}

.meta div.terms {
	float: left;
	}

.meta div.links ul.links li a {
	height: 17px;
	line-height: 17px;
	}

.meta div.links ul.links li {
	float: left;
	padding: 5px 0 5px 10px;
	}

.meta div.terms ul.links li {
	float: left;
	padding: 5px 0 5px 10px;
	}

.node_read_more {
	font-weight: bold;
	}
	
.node ul.links, body.node-type-book ul.links, #col2 ul.links {
	border-left: 1px solid #EAE8E9;
	border-bottom: 1px solid #EAE8E9;
	float:right;
	width: 120px;
	padding: 0 0 1em 1.5em;
	margin: 0 -35px 10px 10px;
	background: #fff;
	}

.node div.terms ul.links {
	border: none;
	float: left;
	width: auto;
	padding: 0;
	margin: 0;
	background: transparent;
	}
	
.node div.terms p {
	float: left;
	margin:5px 0 0 0;
	font-size: 80%;
	line-height: normal;
	}

.node ul.links li, body.node-type-book ul.links li, #col2 ul.links li {
	float: none;
	display:block;
	border-bottom: 1px solid #EAE8E9;
	padding: 5px 0;
	font-size :80%;
	line-height: normal;
	}
	
.node ul.links li.last, body.node-type-book ul.links li.last, #col2 ul.links li.last {
	border: none;
	}
	
.print_html img, .print_pdf img, .print_mail img, .book_pdf img, .book_mail img, .book_printer img {
	display:none;
	}
	
.node ul.links li.print_html, .node ul.links li.print_pdf, .node ul.links li.print_mail,.node ul.links li.permalink, body.node-type-book ul.links li.permalink, .node ul.links li.book_printer, body.node-type-book ul.links li.book_printer, .node ul.links li.book_mail, body.node-type-book ul.links li.book_mail, .node ul.links li.book_pdf, body.node-type-book ul.links li.book_pdf {
	background: url(images/permalink.png) no-repeat 0 50% transparent;
	padding-left: 25px !important;
	line-height: 14px;
	}
	
.node ul.links li.print_html,.node ul.links li.book_printer, body.node-type-book ul.links li.book_printer {
	background-image: url(images/icon-print.gif);
	padding-left: 20px !important;
	}
	
.node ul.links li.print_pdf, .node ul.links li.book_pdf, body.node-type-book ul.links li.book_pdf {
	background-image: url(images/icon-pdf.gif);
	padding-left: 20px !important;
	}
	
.node ul.links li.print_mail,.node ul.links li.book_mail, body.node-type-book ul.links li.book_mail {
	background-image: url(images/icon-email.gif);
	padding-left: 22px !important;
	}	
	
.node ul.links li a, body.node-type-book ul.links li a, .node div.terms p, #col2 ul.links li a, 	
.node ul.links li a:visited, body.node-type-book ul.links li a:visited, .node div.terms p, #col2 ul.links li a:visited {
	color:#777;
	}
	
.node ul.links li a:hover, body.node-type-book ul.links li a:hover, #col2 ul.links li a:hover {
	color: #000;
	background: #F4F2E4;
	border-bottom: 1px solid #5f5f5f;
	}


.node ul.links li a img, body.node-type-book ul.links a img, #col2 ul.links a img {
	vertical-align: text-bottom;
	margin-right: 4px;
	}
	
.teaser ul.links, .teaser ul.links li {
	border: none;
	width: atuo;
	padding:0;
	margin: 0;
	width:auto;
	background: transparent;
	}	

.teaser ul.links li {
	float:left;
	margin-left: 10px;
	}

.node-edit {
	background: url(images/edit-hand.png);
	width: 40px;
	height: 19px;
	position: relative;
	}

.node-edit:hover {
	background-position: 0 -19px;
	}

.node-edit ul {
	position: absolute;
	background: url(images/edit-menu.png) repeat-y;
	border-bottom: 1px solid #c5c5c5;
	left: -999em;
	}

.node-edit:hover ul {
	left: 0;
	}


.item-list ul.pager {
	margin: 1em 0;
	}


.item-list ul.pager li a, .item-list ul.pager li a:visited, .item-list ul.pager li.pager-current {
	margin: .3em .1em;
	padding: .3em .5em;
	}


/**
 * 6.COMMENTS
 */
#comments h2 {
	font-size: 100%;
	} 

#comment h2.comments {
	font-size: 115%;
	}

.comment {
	margin: 20px 0 0;
	}

.comment-bar {
	background: #edf5fa;
	border-bottom: 1px solid #b4d7f0;
	padding: 5px;
	position: relative;
	}

.comment span.submitted {
	color: #898989;
	display: inline;
	font-size: .8333em;
	}

.comment span.new {
	color: red;
	font-size: .8333em;
	}

.comment .content {
	padding: 5px;
	}

.comment h3 {
	font-size: 1.1667em;
	margin: .5em 5px 0;
	}

.comment ul.links {
	margin: -10px 0 0 25px;
	}


.indented {
	border-left: 1px solid #ddd;
	margin-left: 14px;
	padding-left: 5px;
	}

/**
 * 7.SIDEBARS
 */
.sidebar {
	width: 155px;
	}

#sidebar-left {
	float: left;
	display: inline;
	}

#sidebar-right {
	float: right;
	margin-top: 20px;
	color: #888673;
	}

/**
 * 8.BLOCKS
 */
.block {
	margin: 0 0 22px 0;
	}

#user-login-form .item-list ul li {
	background: none;
	}

#search-block-form .form-text {
	width: 8em;
	}

#search-block-form input.form-submit {
	font-size: .9em;
	width: 5em;
	}

/**
 * 9.FOOTER
 */
#footer {
	background:url(images/footer.png) repeat-x #d9dfdf;
	text-align: center;
	padding-top: 1px;
	text-align: center;
	}

#footer a.feed-icon img {
	vertical-align: text-top;
	}

#footer #block-system-0 {
	position: absolute;
	right: 25px;
	top: 6px;
	}
	
#footer p.copy {
	text-align: center;
	margin-top: 8px;
	font-size: 12px;
	line-height: 16px;
	}

/**
 * 10.CSS SUPPORT
 */
span.clear {
clear: both;
	display: block;
	font-size: 0;
	height: 1px;
	line-height: 0;
	margin-bottom: -1px;
	}

.clear {
clear: both;
	}

.clear-block {
	padding-bottom: 1.5em;
	}

.float-left {
float: left;
	}

.float-right {
float: right;
	}

.text-left {
text-align: left;
	}

.text-right {
text-align: right;
	}

.text-center {
text-align: center;
	}

.text-justify {
text-align: justify;
	}

.bold {
font-weight: bold;
	}

.italic {
font-style: italic;
	}

.underline {
border-bottom: 1px solid;
	}

.highlight {
background: #ffc;
	}

.wrap {
width: 960px;
	margin: 0 auto;
	}

.nopadding {
padding: 0
	}

.noindent {
margin-left: 0;
	padding-left: 0
	}

.nobullet {
list-style: none;
	list-style-image: none;
	}

/**
 * 11.ADMINISTRATION
 */


/* admin tab links */
ul.primary, ul.primary li, ul.secondary, ul.secondary li {
	background: none;
	border: 0;
	padding:0;
	margin:6px 0 0 0;
	}

ul.secondary {
	border-bottom: 1px solid #b4d7f0;
	clear: both;
	text-align: left;
	}


ul.tabs li	{
	border-right: 2px solid #d85d22;
	padding-right: 6px;
	margin-right: 6px;
	}
	
ul.tabs li a {
	color: #5d7e7e;
	font-weight: bold;
	}

ul.tabs li a:hover {
	color: #d85d22;
	}

ul.tabs li.active a, ul.tabs li.active a:hover {
	color:#9db0b0;
	}
	
ul.primary li a, ul.primary li.active a, ul.primary li a:hover, ul.primary li a:visited, ul.secondary li a, ul.secondary li.active a, ul.secondary li a:hover, ul.secondary li a:visited {
	background: none;
	border: none;
	text-decoration: none;
	padding: 0;
	margin: 0;
	}

ul.primary li.active a, ul.secondary li.active a {
	font-weight: 700;
	}

/* position admin tab links and style admin h2 */
#tabs-wrapper {
	}

h2.with-tabs {
	margin-bottom: 0;
	}

ul.tabs {
	margin-top: 5px 0;
	}
	

/* stuff you probably will not need to change - includes admin coloring */
quote, code, fieldset {
	margin: .5em 0;
	}

input {
	color: #494949;
	font: 1em Verdana, sans-serif;
	}

textarea, select {
	color: #494949;
	font: 1em Verdana, sans-serif;
	}


#search {
	display:block;
	float:left;
	height:16px;
	margin:0;
	padding:1px 0pt 0pt;
	width:258px;
	}

#search label {
	color: #c8d1bb;
	float: left;
	font-weight:bold;
	font-size: 14px;
	line-height: 16px;
	margin-top: 4px;
	}
	

#search input#search_input {
	background:#e5e2c6;
	border: 1px solid #aaa7af;
	width: 193px;
	float: right;
	height: 14px;
	padding: 0 4px;
	font-size: 10px;
	font-family: "lucida grande", geneva, sans-serif;
	color: #686666;
	margin-top: 4px;
	}
	
#search button.submit {
	background:transparent none repeat scroll 0%;
	border:0pt none;
	cursor:pointer;
	float:left;
	height:22px;
	width:21px;
	margin-left: 3px;
	}
	 

fieldset ul.clear-block li {
	background-image: none;
	}

fieldset {
	background: #F4F3F3;
	border: 1px solid #E9E8E8;
	margin: 1em 0;
	padding: 1em;
	}


.webform-component-fieldset label{
	font-size: 85%;
	}

fieldset legend {
	display: block;
	}

html.js fieldset.collapsed {
	background: transparent;
	padding-bottom: .6em;
	padding-top: 0;
	}

html.js fieldset.collapsible legend a {
	/*background: url(images/menu-expanded.gif) no-repeat 0 50%;*/
	padding-left: 2em;
	}

html.js fieldset.collapsed legend a {
	/*background: url(images/menu-collapsed.gif) no-repeat 0 50%;*/
	}

table {
	margin: 1em 0;
	width: 99%;
	}

thead th {
	color: #494949;
	font-weight: 700;
	border: none;
	}

tbody {
	border-top:none;
	}

th a:link, th a:visited {
	color: #7f7f7f;
	}

td, th {
	padding: .3em .5em;
	}

tr.even, tr.odd, tbody th {
	border: none;
	}

tr.odd, tr.info {
	background-color: #e8eaea;
	}
	
div.node tr.odd, div.node tr.info {
	background-color: #d6dede;
	}

tr.even {
	background-color: #d6dede;
	}

tr.drag {
	background-color: #fffff0;
	}

tr.drag-previous {
	background-color: #ffd;
	}

tr.odd td.active {
	background-color: #d4e7f3;
	}

tr.even td.active {
	background-color: #edf5fa;
	}

td.region, td.module, td.container, td.category {
	background-color: #d4e7f3;
	border-bottom: 1px solid #b4d7f0;
	border-top: 1.5em solid #fff;
	color: #666;
	font-weight: 700;
	}

tr:first-child td.region, tr:first-child td.module, tr:first-child td.container, tr:first-child td.category {
	border-top-width: 0;
	}

tr.odd td.menu-disabled {
	background-color: #edf5fa;
	}

tr.even td.menu-disabled {
	background-color: #fff;
	}

tr.selected td a:link, tr.selected td a:visited, tr.selected td a:active {
	color: #d4e7f3;
	}

tr.taxonomy-term-divider-top {
	border-bottom: none;
	}

tr.taxonomy-term-divider-bottom {
	border-top: 1px dotted #ccc;
	}

#autocomplete li {
	cursor: default;
	padding: 2px;
	}

#autocomplete li.selected, tr.selected td, tr.selected td.active {
	background: #027ac6;
	color: #fff;
	}

.form-checkboxes, .form-radios, .form-checkboxes .form-item, .form-radios .form-item {
	margin: .25em 0;
	}

#center form {
	margin-bottom: 2em;
	}

.form-button, .form-submit {
	margin: 0;
	}

#dblog-form-overview .form-submit, .confirmation .form-submit, .search-form .form-submit, .poll .form-submit, fieldset .form-button, fieldset .form-submit, .sidebar .form-button, .sidebar .form-submit, table .form-button, table .form-submit {
	}

div.admin-panel, div.admin-panel .description, div.admin-panel .body, div.admin, div.admin .left, div.admin .right, div.admin .expert-link, div.item-list, .menu {
	}

div.admin h3 {
	margin-bottom: 0;
	}

div.admin .left {
	float: left;
	width: 48%;
	}

div.admin .right {
	float: right;
	width: 48%;
	}

div.admin-panel {
	background: none;
	padding: 1em 1em 1.5em;
	}

div.admin-panel .description {
	margin-bottom: 1.5em;
	}

div.admin-panel dl {
	margin: 0;
	}

div.admin-panel dd {
	color: #898989;
	font-size: .92em;
	line-height: 1.3em;
	margin-bottom: .65em;
	margin-top: -.2em;
	}

.messages {
	background-color: transparent;
	border: 1px solid #b8d3e5;
	}

.preview {
	background-color: #fcfce8;
	border: 1px solid #e5e58f;
	}

.preview .node {
	background-color: #fcfce8;
	}

span.form-required {
	color: #ffae00;
	}

.description {
	color: #898989;
	font-size: .92em;
	line-height: 150%;
	margin-bottom: .75em;
	}

.messages, .preview {
	margin: .75em 0;
	padding: .5em 1em;
	}

.messages ul {
	margin: 0;
	}

.box {
	margin-bottom: 2.5em;
	}

.profile dd {
	margin-bottom: 1.6em;
	}

.profile h3 {
	border-bottom: none;
	}

div.status {
	border-color: #899b99;
	color: #899b99;
	}

div.error, tr.error {
	background-color: #fcc;
	color: #a30000;
	}

.form-item input.error, .form-item textarea.error {
	border: 1px solid #c52020;
	color: #363636;
	}

table.system-status-report th {
	border-color: #d4e7f3;
	}

table.system-status-report tr.error, table.system-status-report tr.error th {
	background-color: #fcc;
	border-color: #ebb;
	color: #200;
	}

table.system-status-report tr.warning, table.system-status-report tr.warning th {
	background-color: #ffd;
	border-color: #eeb;
	}

table.system-status-report tr.ok, table.system-status-report tr.ok th {
	background-color: #dfd;
	border-color: #beb;
	}
	
.group-academicevent-personel .form-item, .group-relationship .form-item, .group-personnel .form-item, .container-inline-date {
	width: 49%;
	float: left;
	clear: none;
	}
	
.body-field-wrapper {
	clear:both;
	}