#header-wrapper {
  background: #898989;
  }

#navbar {
  background: #8a5a57;
  }

#sidebar-first {
  background:#ededed;
  }

#sidebar-second {
  background:#cecece;
  }

#sidebar-first h3 {
  background: #dfdfdf;
  }

#sidebar-second h3 {
  background: #bebebe;
  }

#navbar li a:hover, #navbar li a.active, #navbar li.active-trail a {
  background: #000;
  }

#footer-inner {
  background: #807e7e;
  }

#header h1 a, #header h1 a:visited, #header #block-vsite_menus-1 li a, #header #block-vsite_menus-1 li a:visited {
color:#fff;
}