body {
  background-image: url(images/fabric-strip-grungy-green.jpg);
  background-color: #212519;
  }

#wrapper {
  background-image: url(images/menu-strip-grungy-green.png);
  }

#container {
  background-image: url(images/header-grungy-green.png);
  }

a, a:visited {
  color: #898F47;
  }

#navbar li a, #navbar li a:visited {
  color: #212519;
  }

#navbar li a:hover, #navbar li a.active, #navbar .active-trail a {
  background: #dcdace;
  color: #212519;
  }