html {
    min-width: 910px;
    }

body {
    color:#353535;
    font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
    }

#page {
  background: url(images/body-bg.png) repeat-x 0 0 #fff;
  }

.wrap {
    width: 910px;
    margin: 0 auto;
    }

a, a:visited {
    color:#8A281B;
    }

a:hover {
    color:#8A281B;
    text-decoration: underline;
    }


h1, h2, h3, #sidebar-second a {
    font-weight: normal;
    color:#889095;
    }

h1, h2 {
    font-size: 1.4em;
    }


h2, h3, h4 {
  margin-bottom: 1em;
  margin-top: 1em;
  }

h2.title {
  margin-bottom: 1em;
  }

h1 a, h2 a, h3 a, #sidebar-second a {
    font-style: normal;
    }

/* LAYOUT ELEMENTS */

#sidebar-first, #header-left {
    width: 180px;
    right: 210px;
    padding-left: 0;
    }

#sidebar-second, #header-right {
  padding-right: 0;
  }

#content-area .hg-container, #header .hg-container {
    padding-left: 190px;
    padding-right: 230px
    }

body.sidebar-first #content-area .hg-container, body.header-left-main #header .hg-container {
  padding-right: 20px;
  }

#sidebar-second {
    border-left: 1px solid #ccc;
    }


#footer {
    text-align: center;
    }


#footer {
    text-align: center;
    font-size: .9em;
    }


/* HEADER ELEMENTS */

#header {
    height: 205px;
    margin-bottom: 26px;
    padding-top: 26px;
    color: #FFF;
    }

#header .hg-container {
    height: 165px;
    }

#header h1 {
    font-size: 24px;
    line-height: 1.1em;
    }

#header h2 {
    font-size: 18px;
     line-height: 1.3em;
    }

#header h1, #header h2, #header h3, #header a, #header a:visited, #header h1 a, #header h1 a:visited {
    color:#EFEFEF;
    }

#header a, #header a:visited {
    text-decoration: none;
    }

#navbar a, #navbar a:visited {
  color: #fff;
  }

#header a:hover, #header a.active {
    color:#F9E433;
    }

#navbar li {
    margin-right: 1.5em;
    text-transform: uppercase;
    font-size: 1.1em;
    background: #a03a25;
    }


/* MAIN CONTENT AREA */

body.sidebar-first #content {
    margin-left: 30px;
    }

body.sidebar-second #content {
    margin-right: 30px;
    }


body.two-sidebars #content {
    margin-left: 20px;
    margin-right: 20px;
    }

/* Nodes */

.submitted {
  color: #444;
  border-bottom: 1px dashed #a1b1b1;
  display:block;
  }