body {
  background:#0c0c0c;
  }

#header-wrapper, #navbar {
  background: transparent;
  }

#header-wrapper {
  margin-top: 10px;
  }

#navbar {
  height: 43px;
  }

#sidebar-left {
  background:#f6f7d7;
  }

#sidebar-right {
  background:#efefef;
  }

#sidebar-left h3 {
  background: #e4e8bd;
  }

#sidebar-right h3 {
  background: #b7bec1;
  }

#navbar li a, #navbar li a:visited {
  border:none;
  color: #fff;
  display:block;
  height: 43px;
  line-height: 36px;
  }

#navbar li.last a {
  border: none;
  }

#navbar li a:hover,
#navbar li a.active,
#navbar li.active-trail a,
#navbar li.active-trail a:hover {
  background: url(images/nav-over.png) 50% 100% transparent;
  color: #fff;
  }

#navbar li a:hover {
  background-position: 0 100%;
  color: #000;
  }

#content-wrapper {
  position: relative;
  top: -7px;
  margin-bottom: -7px;
  }

#container {
  background-image:url(images/bg.png);
  }

#header {
  background-image:url(images/header.png);
  }

#footer {
  background-image:url(images/footer.png);
  }

#footer-inner {
  background: transparent;
  }

#header h1 a, #header h1 a:visited, #header #block-vsite_menus-1 li a, #header #block-vsite_menus-1 li a:visited {
  color:#fff;
  }

#header #block-vsite_menus-1 li {
  border-color: #ebf1ff;
  }

#wrapper {
  background: url(images/wrapper.png) 0 0 repeat-x #9a9c9f;
  }

#wrapper-inner {
  background: url(images/wrapper-bottom.png) 0 100% repeat-x #9a9c9f;
  }

#wrapper-inner {
  background-position: 0 100%;
  background-color:transparent;
  }

#header h1 {
  width: 405px;
  height:63px;
  text-indent: -999em;
  background: url(images/logo.png) 0 0 no-repeat #4a4a4a;
  }

#header h1 a, #header h1 a:visited {
  display:block;
  width: 405px;
  height:63px;
  }