@import url('http://fonts.googleapis.com/css?family=PT+Sans');
@import url('http://fonts.googleapis.com/css?family=Radley');

html,body {
  background: url('../images/body-bg.jpg') repeat-x fixed 0 100% #698da2;
  }

body {
  font-family: 'PT Sans', arial, serif;
  }

.wrap {
  width:980px;
  margin: 0 auto;
  }

#content-area .hg-container {
  background: #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  }

#page {
  position: relative;
  }

#content-main,
body.no-sidebars #content-main {
  padding-top:10px;
  padding-bottom: 20px;
  }

#content-main h2.title {
  margin-top:1em;
  }

#footer {
  padding-top: 5px;
  }

p.copy a.poweredby {
  background-position: 0 -54px;
  }

.section-node-edit #content-area,
.section-websites #content-area {
  margin-top: 70px;
  }

.section-websites .view-openscholar-sites td {
  width: 25%;
  padding-bottom: 35px;
  }

.section-websites .view-openscholar-sites td {
  height: 100px;
  font-size: 11px;
  line-height: 13px;
  }

.section-websites .view-openscholar-sites img {
  border: 1px solid #8b8b8b;
  float: left;
  margin:0 10px 5px 0;
  }

.section-websites .view-openscholar-sites .views-field-title a {
  font-weight: bold;
  }

.section-websites #content-area #views-exposed-form-openscholar-sites-page-1 {
  padding: 3px 20px;
  background: #ddecf0;
  margin: 0 -10px 13px -10px;
  }

.section-websites #content-area .views-admin-links {
  position:absolute;
  right: 10px;
  top: 40px;
  }

.page-site #user_register {
  border: none;
  padding-bottom: 10px;
  }

/* FRONT PAGE*/

.page {
  position: relative;
  }

#startpage {
  height: 100%;
  overflow: hidden;
  background: url('../images/startpage-bg.png') no-repeat 50% 0 transparent;
  }

#reasons {
  padding-bottom: 20px;
  width: 100%;
  z-index: 10;
  display:none;
  }

.front .wrap {
  background: url('../images/wrap.png') no-repeat 50% 0 transparent;
  min-height: 1300px;
  }

.front .page .wrap {
  background: transparent;
  min-height: 0;
  }

.dark {
  background: #3c4452;
  }

/*header*/

#startpage-header {
  height: 76px;
  }

.header h1,
.header h2,
.header ul,
.header li
.header #search,
#reasons-home {
  float: left;
  }

.header h1 {
  text-indent: -999em;
  width: 183px;
  height:56px;
  background: url('../images/logo.png') no-repeat 0 0 transparent;
  margin-top:11px;
  }

.section-site .header h1 {
  margin-left: 30px;
  margin-bottom: 5px;
  }

.header h1 a,
.header h1 a:visited {
  display:block;
  width: 183px;
  height:56px;
  }

.header h2,
ul#header-info,
#reasons-home {
  margin-left: 40px;
  }

.header h2 {
  font: 15px/normal 'Radley', 'Times New Roman', serif;
  font-weight: normal;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 0;
  margin-right: 100px
  }

ul#header-info li {
  color:#fef1ab;
  margin-right: 10px;
  }

ul#header-info li a,
ul#header-info li a:visited {
  color:#fef1ab;
  }

a.big-button {
  display:block;
  height: 80px;
  background: url('../images/arrow1.png') no-repeat 100% 0 #f28316;
  padding-left: 39px;
  color: #fefdc8;
  line-height: 80px;
  font-size: 37px;
  width: 453px;
  font-weight: bold;
  }

a.big-button:hover {
  text-decoration: none;
  background-color: #cd6e11;
  color:#fff;
  text-shadow: 0px 0px 25px rgba(239,220,62,0.9);
  -moz-transition: color .25s linear, background-color .15s linear .1s, text-shadow .15s linear .2s;
  -webkit-transition: color .25s linear, background-color .15s linear .1s, text-shadow .15s linear .2s;
  transition: color .25s linear, background-color .15s linear .1s, text-shadow .15s linear .2s;
  }

#reasons a.big-button,
#page a.big-button {
  float: right;
  width:451px;
  }

.section-site a.big-button {
  display:none;
  }

.page-site a.big-button,
.section-user #reasons_header a.big-button {
  width: 442px;
  padding-left: 22px;
  }

a.iqss-link {
  margin-left:5px;
  }

/* Start Page */

#start-content {
  background: url('../images/start-content-bg.png') repeat-y 0 0;
  }

.col {
  width: 489px;
  float:left;
  font-size: 18px;
  line-height: normal;
  }

.col .top {
  height: 253px;
  }

#col-1 .top ul {
  float:left;
  margin-left: 20px;
  margin-top: 30px;
  }

#col-1 .top li {
  display:inline;
  margin-right: 5px;
  }

#col-1 .top li a,
#col-1 .top li a:visited,
.view-openscholar-sites .views-exposed-form input.form-submit {
  font-size: 12px;
  background:#edeef1;
  border: 1px solid #dcdcdd;
  color:#000;
  padding: 0 9px;
  margin: 5px 5px 15px 0;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 0 0 4px rgba(255, 255, 255, 0.5) inset;
  -webkit-box-shadow: 0 0 4px rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.5) inset;
  text-shadow: 0 1px 0 #FFFFFF;
  }

#col-1 .top li a:hover,
.view-openscholar-sites .views-exposed-form input.form-submit:hover {
  text-decoration: none;
  background: #F28316;
  color: #FEFDC8;
  border-color: #b8610c;
  text-shadow: none;
  }

#see-who {
  float: right;
  width: 154px;
  height: 78px;
  text-indent: -999em;
  background:url('../images/see-who.png') no-repeat 0 0 transparent;
  margin:15px 17px 0 0;
  padding: 0;
  }

#see-who a, #see-who a:visited {
  display:block;
  width: 154px;
  height: 78px;
  }

#col-2 {
  color: #7c7c7c;
  font-size: 22px;
  letter-spacing: -0.5px;
  }

#col-2 ul,
.col p {
  padding: 33px 40px 0 29px;
  margin: 0;
  }

#col-2 ul {
  padding-top: 0;
  }

#col-2 p,
#col-2 li {
  margin-bottom: 43px;
  font-weight:bold;
  }

#col-2 p.leadin {
  margin-top: 7px;
  }

#col-2 li {
  list-style: outside disc;
  font-size: 15px;
  margin-left: 20px;
  padding-left: 8px;
  margin-bottom: 45px;
  }

#col-2 li span {
  color: #414141;
  font-size: 18px;
  }

#col-2 #start-learnmore {
  padding-top: 10px;
  }

#col-2 #start-learnmore a {
  background:url('../images/arrow2.png') 100% 50% no-repeat transparent;
  padding-right: 30px;
  color:#b23325;
  margin-left: 30px;
  }

.view-iqss-openscholar-front {
  clear:both;
  }

.view-iqss-openscholar-front li.views-row {
  width: 161px;
  height: 164px;
  margin: 0;
  border: 3px solid #3c4452;
  border-top: none;
  border-left: none;
  float: left;
  clear: none;
  position:relative;
  }

.view-iqss-openscholar-front li.views-row img {
  width: 161px;
  height: 125px;
  }

.view-iqss-openscholar-front li.views-row a {
  display:block;
  color: #fff;
  width: 161px;
  height: 164px;
  font-size: 10px;
  line-height: 11px;
  background: #000;
  }

.view-iqss-openscholar-front li.views-row a:hover {
  text-decoration: none;
  }

.view-iqss-openscholar-front .views-admin-links ul.links li {
 float:none;
 }

.view-iqss-openscholar-front li.views-row .flag-wrapper {
  position: absolute;
  top:0;
  right:0;
  padding:0;
  }

.view-iqss-openscholar-front li.views-row .flag-wrapper a {
  width: auto;
  height: auto;
  overflow:auto;
  background: transparent;
  background: rgba(0,0,0,0.5);
  padding: 0 2px;
  line-height: normal;
  }

.view-iqss-openscholar-front li.views-row span.content {
  padding: 6px 9px 0 9px;
  position:absolute;
  bottom:5px;
  left: 0;
  right:0;
  /*height: 33px;*/
  min-height: 33px;
  background: #000;
  overflow:hidden;
  }

.view-iqss-openscholar-front li.views-row.views-row-3,
.view-iqss-openscholar-front li.views-row.views-row-6,
.view-iqss-openscholar-front li.views-row.views-row-9 {
  border-right: none;
  }

.view-iqss-openscholar-front li.views-row.views-row-7,
.view-iqss-openscholar-front li.views-row.views-row-8,
.view-iqss-openscholar-front li.views-row.views-row-9 {
  border-bottom: none;
  }

#activity {
  clear:both;
  background:#485e70;
  color: #fff;
  height:59px;
  padding: 9px 18px;
  width: 944px;
  }

#activity p {
  font-weight: bold;
  margin:0;
  }

#activity ul {
  width:816px;
  }

#activity a, #activity a:visited {
  color: #ff8207;
  }

.footer {
  float:left;
  width: 100%;
  }

p.copy {
  color: #ddd;
  }

p.copy a, p.copy a:visited {
  color: #f9fde5;
  }

p.copy a:hover {
  color: #fff;
  border-color: #fff;
  }

.front .footer #powered-link {
  float:right;
  position:relative;
  top: -81px;
  }

.front p.copy a.poweredby {
  background: url('../images/powered_by.png') 19px 21px no-repeat #234f6e;
  display:block;
  width: 119px;
  height:77px;
  }


/* REASONS PAGE */

#reasons_header {
  height: 80px;
  background: #3e5a72;
  position: fixed;
  top: 0;
  left: 0;
  right:0;
  -moz-box-shadow: 0 10px 16px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0 10px 16px rgba(0,0,0,0.15);
  box-shadow: 0 10px 16px rgba(0,0,0,0.15);
  z-index: 10;
  }

.section-user #reasons_header {
  display:none;
  }

.section-site #reasons_header {
  position:static;
  background: transparent;
  height: auto;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  z-index: 0;
  }

#reasons-home {
  position: fixed;
  right:0;
  top: 20%;
  width: 40px;
  color: #fff;
  background: #49a4ff;
  padding: 31px 19px;
  font-family: 'Radley', 'times new roman', serif;
  text-transform: uppercase;
  line-height: 15px;
  height: 12px;
  }

#reasons-home:hover {
  text-decoration: none;
  background-color: #2c87e2;
  color:#fefdc8;
  -moz-transition: color .25s linear, background-color .15s linear .1s;
  -webkit-transition: color .25s linear, background-color .15s linear .1s;
  transition: color .25s linear, background-color .15s linear .1s;
  }

#features {
  padding-top: 56px;
  background: #fff;
  }

#features li {
  float: left;
  width:196px;
  height: 315px;
  margin: 0;
  padding: 16px 24px;
  border:1px solid #e8e9eb;
  border-left: none;
  }

#features #feature-academic-content {
  /*background:url('../images/create-anything.jpg');*/
  }

#features #feature-biblio {
  background:url('../images/biblio.jpg');
  }

#features #feature-look-feel {
  background:url('../images/look-feel.jpg');
  }

#features #feature-collaborate {
  background:url('../images/collaborate.png') no-repeat 50% 100% #fff;
  }

#features #smart-publishing {
  /*background:url('../images/smart-publishing.jpg') no-repeat 0 181px #fff;*/
  }

#features #semantic-urls {
  background:url('../images/semantic-urls.jpg') no-repeat 0 100% #fff;
  word-wrap: break-word;
  }

#features #categorize {
  background:url('../images/categorize.jpg') no-repeat 0 100% #F7F0D3;
  }

#features #pluggable-features {
  /*background:url('../images/features.png') no-repeat 0 186px #fff;*/
  }

#features #sharing {
  background:url('../images/share.jpg') no-repeat 50% 143px #fff;
  }

#features #content-aggregation {
  /*background:url('../images/rss.png') no-repeat 50% 211px #fff;*/
  }

#features #analytics {
  /*background:url('../images/analytics.png') no-repeat 0 100% #fff;*/
  }

#features #feature-events {
  background:url('../images/events.png') no-repeat 0 100% #fff;
  }

#features #word-out {
  background:url('../images/wordout.jpg') no-repeat 0 100% #fff;
  }

#features #feature-look-feel,
#features #custom-domains,
#features #word-out,
#features #analytics {
  border-right: 0;
  }

#more-info {
  background: #fff;
  padding: 15px 0;
  }

#more-info li {
  float:left;
  width: 49.8%;
  border-right: 1px solid #ccc;
  }

#more-info li.os-link {
  border: none;
  }

#more-info li span {
  display:block;
  width: 205px;
  font-size: 15px;
  line-height: 23px;
  background: url('../images/help-button.jpg') no-repeat 100% 50%;
  padding-top: 15px;
  padding-right:113px;
  margin: 0 auto;
  padding-bottom: 20px;
  }

#more-info li.docs span a {
  display:block;
  }

#more-info li.os-link span {
  background: url('../images/floating-glasses.png') no-repeat 100% 50%;
  margin-bottom: 0;
  width: 259px;
  border: none;
  }

#sidebar-right {
	margin-right: -100%;
}

.section-search #content-area {
	margin-top: 80px;
}

.sidebar .block {
	margin-top: 1.3em;
}