/* FORMS CSS */

div.form-item {
  border:1px solid #CCCCCC;
  margin:0 0 10px;
  padding:9px;
  }

div.form-item, ul.links, div.admin-panel .body {
  display:block;
  }

ul.links {
  clear:both;
  }

div.fieldset, fieldset, .container-inline-date {
  background: #f8f8f8;
  border: 1px solid #ccc;
  margin: 0 0 10px;
  padding: 4px 9px;
  }

fieldset h2.fieldset-title, div.form-item label {
  font-size:11px;
  line-height: 13px;
  font-weight:normal;
  margin:0;
  padding:0;
  text-transform:uppercase;
  }

div.description, div.form-item div.description {
  color:#666;
  font-size:11px;
  line-height:15px;
  margin:5px 0;
  }

div.teaser-checkbox div.form-item, div.form-item div.form-item, fieldset div.form-item, .container-inline-date div.form-item {
  border: none !important;
  margin:0;
  padding:5px 0;
  }

.admin {
  padding-top: 1.5em;
  clear: both;
  }

select option {
  padding: 2px 5px;
  }

fieldset,select {
  max-width: 90%;
  }

.views-exposed-form .views-exposed-widget {
  padding: 0 2em 0 0;
  }


/* Search box */

.search-form {
  padding-bottom: 5px;
  }

#content .search-form {
  margin-top: 2em;
  }

.search-form div.form-item {
  border: none;
  padding: 0;
  margin: 0;
  }

.search-form label{
  display:none;
  }

.search-form .container-inline {
  background: url(images/searchglass.gif) no-repeat 100% 0;
  height: 18px;
  line-height:normal;
  max-width: 278px;
  padding-right:22px;
  }

.search-form .container-inline .form-item {
  width: 100%;
  }

.search-form .container-inline .form-item,
.search-form .form-submit {
  float:left;
  position: relative;
  padding: 0;
  }


.search-form .container-inline .form-item .form-text {
  height: 14px;
  padding: 3px 4px 0 0 !important;
  border: none;
  border-left: 1px solid #b7c2ce;
  background: transparent;
  width:100%;
  }

#header-right #vsite-widgets-search-form #edit-search {
  width: 43px;
  }

.search-form input.form-submit {
  background: transparent;
  font-size: 10px;
  width: 18px;
  height: 18px;
  border: none;
  padding: 0 !important;
  text-indent: -999em;
  margin-right: -100%;
  }

#search-form fieldset.search-advanced {
  clear: left;

  }


/* VSITE CONTACT FORM */

#vsite-support-contact-mail-owner .form-item {
  border: none;
  padding: 0;
  }

#vsite-support-contact-mail-owner .form-item label {
  display:inline;
  }


/* UPLOADS */
#edit-upload-wrapper {
  line-height: 30px;
  }

#attach-wrapper .file a {
  padding: 2px 6px;
  background: #b5e675;
  color: #000;
  }

#attach-wrapper .file a.remove {
  background: #db7272;
  }