* {
  margin: 0;
  padding:0;
  }

body {
  background: #FFF;
  font: .9em/1.5em arial, helvetica, sans-serif;
  }

#tinymce {
  background: #fff !important;
  min-width: 0 !important;
  margin: 5px !important;
  }

body.admin-menu {
  position: static !important;
  }

#admin-menu {
  height: 22px;
  font-size: 11px;
  line-height: 22px;
  }

#admin-menu, #admin-menu ul a, #admin-menu ul a:visited {
  color: #000;
  text-shadow:0 1px 0 rgba(206, 214, 221, 0.75);
  }

#admin-menu, #admin-menu li li.expandable, #admin-menu li li {
  background:#bbbaba;
  }

#admin-menu li li {
  opacity: 1 !important;
  }

#admin-menu li li a:hover, #admin-menu li li li a:hover, #admin-menu li li li a, #admin-menu li li li a:visited {
  background: #6b6b6b;
  text-shadow: 0 0 0 transparent !important;
  color: #fff;
  }

#admin-menu li li li a:hover {
  background: #444;
  }

.flL {
  float:left;
  margin: 0 .5em .5em 0;
  }

.flR {
  float: right;
  margin: 0 0 .5em .5em;
  }

.clear {
  clear:both;
  }

/* TYPE STYLES */

p, div.messages, #content-main .views-row, ul, ol, .taxonomy-term-description {
  margin-bottom: 1.5em;
  }

#header h1, #header h2, #header p {
  margin: 0 0 .1em 0;
  }

a, a:visited {
  text-decoration: none;
  color: #005C9C;
  }


p.copy {
  color: #76797C;
  font-size: 11px;
  font-family: arial, sans-serif;
  line-height: 29px;
  margin: 4px auto 0 auto;
  clear:both;
  }

p.copy a, p.copy a:visited {
  font-style: normal;
  text-decoration: none;
  color: #76797C;
  }

p.copy a:hover {
  border-bottom: 1px solid #000;
  color: #000;
  }

p.copy a.footer-login {
  background: #e9f1c6 !important;
  color: #000 !important;
  border: 1px solid #565b5d !important;
  padding: 1px 9px !important;
  -moz-border-radius:20px;
  -webkit-border-radius:20px;
  margin-left: 4px;
  }

p.copy a.footer-login:hover {
  background: #fff !important;
  }

.marker, ul.admin li a, ul.admin li a:visited, .addcategory a, a.ctools-dropdown-link, a.context-button {
  color: #228822 !important;
  }

.form-required {
  color: #d70404 !important;
  }

p.copy #powered-link {
  float: right;
  }

p.copy a.poweredby  {
  background: url(images/poweredby.png) no-repeat 0 0 transparent;
  text-indent:-999em;
  display:block;
  width:148px;
  height:29px;
  }

p.copy a.poweredby:hover {
  text-decoration:none !important;
  border: none !important;
  }


.submitted {
  font-size: .9em;
  }

.nomarg {
  margin: 0;
  }


div.terms {
  clear: left !important;
  }

/*LISTS*/

ul {
  padding-left:0;
  }

ul li {
  list-style:none;
  }

ol {
  margin-left:18px;
  padding-left:0;
  }

#content .node ul {
  padding-left: 2em;
  }

#content .node ul li {
  list-style: disc outside;
  padding:0 0 0 3px;
  }

#content .node .terms ul, #content .node ul.links {
  padding-left: 0;
  margin-top:0;
  }

.terms ul li, .terms ul li a {
  padding: 0;
  }

.terms ul li:after {
  content:',';
  }

.terms ul li:last-child:after {
  content: '';
  }

#content .node ul li ul {
  margin-top: 1.5em;
  }

#content .node ul li li {
  list-style: circle outside;
  padding:0 0 0 3px;
  }

#navbar li, #header-top li, .views-admin-links li, ul.inline li {
  display:inline;
  }

.block ul {
  padding: 0;
  }

ul.menu li {
  margin: 0;
  }

li.leaf, li.collapsed, ul.menu li.leaf, ul.menu li.collapsed {
  padding: 0;
  list-style: none;
  }

.links li {
  font-size: .9em;
  }

ul.links li {
  padding: 0;
  }


ul.links li a, ul.links li a:visited {
  text-decoration: none;
  padding: 1px 0 1px 3px;
  font: normal 11px/normal "Lucida Grande","Lucida Sans Unicode", Arial,  Verdana,sans-serif;
  color: #228822;
  background: transparent;
  }

ul.links li a:hover {
  text-decoration: underline;
  color: #228822;
  }

ul.hierarchic {
  padding: 0;
  margin: 0;
  }


ul.hierarchic li {
  list-style: none;
  padding: 0;
  margin-bottom: 1em;
  font-weight: bold;
  }

ul.hierarchic li li {
  margin-bottom: 0;
  font-weight: normal;
  }


ul.hierarchic li a {
  display:block;
  border-bottom: 1px dotted #ccc;
  padding-top: .3em;
  padding-bottom: .1em;
  }

ul.hierarchic ul a{
  padding:0 0 0 .5em;
  }

ul.hierarchic ul ul a{
  padding:0 0 0 1.5em;
  }

ul.hierarchic ul ul ul a{
  padding:0 0 0 2em;
  }

ul.hierarchic ul ul ul ul a{
  padding:0 0 0 2.5em;
  }

/* Used for inline images */

.img-flL {
  float: left;
  margin: 0 1em .9em 0;
  }

.img-flR {
  float: right;
  margin: 0 0 .9em 1em;
  }

.img-center {
  margin: 1.5em auto;
  text-align: center;
  }

/* LAYOUT */

#wrapper { }

#container { }


/* Top admin bar */

#top {
  height: 42px;
  background:url(images/top-bottom-bg.png) repeat-x #000 0 -9px;
  position:relative;
  }

#top a, #top a:visited, #top ul.links li a, #top ul.links li a:visited {
  font-family: arial, sans-serif !important;
  }

body.cp-toolbar-mini #top {
  position: absolute;
  height: 20px;
  right: 0;
  top: 0;
  padding: 0;
  line-height: normal;
  background: transparent;
  z-index: 10;
  }

/* Remove when .mini class is added to #top, rather than body */
body.admin-menu #top {
  top: 22px;
  }


body.cp-toolbar-mini #top ul.links {
  background: url(images/toolbar-mini-tab.png) no-repeat 0 0;
  height: 22px;
  z-index:100;
  }

body.cp-toolbar-mini #top ul.links li {
  margin:0;
  background: url(images/toolbar-mini-tab.png) no-repeat 0 0 transparent;
  height: 22px;
  line-height: 19px;
  padding: 0 6px;
  float:left;
  }

body.cp-toolbar-mini #top ul.links li.first {
  background: transparent;
  }

body.cp-toolbar-mini #top ul.links li a, body.cp-toolbar-mini #top ul.links li a:visited {
  color:#6e6e6e;
  font-size: 11px;
  padding-left: 12px;
  padding-top: 2px;
  }

body.cp-toolbar-mini #top ul.links li.first a {
  padding-left: 22px;
  background: url(images/wrench-mini.png) no-repeat 0 0 transparent;
  margin-left: 5px;
  }

body.cp-toolbar-mini #top ul.links li.last a {
  padding-right: 6px;
  border-left: none;
  }

body.cp-toolbar-mini #top ul.links li a:hover {
  text-decoration: none;
  text-shadow:none;
  color: #000;
  }





/* The following is the scheme for flexible one, two, or three column layouts */


#header-top, #navbar, #content-main, #header-main {
  width: 100%;
  }

body.no-sidebars #content-main, body.header-main #header-main {
  padding: 0;
  }

#header-wrapper, #navbar, #content-wrapper, #footer {
  clear: both;
  }

.column {
  float: left;
  position: relative;
  padding: 10px;
  }

#header .column {
  padding-top: 0;
  padding-bottom: 0;
  }

#header-left, #header-right, #sidebar-left, #sidebar-right {
  width: 200px;
  }

#content-wrapper, #header-wrapper {
  padding-left: 220px; /* left width incl. padding */
  padding-right: 240px; /*right width incl. padding plus center padding */
  }

#header-left, #sidebar-left {
  right: 240px; /* left width incl. padding plus center padding */
  margin-left: -100%;
  }

#header-right, #sidebar-right {
  margin-right: -100%;
  }

body.sidebar-right #content-wrapper {
   padding-left: 0;
   }

body.sidebar-left #content-wrapper, body.header-left-main #header-wrapper {
  padding-right: 40px; /* Only the padding of center div */
  }

body.no-sidebars #content-wrapper {
  padding: 0;
  }

body.header-main #header-main {
  padding: 10px 0;
  }

body.header-main-right #header-wrapper {
  padding-left: 0;
  }

body.header-left-main #header-wrapper {
  padding-right: 0;
  }

body.header-left-right #header-wrapper, body.header-main #header-wrapper, body.header-right #header-wrapper, body.header-left #header-wrapper{
  padding: 0;
  }

body.header-left-right #header-left, body.header-left-right #header-right, body.header-left #header-left, body.header-right #header-right {
  width: 45%;
  right: auto;
  }

body.header-left-right #header-left, body.header-left-right #header-right {
  margin:0;
  }

body.header-left-right #header-right {
  float:right;
  }

#sidebar-left .block, #sidebar-right .block {
  margin-bottom: 1.5em;
  clear:both;
  }

/* end of layouts scheme */










#footer {
  padding-top: 50px;
  }

#footer .block, #footer-message {
  display:inline;
  }



/* Node */

.node, .biblio-entry {
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
  clear:both;
  position: relative;
  }

.node-type-link {
  margin-bottom: 0;
  }


/* Views */

.views-row {
  margin-bottom: 1em;
  clear:both;
  }


/* DELETE, EDIT BUTTONS */

ul.admin {
  background: #fff;
  line-height: 12px !important;
  font-size: 10px !important;
  font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
  margin: 0 !important;
  padding: 0 1px 0 0 !important;
  }

ul.admin li {
  margin: 0 !important;
  }

ul.admin li a, ul.admin li a:visited {
  padding: 2px !important;
  }

ul.admin li a:hover {
  text-decoration: underline;
  }

a.delete {
  background: url(images/delete.png) no-repeat;
  height: 11px;
  width: 10px;
  display: block;
  text-indent: -999em;
  }

.close-this {
  width: 15px;
  height: 15px;
  background: url(images/close-icon.png) no-repeat transparent;
  text-indent: -999em;
  }

.empty-content {
  clear: both;
  }

.empty-content p {
  float: left;
  }

.show-content-type {
  text-transform: lowercase;
  font-weight: bold;
  }


/* OTHER BUTTONS */

input.form-submit, button {
  background: #b4c6ce;
  color: #000;
  border: 1px solid #a1aaae;
  text-shadow:0 1px 0 rgba(206, 214, 221, 0.75);
  padding: 2px 10px !important;
  -moz-border-radius:20px;
  -webkit-border-radius:20px;
  margin-bottom: 5px;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  }

.advanced-help-link {
 background: url(images/help.png) no-repeat;
 width: 15px;
 height: 15px;
 margin-right: 4px;
 display:block;
 text-indent: -999em;
 }

.advanced-help-link:hover {
  background-position: 0 -15px;
  }


/* MESSAGES */

div.messages {
  background:#BBDDFF;
  border:1px solid #AACCEE;
  color:#003366;
  margin:0 0 10px;
  padding:9px;
  }

div.status {
  background:#CCFF88;
  border:1px solid #BBEE77;
  color:#336600;
  margin:0 0 10px;
  padding:9px;
  }

div.warning {
  background: #FFEE66;
  border:1px solid #EEDD55;
  color:#884400;
  margin:0 0 10px;
  padding:9px;
  }

div.error {
  background:#EE6633;
  border:1px solid #DD5522;
  color:#FFFFFF;
  margin:0 0 10px;
  padding:9px;
  }

/* Welcome message */

#message_welcome_message .toggle {
  color: #13539F;
  cursor: pointer;
  font-weight: bold;
  }

#message_welcome_message h3, #message_welcome_message p {
  margin: 1em 0;
  }

#welcome_wrapper {
  border-bottom: 1px solid #ccc;
  padding-bottom: 1em;
  }

#resource-list li {
  padding-left: 20px;
  list-style: disc inside;
  }


/* SYSTEM THINGS */

/* Animated throbber */

.ahah-progress .throbber, .flag-waiting .flag-throbber {
  -moz-background-clip:border;
  -moz-background-inline-policy:continuous;
  -moz-background-origin:padding;
  background:transparent url(images/throbber.gif) no-repeat scroll 0 50%;
  float:left;
  height:5px;
  height: 100%;
  margin:0 4px 0 8px;
  width:21px;
  }


.flag-waiting .flag-throbber {
  float:none;
  padding-right: 21px;
  }

.form-button-wrapper div.ahah-progress, .form-button-wrapper div.throbber {
  display:block;
  position:absolute;
  right: -22px;
  top: 5px;
  height:5px;
  width:21px;
  float: none;
  }