/* USERS SECTION */


.section-user #container,
.section-users #container,
.page-site-register #container {
 width: 506px;
 margin: 0 auto;
 }

.page-site-register #container {
  width: 740px;
  }

.section-user #content-wrapper,
.section-users #content-wrapper,
.page-site-register #content-wrapper {
 padding: 30px 30px 40px 30px !important;
 background: #fff;
 border: 1px solid #ccc;
 -moz-border-radius: 4px;
 -webkit-border-radius: 4px;
 }

.section-user #content-wrapper {
  padding-right: 0 !important;
  padding-left: 0 !important;
  }

.section-user #content-main,
.section-users #content-main,
.page-site-register #content-main {
  border: none !important;
  -moz-border-radius: 0 !important;
  -webkit-border-radius:0 !important;
  border-radius:0 !important;
  background: transparent !important;
  }

.section-user .footer-login,
.section-users .footer-login,
.page-site-register .footer-login {
  display:none;
  }


.section-user input.form-submit,
.section-users input.form-submit,
.page-site-register input.form-submit {
  float:right;
  margin-left: .3em;
  }

.section-user h2.title,
.section-users h2.title,
.page-site-register h2.title {
  display:none;
  }

.section-user div.tabs ul.primary li a,
.section-users div.tabs ul.primary li a,
.page-site-register div.tabs ul.primary li a {
  font-weight: normal;
  font-size: .8em;
  }

.section-user fieldset,
.section-users fieldset,
.page-site-register fieldset{
  padding: 0;
  border: none;
  background: transparent;
  }

.section-user div.tabs,
.section-users div.tabs,
.page-site-register div.tabs {
  height: auto;
  }

.section-user h3,
.section-users h3,
.page-site-register h3 {
  font-size: 1.1em;
  }


form#user-profile-form {
  clear: both;
  padding-top: 1.5em;
  }

#vsite-users-title-items th, #vsite-users-title-items td, #vsite-users-title-items tr.even, #vsite-users-title-items tr.odd {
  border: none;
  background: #fff;
  padding: 0;
  }
