#cp-settings-shield {
  width: 735px;
  }

#cp-settings-shield fieldset {
  border: none;
  }

#cp-settings-shield div.form-radios div.form-item {
  float: left;
  width: 100px;
  border: 1px solid #ccc;
  text-align: center;
  margin: 0 3px 3px 0;
  padding: 20px 0;
  }

div#cp-settings-shield fieldset input{
  display:none;
   }