ul.theme-picker {
  width: 11250px;
  clear: both;
  padding-top: 22px;
  }

li.item-theme-picker  {
  background: url(images/theme-picker-bg.png) no-repeat top center transparent;
  padding: 23px 0 30px 0;
  float: left;
  width: 600px;
  text-align: center;
  }

ul.theme-picker li img {
  border: 1px solid #959191;
  margin-top: 2px;
  }

ul.theme-picker li p {
  fon
  }

ul.theme-picker li.checked img {
  border: 3px solid red;
  margin-top: 0;
  }

#next, #prev {
  width: 15px;
  height: 14px;
  background: transparent url(images/next.png);
  margin-top: 3px;
  }

#prev {
  background-image: url(images/prev.png);
  }

.theme-picker h3, ul.theme-picker li p {
  margin-top: 2px;
  font-size: .9em;
  margin-bottom: 0;
  }

ul.theme-picker li.checked h3 {
  margin-top: 0;
  }

#cp-settings-theme {
  font-weight: bold;
  color: #4a4a4a;
  font-size: 1.1em;
  padding-top: 1px !important;
  margin: 0 !important;
  }

.theme_subnav {
  padding-top: 13px;
  background:#eaebe9;
  height: 43px;
  padding-left: 30px;
  }

#cp-settings-form div {
  padding-left: 30px;
  }

.theme_subnav h3, .theme_subnav ul, .theme_subnav li, #next, #prev {
  float: left;
  margin-right: 10px;
  }

.theme_subnav h3 {
  margin-right: 40px;
  }

.theme_subnav li {
  cursor: pointer;
  margin-right: 0;
  font-size: 1.2em;
  }

.theme_subnav li:hover {
  background: #fff;
  }

.theme_subnav li.active {
  background: #f80000;
  color: #fff;
  }

form#cp-settings-form div.form-radios {
  display:none;
}

#cp-settings-form  {
  clear: both;
  }