html {
    min-width: 910px;
    }

body {
    background-color: #44514f;
    color:#2F2F2F;
    font:.9em/165% "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
    }

#wrapper {
  padding-top: 10px;
  }

#container {
    width: 840px;
    margin: 0 auto;
    background:url(images/bg.png) top center repeat-y #434f4d;
    }

a, a:visited {
    color:#723319;
    }

a:hover {
    text-decoration: underline;
    }


h1, h2, h3, #sidebar-right a, #header {
    font-family: baskerville, georgia, serif;
    font-weight: normal;
    color:#484b63;
    }


h2 {
    font-size: 1.7em;
    }

h1 a, h2 a, h3 a, #sidebar-right a {
    font-style: normal;
    }

#content h2, h3, h4 {
  margin-bottom: 0;
  margin-top: 1em;
  }

#content h2.title {
  margin-bottom: 1em;
  }

img {
  border: 1px solid #444;
  }

#block-vsite_widgets-2 img {
  border: none;
  }


/* LAYOUT ELEMENTS */

.column {
  padding: 10px 32px;
  }

#content-main, #header-main {
  padding: 10px 0;
  }


#sidebar-left, #header-left {
  width: 160px;
  right: 202px;
  padding-right: 10px;
  }

body.header-left-main #header-wrapper {
  padding-right: 0;
  }

#sidebar-right, #header-right {
  width:160px;
  padding-left: 10px;
  }

#header-right {
  width: 70px;
  }

#content-wrapper, #header-wrapper {
  padding-left: 202px;
  padding-right: 202px;
  }

#header-wrapper {
  padding-right: 132px;
  height: 145px;
  }

body.sidebar-right #content-wrapper {
  padding-left: 60px;
  }

body.sidebar-left #content-wrapper {
  padding-right: 50px;
  }

body.no-sidebars #content-wrapper {
  padding: 0 55px;
  }

/* HEADER ELEMENTS */

#header {
    background: #44514F url(images/top.png) no-repeat 50% 100%;
    color: #F7F3EA;
    padding-bottom: 40px;
    }


#header h1 {
  margin-top: 16px;
  margin-bottom: .3em;
  text-transform: uppercase;
  font-size: 40px;
  text-shadow: #222 0 0 .4em;
  color: #F7F3EA;
  }


#header a, #header a:visited,#header h2, #header p {
    text-decoration: none;
    color: #F7F3EA;
    }

#header a:hover {
    color:#F9E433;
    }

#header-main .content {
  margin-left: 12px;
  }


#logo img {
  width: 160px;
  }

#navbar ul.menu {
  text-align:center;
  }

#block-vsite_menus-0 li {
    margin: 0 1em;
    text-transform: uppercase;
    font-size: 1.1em;
    }

#sidebar-left #block-vsite_menus-0 li {
  margin:0;
  }

#navbar a, #navbar a:visited {
    color:#D4D5D3;
    }

#navbar a:hover, #navbar a.active, #navbar .active-trail a {
    color: #F8EE7C;
    text-decoration: none;
    }

/* MAIN CONTENT AREA */

body.sidebar-left #content {
    margin-left: 30px;
    }

body.sidebar-right #content {
    margin-right: 30px;
    }

body.two-sidebars #content {
    margin-left: 20px;
    margin-right: 20px;
    }

/* Footer*/
#footer {
  text-align: center;
  background: url(images/bottom.png) no-repeat 50% 0 #44514F;
  padding-top: 30px;
  padding-bottom: 30px;
  }


#footer a, p.copy {
    color: #CFCFCF;
    }

#footer a:hover {
    color: #fff;
    border-color:#CFCFCF;
    }