body {
  background-color: #373c3e;
  font:14px/17px myriad, sans-serif;
  color: #050505;
  }


/*TYPOGRAPHY*/

h1 {
  width:334px;
  height:45px;
  background: url(images/logotext.png) no-repeat transparent;
  text-indent: -999em;
  margin-top: 13px;
  margin-bottom: 9px;
  }

#sidebar-left h3, #sidebar-right h3 {
  background: #353a3c;
  color:#fff;
  padding: 4px 5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius: 5px;
  }

.block-vsite_menus li a, .block-vsite_menus li a:visited {
  color: #ec8501;
  font-weight: bold;
  }

/* LAYOUT */

#wrapper {
  background: url(images/body-bg.png) repeat-x #373c3e;
  padding-top: 29px;
  }

#container {
  width: 970px;
  margin: 0 auto;
  }

#sidebar-left, #sidebar-right {
  width: 157px;
  border-left: 1px solid #919191;
  padding: 0 6px 0 9px;
  margin: 0 !important;
  right: 0;
  }

#content-wrapper {
  background: #fdfdfd;
  overflow:hidden;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 0;
  padding-left: 0;
  }

.both-sidebars #content-main {
  padding-right: 346px;
  }

#content-main {
  padding: 0 30px;
  width: auto;
  }

.one-sidebar #content-main, .two-sidebars #content-main {
  padding-right: 10px;
  padding-left: 30px;
  width: 754px;
  }

.two-sidebars #content-main {
  width:582px;
  }

/* HTML ITEMS */

#header-main .block-vsite_menus li {
  display: inline;
  margin-right: 16px;
  }

#header-main .block-vsite_menus li.last {
  margin-right: 0;
  }

#footer {
  padding-top: 4px;
  }

p.copy, p.copy a, p.copy a:visited {
    color:#f8f8f8;
    }

p.copy a {
  text-decoration: underline;
  }