.block-scholarvocab {
  clear: both;
  border-bottom: 1px solid #939393;
  padding-bottom: 2em;
  margin-bottom: 2em;
  }

.block-scholarvocab h3 {
  font-size: .9em;
  float: left;
  }
  
.block-scholarvocab .item-list {
  float: left;
  }
  
.block-scholarvocab .item-list ul li {
  list-style: none;
  }
  
.block-scholarvocab .item-list ul li a {
  color: #5a5959;
  }