body.header-left-main-right #header-left {
  left: 190px;
  }

body.header-left-main #header-left {
  left: -20px !important;
	}

#block-vsite_menus-0 ul.menu li a {
  height: 1%;
  }

body.two-sidebars #sidebar-left, body.sidebar-left #sidebar-left, body.two-sidebars #sidebar-right, body.sidebar-right #sidebar-right {
  right: 0;
  left: 0;
  }

#content-wrapper, #sidebar-left h3, #sidebar-right h3 {
  _zoom:1;
  }