/*layout*/
body {
	background: url('images/bg.png') repeat-y 50% 0 #666666;
	padding: 0;
	margin: 0;
  font: 12px/130% helvetica, arial, sans-serif;
	}

#page {
	width: 904px;
	margin:0 auto;
	}

#header .hg-container {
	height: 171px;
	border-bottom: 1px solid #B3C4C2;
	}

#footer {
	background-color: #FFFFFF;
	padding: 20px 20px;
	text-align: center;
	clear: both;
	}


/*styles*/

h2, h3 {
	font-size: 13px;
	font-weight: bold;
	line-height: 25px;
	margin: 32px 0 16px 0;
	color: #666666;
	padding-top: 6px;
	border-top: 1px solid #B3C4C2;
	}

h3 {
	color:  #B00921;
	margin-bottom: -4px;
	line-height: 20px;
	padding-top: 0;
	border: none;
	}

h4 {
	font-size: 13px;
	line-height: 20px;
	margin-top: 32px;
	margin-bottom: -4px;
	}

p {
	margin-bottom: 20px;
	}

li {
	line-height: 18px;
	}

a {
	text-decoration: none;
	color: #b00921;
	}

a:hover {
	text-decoration: none;
	color: #b00921;
	}

a:visited {
	text-decoration: none;
	color: #b00921;
	}

a img {
	border: none;
	}

.term-head {
	color: #b00921;
}

#header-main,
#block-scholar_project-1 h1,
#block-scholar_project-1 h2,
#block-scholar_project-1 p {
  text-indent: -999em;
  margin:0 !important;
  padding: 0 !important;
  }

#block-scholar_project-1 h2,
#block-scholar_project-1 p {
  height: 1px;
  border: none !important
  }

#block-scholar_project-1 h1 {
  background: url('images/banner_writing.png') 0 0 no-repeat #950000;
  width: 904px;
  height:169px;
  text-indent: -999em;
  }

#block-scholar_project-1 h1 a,
#block-scholar_project-1 h1 a:visited {
  display:block;
  width: 904px;
  height:171px;
  }

.menu {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #B00921;
	line-height: 16px;
	margin-bottom: -4px;
	padding-left: 20px;
	}

.caption {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-style: italic;
	font-size: 10px;
	line-height: 14px;
	font-weight: bold;
	color: #999999;
	}

.bold_red {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #B00921;
	}
.bold_arial {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	}

.more {
	color: #b00921;
	padding: 0px;
	margin-top: -4px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-style: italic;
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
	}

div.submitted {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	color: #107776;
	line-height: 14px;
	margin-top: 32px;
	margin-bottom: -4px;
	}

div.biblio-entry {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	margin-top: 32px;
	margin-bottom: -4px;
	}
div.biblio-authors {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: #107776;
	line-height: 16px;
	margin-top: 32px;
	margin-bottom: -4px;
	}

/* LAYOUT */

#sidebar-first {
  width: 160px;
  right: 232px;
  margin-left: -100%;
  padding:0;
	left: auto;
  }

#sidebar-second {
  padding: 58px 48px 0 0;
  width: 175px;
  margin-right: -295px;
  }

#content-main {
  padding: 0 36px;
  }

#content-area .hg-container {
  padding-left: 160px;
  padding-right: 295px;
  }

/* LEFT SIDEBAR */

#sidebar-first .block {
  padding-bottom: 1em;
  }

#sidebar-first #block-vsite_menus-0 {
  padding-bottom: 96px;
  background: url('images/seal.jpg') no-repeat 34px 100%;
  }

#sidebar-first li, #sidebar h3.title {
  padding: 4px 0 0 34px;
  border-bottom:1px solid #B3C4C2;
  margin-bottom: 5px;
  margin-top: 4px;
  font-size: 11px;
  line-height: 125%;
  }

#sidebar h3.title {
  text-transform: uppercase;
  font-weight: normal;
  }

#sidebar-first li a, #sidebar-first li a:visited {
  color: #b00921;
  font-weight: bold;
  }

/* RIGHT SIDEBAR */

#sidebar-second .region-count-1 {
  border-top:1px solid #B3C4C2;
  padding-top: 6px
  }

#sidebar-second h3.title {
  margin: 0 0 16px 0;
  padding: 0;
  color:#666;
  font-size: 12px;
  line-height: 13px;

  }
  
.front #content-main .title {
  display: none;	
}