/* Forms */

.section-node-add #cp-content .innerframe,
.section-node-edit #cp-content .innerframe {
  max-width: 972px;
  }

body.one-sidebar #cp-content .node-form,
.max-width-a {
  max-width: 771px;
   }

body.no-sidebars #cp-content #node-form,
.max-width-b {
  max-width: 963px;
  }


/* This is a mess but until the markup is improved.. */
body.one-sidebar #cp-content form td:first-child,
body.one-sidebar #cp-content form th:first-child,
body.one-sidebar #cp-content .vsite_content_filter_box {
  padding-left: 30px;
  }

.vertical-tabs fieldset {
  clear:none;
  }

div.vertical-tabs {
  margin-left: 191px;
  }

div.vertical-tabs ul.vertical-tabs-list {
  left: -195px;
  width: 195px;
  }

div.vertical-tabs ul.vertical-tabs-list li {
  background: #e7e5e5;
  }

div.vertical-tabs, div.vertical-tabs fieldset,
div.vertical-tabs ul.vertical-tabs-list li.selected {
  background:#eee;
  font-size:.9em;
  }

div.vertical-tabs .vertical-tabs-panes fieldset.vertical-tabs-pane {
  padding: 2em;
  }

.section-cp fieldset legend, h3#modal-title {
	font-weight: bold;
	color:#425e69;
	font-size: 1.2em;
	float: left;
	}

.section-cp fieldset .og-vocab-taxonomy legend,
#dialog-main legend,
.section-cp .view-vsite-content legend {
  float: none;
  }

.section-cp .fieldset-wrapper, .section-cp div.description  {
	padding: 4px;
	margin-bottom: 3em;
	margin-left: 190px;
	}

.section-cp .fieldset-wrapper .fieldset-wrapper,
.section-cp .og-vocab-taxonomy .fieldset-wrapper,  {
	margin: 0;
	}

html.js #modal-content fieldset.collapsible .fieldset-wrapper {
  overflow:hidden;
  }

.section-cp .og-vocab-taxonomy {
  margin: 10px -3px;
  padding: 10px 3px 10px 10px;
  border: 1px solid #d9d9d9;
  background: #f2f5f5;
  width: 93%;
  }

.section-cp .og-vocab-taxonomy legend {
  font-size: 1em;
  }

.section-cp div.form-item {
	margin: 0 1em 0 0;
	border: none;
  }

.section-cp #cp-settings-form div.form-item {
  margin: 0 0 .75em 0;
  }

.section-cp #dialog-main div.form-item {
  margin:0;
  }

.views-exposed-form .views-exposed-widget {
  padding: 0 2em 0 0;
  }

#views-bulk-operations-submit {
  padding: 0;
  }

select option {
  padding: 2px 5px;
  }

.form-radios {
  margin: 1em 0;
  }

.section-cp .form-radios input {
  margin: 3px 3px 3px 0;
  }


.page-node-add-class .form-radios .form-item {
  /*Creation forms that use horizontal radio buttons */
  display:inline;
  margin-right: 10px;
  }



.section-cp fieldset table tr {
  border: none;
  }

.section-cp label,
.section-cp div.form-item label,
.section-cp .description,
div.spaces-block-customizer,
th {
	font-weight: bold;
	color:#333;
	font-size: .9em;
	margin-bottom: 3px;
	}


.section-cp label,
.section-cp div.form-item label,
.section-cp .description,
div.spaces-block-customizer {
	display:block;
	text-transform:none;
	}

.section-cp label.option, .section-cp div.form-item label.option {
  font-weight: normal;
  }


.section-cp div.description {
	color:#777;
	font-weight: normal;
	line-height: 127%;
	}

.section-cp .fieldset-wrapper div.description,
.section-cp table div.description,
.section-cp .form-item div.description {
  padding: 0;
  margin: 0;
  }

table.features div.feature div.description {
  font-size:11px;
  line-height:18px;
  margin:0;
  }

#modal-content table {
  width:auto;
  }

h3#modal-title {
  float: none;
  margin-bottom: 1.5em;
  }

.section-cp div.fieldset, .section-cp fieldset, .section-cp .container-inline-date {
  background: transparent;
  clear: both;
  }

.section-cp fieldset {
  border: none;
  /*border-bottom: 1px solid #ccc;*/
  }

.section-cp fieldset fieldset,
#views-bulk-operations-select fieldset {
  border: none;
  }

.section-cp label.option {
	color: #666;
	}

.ctools-use-modal-processed .buttons	{
  margin-top: 30px;
  }

a.close-this {
  display:block;
  float:right;
  }

fieldset.group-account-basics {
  padding: 0;
  }

/* DRAGGABLE AREAS */

#menu_sort_table {
  margin-bottom: 1em;
  }

.draggable td {
  padding: 4px 0;
  vertical-align: middle;
  font-weight: bold;
  }

.draggable a.tabledrag-handle {
  cursor:move;
  float:left;
  height:1.7em;
  margin:-0.4em 0 -0.4em -0.5em;
  padding:0.42em 1.5em 0.42em 0.5em;
  text-decoration:none;
  }

.draggable fieldset {
  clear: none;
  margin: 0;
  }

.draggable input.form-text {
  font-weight: bold;
  color: #666;
  font-size:1em;
  }

.draggable select {
  font-size: 10px;
  padding-top: 1px;
  }

.tabledrag-changed {
  float: right;
  margin:-19px -6px 0 0;
  padding:0;
  }

/* Various Views */

/*
#views-bulk-operations-select {
  left:555px;
  position:absolute;
  top:12px;
  }*/


/* These really should have a standard class "top-marg" or something */

#user-profile-form .description,
#edit-pass-pass1,
#edit-vsite-users-first-name-0-value,
#edit-vsite-users-last-name-0-value {
  margin-bottom: 14px;
  }

#edit-name-wrapper {
  clear: both;
  }


/* Biblio Settings View */

.modal_col {
  float: left;
  width: 40%;
  margin-right: 46px;
  }

div.ctools-modal-content .modal_col div.form-item {
  margin: 1em 0 1.5em 0;
  }

div.ctools-modal-content .modal_col div.form-item .form-item {
  margin: 0;
  }

div.ctools-modal-content .modal_col .form-item label {
  width: auto;
  }

.modal_col input.form-text {
  width: 100%;
  }

/* USER CREATION */

div.ctools-modal-content #ucreate-user-form .form-item label {
  float: none;
  width: auto;
  }

form div.buttons {
  text-align: left;
  margin-left: 200px;
  }

/* CONTENT PAGES FILTERING AND UPDATING OPTIONS */

html.js fieldset.collapsed {
  height: 2em !important;
  }

.vsite_content_filter_box .fieldset-wrapper, #views-bulk-operations-select .fieldset-wrapper {
  margin-left: 0;
  margin-top: 0;
  font-size:0.8em;
  padding:1.5em 1.5em 1em;
  background: #EAEBE9;
  }

.view-vsite-content .vsite_content_filter_box legend, #views-bulk-operations-select legend {
  padding-top: 4px;
  font-size: 1em;
  }

.view-vsite-content .vsite_content_filter_box legend.collapse-processed, #views-bulk-operations-select legend.collapse-processed {
  background: #EAEBE9;
  padding-right:5px;
  }

.view-vsite-content fieldset.collapsed legend.collapse-processed, #views-bulk-operations-select fieldset.collapsed legend.collapse-processed {
  background: transparent;
  }