body,
#top,
#footer {
  overflow: hidden;
  }

#container {
	margin: 0;
	width: 100%;
	}

#main-content,
#top,
#footer,
#cp-sidemenu,
#cp-content,
#sidebar-right {
	padding: 0;
	margin: 0;
	left: 0;
	right: 0;
	top: 40px;
	bottom: 42px;
	position: absolute;
	float:none;
	width: 100%;
	overflow: hidden;
	}

#cp-sidemenu,
#cp-content,
#sidebar-right {
  overflow: auto;
  }

#main-content,
#main,
#cp-content {
	background: #fff;
	float: none;
	}

#top,
#footer {
	top: 0;
	bottom: auto;
	height: 42px;
	background:url(../images/top-bottom-bg.png) repeat-x #000 0 -9px;
	}

#footer {
	bottom: 0;
	top: auto;
	width: auto;
	}

#cp-sidemenu,
#cp-content,
#sidebar-right {
	top: 0;
	bottom: 0;
	}

#cp-sidemenu {
  width: 170px;
  right: auto;
  background:#f2f3f3;
  border-right: 1px solid #bfc6c6;
  }

#cp-content {
  left: 171px;
  width: auto;
  }

body.sidebar-right #cp-content,
body.two-sidebars #cp-content {
  right: 171px;
  }

body.no-sidebars #cp-content,
body.sidebar-right #cp-content {
  left:0;
  }

#sidebar-right {
  width: 175px;
  padding: 35px 10px 0 15px;
  background: #f2f3f3;
  border-left: 1px solid #b8c0c0;
  margin: 0;
  right:0;
  left:auto;
  overflow: hidden;
  }

.frame {
  overflow:hidden;
  }

.innerframe {
  position: absolute;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
  top: 0;
  bottom: 0;
  min-height:200px;
  }

#main-content #cp-content .frame,
#main-content #cp-content .innerframe {
  position: static;
  }

#sidebar-right .innerframe {
  width: 185px;
  }

#main-content .frame {
  background: #fff;
  max-width: 810px;
  }

.page-cp-appearance-theme #main-content .frame,
.page-cp-appearance #main-content .frame,
.page-cp-content #main-content .frame,
.page-cp-content-feed #main-content .frame,
.page-cp-content-gallery #main-content .frame,
.page-cp-content-class #main-content .frame,
.page-cp-content-class-material #main-content .frame,
.page-cp-content-announcement #main-content .frame,
.page-cp-content-book #main-content .frame,
.page-cp-content-event #main-content .frame,
.page-cp-content-image #main-content .frame,
.page-cp-content-link #main-content .frame,
.page-cp-content-page #main-content .frame,
.page-cp-content-presentation #main-content .frame,
.page-cp-content-biblio #main-content .frame,
.page-cp-content-scholar-files #main-content .frame,
.page-cp-content-scholar-software-project #main-content .frame,
.page-cp-content-scholar-software-release #main-content .frame,
.page-cp-content-blog #main-content .frame,
.page-cp-content-files #main-content .frame{
  max-width: none;
  }

.section-node-add #main-content .frame,
.section-node-edit #main-content .frame,
.section-node-add #main-content .innerframe,
.section-node-edit #main-content .innerframe,
.page-cp-features #main-content .frame,
.page-cp-features #main-content .innerframe {
  margin:0 auto;
  overflow: visible;
  max-width: 980px;
  padding-top:1px;
  }


#cp-content .innerframe form,
.view-display-id-page_1,
#cp-content .views-processed,
#cp-content .view-vsite-support {
  margin: 12px 30px;
  clear:both;
  }

.view-display-id-page_1 {
  clear: none;
  }

.page-cp-appearance-theme #cp-content .innerframe form,
.page-cp-appearance #cp-content .innerframe form {
  margin-top: 21px;
  }

#cp-content .innerframe .view-display-id-default form {
  margin: 0 0 1.5em 0;
  }

#cp-content .innerframe .vsite_content_filter_box form {
  margin: 0;
  }

.page-cp-settings #cp-content .innerframe form .resizable-textarea  {
  width: 99%;
  }

.help {
  right: 23px;
  top: 13px;
  position: absolute;
  }

/* For use with admin_menu module only */

body.admin-menu #top {
  top: 22px;
  }

body.admin-menu #main-content {
  top: 62px;
  }


/* Exposed View Form */

#cp-content .innerframe form#views-exposed-form-vsite-content-default {
  margin: 0;
  padding: 20px 20px 10px 20px;
  background:#EAEBE9;
  font-size: .8em;
  }

table {
  border: none;
  font-size: .9em;
  clear:both;
  }

table td, table th {
  padding: 3px 4px;
  }

table th {
  border: none;
  padding-bottom: 1px;
  }

table tr,
table tr.odd,
table tr.even {
  padding: 0;
  }


/* SPECIFIC PAGE VIEWS */


/* Content Area */
#cp-content .innerframe form#views-bulk-operations-form--1 {
  margin: 0px;
  }

.section-cp fieldset.vsite_content_filter_box {
  border: 0px;
  margin-bottom:0px;
  }

.section-cp fieldset.vsite_content_filter_box .fieldset-wrapper{
	margin-bottom:5px;
  }


.view-vsite-news-follow-candidate td {
  padding: 10px 4px;
  border: 2px solid #ececec;
  }

.view-vsite-news-follow-candidate .views-field-field-vsite-logo-fid img {
  float: left;
  margin-right: 4px;
  }

.view-vsite-news-follow-candidate .flag {
  text-decoration: underline;
  }

.view-vsite-news-follow-candidate .unflag-action {
  color: #000;
  }