body.openscholar-admin,#page {
  background: #dfe1e3;
  color:#5a5959;
  }

#container,
body.section-cp-appearance #cp-settings-site,
body.section-cp-appearance-theme #cp-settings-site {
  max-width: 980px;
  margin: 0 auto;
  }

body.section-cp-appearance #container,
body.section-cp-appearance-theme #container {
  max-width: none;
  width: 100%;
  }

#page {
  background: #fff;
  border: none;
  }

.page-node #page,
body.section-cp-appearance #page,
body.section-cp-appearance-theme #page {
  margin: 0;
  }

#page-title {
  padding: 10px 30px;
  min-height: 18px;
  }

.innerframe .view-display-id-default form {
  margin: 0 0 1.5em 0;
  }

.innerframe .vsite_content_filter_box form {
  margin: 0;
  }

.page-cp-settings #cp-content .innerframe form .resizable-textarea  {
  width: 99%;
  }

.help {
  margin-left: 5px;
  margin-top: 12px;
  position: absolute;
  }

#cp-content .views-admin-links {
  float: right;
  }


.item-list ul.context-links {
  padding: 30px 0 0 30px;
  float:none;
  }


/* IMAGES */

img {
  border:none;
  }

.img-flL {
  float: left;
  margin: 0 1em .9em 0;
  }

.img-flR {
  float: right;
  margin: 0 0 .9em 1em;
  }

.img-center {
  margin: 1.5em auto;
  text-align: center;
  }

/* Removes Rubik icons */

#page .node-type-list li,
#page .admin-list li {
  padding-left: 15px;
  }

#page .admin-list span.icon {
  display:none;
  }

.view-display-id-page_1 .item-list ul.context-links, html.js div.ctools-dropdown {
  padding: 0 0 30px 0;
  }

html.js div.ctools-dropdown div.ctools-dropdown-container {
  border: 1px solid #ccc;
  border-top: none;
  padding: 5px 0 0 0;
  background: #fff;
  margin: 4px 0 0 9px;
  }

html.js div.ctools-dropdown div.ctools-dropdown-container ul li a {
  padding: 3px 5px;
  text-transform:capitalize;
  width: auto;
  }

html.js div.ctools-dropdown div.ctools-dropdown-container ul li a:hover {
  background: #ddd;
  color: #000 !important;
  }

.context-button, .item-list ul.context-links li, #ctools-dropdown-1 {
  float: none;
  }

.collapsible .fieldset-title span.icon {
  background-image: url(../images/sprite.png);
  left:4px;
  }

.collapsible .fieldset-title a {
  padding-left: 30px;
  }

/* FOOTER Get rid of all this once the footer content is in a module */

#footer h3 {
  float: left;
  width: 553px;
  height: 23px;
  text-indent: -999em;
  background: url(../images/footer-logo.png) no-repeat transparent;
  margin-left: 33px;
  margin-top: 11px;
  }

#footer ul {
  float: right;
  color: #ddd;
  font-size: 12px;
  margin-top: 13px;
  margin-right: 10px;
  }

#footer a, #foot a:visited {
  color: #ddd;
  text-decoration: underline;
  }

#footer li {
  display:inline;
  margin-left: 8px;
  border-right: 1px solid #ddd;
  padding-right: 8px;
  text-align: right;
  }

#footer li.last {
  border: none;
  }


table {
  border: none;
  font-size: .9em;
  background: transparent;
  }

table td, table th {
  padding: 3px 4px;
  border: none;
  background: transparent;
  }

table th {
  padding-bottom: 1px;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  color: #666;
  text-shadow: none;
  }

table tr,
table tr.odd,
table tr.even {
  padding: 0;
  }

table#upload-attachments td {
  padding: 4px !important;
  }

table tr.draggable {
  border-bottom: 1px solid #D9D9D9;
  }

td.content-multiple-drag {
  width: 20px;
  }

/* SPECIFIC PAGE VIEWS */


/* Activity Area */

.view-vsite-activity .views-field-message, .view-vsite-activity .views-field-title {
  font-weight: bold;
  }

.view-vsite-activity .views-field-title a {
  text-decoration: underline;
  }

.view-vsite-activity .views-field-created span:after {
  content: '.';
  }

.view-vsite-activity .views-field-message span:after {
  content: ':';
  }

/* Content Area */
#cp-content .innerframe form#views-bulk-operations-form--1 {
  margin: 0px;
}

.section-cp fieldset.vsite_content_filter_box {
  border: 0px;
  margin-bottom:0px;
}

.section-cp fieldset.vsite_content_filter_box .fieldset-wrapper{
	margin-bottom:5px;
}


.view-vsite-news-follow-candidate td {
  padding: 10px 4px;
  border: 2px solid #ececec;
  }

.view-vsite-news-follow-candidate .views-field-field-vsite-logo-fid img {
  float: left;
  margin-right: 4px;
  }

.view-vsite-news-follow-candidate .flag {
  text-decoration: underline;
  }

.view-vsite-news-follow-candidate .unflag-action {
  color: #000;
  }

#main-content #cp-content .frame, #main-content #cp-content .innerframe {
  position: static;
  }

.page-content .form-item .description {
  right:0;
  color: #222;
  background-image: url("../images/popup.png");
  border-top-color: #90acc7;
  }

/* MESSAGES */

div.messages {
  background:#BBDDFF;
  border:1px solid #AACCEE;
  color:#003366;
  margin:0 0 10px;
  padding:9px;
  clear:both;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  }

div.status {
  background:#CCFF88;
  border:1px solid #BBEE77;
  color:#336600;
  margin:0 0 10px;
  padding:9px;
  }

div.warning {
  background: #FFEE66;
  border:1px solid #EEDD55;
  color:#884400;
  margin:0 0 10px;
  padding:9px;
  }

div.error {
  background:#EE6633;
  border:1px solid #DD5522;
  color:#FFFFFF;
  margin:0 0 10px;
  padding:9px;
  }