/* Forms */

fieldset {
  clear: both;
  background:#F3F3F3;
  border: 1px solid #dddddd;
  border-left: none;
  border-right:none;
  }

.vertical-tabs fieldset {
  clear:none;
  }

.fieldset.titled {
  padding-top: 9px;
  }


.fieldset-title {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 4px 19px 5px;
  margin: 0 -10px;
  border-right:none;
  border-left: none;
  }


.form-item {
  border: none;
  padding: 0 9px;
  }

.block .block-content,
.container-inline .fieldset-content,
.fieldset-content {
  padding: 0;
  }

container-inline .fieldset-content,
.fieldset-content {
  border: none;
  }

legend, legend a {
  color: #666;
  font-weight: bold;
  }


fieldset legend,
h3#modal-title {
	font-weight: bold;
	font-size: 1.1em;
	overflow: hidden;
  white-space: nowrap;
  color: #adb6bf;
}

h3#modal-title {
  margin-bottom: 0;
  }

label,
div.form-item label,
.description, d
iv.spaces-block-customizer,
th {
	color:#333;
	font-size: .9em;
	margin-bottom: 3px;
	}

label,
div.form-item label,
.description,
div.spaces-block-customizer {
	text-transform:none;
	}

label.option,
div.form-item label.option {
  font-weight: normal;
  }

div.description {
	color:#777;
	font-weight: normal;
	line-height: 127%;
	}

fieldset {
  border: none;
  }

fieldset fieldset, #views-bulk-operations-select fieldset {
  border: none;
  }

label.option {
	color: #666;
	}

input.form-text {
	border-width: 2px;
	}

input.form-autocomplete,
input.form-text,
textarea.form-textarea,
select.form-select {
  background: url(../images/form_bg.png) repeat-x 0 0 white;
  border-color: #707070 #ABABAB #CECECE;
  border-style: solid;
  -moz-border-bottom-colors: #F9F9F9 #CECECE;
  -moz-border-left-colors: #F9F9F9 #ABABAB;
  -moz-border-right-colors: #F9F9F9 #ABABAB;
  -moz-border-top-colors: #F9F9F9 #707070;
  border-width: 2px;
  margin-top: -2px;
  padding: 4px 3px 2px;
  }


input.form-autocomplete:hover,
input.form-text:hover,
textarea.form-textarea:hover,
select.form-select:hover,
input.form-autocomplete:focus,
input.form-text:focus,
textarea.form-textarea:focus,
select.form-select:focus {
  border-color:#aaccee;
  -moz-border-bottom-colors: #aaccee;
  -moz-border-left-colors: #aaccee;
  -moz-border-right-colors: #aaccee;
  -moz-border-top-colors: #aaccee;
  }

div.form-radios .form-item {
  float: left;
  }

div.spaces-block-customizer {
  border: none;
  margin:0;
  padding: 0;
  }

#edit-field-presentation-date-0-value-datepicker-popup-0-wrapper,
#edit-field-presentation-date-0-value-wrapper{
  padding:0;
  }

/* DRAGGABLE AREAS */


.draggable td {
  font-weight: bold;
  }

.draggable a.tabledrag-handle {
  text-decoration:none;
  }

.draggable input.form-text {
  font-weight: bold;
  color: #666;
  font-size:1em;
  }

.draggable select {
  font-size: 10px;
   }

/* Biblio Settings View */

.modal_col {
  float: left;
  width: 40%;
  margin-right: 46px;
  }

div.ctools-modal-content .modal_col div.form-item {
  margin: 1em 0 1.5em 0;
  }

div.ctools-modal-content .modal_col div.form-item .form-item {
  margin: 0;
  }

div.ctools-modal-content .modal_col .form-item label {
  width: auto;
  }

.modal_col input.form-text {
  width: 100%;
  }


/* CONTENT PAGES FILTERING AND UPDATING OPTIONS */


.vsite_content_filter_box .fieldset-wrapper,
#views-bulk-operations-select .fieldset-wrapper {
  font-size:0.8em;
  background: #EAEBE9;
  }

.view-vsite-content .vsite_content_filter_box legend,
#views-bulk-operations-select legend {
  font-size: 1em;
  }

.view-vsite-content .vsite_content_filter_box legend.collapse-processed,
#views-bulk-operations-select legend.collapse-processed {
  background: #EAEBE9;
  }

.view-vsite-content fieldset.collapsed legend.collapse-processed,
#views-bulk-operations-select fieldset.collapsed legend.collapse-processed {
  background: transparent;
  }