/* Forms */

.section-node-add #cp-content,
.section-node-edit #cp-content {
  background:#DFE1E3;
  padding:10px 30px;
  }

fieldset {
  clear: both;
  background:#fff;
  border: none;
  margin-bottom: .5em;
  padding: 0 0 12px 0;
  }

.page-cp-appearance #cp-settings-form fieldset {
  padding-top: 0;
  }

td fieldset,
fieldset fieldset {
  padding: 0;
  background: transparent;
  }

/* Reset Rubik */

.block .item-list,
.block .form-item,
.admin-panel .admin-list,
.form-item,
.teaser-checkbox .form-item,
.form-item .form-item,
.fieldset .form-item,
table .form-item {
  border: none;
  padding: 0;
  margin: 0;
  background:transparent;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  }

/*
.container-inline .fieldset-title .fieldset-content, .fieldset.titled .fieldset-content {
  padding-top: 0;
  }
*/

.fieldset-wrapper {
  padding: 0 9px;
  }

.fieldset-title {
  border:none;
  }

.fieldset-wrapper .fieldset-wrapper,
fieldset fieldset .fieldset-wrapper{
  padding: 0;
  }

.vertical-tabs fieldset {
  clear:none;
  }

div.vertical-tabs {
  margin-top: 0;
  margin-right: 7px;
  margin-left: 191px;
  }

div.vertical-tabs ul.vertical-tabs-list {
  left: -195px;
  width: 195px;
  }

div.vertical-tabs ul.vertical-tabs-list li a {
  color: #3399CC;
  font-size: 0.9em;
  font-weight: 300;
  }

div.vertical-tabs .vertical-tabs-panes fieldset.vertical-tabs-pane {
  padding-top: 1em;
  }

.form-item label,
div.vertical-tabs-panes .description,
.vertical-tabs-pane div.form-item label {
  font-weight: bold;
  color: #5A5959;
  text-transform: none;
  font-size: 12px;
  }

div.vertical-tabs-panes .form-item .description {
  color: #888;
  font-weight: normal;
  }


fieldset legend {
  overflow: hidden;
  white-space: nowrap;
  background:#F3F3F3;
  width:100%;
  border-top: 1px solid #D9D9D9;
  border-bottom: none;
  }

legend, legend a {
  color: #333;
  font-weight: bold;
  }

legend a {
  display:block;
  }

legend,
.collapsible .fieldset-title a.item-list h3,
.block .block-title,
.admin-panel h3,
.fieldset-title,
.collapsible .fieldset-title a  {
  font-size: 11px;
  }

html.js fieldset.collapsible legend a {
  background: url(../images/open-close.png) no-repeat 0 -20px #3F3F3F3;
  padding-left: 29px;
  color: #000;
  }

html.js fieldset.collapsed legend a {
  background-position: 0 0;
  color:#999;
  }

.container-inline .fieldset-title .fieldset-content,
.fieldset.titled .fieldset-content,
.collapsible {
  background-color: #F3F3F3;
  }

.collapsed {
  background-color: #fff;
  }


.form-region-main .resizable-textarea {
  width:100%;
  }

.views-exposed-form .views-exposed-widget {
  padding: 0 2em 0 0;
  }


.container-inline .fieldset-content,
.fieldset-content {
  border: none;
  }

#views-bulk-operations-submit {
  padding: 0;
  }

select,
select option {
  max-width:99%;
  }

.column-side select option {
  max-width: 279px;
  }

select option {
  padding: 2px 5px;
  }

.form-region-right .og-vocab-taxonomy select {
  max-width: 100%;
  }

.form-radios {
  margin: 0 0 1em 0;
  }

.node-form .form-text {
  font-size: .85em;
  width: 99.9%;
  }

input.form-autocomplete,
input.form-text,
textarea.form-textarea {
  /*bbackground: url(images/input-bg.png) repeat-x 0 0 #fff; */
  background-color:#fff;
  -moz-border-style: solid;
  -moz-border-bottom-colors: #F9F9F9 #CECECE;
  -moz-border-left-colors: #F9F9F9 #ABABAB;
  -moz-border-right-colors: #F9F9F9 #ABABAB;
  -moz-border-top-colors: #F9F9F9 #707070;
  -moz-border-width: 2px;
  margin-top: -2px;
  padding: 4px 3px 2px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  }

#field_biblio_extra_values input.fluid {
  width: 100%;
  }

.resizable-textarea {
  width: 100%;
  }

select.form-select {
  }

textarea.form-textarea {
  background: #fff;
  }

input.form-autocomplete:hover,
input.form-text:hover,
textarea.form-textarea:hover,
select.form-select:hover,
input.form-autocomplete:focus,
input.form-text:focus,
textarea.form-textarea:focus,
select.form-select:focus {
  -moz-border-bottom-colors: #aaccee;
  -moz-border-left-colors: #aaccee;
  -moz-border-right-colors: #aaccee;
  -moz-border-top-colors: #aaccee;
  /*background-position: 0 -26px;*/
  -moz-background-color: #FFFEEB;
  }

html.js input.form-autocomplete {
  background-position: 100% 3px;
  }

/*Creation forms that use horizontal radio buttons */

.page-node-add-class .form-radios .form-item {
  display:inline;
  margin-right: 10px;
  }

.fieldset-wrapper input.form-submit,
.content-add-more input.form-submit {
  float:right;
  margin-right: 12px;
  }

#edit-field-biblio-image-0-filefield-upload {
  float: none;
  }

/* End horizontal radios */


/*
.section-cp fieldset table tr {
  border: none;
  }

.section-cp label, .section-cp div.form-item label, .section-cp .description, div.spaces-block-customizer, th {
	font-weight: bold;
	color:#333;
	font-size: .9em;
	margin-bottom: 3px;
	}


.section-cp label, .section-cp div.form-item label, .section-cp .description, div.spaces-block-customizer {
	display:block;
	text-transform:none;
	}

.section-cp label.option, .section-cp div.form-item label.option {
  font-weight: normal;
  }


.section-cp div.description {
	color:#777;
	font-weight: normal;
	line-height: 127%;
	}

.section-cp .fieldset-wrapper div.description, .section-cp table div.description, .section-cp .form-item div.description {
  margin-left: 0;
  padding: 0;
  margin-top: 3px;
  margin-bottom: 3px;
  }

*/

table.features div.feature div.description {
  font-size:11px;
  line-height:18px;
  margin:0;
  }

#modal-content table {
  width:auto;
  }

h3#modal-title {
  float: none;
  margin-bottom: 1.5em;
  }

a.close-this {
  display:block;
  float:right;
  }

fieldset.group-account-basics {
  padding: 0;
  }

/* DRAGGABLE AREAS */

#menu_sort_table {
  margin-bottom: 1em;
  }

#node-form .draggable td {
  vertical-align: middle;
  font-weight: bold;
  }

#node-form .draggable td {
    padding: 0;
    }

.draggable a.tabledrag-handle {
  cursor:move;
  float:left;
  height:1.7em;
  margin:-0.4em 0 -0.4em -0.5em;
  padding:0.4em;
  text-decoration:none;
  }

.draggable fieldset {
  clear: none;
  margin: 0;
  }

.draggable input.form-text {
  font-weight: bold;
  color: #666;
  font-size:1em;
  }

.draggable select {
  font-size: 10px;
  height: auto;
  padding-top: 1px;
  }

.tabledrag-changed {
  float: right;
  margin:-19px -6px 0 0;
  padding:0;
  }

.node-form .content-multiple-table td.content-multiple-drag {
  width: 18px;
  }

/* Various Views */

/*
#views-bulk-operations-select {
  left:555px;
  position:absolute;
  top:12px;
  }*/


/* These really should have a standard class "top-marg" or something */

#user-profile-form .description,
#edit-pass-pass1,
#edit-vsite-users-first-name-0-value,
#edit-vsite-users-last-name-0-value {
  margin-bottom: 14px;
  }

#edit-name-wrapper {
  clear: both;
  }


/* Biblio Settings View */

.modal_col {
  float: left;
  width: 40%;
  margin-right: 46px;
  }

/* CONTENT PAGES FILTERING AND UPDATING OPTIONS */

.vsite_content_filter_box .fieldset-wrapper, #views-bulk-operations-select .fieldset-wrapper {
  margin-left: 0;
  margin-top: 0;
  font-size:0.8em;
  padding:1.5em 1.5em 1em;
  background: #EAEBE9;
  }

.view-vsite-content .vsite_content_filter_box legend, #views-bulk-operations-select legend {
  padding-top: 4px;
  font-size: 1em;
  }

.view-vsite-content .vsite_content_filter_box legend.collapse-processed, #views-bulk-operations-select legend.collapse-processed {
  background: #EAEBE9;
  padding-right:5px;
  }

.view-vsite-content fieldset.collapsed legend.collapse-processed, #views-bulk-operations-select fieldset.collapsed legend.collapse-processed {
  background: transparent;
  }

/* CREATION FORM SPECIFIC FIELDS */

#edit-biblio-type {
  width: 100%;
  }

#edit-biblio-type-wrapper,
#edit-biblio-year-wrapper,
#edit-biblio-publisher-wrapper,
#edit-biblio-place-published-wrapper,
#edit-biblio-pages-wrapper,
#edit-biblio-secondary-title-wrapper,
#edit-biblio-volume-wrapper,
#edit-biblio-issue-wrapper,
#edit-biblio-section-wrapper,
#edit-biblio-date-wrapper,
#edit-biblio-type-of-work-wrapper,
#edit-biblio-date-wrapper,
#edit-biblio-edition-wrapper,
#edit-biblio-tertiary-title-wrapper,
#edit-biblio-number-of-volumes-wrapper,
#edit-biblio-number-wrapper,
#edit-biblio-issn-wrapper,
#edit-biblio-doi-wrapper,
.page-node-add-presentation .container-inline-date,
#edit-field-presentation-location-0-value-wrapper,
.page-node-add-event .date-clear-block,
#edit-field-scholar-software-method-value-wrapper,
#edit-field-scholar-software-name-0-value-wrapper,
#edit-vsite-users-first-name-0-value-wrapper,
#edit-vsite-users-last-name-0-value-wrapper,
#edit-settings-generic-admin-menu-wrapper,
#edit-settings-generic-vsite-domain-value-wrapper,
#edit-settings-generic-private-vsite-wrapper,
#contact-mail-page #edit-name-wrapper,
#contact-mail-page #edit-mail-wrapper,
#contact-mail-page #edit-subject-wrapper,
#contact-mail-page #edit-cid-wrapper {
  display:inline-block;
  vertical-align: top;
  width: 49.5%;
  }

#field-biblio-extra-items .description {
  float: left;
  }

#field-biblio-extra-items,
#edit-field-biblio-image-0-upload-wrapper .description {
  padding: 1em 0;
  clear:both;
  }

#edit-field-biblio-image-0-upload-wrapper .description {
  padding-bottom: 0;
  }

#edit-field-biblio-image-0-upload-wrapper,
#edit-field-biblio-image-0-upload-wrapper .filefield-element {
  margin:0;
  }

#biblio-authors td.biblio-contributor {
  width: 78%;
}

#contact-mail-page #edit-cid-wrapper select.form-select {
  width: 100%;
  }

/* EVENT CREATION */

.page-node-add-event .date-clear-block {
  background: #fff;
  }
