ul.primary-tabs {
  bottom: 5px;
  }

ul.primary-tabs li {
  padding-left: 2px;
  }

ul.primary-tabs li a:link,
ul.primary-tabs li a:visited {
  background-color: transparent;
  color: #000;
  }

ul.primary-tabs li a:link,
ul.primary-tabs li a:visited {
  background: #DFE1E3;
  color: #000;
  font-weight: 700;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border:none;
  }

ul.primary-tabs li.active a,
ul.primary-tabs li a.active:link,
ul.primary-tabs li a.active:visited,
ul.primary-tabs li.active a:hover,
ul.primary-tabs li.active a:focus  {
  background: #8898A9;
  color: #fff;
  padding: 4px 9px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  }

ul.primary-tabs li a:hover,
ul.primary-tabs li a:focus  {
  color: #000;
  }

/* Secondary */
.tabs ul.secondary {
  border-bottom: 1px solid #c3c3c3;
  }

.tabs ul.secondary li a:link,
.tabs ul.secondary li a:visited {
  color: #999;
  }

.tabs ul.secondary li a:hover,
.tabs ul.secondary li a:focus {
  border-bottom: 1px solid #ddd;
  color: #777;
  }

.tabs ul.secondary li a.active:link,
.tabs ul.secondary li a.active:visited {
  border-bottom: 2px solid #ddd;
  color: #000;
  }