#wysiwyg_imagefield-dialog .filefield-sources-list {
  position: absolute;
  right: 0;
  top: -2.5em;
}

.wysiwyg_imagefield-hidden {
  display: none;
}

.filefield-element input.form-submit {
  width: auto;
  }

#wysiwyg_imagefield-wrapper {
  display: none;
}

#wysiwyg_imagefield-wrapper .form-item {
  margin-top: 0;
  position: relative;
}

#wysiwyg_imagefield-wrapper .filefield-element {
  margin: 0;
}

#wysiwyg_imagefield-wrapper .filefield-element .widget-edit .views-admin-links {
  display: none;
}

#wysiwyg_imagefield-wrapper .filefield-element .widget-edit .widget-preview {
  margin-bottom: 10px;
}

.mce_wysiwyg_imagefield .mceIcon {
  height: 16px !important;
  padding: 2px;
  width: 16px !important;
}
