#header, #sidebar-right, #footer {

  background:#3f1717;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=76)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=76);
  zoom: 1;
  }

#sidebar-left {
  background: #dddfae;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=76)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=76);
  zoom: 1;
  }

#block-vsite_menus-0 ul.menu li a:hover {
  background: #ECEFE0;
  }


#block-vsite_menus-0 ul.menu li.active-trail {
  background-color: #476172;
  }

#extradiv {
  background-color: #3f1717;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  zoom: 1;
    }

.node-teaser {
  background-color: #f8fbd1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  zoom: 1;
  }