#footer, #extradiv {
  background:#3f1717;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=76)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=76);
  zoom: 1;
  }

#sidebar-left {
  background: #dddfae;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=76)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=76);
  zoom: 1;
  }

.node-teaser {
  background-color: #f8fbd1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  zoom: 1;
  }