body {
    color:#666;
    font-family: palatino, baskerville, "palatino linotype", "Times New Roman", Times, Georgia, serif;
    background: url(images/body-bg-no-sidebar.jpg) 50% 135px repeat-y #6d2a01;
    min-width:1000px;
    }

body.sidebar-first {
    background-image: url(images/body-bg-left-sidebar.jpg);
    }

body.sidebar-second {
    background-image: url(images/body-bg-right-sidebar.jpg);
    }

body.two-sidebars {
    background-image: url(images/body-bg-both-sidebar.jpg);
    }

body.sidebar-first #header {
    background-image:url(images/header-left-sidebar.jpg);
    }

body.sidebar-second #header {
    background-image:url(images/header-right-sidebar.jpg);
    }

body.two-sidebars #header {
    background-image:url(images/header-both-sidebar.jpg);
    }


#extradiv {
    text-indent: -999em;
    position: fixed;
    background:url(images/bottom.png) center bottom no-repeat;
    bottom: 0;
    height:215px;
    width: 100%;
    z-index:50;
    }

.wrap {
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 213px;
    }

/* TYPOGRAPHY */

a, a:visited {
    color:#953a0d;
    text-decoration: none;
    }

.title a, .title a:visited {
  color:#870202;
  font-size: 1.2em;
  }

a:hover, a.active, .active-trail a {
  color:#000;
  text-decoration: underline;
  }


h2, h3, #sidebar-second a, #sidebar-first a, .title a, .title a:visited {
    font-weight: bold;
    text-decoration: none !important;
    }

h2, h3, h4 {
  margin-bottom: 0;
  margin-top: 1em;
  }

h2.title {
  margin-bottom: 1em;
  }

#block-menu-primary-links {
    text-transform: uppercase;
    }

#header h1 {
    font-size: 2em;
    line-height: 1em;
    font-weight: normal;
    }

#header h1, #header h2, #header h3, #header a, #header a:visited, #header h1 a, #header h1 a:visited, #header {
    color:#414040;
    }

#header h1 a, #header h1 a:visited {
    text-decoration: none;
    padding: 0;
    }

#header h2 {
    font-size: 1.2em;
    line-height: 1em;
    }

#header a, #header a:visited {
    text-decoration: none;
    }


#sidebar-first {
  text-align:right;
  }

#sidebar-first ul.menu {
  text-transform: uppercase;
  text-align:right;
  }


/* LAYOUT */

#header-main {
  padding: 10px 32px;
  }

body.sidebar-first #header-main,
body.two-sidebars #header-main {
  padding-left: 0;
  }

#content-main {
  padding: 0 40px;
  }

#sidebar-first, #header-left {
  width: 156px;
  right: 259px;
  padding-right: 15px;
  padding-left: 24px;
  }

body.sidebar-first #header-left,
body.two-sidebars #header-left {
  right:205px;
  }

#sidebar-first {
  top: -100px;
  right: 275px;
  }

#sidebar-second, #header-right {
  width: 156px;
  padding-left: 15px;
  padding-right: 24px;
  margin-right: -259px;
  }

#sidebar-second {
  margin-right: -275px;
  }

#header .hg-container, #content-area .hg-container {
  width: auto;
  }

#header .hg-container {
  padding-left: 195px;
  padding-right: 259px;
  }

body.sidebar-first #header .hg-container,
body.two-sidebars #header .hg-container {
  padding-right: 205px;
  }

#content-area .hg-container {
  padding-left: 195px;
  padding-right: 275px;
  }


/*CONTENT AREA */

#sidebar-first, #sidebar-second {
  font-size: 13px;
  line-height: 112%;
  }

#sidebar-first li, #sidebar-second li {
  margin-bottom: .7em;
  }

body.sidebar-first #content-area .hg-container {
  padding-right: 70px;
  }

body.no-sidebars #content-area .hg-container {
  padding-right: 35px;
  padding-left: 35px;
  }
body.navbar #content-main {
  margin-top: 30px;
  }

#content-main, #sidebar-second, #sidebar-first {
  padding-top: 0;
  }


/* HEADER ELEMENTS */


#header {
    padding-top: 40px;
    min-height:160px;
    background:url(images/header-no-sidebar.jpg) no-repeat top center #6d2a01;
    }

#header-main, body.header-main #header-main {
  background: transparent;
  padding-left: 10px;
  padding-right:10px;
  }

#header #header-right {
    padding-top: 20px;
    text-align: center;
    }

body.sidebar-first, body.no-sidebars #header #header-right {
    padding-top: 0;
    }

body.sidebar-first #header, body.two-sidebars #header {
  padding-left: 195px;
  }

body.header-main #block-scholar-1, body.header-main-right #block-scholar-1 {
  padding-left: 149px;
  background: url(images/crest.png) no-repeat 21px 0 transparent;
  min-height: 112px;
  }

body.sidebar-second #header .hg-container {
  margin: 0;
  }


#scholar-shield {
 padding-top: 10px;
 text-align: center;
 }

#navbar {
  width: 900px;
  margin-left: 5px;
  padding-left: 33px;
  padding-top: 20px;
  }

#navbar li {
  font-weight: bold;
  margin-right: 15px;
  font-style: italic;
  font-family: georgia, serif;
  }

#navbar a:hover, #navbar a.active {
  color: #993300;
  }

body.sidebar-second #navbar {
  width: 685px;
  }

body.sidebar-first #navbar, body.two-sidebars #navbar {
  padding-left: 206px;
  width: 714px;
  }

body.two-sidebars #navbar {
  width: 523px;
  }

#logo img {
  width: 133px;
  }


/* FOOTER */

#footer {
  padding: 30px;
  }

body.sidebar-first #footer, body.two-sidebars #footer {
  margin-left:184px;
  }

body.sidebar-second #footer, body.two-sidebars #footer {
  margin-right:209px;
  }

/* Nodes */

.submitted {
  color: #a1b1b1;
  display:block;
  }

.node {
  border-bottom: 1px dashed #615E57;
  }