html {
    min-width: 910px;
    }

body {
    background: #ccc;
    color:#666;
    font:.9em/165% Helvetica, Arial,Verdana,sans-serif; 
    }
   
#container {
    width: 980px;
    margin: 0 auto;
    }
    
a, a:visited {
    color:#adad84;
    text-decoration: none;
    padding: 2px;
    }

a:hover {
    color:#fff;
    background:#adad84;
    }


h1, h2, h3, #sidebar-right a, #navbar, #header {
    font-weight: bold;
    }


h1 a, h2 a, h3 a, #sidebar-right a {
    font-style: normal;
    }

h2 {
    color:#51787C;
    }


/* HEADER ELEMENTS */


#header {
    padding-top: 16px;
    text-transform: lowercase;
    }

#header h1 {
    font-size: 3em;
    line-height: 1em;
    }

#header h1, #header h3, #header a, #header a:visited, #header h1 a, #header h1 a:visited, #header {
    color:#fff;
    }
    
#header h1 a, #header h1 a:visited {
    text-decoration: none;
    padding: 0;
    }
    
#header h2 {
    font-size: 1.5em;
    line-height: 1em;
    }
    
#header a, #header a:visited {
    text-decoration: none;
    }
        
#navbar li {
    margin-right: 1.5em;
    text-transform: uppercase;
    font-size: 1.1em;
    }

#navbar li a, #navbar li a:visited {
    color: #fff;
    }
    
#navbar li a:hover {
    color: #F9E433;
    }
    
    
/* MAIN CONTENT AREA */

#content-main {
    padding: 0;
    }

#content-main .node {
    padding: 10px;
    background: #fff;
    margin-bottom: 10px;
    }

/* SIDEBARS */

#sidebar-left, #sidebar-right {
    font-size: 1.1em;
    }
    
#sidebar-left {
    text-align: right;
    }

#sidebar-left a, #sidebar-left a:visited, #sidebar-right a, #sidebar-right a:visited {
    color: #fff;
    padding: 2px 4px;
    display:block;
    font-weight: bold;
    }

#sidebar-left a:hover, #sidebar-right a:hover {
    color: #fff;
    background:#adad84;
    }