#header, #sidebar-right, #footer {

  background:#414141;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=76)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=76);
  zoom: 1;
  }

#sidebar-left {
  background: #e2e2e2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=76)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=76);
  zoom: 1;
  }

#block-vsite_menus-0 ul.menu li a:hover {
  background: #f8fad1;
  }


#block-vsite_menus-0 ul.menu li.active-trail {
  background-color: #414141;
  }

#extradiv {
  background-color: #03263f;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  zoom: 1;
    }

.node-teaser {
  background-color: #e9e9e9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=61)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=61);
  zoom: 1;
  }