#content a, #content a:visited {
  color:#3f3c0e;
  }

#content a:hover {
  color: #000;
  text-decoration: underline;
  }

#header, #sidebar-left, #sidebar-right, #footer, #extradiv {
  background: rgba(65, 65, 65, 0.76);
  }

#sidebar-left {
  background: rgba(226, 226, 226, 0.76);
  }

#block-vsite_menus-0 ul.menu li a:hover {
  background: #f8fad1;
  }

#block-vsite_menus-0 ul.menu li.active-trail {
  background: rgba(65, 65, 65, 0.86);
  }

#block-vsite_menus-0 ul.menu li a.active, #block-vsite_menus-0 ul.menu li.active-trail a, #block-vsite_menus-0 ul.menu li a.active:hover, #block-vsite_menus-0 ul.menu li.active-trail a:hover {
  background-image: url(images/menu-selected-3.png);
  }

.node-teaser {
  background: rgba(233, 233, 233, 0.61);
  }