#scholarlayout-container .scholarlayout-widgets-list {
  width: 202px;
  height: 121px;
  top: 26px;
  left: 42px;
  }

#scholarlayout-container #scholarlayout-header-main, #scholarlayout-container #scholarlayout-content-main {
  width: 244px;
  left: 247px;
  }

#scholarlayout-container #scholarlayout-header-right,
#scholarlayout-container #scholarlayout-right {
  left: 493px;
  }

#scholarlayout-container #scholarlayout-content-main,
#scholarlayout-container #scholarlayout-left,
#scholarlayout-container #scholarlayout-right {
  top: 182px;
  height: 356px;
  }


#scholarlayout-container #scholarlayout-navbar,#scholarlayout-container #scholarlayout-footer {
  width: 653px;
  height: 30px;
  top: 150px;
  }

 #scholarlayout-container #scholarlayout-footer {
  top: 541px;
  height: 42px;
  left: 43px;
  }
