#scholarlayout-container {
  width: 848px;
  height: 711px;
  /* background: url(images/layout-map.png) no-repeat #fff 0 0; */
  position: relative;
  margin-left: 17px;
  margin-top: 0;
  }

#scholarlayout-container .scholarlayout-widgets-list {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  top: 26px;
  left: 42px;
  padding: 0;
  margin: 0;
  }

#scholarlayout-container .scholarlayout-widgets-list:hover {
  background: #c4e5a3;
  }

/*
#scholarlayout-container #scholarlayout-header-main, #scholarlayout-container #scholarlayout-content-main {
  width: 244px;
  left: 247px;
  }

#scholarlayout-container #scholarlayout-header-right,
#scholarlayout-container #scholarlayout-right {
  left: 493px;
  }

#scholarlayout-container #scholarlayout-content-main,
#scholarlayout-container #scholarlayout-left,
#scholarlayout-container #scholarlayout-right {
  top: 182px;
  height: 356px;
  }


#scholarlayout-container #scholarlayout-navbar,#scholarlayout-container #scholarlayout-footer {
  width: 653px;
  height: 30px;
  top: 150px;
  }


 #scholarlayout-container #scholarlayout-footer {
  top: 541px;
  height: 42px;
  left: 43px;
  }
*/

#scholarlayout-container table,#scholarlayout-container th,#scholarlayout-container td{
  border: 2px solid grey;
}

#scholarlayout-container table{
	width: 660px;
}

#scholarlayout-top-widgets {
  height:114px;
  background:#eaebe9;
  width: 100%;
  padding-left: 22px;
  overflow: hidden;
  }

li.scholarlayout-item {
  font-size: 11px;
  font-weight: bold;
  color:#444545;
  cursor: pointer;
  }

#scholarlayout-top-widgets li.scholarlayout-item {
  float: left;
  width: 118px;
  height: 23px;
  text-align: center;
  color:#444545;
  padding-top: 91px;
  background:url(images/widget-bg.png) no-repeat transparent 50% 10px;
  line-height: 86%;
  }

#scholarlayout-container li.scholarlayout-item {
  margin: 0;
  padding: 4px 4px 4px 31px;
  border: 1px solid #8a8888;
  background: url(images/widget-placed-bg.png) no-repeat 3px 2px #eaebe9;
  min-height: 21px;
  }

#scholarlayout-container li.scholarlayout-item:hover {
  background-color: #d1ea02;
  }

.scholarlayout-item-settings {
  color:#90a0a0;
  font-weight: normal;
  margin-left: 2px;
  display:block;
  position: relative;
  }

.scholarlayout-item-settings span {
  padding-right: 7px;
  background: url(images/arrow-aqua.png) no-repeat 100% 2px;
  }

#scholarlayout-top-widgets .scholarlayout-item-settings,.scholarlayout-item-settings ul {
  top: -999em;
  }

.scholarlayout-item-settings:hover ul {
  top: -25px
  }

.scholarlayout-item-settings ul {
  position:absolute;
  padding: 10px;
  background: #fff;
  right: -115px;
  border: 1px solid #8a8888;
  color: #90a0a0;
  z-index: 10;
  }

.scholarlayout-item-settings ul li {
  padding-left: 19px;
  background: url(images/check-mark-exceptions.png) no-repeat 0 0 transparent;
  line-height: 19px;
  }


.close-this {
  float:right;
  position: relative;
  top:-2px;
  }

#scholarlayout-top-widgets .close-this {
  display:none;
  }

#scholarlayout-top-widgets li.disabled,
#scholarlayout-container li.disabled {
  display:none;
}

.poof {
	background: transparent url(images/poof.png) no-repeat 0 0;
	cursor: pointer;
	display: none;
	height: 32px;
	position: absolute;
	width: 32px;
  }

#scholarforms_save_warning {
  clear: both;
  }

#edit-settings-layout-page-type-wrapper  {
  position: relative;
  height: 37px;
  }

#edit-settings-layout-page-type-wrapper label, #edit-settings-layout-page-type-wrapper select {
  float: left;
  margin-right: 6px;
  }

#edit-settings-layout-page-type-wrapper .description {
  clear: left;
  width: 665px;
  }

#cp-content .innerframe #cp-settings-form {
  margin-top: 10px;
  }

#cp-settings-form .form-submit {
  position:absolute;
  top: 854px;
  left: 55px;
  z-index: 10;
  }

#cp-settings-form #edit-reset {
  left: 164px;
  }

.ahah-progress-throbber {
  width: 150px;
  }

.widget-prev,.widget-next {
  width: 30px;
  background: url(images/widget-prev.png) 0 50% no-repeat #d5d6d4;
  position: absolute;
  left:0;
  height: 114px;
  cursor: pointer;
  }

.widget-prev:hover,.widget-next:hover {
  background-position: -30px 50%;
  }

.widget-next {
  left: auto;
  right: 0;
  background-image: url(images/widget-next.png);
  }

.disabled {
  background: transparent !important;
  }

#scholarlayout-container .widget-prev, #scholarlayout-container .widget-next{
  display:none;
  }
