#scholarlayout-container {
  width: 848px;
  height: 559px;
  position: relative;
  margin-left: 0;
  margin-top: 20px;
  overflow:hidden;
  }

#scholarlayout-container .scholarlayout-widgets-list {
  position: absolute;
  padding: 0;
  margin: 0;
  border: 1px dashed #888;
  }

#scholarlayout-container .scholarlayout-widgets-list:hover {
  background: #eff6f6;
  }

#scholarlayout-container #scholarlayout-content-main {
  background: #efefef;
  }

#scholarlayout-top-widgets {
  height:106px;
  background:#eaebe9;
  width: 100%;
  padding-left: 22px;
  overflow: hidden;
  margin-bottom: 0;
  }

#cp-settings-site {
  padding-top: 10px;
  background:url(images/cp-settings-site.png) repeat-x 0 0 transparent;
  }

li.scholarlayout-item {
  font-size: 15px;
  line-height: 1em;
  font-weight: bold;
  color:#565e66;
  cursor: pointer;
  text-transform: capitalize;
  }

#scholarlayout-top-widgets li.scholarlayout-item {
  float: left;
  width: 118px;
  height: 21px;
  text-align: center;
  color:#444545;
  padding-top: 85px;
  background:url(images/widget-bg.png) no-repeat transparent 50% 10px;
  line-height: 86%;
  font-size: 11px;

  }

#scholarlayout-container li.scholarlayout-item {
  margin: 0;
  padding: 4px 20px 8px 31px;
  background: url(images/widget-placed-bg.png) no-repeat 0 50% #f0f3f3;
  min-height: 21px;
  position:relative;
  border-bottom: 1px solid #444;
  }

#scholarlayout-container li.scholarlayout-item:hover {
  background-position: -850px 50%;
  background-color: #f8f9e2;
  }

.scholarlayout-item-settings {
  color:#90a0a0;
  font-weight: normal;
  margin-left: 2px;
  display:block;
  position: relative;
  text-transform: none;
  }

.scholarlayout-item-settings span {
  padding-right: 7px;
  background: url(images/arrow-aqua.png) no-repeat 100% 50%;
  }

li.scholarlayout-item .close-this {
  position: absolute;
  top: 4px;
  right: 7px;
  }

#scholarlayout-top-widgets .scholarlayout-item-settings,.scholarlayout-item-settings ul {
  top: -999em;
  }

.scholarlayout-item-settings:hover ul {
  top: auto;
  bottom: -9px;
  }

.scholarlayout-item-settings ul {
  position:absolute;
  padding: 10px;
  left: 110%;
  padding: 5px 20px;
  background:#f8f9e2;
  border: 1px solid #444;
  border-left: none;
  text-transform: capitalize;
  margin:0;
  z-index: 10;
  }

#scholarlayout-top-widgets .close-this {
  display:none;
  }

#scholarlayout-top-widgets li.disabled,
#scholarlayout-container li.disabled {
  display:none;
}

.poof {
	background: transparent url(images/poof.png) no-repeat 0 0;
	cursor: pointer;
	display: none;
	height: 32px;
	position: absolute;
	width: 32px;
  }

#scholarforms_save_warning {
  clear: both;
  }

#edit-settings-layout-page-type-wrapper  {
  position: relative;
  height: 37px;

  }

#edit-settings-layout-page-type-wrapper label,
#edit-settings-layout-page-type-wrapper .description {
  color: #fff;
  background:#666f7a;
  }


#edit-settings-layout-page-type-wrapper label, #edit-settings-layout-page-type-wrapper select {
  float: left;
  margin-right: 6px;
  }

#edit-settings-layout-page-type-wrapper .description {
  float: left;
  }

#cp-content .innerframe #cp-settings-form {
  margin-top: 10px;
  }

#cp-settings-form .form-submit {
  margin-left:20px;
  }

#cp-settings-form #edit-reset {
  left: 164px;
  }

.ahah-progress-throbber {
  width: 150px;
  }

.widget-prev,.widget-next {
  width: 30px;
  background: url(images/widget-prev.png) 0 50% no-repeat #d5d6d4;
  position: absolute;
  left:0;
  height: 106px;
  cursor: pointer;
  }

.widget-prev:hover,.widget-next:hover {
  background-position: -30px 50%;
  }

.widget-next {
  left: auto;
  right: 0;
  background-image: url(images/widget-next.png);
  }

.disabled {
  background: transparent !important;
  }

#scholarlayout-container .widget-prev, #scholarlayout-container .widget-next{
  display:none;
  }
