
body {
  background-color: #E0D0B1;

  }

body.front #header {background: url('images/header.gif') no-repeat; width:1000px;height:397px;border-right:3px solid #333;border-left:3px solid #333;border-top:3px solid #333;}
body.front #navbar {background: #6E1205; width:990px;height:94px;border-right:3px solid #333;border-left:3px solid #333;border-bottom:3px solid #333;height: 56px;padding-top: 38px;}

#page_splash {width:1000px;margin: 30px auto;}

body.front #navbar a, body.front #navbar a:visited {
    color: #E0D0B1;
    font-size: 18px;
}

body.front #navbar a:hover, body.front #navbar a:active {
    color: #FFF;
    text-decoration: none;
    text-shadow: 0 0 0.1em #FFF, 0 0 0.1em #FFF;
    
}


a, a:visited {
    color:#6D1102;
    }

a:hover {
    text-decoration: underline;
    }

h2, h3, #header {
    color:#484b63;
    font-weight: normal;
    }



/* HEADER ELEMENTS */


#header h2 {

  color: #444;
  text-shadow: none;
  }

#header a,
#header a:visited,
#header p {
    text-decoration: none;
    color: #444;
    text-shadow: none;
    }
    
#header h1 a,
#header h1 a:visited {
	font-size: 32px;
    text-decoration: none;
    color: #00552F;
    text-shadow: none;
    }
#header a:hover {
	
    color:#00552F;
    }


#navbar a,
#navbar a:visited {
  color:#6D1102;
  }

#navbar a:hover,
#navbar a.active,
#navbar .active-trail a {
  color: #731001;
  text-decoration: underline;
  }

/* MAIN CONTENT AREA */

#content-area {
  background: #F7F3EA;
    -moz-box-shadow: 1px 0 1em #777777;
  -webkit-box-shadow: 1px 0 1em #777777;
  box-shadow: 1px 0 1em #777777;
  }

