.shield_wrapper {
  width: 675px;
  }

.shield_wrapper fieldset {
  border: none;
  }

.shield-picker li {
  float: left;
  width: 100px;
  height: 80px;
  border: 1px solid #ccc;
  text-align: center;
  margin: 2px;
  padding: 20px 0;
  cursor: pointer;
  }

.shield-picker li.checked {
  border-color: red;
  border-width: 3px;
  width: 96px;
  height: 79px;
  padding: 18px 0;
  margin-bottom: -1px;
  }

/*
div#cp-settings-shield fieldset input{
  display:none;
   }*/