body {
  background: url(images/body-bg.png) repeat-y 50% 0 #fff;
  font: 14px/17px verdana, arial, helvetica, sans-serif;
  color: #000;
  }


/* TYPOGRAPHY */



h1, h2, h3, h4, #block-vsite_menus-0 li a {
  font-weight: bold;
  letter-spacing: -.06em
  }

h2 {
  font-size: 19px;
  }

h3 {
  font-size: 16px;
  line-height: 1em;
  }

h4 {
  font-size: 14px;
  line-height: 1em;
  }

h2.title, h3.title {
  line-height: 1em;
  margin-top: 0;
  margin-bottom: 31px;
  }




a, a:visited {
  color:#34666e;
  }

a:hover {
  text-decoration: underline;
  }

#block-vsite_menus-0 li a, #block-vsite_menus-0 li a:visited {
  color:#e16c0e;
  }


/* BASIC LAYOUT */

.column {
  padding: 0;
  }

.sidebar-right #content-main {
  padding-left: 0;
  }

#navbar, #content, .column .block {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: url(images/heading.png) repeat-x 0 0 #fff;
  padding: 13px 16px 16px 16px;
  }

#content-main #content {
  }

#header-left {
  right: 293px;
  }

#navbar {
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-radius-topleft: 0px;
  -webkit-border-radius-topright: 0px;
  background: #f0f0f0;
  border: 1px solid #e5e5e5;
  border-top: none;
  }

#container {
  width: 984px;
  margin: 0 auto;
  padding: 1px 8px;
  position: relative;
  }



/* HEADER */

#navbar {
  top:0;
  left: 8px;
  width: 982px;
  padding: 0;
  position:absolute;
  height: 44px;
  }

#header {
  min-height: 51px;
  }

#header-wrapper {
  height: 260px;
  margin-top: 45px;
  }

#header #header-main, #header #header-right, #header #header-left {
  padding-bottom: 8px;
  height: 238px;
  margin-top:6px;
  }

#block-scholar-1 h1, #block-vsite_menus-0 ul {
  float: left;
  }

#block-scholar-1 h1, #block-vsite_menus-0 ul li {
  margin: 0 14px;
  line-height: 44px;
  }

#block-vsite_menus-0 ul li.last {
  margin-right: 0;
  }

#block-scholar-1 h1 {
  margin-left: 20px;
  font-size:17px;
  }

#block-scholar-1 h1 a, #block-scholar-1 h1 a:visited {
  color:#000;
  }

#block-scholar-1 h2, #block-scholar-1 p {
  display:none;
  }

.page-home #header-right .block {
  height: 217px;
  }

#content-wrapper .block {
  margin-bottom: 8px;
  }

#sidebar-right, #header-right, #sidebar-left, #header-left {
  width: 261px;
  }


#sidebar-left {
  right: 269px;
  padding-right: 8px;
  }

.page-home #sidebar-left {
  width: 348px;
  right: 356px;
  }

#sidebar-right {
  padding-left: 8px;
  }

#content-wrapper, #header-wrapper {
  padding-right: 269px;
  padding-left: 269px;
  }

#content-main {
  padding-bottom: 105px;
  }

.page-home #content-wrapper {
  padding-left: 356px;
  }

body.header-left-main #header-wrapper {
  padding-right:8px;
  }

body.header-right-main #header-wrapper {
  padding-left:8px;
  }

.header-main-right #header-main, .header-left-main-right #header-main {
  padding:0;
  margin-right: 8px;
  }


/* FOOTER */

#footer {
    height: 57px;
    position: fixed;
    left: 0;
    bottom: 0;
    right:0;
    background:url(images/footer.png) 0 0 repeat-x transparent;
    padding-top: 40px;
    }

#footer-inner {
  width:984px;
  margin: 0 auto;
  }

#footer .block, #footer p.copy {
  float: left;
  margin-right: 70px;
  clear:none;
  }

#footer p.copy {
  margin-right: 0;
  width: 400px;
  float:right;
  }

#footer-inner #vsite-widgets-search-form {
  width: 302px;
  background-image: none;
  }

#footer-inner #vsite-widgets-search-form .form-item {
  padding: 0;
  margin: 0;
  border:none;
  float: left;
  }

#footer-inner #vsite-widgets-search-form #edit-search-wrapper input {
  width: 231px;
  height: auto;
  border: 1px solid #ddd;
  border-left-color: #c3c3c3;
  border-right-color: #c3c3c3;
  border-top-color: #7c7c7c;
  }

#footer-inner #vsite-widgets-search-form input.form-submit {
  float: right;
  background: #79939c;
  color: #fff;
  -moz-border-radius:0px;
  text-transform:uppercase;
  padding: 2px 5px !important;
  margin: 0;
  border: none;
  text-indent: 0;
  width: auto;
  height: auto;
  }

#footer-inner #vsite-widgets-search-form label {
  display:none;
  }

#twitter-link {
  font-size: 11px;
  color: #4f4f4f;
  text-transform:uppercase;
  width: 219px;
  }

#twitter-link a {
  width: 77px;
  height: 18px;
  display:block;
  float:right;
  text-indent: -999em;
  background: url(images/twitter.png);
  }


#header #block-scholar_biocv-bio_blurb {
  background: url(images/front-photo.jpg) 0 0 no-repeat transparent;
  position:relative;
  padding-top:41px;
  padding-left: 271px;
  padding-right: 36px;
  height: 198px;
  margin-top: -4px;
  margin-left: 0;
  }


#header #block-scholar_biocv-bio_blurb h3 {
  display:none;
  }

#header #block-scholar_biocv-bio_blurb .content {
  margin-top: 0;
  }

/* Publications Tabs */

.ui-tabs .ui-tabs-nav {
  border-bottom: 1px solid #cecece;
  margin: 0 -16px;
  padding: 0 16px 9px 16px;
  }

.ui-tabs-nav li {
  float: left;
  margin: 0 10px 0 0;
  padding-right: 10px;
  border-right: 2px solid #96a5a6;
  }

.ui-tabs-nav li a {
  padding:0;
  font-weight: bold;
  }

.ui-tabs-nav li.ui-state-default a, .ui-tabs-nav li.ui-state-default a:visited {
  color:#96a5a6;
  font-weight: bold;
  font-size: 14px;
  padding: 0;
  }

.ui-tabs-nav li.ui-tabs-selected a, .ui-tabs-nav li.ui-tabs-selected a:visited {
  color: #000 !important;
  }

.ui-tabs-panel {
  clear: both;
  }

/* Search form*/

#footer #search-form .container-inline {
  background: transparent;
  height: 20px;
  padding-right: 0;
  width: 290px;
  }

#footer #search-form #edit-keys-wrapper {
  width: auto;
  width:216px;
  }

#footer #search-form #edit-keys {
  border: 1px solid #c3c3c3;
  padding: 3px 4px 1px 0;
  }

#footer #search-form input#edit-submit {
  background: #79929c;
  color: #fff;
  width: 52px;
  height: 20px;
  text-indent:0;
  text-transform: uppercase;
  -moz-border-radius:0;
  -webkit-border-radius: 0;
  margin: 0;
  float:right;
  }


/* BIBLIO */

.node-type-biblio h3.title {
  margin-bottom: 0;
  font-size: 14px;
  }

.biblio-title a, .biblio-title a:visited {
  color: #000;
  }