#block-iqss_gking-areas_of_research div.bg {
  background: transparent;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#E0FEFEE6,endColorstr=#E0FEFEE6)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E0FEFEE6,endColorstr=#E0FEFEE6);   /* IE6 & 7 */
      zoom: 1;
}
