#header-wrapper {
  background: #f6d04c;
  }

#navbar {
  background: #f8ef61;
  }

#sidebar-left {
  background:#fffcc4;
  }

#sidebar-right {
  background:#f6d861;
  }

#sidebar-left h3 {
  background: #edf09a;
  }

#sidebar-right h3 {
  background: #efe87c;
  }

#navbar li a:hover, #navbar li a.active, #navbar li.active-trail a {
  background: #feffa0;
  }

#footer-inner {
  background: #dab843;
  }