
.department-economics #header-top {background: url('../images/navBarBg.png') repeat-x; height:38px;}


.department-economics #header-top .content {background: url('../images/ecommDeptLogo.png') no-repeat; height:38px;text-align: right;}

.department-economics #header-top .content ul {padding-top:8px;}
.department-economics #header-top .content ul li a {color:#333;text-decoration: none;padding:10px;font-size:13px;}
.department-economics #header-top .content ul li a:hover {background:#DDD;height:38px;}