body {
  background-image: url('images/fabric-strip-mesh.png');
  background-color: #ededed;
  }

#header .wrap {
  background-color: #fff;
  }

#navbar {
  height: 41px;
  background: url('images/navbar-cutout-mesh.png') no-repeat 0 0 transparent;
  padding:0;
  }

#navbar .wrap {
  background: url('images/menu-strip-mesh.png') repeat-x 0 0 transparent;
  padding:0;
  margin-left: 193px;
  height:41px;
  }

a, a:visited {
  color:#A8AF57;
  }

#header,
#header h1,
#header h2,
#header h3,
#header a,
#header a:visited,
#header h1 a,
#header h1 a:visited,
#navbar li a,
#navbar li a:visited {
  color: #393933;
  }

#navbar li a:hover,
#navbar li a.active,
#navbar .active-trail a {
  background: #e6e8cf;
  color: #000;
  }


