body {
	font:0.9em/1.5em Helvetica Neue,Helvetica,Arial,sans-serif;
	background: #909d9c;
	}

a, a:visited {
	color:#0C54B3;
	}

h2, h3, h4 {
	font-style:normal;
	}
	
#page {
	background: transparent url(images/container.png) repeat-y 0 0;
}

.sidebar-second #page {
	background-position: -2040px 0;
}

body.header-main #header-main {
	padding-top: 4px;
	padding-bottom: 0;
	}

#header .hg-container {
	padding-left: 248px;
	height:123px;
	}

#header-left {
	right:268px;
	}

#header-left.column {
	padding-top:2px;
	padding-left:0;
	padding-right:0;
	}

#header-main h1 {
	width: 208px;
	height: 113px;
	background: url('images/logo.png') no-repeat 0 0;
	text-indent: -999em;
	float: left;
	margin: 0 17px;
	}

#header-main h1 a {
	width: 208px;
	height: 113px;
	display: block;
	}
	
#navbar {
	border-top: 0;
	border-bottom-color: rgb(209,112,51);
	padding-left: 17px;
}
	
#navbar .wrap {
	background: transparent;
}

#navbar li {
	padding-top: 2px;
	padding-left: 1px;
	border-right: 1px solid #BBBBBB;
	}

#navbar li a {
	line-height: 14px;
	display:block;
	}

#navbar li a:hover,
#navbar li a.active,
#navbar li.active-trail a {
	background: #C55B28;
	color: #fff;
	}
	
#sidebar-second {
	background: transparent;
	padding-left: 30px;
	width: 170px;
}

#sidebar-second h3.title,
#sidebar-first h3.title {
	color:#C55B28;
	}

#sidebar-second li a,
#sidebar-first li a {
	color: #0C54B3;
	}

#sidebar-second ul.menu li,
#sidebar-first ul.booktoc li {
	padding: 2px 0;
	line-height: 1.5em;
	}

#sidebar-second ul.menu li a,
#sidebar-first ul.booktoc li a {
	display: block;
	border-bottom: 1px dotted #ccc;
	}

#sidebar-first ul.booktoc a.active {
	font-weight: bold;
	}

#sidebar-first li.booktoc ul.booktoc li a {
	padding-left: 1em;
	}

.block-scholar_book h3.title {
	margin-bottom: 1em;
	}

.hmpgblurbs td {
	vertical-align: top;
	border-bottom: 1px dotted #ccc;
	padding: 20px 0;
	}

.blurb ul, .blurb li {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	}

.blurb {
	width:340px;
	padding-right: 20px;
	}

.blurb h3 {
	margin:0 0 .25em 0;
	font-size: 1.7em;
	font-style: normal;
	color: #c55b28;
	}

.blurb p {
	margin:0;
	padding:0;
	}

.blurb .readmore {
	margin-top:.5em;
	}

.blurb .quicklinks h5 {
	font-weight:normal;
	padding-bottom:0;
	margin-top:1em;
	margin-bottom:.25em;
	}

.blurb .quicklinks ul {
	list-style:none;
	padding:0;
	margin-top:0;
	margin-bottom:0;
	}

.blurb .quicklinks li {
	padding:0;
	}

td.welcome {
	vertical-align: middle;
	}

.view-Downloads .view-content {
	padding-left:12px;
	border-left: 1px dotted #ccc;
	}

.view-Downloads .views-field-title,
.view-Downloads .views-field-teaser {
	padding: 0 8px;
	}

.view-Downloads .views-field-title h4 {
	margin: 1em 0;
	padding: 0;
	font-size: 1.2em;
	text-align:left;
	}

.view-Downloads .views-field-title h4 a {
	color:#757a84;
	}

.view-Downloads .views-field-title h4 a:hover {
	color:#BF4C00;
	}

.view-Downloads .views-field-teaser p {
	margin: 0;
	text-align:left;
	}

#download_button {
	margin: 0 auto;
	width:144px;
	height:36px;
	background:url('images/download_bkgnd.gif') no-repeat;
	text-align:center;
	}

#download_button a {
	color:#fff;
	text-decoration:none;
	}

#download_button h3 {
	width:144px;
	height:36px;
	line-height:36px;
	font-size: 16px;
	margin: 0;
	padding: 0;
	text-align:center;
	}

.footnotes {
	border-top: 1px dotted #ccc;
	font-size: .75em;
	}

.action_button {
	background:transparent url('images/button_bkgnd.gif') no-repeat scroll 0 0;
	height:36px;
	margin:0 auto;
	text-align:center;
	width:188px;
  }

.action_button h3 {
	font-size:16px;
	height:36px;
	line-height:36px;
	margin:0;
	padding:0;
	text-align:center;
	width:188px;
  }

.action_button a {
	color:#FFFFFF;
	text-decoration:none;
	}
	
.front #content-area .title {
	display: none;
}
body.no-sidebars #header, 
body.no-sidebars #content-area .hg-container, 
body.sidebar-second #content-area .hg-container, 
body.no-sidebars #footer {
  padding-left: 21px;