/* $Id: button_style.css,v 1.3 2009/08/14 18:44:04 sun Exp $ */

/**
 * Form actions.
 */

.form-actions {
  margin: 1em 0;
  text-align:right;
  zoom: 1;
	}

#edit-views-apply, #edit-views-reset {
  margin-top:0 !important;
  }

table .form-actions {
  margin: 0;
	}

.form-button-wrapper, li.button a, a.button {
  /* Customizable */
  background: transparent url(images/buttons-sprite.png) no-repeat right top;
  margin: 0 10px 0 16px;
  padding: 0 16px 0 0;
  /* Static */
  position: relative;
  display: inline-block;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  cursor: hand;
	}

.form-button-wrapper input, li.button a span, a.button span {
  /* Customizable */
  background: transparent url(images/buttons-sprite.png) no-repeat left top;
  color: #000;
  text-decoration: none;
  text-shadow:0 1px 0 rgba(206, 214, 221, 0.75);
  font-weight: normal;
  font-size: 12px;
  height: 25px;
  line-height: 24px;
  padding: 0 5px 2px 16px;
  /* Static */
  overflow: visible;
  display: inline-block;
  clear: none;
  width: auto;
  margin: 0 0 0 -16px;
  border: 0;
  cursor: pointer;
  cursor: hand;
	}

.form-button-wrapper:active, li.button a:active, a.button:active {
  background-position: right -25px;
	}

.form-button-wrapper input:active, li.button a span:active, a.button span:active {
  background-position: left -25px;
	}

/**
 * Button link overrides.
 */

li.button a span, a.button span {
  padding-bottom: 0;
	}

li.button a:hover, a.button:hover {
  color: #fff;
	}

/**
 * Third-party module support styles.
 */

.fivestar-widget .form-button-wrapper { margin: 0; padding: 0; background: transparent none; 	}

.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0;
  	}