/* $Id: forms.css,v 1.2 2008/01/06 15:50:31 swortis Exp $ */

fieldset {
	margin-bottom: 1.5em;
	border: none;
	color: #666;
	font-size: .9em;
	/*
	padding: 10px;
	background: #f3f3f3;
	border: 1px solid #dedede;
	*/
	}

.fieldset-wrapper {
	padding: 4px;
	margin-bottom: 1.5em;
	margin-left: 190px;
	margin-top: -1.5em;
	}


.fieldset-wrapper .fieldset-wrapper {
	margin: 0;
	}

.form-item {
	margin: auto;
  }

label, .description {
	display:block;
	font-weight: bold;
	color:#333;
	font-size: 1.1em;
	}

.description {
	color:#7c8e8e;
	margin-top: 3px;
	font-weight: normal;
	line-height: 127%;
	}

legend {
	font-weight: bold;
	color:#425e69;
	font-size: 1.2em;
	}



label.option {
	color: #666;
	}

input.form-text {
	padding: 4px 3px 2px;
	margin-top: -2px;
	border-width: 2px;
	-moz-border-top-colors: #f9f9f9 #707070;
	-moz-border-left-colors: #f9f9f9 #ABABAB;
	-moz-border-right-colors: #f9f9f9 #ABABAB;
	-moz-border-bottom-colors: #f9f9f9 #CECECE;
	}

.admin {
	padding-top: 1.5em;
	clear: both;
	}