/* $Id: forms.css,v 1.2 2008/01/06 15:50:31 swortis Exp $ */


div.form-item {
  border:1px solid #CCCCCC;
  margin:0 0 10px;
  padding:9px;
  }

div.form-item, ul.links, div.admin-panel .body, .clear-block {
  display:block;
  }

div.fieldset, fieldset, .container-inline-date {
  background: #f8f8f8;
  border: 1px solid #ccc;
  margin: 0 0 10px;
  padding: 4px 9px;
  }

fieldset h2.fieldset-title, div.form-item label {
  font-size:11px;
  font-weight:normal;
  margin:0;
  padding:0;
  text-transform:uppercase;
  }

div.description, div.form-item div.description {
  color:#666;
  font-size:11px;
  line-height:15px;
  margin:5px 0;
  }

div.teaser-checkbox div.form-item, div.form-item div.form-item, fieldset div.form-item, .container-inline-date div.form-item {
  border: none !important;
  margin:0;
  padding:5px 0;
  }



.admin {
	padding-top: 1.5em;
	clear: both;
	}

