/* $Id: html-elements.css,v 1.2 2008/01/06 15:50:31 johnalbin Exp $ */

/****
 **** HTML ELEMENT STYLING
 ****/

.draggable a.tabledrag-handle {
  height:1.1em;
  margin:-.1em 0 0 0;
  padding:0 .5em 0 0;
  }
