/* $Id: ie.css,v 1.4 2008/09/20 20:57:27 johnalbin Exp $ */

/*
 * IE CSS
 *
 * CSS targeted specifically for Internet Explorer for Windows.
 *
 * Properties starting with an underscore _ are for IE 5 and 6 only.
 * Properties starting with head:first-child+body are for IE7 only.
 * Properties with a child selector (>) or sibling selector (+) are for IE7 only.
 *
 */

/*
 * Layout CSS
 */


/** floating divs **/
.item-list ul.context-links li,
.empty-content p,
.empty-content .item-list ul.context-links li,
.ahah-progress .throbber {
  display: inline;
  }

body.both-sidebars #sidebar-left {
	left: 220px; /* Total width, including padding of right col */
	}

body.sidebar-left #sidebar-left {
	left: -20px; /* Amount of main content padding */
	}

body.header-left-main-right #header-left {
  left: 90px; /* Total width, including padding of right col */
  }

body.header-left-main #header-left {
	left: -20px; /* Amount of main content padding */
	}

ul.menu li.leaf {
  list-style-image: none;
  }

#vsite-widgets-search-form input#edit-search {
  width: 90%;
  }

#vsite-widgets-search-form input#edit-submit {
  font-size: 0px;
  display:block;
  line-height: 0px;
  }

ul.primary, ul.secondary {
  _width: auto; /* Reset to auto width for IE6 */
  }

ul.primary li, ul.secondary li {
  _width: 100px; /* Reset to auto width for IE6 */
  }

ul.primary li a, ul.primary li a:visted {
  _background: #DDDDDD;
  }

ul.primary li.active a {
  _background: #ffffff;
  }


#scholar-shield img {
  behavior: expression((this.runtimeStyle.behavior="none")&&(this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none",
  this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')",
  this.src = "/sites/all/themes/scholar_base/images/transparent.gif"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''),
  this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='crop')",
  this.runtimeStyle.backgroundImage = "none")),this.pngSet=true)
  );
  }
