/* $Id: scholar-base.css,v 1.9 2008/09/21 15:09:48 swortis Exp $ */

* {
	margin: 0;
	padding:0;
	}

body {
	background: #FFF;
	font: .9em/normal arial, sans-serif;
	margin: 0;
	min-width: 680px;
	}

#admin-menu {
  height: 22px;
  line-height: 22px;
  }

#admin-menu, #admin-menu li li.expandable, #admin-menu li li {
  background:#800c0c;
  }

#admin-menu li li:hover {
  background: #984949;
  }


/* TYPE STYLES */

p, div.messages {
	margin-bottom: 1.5em;
	}

#header p {
  margin: 0;
  }

ul, li {
	list-style: none;
	padding: 0;
	}

#navbar li, #header-top li, .views-admin-links li, ul.inline li {
    display:inline;
    }

a, a:visited {
	text-decoration: none;
	color: #2d63a6;
	}


/* LAYOUT */

#wrapper { }

#container { }

#header-top, #navbar, #content-main, #header-main, #footer {
	width: 100%;
	}

#header-wrapper, #navbar, #content-wrapper, #footer {
	clear: both;
	}

#content-wrapper, #header-wrapper {
    padding-left: 220px;
    padding-right: 240px;
    }

.column {
    float: left;
    position: relative;
    padding: 10px;
    }

#header-left, #header-right, #sidebar-left, #sidebar-right {
	width: 200px;
	}

#header-left, #sidebar-left {
	right: 240px;
	margin-left: -100%;
	}

#header-right, #sidebar-right {
	margin-right: -100%;
	}


body.sidebar-right #content-wrapper {
    padding-left: 0;
    }


body.sidebar-left #content-wrapper {
    padding-right: 0;
    }

body.no-sidebars #content-wrapper {
  padding: 0;
  }

/* HEADERS */

body.header-main #header-main {
    padding: 10px 0;
    }

body.header-main-right #header-wrapper {
    padding-left: 0;
    }

body.header-left-main #header-wrapper {
    padding-right: 0;
    }

body.header-left-right #header-wrapper, body.header-main #header-wrapper, body.header-right #header-wrapper, body.header-left #header-wrapper{
    padding: 0;
    }

body.header-left-right #header-left, body.header-left-right #header-right, body.header-left #header-left, body.header-right #header-right {
    width: 50%;
    right: auto;
    }

body.header-left-right #header-left {
    margin:0 -20px 0 0;
    }

body.header-left-right #header-right {
    margin:0 0 0 -20px;
    }

body.header-left #header-left, body.header-right #header-right {
    width: 100%;
    margin: 0;
    }

/* Delete, Edit buttons */

ul.admin {
  background: #fff;
  line-height: 12px !important;
  font-size: 10px !important;
  font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
  margin: 0 !important;
  padding: 0 1px 0 0 !important;
  }

ul.admin li {
  margin: 0 !important;
  }

ul.admin li a, ul.admin li a:visited {
  color:#ff0000 !important;
  text-decoration: underline;
  padding: 2px !important;
  }

a.delete {
  background: url(images/delete.png) no-repeat;
  height: 11px;
  width: 10px;
  display: block;
  text-indent: -999em;
  }

.close-this {
  width: 18px;
  height: 18px;
  background: url(images/close-icon.png) no-repeat transparent;
  text-indent: -999em;
  }

