/* $Id: scholar-base.css,v 1.9 2008/09/21 15:09:48 swortis Exp $ */

* {
	margin: 0;
	padding:0;
	}

body {
	background: #FFF;
	font: .9em/normal arial, sans-serif;
	margin: 0;
	min-width: 680px;
	}


/* TYPE STYLES */

p, div.messages {
	margin-bottom: 1.5em;
	}

ul, li {
	list-style: none;
	padding: 0;
	}
	

a, a:visited {
	text-decoration: none;
	color: #2d63a6;
	}
	

/* LAYOUT */

#wrapper { }

#container { }

#header-top, #navbar, #content-main, #header-main, #footer {
	width: 100%;
	}

#header-wrapper, #navbar, #content-wrapper, #footer {
	clear: both;
	}

#content-wrapper, #header-wrapper {
    padding-left: 220px;
    padding-right: 240px;
    }

.column {
    float: left;
    position: relative;
    padding: 10px;
    }
	
#header-left, #header-right, #sidebar-left, #sidebar-right {
	width: 200px;
	}
	
#header-left, #sidebar-left {
	right: 240px;
	margin-left: -100%;
	}
		
#header-right, #sidebar-right {
	margin-right: -100%;
	}


body.sidebar-right #content-wrapper {
    padding-left: 0;
    }


body.sidebar-left #content-wrapper {
    padding-right: 0;
    }



/* HEADERS */

body.header-main-right #header-wrapper {
    padding-left: 0;
    }

body.header-left-main #header-wrapper {
    padding-right: 0;
    }

body.header-left-right #header-wrapper, body.header-main #header-wrapper, body.header-right #header-wrapper, body.header-left #header-wrapper{
    padding: 0;
    }

body.header-left-right #header-left, body.header-left-right #header-right, body.header-left #header-left, body.header-right #header-right {
    width: 50%;
    right: auto;
    }
    
body.header-left-right #header-left {
    margin:0 -20px 0 0;
    }
    
body.header-left-right #header-right {
    margin:0 0 0 -20px;
    }    
    
body.header-left #header-left, body.header-right #header-right {
    width: 100%;
    }























/* Colors for testing only */


#header-main {
    background:#DFD4B5;
    }
	
#header-left {
    background:#EEEFB3;
    }
	
#sidebar-right {
	background: #F66;
	}
	
#header-right {
    background:#B7DF99;
    }
    
#header-top, #footer {
    background: #B5D8DF;
    }
    
#navbar {
    background:#318F2C;
    }
 
#sidebar-left {
    background: #66F;
    }
 
#content-main {
    background:#ddd;
    }