/* $Id: scholar-base.css,v 1.9 2008/09/21 15:09:48 swortis Exp $ */

* {
	margin: 0;
	padding:0;
	}

body {
	background: #FFF;
	font: .9em/normal arial, sans-serif;
	margin: 0;
	}



/* TYPE STYLES */

p, div.messages {
	margin-bottom: 1.5em;
	}

ul, li {
	list-style: none;
	padding: 0;
	}
	

a, a:visited {
	text-decoration: none;
	color: #2d63a6;
	}
	

/* LAYOUT */

#container {
	width: 1000px;
	margin: 0 auto;
	}
	
#container {
	background: #FFF;
	}
	
	
#sidebar-left, #main, #front1, #front2, #front3 {
	float:left;
	}

#sidebar-left {
	width: 107px;
	border: 4px solid #88979e;
	border-top: none;
	border-right: none;
	padding: 0 14px 70px 14px;
	font-size: .8em;
	background: #f2f3f3;
	}
	
#top {
	background: #000;
	}

#release, #sidebar-right, #front-group, #main-content, #front4 {
	float:right;
	width: 200px;
	}

	
#footer {
	clear:both;
	margin-left: 143px;
	background: #333;
	border-top: 4px solid #88979e;
	
	}

#sidebar-right, #front-group {
	float:right;
	width: 200px;
	}

#sidebar-right {
	width:210px;
	}
	
#front1, #front3, #front4 {
	width: 260px;
	}
	
#front-group, #front2 {
	width: 587px;
	}
	
#front1 {
	margin-left: 28px;
	}
	


