body {
  background-image: url('images/fabric-strip-asian-leaves.png');
  background-color: #FBF4E5;
  }

#header .wrap {
  background-color: #342A0C;
  margin-left: 180px;
  padding-left :13px;
  }

#navbar {
  height: 41px;
  background: url('images/navbar-cutout-asian-leaves.png') no-repeat 0 0 transparent;
  padding:0;
  }

#navbar .wrap {
  background: url('images/menu-strip-asian-leaves.png') repeat-x 0 0 transparent;
  padding:0;
  margin-left: 193px;
  height:41px;
  }


a, a:visited {
  color:#C74235;
  }

#navbar li a:hover,
#navbar li a.active,
#navbar .active-trail a {
  background: #c74336;
  }