#cp-content .innerframe #cp-settings-theme form#vsite-design-theme-picker-form, #cp-content .innerframe #cp-settings-theme form#vsite-design-theme-picker-form fieldset {
  margin:0;
  padding: 0;
  }

.page-cp-settings-theme .help {
  position: absolute;
  }

ul.theme-picker {
  width: 2000em;
  clear: both;
  }

li.item-theme-picker  {
  padding: 23px 0 30px 0;
  display: inline-block;
	vertical-align: top;
  width: 600px;
  text-align: center;
  }

ul.theme-picker li img {
  margin-top: 2px;
  -moz-box-shadow: 0 0 20px #888;
  -webkit-box-shadow: 0 0 20px #888;
  box-shadow: 0 0 20px #888;
  }

ul.theme-picker li.checked img {
  border: 3px solid red;
  margin-top: 0;
  }

.theme_subnav #next, .theme_subnav #prev {
  width: 15px;
  height: 14px;
  background: transparent url(images/arrows.png) 0 0 no-repeat;
  margin-top: 3px;
  }

.theme_subnav #prev {
  background-position: 0 -14px;
  }

.theme-picker h3, ul.theme-picker li p, .item-theme-picker .form-item {
  margin-top: 3px;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 0;
  }

.section-cp .item-theme-picker .form-item {
  vertical-align: top;
  margin-left: 4px;
  }

.item-theme-picker .form-item label {
  position:absolute;
  top: -9999em;
  }

ul.theme-picker li p  {
  display:block;
  }


ul.theme-picker li.checked h3, .item-theme-picker li.checked .form-item {
  margin-top: 0;
  }

#vsite-design-theme-picker-form {
  font-weight: bold;
  color: #4a4a4a;
  font-size: 1.1em;
  padding-top: 1px !important;
  margin: 0 !important;
  }

.theme_subnav {
  padding-top: 13px;
  background:#eaebe9;
  height: 32px;
  padding-left: 30px;
  }

.theme_subnav h3, .theme_subnav ul, .theme_subnav li, #next, #prev {
  display: inline-block;
  margin-right: 10px;
  }

.theme_subnav h3 {
  margin-right: 40px;
  }

.theme_subnav li {
  cursor: pointer;
  margin-right: 0;
  font-size: 1.2em;
  }

.theme_subnav li:hover {
  background: #fff;
  }

.theme_subnav li.active {
  background: #f80000;
  color: #fff;
  }

form#vsite-design-theme-picker-form div.form-radios {
  display:none;
}

#vsite-design-theme-picker-form  {
  clear: both;
  }

.page-cp-settings-theme input#edit-submit {
  margin-left: 30px;
  }