/* Strawberry*/

body {
  background:#911f1e;
  }

#wrapper {
  background-image: url(images/body-bg-strawberry.png);
  }

body.navbar-off #wrapper {
  background-image: url(images/body-bg-alt-strawberry.png);
  }


a, a:visited {
  color: #892322;
  }