html {
    min-width: 910px;
    }

body {
    background: url(images/body-bg.png) repeat-x left top #fff;
    color:#282828;
    font:.9em/165% "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
    }

body.cp-toolbar-on {
  background-position: 0 42px;
  }

#container {
    width: 910px;
    margin: 0 auto;
    }

a, a:visited {
    color:#353535;
    text-decoration: underline;
    }

a:hover {
    color:#3399CC;
    }


h1, h2, h3, #sidebar-right a, #navbar, #header {
    font-weight: normal;
    font-family: georgia, serif;
    }


h1 a, h2 a, h3 a, #sidebar-right a {
    font-style: normal;
    }

/* LAYOUT ELEMENTS */

#sidebar-left, #header-left {
    width: 178px;
    right: 199px;
    padding: 0 1px;
    }

#content-wrapper, #header-wrapper {
    padding-left: 179px;
    }

#sidebar-right {
    border-left: 1px solid #ccc;
    }

#footer {
    text-align: center;
    }




/* HEADER ELEMENTS */


#header {
    height: 200px;
    margin-bottom: 26px;
    padding-top: 16px;
    }

#header-wrapper {
    height: 160px;
    }

#header h1 {
    font-size: 3em;
    line-height: 1em;
    }

#header h1, #header h2, #header h3, #header a, #header a:visited, #header h1 a, #header h1 a:visited {
    color:#282828;
    }

#header h1 a, #header h1 a:visited {
    text-decoration: none;
    }

#header h2 {
    font-size: 1.5em;
    line-height: 1em;
    }

#header a, #header a:visited {
    text-decoration: none;
    }

#navbar li {
    margin-right: 1.5em;
    text-transform: uppercase;
    font-size: 1.1em;
    }

#navbar li a, #navbar li a:visited {
    color: #fff;
    }

#navbar li a:hover {
    color: #F9E433;
    }


/* MAIN CONTENT AREA */

body.sidebar-left #content {
    margin-left: 30px;
    }

body.sidebar-right #content {
    margin-right: 30px;
    }


body.two-sidebars #content {
    margin-left: 20px;
    margin-right: 20px;
    }

