#cp-toolbar-toolbar {
  float: left;
  margin-left: 10px;
  }

#cp-toolbar-user  {
  float: right;
  margin-right: 10px;
  }

#cp-top-admin-menus li {
  height: 36px;
  margin-top: 6px;
  }

#cp-toolbar-toolbar li {
  float: left;
  margin-right: 18px;
  padding: 0;
  }

#cp-toolbar-toolbar li.active-trail {
  background: url(images/topmenu-active.png) no-repeat transparent 8px 100%;
  }

#cp-toolbar-user li {
  float: right;
  margin-left: 18px;
  }

#cp-toolbar-toolbar li a {
  padding-left: 30px;
  background-repeat: no-repeat;
  background-color: transparent;
  font-size: 10px;
  line-height: 24px;
  font-weight: normal;
  color:#ddd;
  display:block;
  height: 28px;
  }

a#admin-link-cp-content {
  background-image: url(images/topmenu-content.png);
  }

a#admin-link-cp-news {
  background-image: url(images/topmenu-news.png);
  }

a#admin-link-cp-settings {
  background-image: url(images/topmenu-settings.png);
  }

a#admin-link-cp-users {
  background-image: url(images/topmenu-users.png);
  }
a#admin-link-cp-support {
  background-image: url(images/topmenu-support.png);
  }

a#admin-link-cp-features {
  background-image: url(images/topmenu-features.png);
  }

#cp-toolbar-user li a {
  font-size: 12px;
  color: #ddd;
  }