.presentation-meta {
  width: 5em;
  float: left;
  font-size: .8em;
  }

.presentation-meta .dates {
  font-weight: bold;
  }

.presentation-content {
  margin-left: 5.5em;
  }

.node-type-presentation.node-teaser .field-type-filefield .odd,
.node-type-presentation.node-teaser .field-type-filefield .even {
 float:left;
 margin-right: .4em;
 }