html {
    min-width: 910px;
    }

body {
    background: url(images/body-bg.png) repeat-x left top #fff;
    color:#353535;
    font:.95em/165% "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif; 
    }
   
#container {
    width: 910px;
    margin: 0 auto;
    }
    
a, a:visited {
    color:#353535;
    text-decoration: underline;
    }

a:hover {
    color:#3399CC;
    }


h1, h2, h3, #sidebar-right a {
    font-weight: normal;
    color:#889095;
    }


h1 a, h2 a, h3 a, #sidebar-right a {
    font-style: normal;
    }

/* LAYOUT ELEMENTS */

#sidebar-left, #header-left {
    width: 178px;
    right: 199px;
    padding: 0 1px;
    }

#content-wrapper, #header-wrapper {
    padding-left: 179px;
    }
    
#sidebar-right {
    border-left: 1px solid #ccc;
    }


#footer {
    text-align: center;
    }




/* HEADER ELEMENTS */

#header {
    height: 170px;
    color: #FFF;
    }

#header h1 {
    font-size: 3em;
    }

#header h1, #header h2, #header h3, #header a, #header a:visited, #header h1 a, #header h1 a:visited {
    color:#FFF;
    }
    
#header h1 a, #header h1 a:visited {
    text-decoration: none;
    }

    
#header h2 {
    font-size: 1.5em;
    }
    
    
    
/* MAIN CONTENT AREA */

body.sidebar-left #content {
    margin-left: 30px;
    }

body.sidebar-right #content {
    margin-right: 30px;
    }    
    
    
body.two-sidebars #content {
    margin-left: 20px;
    margin-right: 20px;
    }    
    
