html {
    min-width: 910px;
    }

body {
    background: #fff;
    color:#353535;
    font:.9em/165% "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
    }

#wrapper {
  background: url(images/body-bg.png) repeat-x 0 0 #fff;
  }

#container {
    width: 910px;
    margin: 0 auto;
    }

a, a:visited {
    color:#8A281B;
    }

a:hover {
    color:#8A281B;
    text-decoration: underline;
    }


h1, h2, h3, #sidebar-right a {
    font-weight: normal;
    color:#889095;
    }

h1, h2 {
    font-size: 1.4em;
    }

h1 a, h2 a, h3 a, #sidebar-right a {
    font-style: normal;
    }

/* LAYOUT ELEMENTS */

#sidebar-left, #header-left {
    width: 180px;
    right: 210px;
    padding-left: 0;
    }

#sidebar-right, #header-right {
  padding-right: 0;
  }

#content-wrapper, #header-wrapper {
    padding-left: 190px;
    padding-right: 230px
    }

body.sidebar-left #content-wrapper, body.header-left-main #header-wrapper {
  padding-right: 20px;
  }

#sidebar-right {
    border-left: 1px solid #ccc;
    }


#footer {
    text-align: center;
    }


#footer {
    text-align: center;
    font-size: .9em;
    }











/* HEADER ELEMENTS */

#header {
    height: 205px;
    margin-bottom: 26px;
    padding-top: 16px;
    color: #FFF;
    }

#header-wrapper {
    height: 155px;
    }

#header h1 {
    font-size: 2.7em;
    line-height: 1.1em;
    }

#header h2 {
    font-size: 1.5em;
     line-height: 1.3em;
    }

#header h1, #header h2, #header h3, #header a, #header a:visited, #header h1 a, #header h1 a:visited {
    color:#FFF;
    }

#header a, #header a:visited {
    text-decoration: none;
    }

#header a:hover {
    color:#F9E433;
    }

#navbar li {
    margin-right: 1.5em;
    text-transform: uppercase;
    font-size: 1.1em;
    }


/* MAIN CONTENT AREA */

body.sidebar-left #content {
    margin-left: 30px;
    }

body.sidebar-right #content {
    margin-right: 30px;
    }


body.two-sidebars #content {
    margin-left: 20px;
    margin-right: 20px;
    }

/* Nodes */

.submitted {
  color: #444;
  border-bottom: 1px dashed #a1b1b1;
  display:block;
  }