body#tinymce {
	background: #fff;
	font-size: 1em;
	}
	
#container {
	margin: 0;
	width: 100%;
	}

#main-content, #sidebar-left, #top, #footer {
	border: 4px solid #88979e;
	padding: 0;
	margin: 0;
	left: 20px;
	right: 20px;
	top: 100px;
	bottom: 80px;
	position: absolute;
	float:none;
	}
	
#main-content, #main, #content {
	background: #fff;
	width: auto;
	float: none;
	}


#main-content {
	padding: 34px;
	}

#top, #footer {
	top: 40px;
	bottom: auto;
	height: 50px;
	overflow: hidden;
	}

#footer {
	bottom: 10px;
	top: auto;
	width: auto;
	}

#main-content {
	overflow: auto;
	}