body {
  color:#5a5959;
  }

body, #top, #footer {
  overflow: hidden;
  }


body#tinymce {
	background: #fff;
	font-size: 1em;
	}
	
#container {
	margin: 0;
	width: 100%;
	}

#main-content, #top, #footer, #cp-sidemenu, #cp-content {
	padding: 0;
	margin: 0;
	left: 0;
	right: 0;
	top: 60px;
	bottom: 56px;
	position: absolute;
	float:none;
	width: 100%;
	overflow: hidden;
	}
	
#main-content, #main, #cp-content {
	background: #fff;
	float: none;
	}

#top, #footer {
	top: 22px;
	bottom: auto;
	height: 38px;
	background:url(images/top-bottom-bg.png) repeat-x #000 0 -9px;
	}

#footer {
  height: 56px;
	bottom: 0;
	top: auto;
	width: auto;
	background-position: 0 0;
	}

#cp-sidemenu, #cp-content {
	top: 0;
	bottom: 0;
	}

#cp-sidemenu {
  width: 200px;
  right: auto;
  }
      
#cp-content {
  left: 201px;
  width: auto;
  }

.frame {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  }

.innerframe {
  position: absolute;
  width: 100%;
  overflow-x: hidden;
  }
 
	
#cp-content .innerframe {
  padding: 30px 30px 0 30px;
  }