#scholarlayout-container #scholarlayout-content-main,
#scholarlayout-container #scholarlayout-right,
#scholarlayout-container #scholarlayout-left {
  height: 384px;
  top: 128px;
  }

#scholarlayout-container #scholarlayout-header-main,
#scholarlayout-container #scholarlayout-header-left,
#scholarlayout-container #scholarlayout-header-right,
#scholarlayout-container #scholarlayout-navbar {
  top: 0;
  width: 205px;
  }

#scholarlayout-container #scholarlayout-right {
  left: auto;
  right: 0;
  }

#scholarlayout-container #scholarlayout-left {
  left: 435px;
  }

#scholarlayout-container #scholarlayout-header-main {
  left: 213px;
  }

#scholarlayout-container #scholarlayout-header-right{
  left: 427px;
  }

#scholarlayout-container #scholarlayout-navbar {
  left: auto;
  right:0;
  height: 121px;
  }

#scholarlayout-container #scholarlayout-content-main {
  left: 0;
  }