html,body {
  height: 100%;
  }

body {
  background: url(images/body-no-sidebars.png) repeat-y 50% 0 #fff;
  font-family:"helvetica neue",helvetica, Arial,sans-serif;
  }

body.sidebar-left {
  background-image: url(images/body-sidebar-left.png);
  }

body.sidebar-right {
  background-image: url(images/body-sidebar-right.png);
  }

body.two-sidebars {
  background-image: url(images/body-two-sidebars.png);
  }

#wrapper {
  background: url(images/wrapper-no-sidebars.png) no-repeat 50% 0 transparent;
  }

body.sidebar-left #wrapper {
  background-image: url(images/wrapper-sidebar-left.png);
  }

body.sidebar-right #wrapper, body.two-sidebars #wrapper {
  background-image: url(images/wrapper-sidebar-right.png);
  }

#footer {
  background: url(images/footer-no-sidebars.png) no-repeat 50% 0 transparent;
  }

body.sidebar-left #footer {
  background-image: url(images/footer-sidebar-left.png);
  }

body.sidebar-right #footer,body.two-sidebars #footer {
  background-image: url(images/footer-sidebar-right.png);
  }
/* MAIN LAYOUT COMPONENTS */


#container {
  width: 900px;
  margin: 0 auto;
  padding-top: 1px;
  overflow:auto;
  padding-bottom: 40px;
  }

#content-main {
  background: #fff;
  padding: 30px;
  }

#content-wrapper, #header-wrapper {
  padding-left:200px;
  padding-right:260px;
  }

#header {
 height: 141px;
  }

#footer {
  position: fixed;
  top: auto;
  right: 0;
  bottom:0;
  left: 0;
  height: 50px;
  padding: 0;
  background: url(images/footer-sidebar-right.png) repeat-y 50% 0 #fff;
  text-align: center;
  }

body.sidebar-left #footer, body.no-sidebars #footer {
  background-image: url(images/footer-no-sidebar-right.png);
  }

/*TYPOGRAPHY*/

#content a, #content a:visited {
  color:#2089ac;
  }

#content a:hover {
  color: #000;
  text-decoration: underline;
  }

#header h1 {
  width: 172px;
  height: 56px;
  text-indent: -999em;
  margin: 26px auto 0 auto;
  }

#header h2 {
  font-size: 12px;
  margin: 0 10px 3px 0;
  }

h2.title {
  margin-bottom: 1em;
  font-size: 1.2em;
  }

h3 {
  font-size: 1em;
  }

#header p {
  margin: 0 10px 0 0;
  font-size: 11px;
  }

#logo {
  height: 140px;
  }

p.copy {
  color: #222;
  margin-top: 20px;
  }

p.copy a, p.copy a:visited {
  color: #222;
  text-decoration:underline;
  }

#footer a:hover {
  color: blue;
  border: none;
  }

#footer .footer-login, #footer .footer-login:visited{
  color: #444;
  border-color: #444;
  }


/*HEADER */
#logo {
  margin-top: 30px;
  }

#scholar-shield {
  margin: 12px 0 0 0;
  text-align: left;
  }

/* SIDEBARS */

#sidebar-left, #sidebar-right, #header-left, #header-right {
  padding: 30px 0;
  }


#header-left, #sidebar-left {
  margin-left:-100%;
  right:260px;
  }

#block-vsite_menus-0 {
  padding: 0 0 16px 0;
  }


#block-vsite_menus-0 ul.menu li a {
  display:block;
  height: 36px;
  font-size: 16px;
  line-height: 36px;
  color: #03263f;
  padding-left: 16px;
  font-weight:bold;
  }

#sidebar-left #block-vsite_menus-0 {
  padding-left:0;
  padding-right: 0;
  }


#block-vsite_menus-0 ul.menu li a:hover {
  background: #93b9c7;
  text-decoration: none;
  }

#block-vsite_menus-0 ul.menu li.active-trail {
  background:#cedbe0;
  }

#block-vsite_menus-0 ul.menu li a.active, #block-vsite_menus-0 ul.menu li.active-trail a, #block-vsite_menus-0 ul.menu li a.active:hover, #block-vsite_menus-0 ul.menu li.active-trail a:hover {
  background: url(images/menu-selected.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-color: transparent;
  color: #FFF;
  margin-right: -10px;
  }

/* SIDEBAR RIGHT*/

#sidebar-right {
  color: #c2bfa7;
  padding-top: 30px;
  }


#sidebar-right a, #sidebar-right a:visited, #sidebar-right h3, #sidebar-right p {
  padding-left: 16px;
  }

#sidebar-right h3 {
  color: #699bae;
  }

#sidebar-right li {
  list-style: none;
  margin-left: 0;
  }
