#main {
	height:expression(document.body.clientHeight-120); /* 80+20+20=120 */
	width:expression(document.body.clientWidth-260); /* 200+20+20+20=260 */
}

#side {
	height:expression(document.body.clientHeight-120); /* 80+20+20=120 */
}

#header ul.menu li {
  display:inline;
  }